@charset "utf-8";
/* CSS Document */

body{font-family: 'Microsoft Yahei';}
/* 公用 */
.m_b30{ margin-bottom:30px;}
.p_t30{ padding-top:30px;}
.h30{ height:30px;}
.h50{ height:50px;}



/* 头 */
.top_search_wrap{ height:90px;}
.top_search_wrap h1{ float:left; margin:17px 36px 0 0;}
.top_search_wrap .top_comp{ margin-top:20px; float:left;}
.top_search_wrap .top_comp h2{ color:#555; font-size:26px; display:block; margin-bottom:8px;}
.top_search_wrap .top_comp span.xxt{ background:url(http://img2.shoes.net.cn/member/orange/xxt_ic1.png) no-repeat left 2px; padding-left:22px; line-height:20px; display:inline-block; color:#888; float:left;}
.top_search_wrap .top_comp span.xxt i{ color:#d70000;}
.top_search_wrap .top_comp span.line{ margin:0 8px; color:#eaeaea; font-size:16px; float:left; padding-top:1px;}
.top_search_wrap .top_comp a.lxqq{ width:60px; height:20px; line-height:20px; display:block; background:url(http://img2.shoes.net.cn/member/orange/qq.png) no-repeat left 2px; float:left; cursor: pointer;}



.top_search_wrap .mem_search{ float:right; width:512px; margin-top:20px;}
.top_search_wrap .search_box{ width:512px; background:#ddd; height: 40px;}
.top_search_wrap .search_box .text{padding: 0 0 0 5px; margin:2px 0 2px 2px; width:407px;height: 36px;line-height: 36px; border:none; background-color: #fff; outline:none; float:left;}
.top_search_wrap .search_box .submit{margin: 0;width:98px; height: 40px;border: 0; cursor: pointer;background: #333; font-size: 14px; color: #fff; padding:0px;float:left;}
.top_search_wrap .search_box .border_line{ border-right:1px solid #fff;background: #157AC5;}





/* 店招 */
.dianzhao{ text-align:center;}


/* 导航 */
.mem_nav{ width:100%; height:50px; background:#157AC5;}
.mem_nav li{ float:left; line-height:50px; color:#fff;}
.mem_nav li a{color:#fff; font-weight:500; font-size:16px; text-decoration:none; display:block; padding:0 10px;}
.mem_nav li.active a{/*background: rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0,startColorstr = '#20000000',endColorstr = '#20000000') \9;*/ background:#333; color:#fff;}
.mem_nav li a:hover{ color:#fff; background:#333;}
.mem_nav li.active a:hover{color:#fff;}


/* 轮播 */
.focus{ width:100%; overflow:hidden; position:relative;}
.focus .mem_banner{ width:1920px; margin:0 auto; overflow:hidden; text-align:center;}
#ISL_Cont_c{ overflow:hidden;width:1920px;}
.focus .mem_banner li{ width:1920px; float:left; text-align:center; display:inline-block;}

.focus .scroll_Left,.focus .scroll_Right{ width:40%; height:100%; display:inline-block; z-index:999;position:absolute; top:0;}
.focus .scroll_Left{ left:130px;}
.focus .scroll_Right{ right:130px;}
.focus a.scrollLeft,.focus a.scrollRight{background:url(http://img2.shoes.net.cn/member/orange/focusbtn_lr.png) no-repeat; position:absolute; top:50%; display:block; width:60px; height:70px; cursor:pointer; z-index:999; opacity:.1;margin-top:-35px;}
.focus a.scrollLeft{ background-position:0 0; left:10px; }
.focus a.scrollRight{ background-position:-60px 0; right:10px;}
.focus .scroll_Left:hover a.scrollLeft,.focus .scroll_Right:hover a.scrollRight{opacity:.7;}



/* 自定义 */
.t_custom{ text-align:left; margin:10px auto; width:1200px; line-height:24px; font-size:14px; color:#666;}
.l_custom{ margin-top:20px; line-height:24px; font-size:12px; color:#666;}
.r_custom{ margin-top:20px; line-height:24px; font-size:12px; color:#666;}







/* 左侧 */
.left_side{ float:left; width:320px; margin-right:40px;}
.model_box{ position:relative;}
.model_box .l_hd{ height:40px; background:#0665cf
; color:#fff; line-height:40px; font-size:16px;font-family: 'Microsoft Yahei'; padding-left:5px;}
.model_box .l_hd a{ color:#fff; text-decoration:none;}
.model_box .adorn{ position:absolute; top:0; left:-10px; background:url('l_hd_blue.png') no-repeat; width:10px; height:46px; display:block;}
.icon {display: inline-block; vertical-align: middle; width: 30px;  height: 30px; background: url("icon.png") no-repeat;}
.zuan_icon { background-position: -150px -30px;}
.fl6 {font-size: 16px; vertical-align: middle;color: #333!important;}
.fr6{float: right;font-size: 16px;}
.red {color: red!important;font-size: 24px;}
/* 企业信息 */
.com_ifo{ margin-top:20px;}
.com_ifo h3{ font-size:18px; color:#555;font-family: 'Microsoft Yahei'; display:block;}
.com_ifo .xxt{ background:url(http://img2.shoes.net.cn/member/orange/xxt.png) no-repeat; height:40px; display:block; margin-top:10px;}
.com_ifo .xxt i{ padding:4px 0 0 82px; text-align:center; width:20px; display:block;color:#c1552a;}
.com_ifo dl{ border-top:1px solid #eee; line-height:30px; padding-top:10px; font-size:14px;}
.com_ifo dt{ float:left; width:75px; text-align:left; color:#666;display:inline-table;}
.com_ifo dd{ display:inline-table; width:240px; color:#666;}
.com_ifo .level{ color:#f10;}



/* 产品分类 */
.product_nav dl{line-height:36px; padding-top:10px; font-size:14px;}
.product_nav dt{ display:block; font-weight:bold; padding-left:10px; color:#666;}
.product_nav dd{ display:block; padding-left:30px; color:#666;}
.product_nav a{ color:#666; text-decoration:none; display:block;}
.product_nav a:hover{ color:#157AC5; text-decoration:none;}
.product_nav .active,.product_nav dt:hover,.product_nav dd:hover{ background:#f0f0f0 url(http://img2.shoes.net.cn/member/orange/right_ar.png) no-repeat 95% center;}


.search_inside{padding:30px 0 0 0; }
.search_t {height:34px;position:relative;z-index:99; }
.search_inside ul {cursor:pointer; display:inline-block;background-color:#fff; width:49px; float:left;border:1px solid #b8b8b8; border-right:none;}
.search_inside ul li { display:none;text-align:center;padding-right:7px; margin-left: -1px; background-color:#fff; border-left:solid 1px #b8b8b8;border-right:solid 1px #b8b8b8; color:#818181; margin-top:-2px;}
.search_inside ul li:hover{ background:#f1f1f1;}
.search_inside ul li:first-child{margin-top:0; position:relative;}
.search_inside ul li.active {display:block; background:none;}
.search_inside ul li.active:before{width:0px; height:0px; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid #818181; content:""; left:37px; top:12px; position:absolute;}
.search_inside ul li.up {display:block;background:none;}
.search_inside ul li.up:before{width:0px; height:0px; border-left:4px solid transparent; border-right:4px solid transparent; border-bottom:4px solid #818181; content:""; left:37px; top:12px; position:absolute;}
.search_inside ul li.active, .search_inside ul li.up {border:0;border-right:solid 1px #b8b8b8;}
.search_inside ul li:last-child {border-bottom:1px solid #b8b8b8;}
.search_inside input{width:166px;border:1px solid #b8b8b8; border-right:none; border-left:none; float:left; padding:0px; margin:0; outline:none;}
.search_t .delete{background:url(http://img2.shoes.net.cn/member/orange/seach_bg.png) no-repeat center center; width:32px; position:absolute; height:32px; top:0px; left:190px; display:inline-block; cursor:pointer;}
.search_inside .btn {width:80px; display:block; height:34px; float:left; background:#157AC5
;cursor:pointer; text-align:center; color:#fff; line-height:34px; font-size:16px;}
.search_inside ul,.search_inside input{line-height:32px; height:32px;}


.search_type {cursor:pointer; display:inline-block;background-color:#fff; width:72px; float:left;border:1px solid #b8b8b8; border-right:none;}
.search_type select {height:32px;line-height:34px;}
.search_up {border:0;border-right:solid 1px #b8b8b8;}





/* 推荐产品 */
.recom_product{ margin-top:20px;}
.recom_product li{ margin-bottom:10px; display:inline-block; width:100%;}
.recom_product li .pic{ float:left; width:95px; height:95px;margin-right:15px; border:1px solid #f0f0f0;}
.recom_product li .pic a{ width:95px; height:95px; display:table-cell; text-align:center; vertical-align:middle;}
.recom_product li .pic img{ vertical-align:middle;}
.recom_product li b{ font-size:14px; display:block; margin-top:15px; color:#4a4a4a;} 
.recom_product li b .rmb{font-family: arial; color:#f50; font-size:14px; font-weight:bold; margin-left:5px;}
.recom_product li p{ line-height:18px; font-size:14px; margin-top:5px; color:#666; display:block; text-decoration:none;}
.recom_product li p a{ color:#666; text-decoration:none;}
.recom_product li p a:hover{ color:#157AC5;}
.recom_product li .pic:hover{ border:1px solid #157AC5;}




/* 联系方式 */
.contact_way{ margin-top:20px;}
.contact_way dl{ line-height:26px; font-size:14px; color:#666;}
.contact_way dt{ width:55px; float:left;}
.contact_way dd{ width:265px; display:inline-table;}




/* 友情链接 */
.links{ margin-top:20px;}
.links li{ line-height:22px; font-size:14px; color:#666;}
.links li a{ color:#666; text-decoration:none;}
.links li a:hover{ color:#157AC5;}








/* 右侧 */
.right_side{ float:right; width:840px;}
.con_box { position:relative;}
.con_box .r_hd{ height:28px; border-bottom:2px solid #0665cf
; color:#0665cf
; line-height:28px; font-size:16px; font-family: 'Microsoft Yahei'; padding-left:5px; font-weight:bold;}
.con_box .r_hd a{ color:#0665cf
; text-decoration:none;}
.con_box .r_hd em{ margin:0 8px; color:#666;}

.sel_ject{ line-height:24px; font-size:14px;  outline:none; color:#666; position:absolute; left:92px; top:0px; z-index:99999;}
.sel_ject ul{ float:left;border:1px solid #ccc; height:24px; overflow:hidden;}
.sel_ject li{padding:0 30px 0 5px; height:24px; cursor:pointer;color:#0665cf
; background:#fff;}
.sel_ject li a{ color:#0665cf
; display:block;}
.sel_ject li a:hover{color:#555;}
.sel_ject li:first-child{ position:relative; }
.sel_ject li.active{ display:block; background:none;}
.sel_ject li.active:before{width:0px; height:0px; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid #0665cf
; content:""; right:10px; top:12px; position:absolute;}
.sel_ject .exit{float:left; }
.sel_ject .exit .close{ background:url(http://img2.shoes.net.cn/member/orange/seach_bg.png) no-repeat center center; height:24px; width:24px; display:block; border:1px solid #ccc; border-left:none;}




/* 简介 */
.brief_con{ line-height:30px; font-size:14px; color:#666; border-bottom:1px solid #eee; padding:15px 0; overflow:hidden;}
.brief_con p{ margin-bottom:10px;}
.brief_con a.more{ position:absolute; bottom:-12px; right:20px; display:block; height:13px; width:62px; background:url(http://img2.shoes.net.cn/member/orange/more_ar.jpg) no-repeat; z-index:999;}
.brief_con a.pack{ position:absolute; bottom:0px; right:20px; display:block; height:13px; width:62px; background:url(http://img2.shoes.net.cn/member/orange/pack_ar.png) no-repeat; z-index:999;}




/* 最新产品 */
.new_product{ width:100%; display:inline-block;}
.new_product li{ float:left; margin-right:10px; width:200px; margin-top:20px;}
.new_product li .pic{ border:1px solid #f0f0f0; width:199px; height:199px; overflow:hidden; display:table-cell; text-align:center; vertical-align:middle; font-size:0; line-height:0;}
.new_product li .pic img{ max-height:199px; max-width:199px;}
.new_product li b{ font-size:14px; display:block; color:#4a4a4a; margin:13px 0 0 5px; line-height:18px;} 
.new_product li b .rmb{font-family: arial; color:#f50; font-size:14px; font-weight:bold; margin-left:5px;}
.new_product li b a.inquiry{ float:right; line-height:18px; height:18px; background:#157AC5
; font-size:14px; color:#fff; padding:2px; text-decoration:none; font-weight:normal; text-align:center;border-radius:3px;}
.new_product li p{ height:40px; padding:0 5px; overflow:hidden; color:#666; line-height:20px; margin-top:10px; font-size:14px;}
.new_product li p a{ color:#666; text-decoration:none;}
.new_product li p a:hover{ color:#157AC5;}
.new_product li.last{margin-right:0; }
.new_product li:hover .pic{border:1px solid #157AC5
;}



/* 公司动态 */
.com_news{ width:100%; display:inline-block;}
.com_news li{ padding:30px 0; display:inline-block; width:100%; border-bottom:1px solid #eee;}
.com_news li img{ float:left; margin-right:15px;}
.com_news li h2{ color:#333; font-size:18px;font-family: 'Microsoft Yahei';}
.com_news li h2 a{ color:#333; text-decoration:none;}
.com_news li h2 a:hover{ color:#157AC5;}
.com_news li p{ color:#666; line-height:20px; font-size:14px; margin-top:8px;}
.com_news li span{ color:#999; font-size:14px; margin-top:8px; display:block;}
.com_news li span em{ margin-left:10px;}
.com_news li.last{ border-bottom:0;}
.com_news li:hover{ background:#f7f7f7;}







/* 企业形象 */
.com_image{ width:100%; display:inline-block;}
.com_image ul{ clear:both;}
.com_image li{ width:260px; margin-right:15px; float:left; margin-top:20px;}
.com_image li a.pic{ width:258px; height:198px; display:table-cell; text-align:center; vertical-align:middle; border:1px solid #f1f1f1; overflow:hidden; font-size:0; line-height:0;}
.com_image li p{ height:36px; line-height:36px; color:#666; text-align:center; width:100%; overflow:hidden; font-size:14px;s}
.com_image li p a{ color:#666;}
.com_image li.last{ margin-right:0;}
.com_image li a.pic:hover{  border:1px solid #157AC5;}





/* 企业招聘 */
.com_job{ width:100%; display:inline-block; margin-top:15px;}
.com_job table{ width:100%;}
.com_job table td{ line-height:28px; font-size:14px; color:#666; padding-left:5px; border-bottom:1px solid #f1f1f1;}
.com_job thead td{ line-height:30px; font-size:14px; color:#333; background:#eee;}
.com_job thead td a{ color:#666; text-decoration:none;}
.com_job thead td a:hover{ color:#157AC5;}
.com_job table tr:nth-child(even){background:#f7f7f7;}




/* 企业求购 */
.com_buy{ width:100%; display:inline-block; margin-top:15px;}
.com_buy li{ float:left; width:48%; padding:0 1%; line-height:28px; border-bottom:1px dotted #f1f1f1; font-size:14px;color:#666;background:url(http://img2.shoes.net.cn/member/orange/gr_dian.jpg) no-repeat left center;}
.com_buy li a{color:#666; text-decoration:none;}
.com_buy li a:hover{ color:#157AC5
;}











/* 留言 */
.home_message{ width:100%; background:#eee; padding:50px 0; display:inline-block; margin:0 auto; text-align:center;}
.mess_box{ width:725px;}




/* 面包 */
.blklink{ height:50px; line-height:50px; text-align:left; color:#666; font-size:14px;}
.blklink a{color:#666; text-decoration:none;}
.blklink a:hover{ color:#157AC5
}







/* 产品列表 */
.shoe_nav{ margin-top:15px; line-height:28px; clear:both;}
.shoe_nav a{ color:#666; width:210px; float:left; font-size:16px;}
.shoe_nav a:hover,.shoe_nav a.active{ color:#157AC5
; text-decoration:none;}



.pro_box_sear{ padding:15px 0 40px 0; clear:both; height:34px; width:100%;}
.product_search{ position:relative; height:34px;}
.product_search input{width:270px;border:1px solid #b8b8b8; border-right:none; float:left; padding:0 0 0 5px; margin:0; outline:none;}
.product_search .delete{background:url(http://img2.shoes.net.cn/member/orange/seach_bg.png) no-repeat center center; width:32px; position:absolute; height:32px; top:0px; left:250px; display:inline-block; cursor:pointer;}
.product_search .btn {width:100px; display:block; height:34px; float:left; background:#157AC5
;cursor:pointer; text-align:center; color:#fff; line-height:34px; font-size:16px;}
.product_search ul,.product_search input{line-height:32px; height:32px;}








/*筛选*/
.screening{ height:24px; background:#f5f7f6; width:100%; padding:12px 0;font-family: 'Microsoft Yahei';}
.screening .order{ float:left;;line-height:24px;}
.screening .order dt{ float:left; margin-left:10px; color:#666;}
.screening .order dd{ float:left; width:50px; text-align:center;}
.screening .order dd a{ color:#999; text-decoration:none;}
.screening .order dd.curr a{ color:#222;}
.screening .order dd.price{ background:url(http://img2.shoes.net.cn/member/orange/price.png) no-repeat; background-position:38px 7px;}
.screening .order dd.up{background-position:38px -23px;}
.screening .order dd.down{background-position:38px -52px;}

.screening .pagin_top{ float:right;line-height:24px; margin-right:10px;}
.screening .pagin_top .num{ width:30px; height:18px; border:1px solid #ddd; outline:none; line-height:16px;}
.screening .pagin_top a{ margin:0 5px; color:#999; text-decoration:none; font-size:13px;}
.screening .pagin_top a.current,.screening .pagin_top a:hover{ color:#444;}

.pagin_footer{ margin-top:30px; padding-top:20px; border-top:1px solid #eaeceb; width:100%; display:inline-block;}
.pagin_footer em.pag_num{ float:left; width:300px; color:#666;}
.pagin_footer .pag_ka{ float:right;font-family: 'Microsoft Yahei';}
.pagin_footer .pag_ka a{ line-height:20px; padding:0 6px; color:#222; display:inline-block; text-decoration:none; font-size:13px; margin:0 3px;}
.pagin_footer .pag_ka a.current,.pagin_footer .pag_ka a:hover{ background:#157AC5
; color:#fff;}





/* 产品详细 */
.mod_bd{margin-bottom:20px;zoom: 1;display: inline-block;width:100%; overflow:hidden;}
.d_gallery{ width:502px; float:left;}
.d_gallery .big_pic{ float:left; width:420px; height:420px; border:1px solid #f0f0f0;}
.d_gallery .big_pic span{ width:420px; height:420px; display:table-cell; text-align:center; vertical-align:middle;}
.d_gallery .big_pic span img{ vertical-align:middle;}
.d_gallery .min_pic{ margin-left:3px; float:left; width:77px;}
.d_gallery .min_pic li{width:77px; height:77px; margin-bottom:3px; }
.d_gallery .min_pic li em{width:75px; height:75px; border:1px solid #f0f0f0; font-size:0; line-height:0; display:table-cell; text-align:center; vertical-align:middle; cursor:pointer;}
.d_gallery .min_pic li.active em{border:1px solid #157AC5
;}

.d_property{ float:left; width:660px; margin-left:35px;}
.d_property h1{ height:48px; border-bottom:1px solid #eaeceb; line-height:24px; font-size:18px; color:#666;}
.d_property dl{ margin-top:25px; font-size:14px; line-height:30px;}
.d_property dt{ float:left; color:#666; width:90px; text-align:right; padding-right:10px;}
.d_property dd{ overflow:hidden; width:560px; display:inline-table;color:#555;}
.d_property dd.rmb{font-family: arial;color: #f50;font-size:20px;font-weight: bold;}
.d_property dd.cn{color: #f50;font-size:14px;font-weight: bold;}

.d_btn{ margin-top:25px;}
.d_btn a.inquiry_btn{ width:170px; height:48px; background:#157AC5
; color:#fff; font-size:18px; text-align:center; line-height:48px; display:inline-block;border-radius:3px; text-decoration:none;}
.d_btn a.colle_btn{width:166px; height:44px; border:2px solid #ffc5a2; color:#ff712b; font-size:18px; text-align:center; line-height:44px; display:inline-block;border-radius:3px; margin-left:20px;text-decoration:none; text-indent:2em; background:#fff url(http://img2.shoes.net.cn/member/orange/colle_bg.png) no-repeat 40px 12px;}

.d_share{ margin-top:25px;}
.d_share em{ float:left; line-height:22px; color:#666;}



.attributes{ padding:15px; border-bottom:2px solid #eaeceb;}
.attributes table{ width:100%; color:#999; font-size:14px;font-family: 'Microsoft Yahei';}
.attributes td{ line-height:30px; text-align:left;}


.pic_show{ margin:20px auto; width:100%; font-size:16xp; color:#666; line-height:24px; text-align:left; overflow:hidden;}
.pic_show img{ padding-top:20px; float:none;}







/* 联系方式页面 */
.contact_way_info{ margin-top:20px; position:relative;}
.contact_way_info h2{ font-size:18px; color:#555; margin-bottom:10px;}
.contact_way_info dl{ font-size:14px; color:#666; line-height:26px;}
.contact_way_info dt{ float:left; width:65px;}
.contact_way_info dd{ overflow:hidden; display:inline-table; width:740px;}

.contact_way_info .erweima{ position:absolute; top:10px; right:10px; width:150px;}
.contact_way_info .erweima .pic{ width:150px; height:150px; margin-bottom:10px;}
.contact_way_info .erweima .pic img{ width:150px;}
.contact_way_info .erweima p{ width:100%; text-align:center; line-height:18px; font-size:14px;}

.ditu{ margin:20px auto; text-align:center;}





/* 企业档案式页面 */
.com_profile{ padding:15px 0; position:relative; color:#666;}
.com_profile p{ height:22px; line-height:22px;}
.com_profile b{ color:#666; font-size:16px;}
.com_profile .xxt{ padding-left:50px; color:#888; background:url(http://img2.shoes.net.cn/member/orange/xxt_ic1.png) no-repeat 30px center;line-height:22px; height:22px; display:inline-block;}
.com_profile .xxt i{ color:#d70000;}
.com_profile .integrity{ margin-right:30px;}
.com_profile .prestige{ margin-top:2px; padding-bottom:15px; border-bottom:1px solid #eee;}
.com_profile .integrity em{ background:url(http://img2.shoes.net.cn/member/orange/integrity.png) no-repeat; width:138px; height:22px; display:inline-block;}
.com_profile .integrity em.cent10{ background-position:0 15px;}
.com_profile .integrity em.cent9{ background-position:0 -11px;}
.com_profile .integrity em.cent8{ background-position:0 -37px;}
.com_profile .integrity em.cent7{ background-position:0 -63px;}
.com_profile .integrity em.cent6{ background-position:0 -89px;}
.com_profile .integrity em.cent5{ background-position:0 -115px;}
.com_profile .integrity em.cent4{ background-position:0 -141px;}
.com_profile .integrity em.cent3{ background-position:0 -167px;}
.com_profile .integrity em.cent2{ background-position:0 -193px;}
.com_profile .integrity em.cent1{ background-position:0 -219px;}
.com_profile .level em{ margin-left:5px; color:#157AC5
;}
.com_profile .status{ background:url(http://img2.shoes.net.cn/member/orange/status_icon.png) no-repeat left center; position:absolute; font-size:16px; font-weight:bold; padding-left:30px; line-height:20px; height:20px; color:#157AC5
; top:28px; right:5px;}
.com_profile dl{ width:100%; padding-top:15px; line-height:24px;}
.com_profile dt{ width:60px; float:left; border-right:5px solid #e9eef1;}
.com_profile dd{ width:760px; margin-left:10px; display:inline-table; overflow:hidden;}



.attest_info{ padding:15px 0; color:#666; width:100%; display:inline-block;}
.attest_info dl{line-height:24px;}
.attest_info dt{ float:left; width:60px; border-right:5px solid #e9eef1; margin-bottom:10px;}
.attest_info dd{ float:left; width:285px; display:inline-block; overflow:hidden; min-height:24px; line-height:24px; padding-right:60px;margin-bottom:10px;margin-left:10px;}
.attest_info table{line-height:18px; width:100%; font-size:14px;}
.attest_info th{ width:90px; padding-right:5px;  border-right:5px solid #e9eef1; vertical-align:top; padding-bottom:15px;}
.attest_info td{width:260px; padding-right:50px; padding-bottom:10px; padding-left:10px; vertical-align:top;padding-bottom:15px;}

.text_info{ text-align:left; line-height:24px; color:#666; padding:15px 0;}







/* 荣誉式页面 */

.that_book{padding:25px 0; color:#666; width:100%; display:inline-block;}
.that_book h1{ width:100%; display:inline-block; margin:20px 0;}
.that_book ul{ border-bottom:2px solid #eee; display:inline-block; width:100%;}
.that_book li{ margin-right:12px; width:201px; height:312px; float:left; margin-bottom:20px;}
.that_book li .pic{ width:199px; height:199px; border:1px solid #eee; display:table-cell; text-align:center; vertical-align:middle;}
.that_book li dl{ height:110px; width:100%; line-height:22px; margin-top:5px; overflow:hidden;}
.that_book li dt{ width:65px; float:left;}
.that_book li dd{ display:inline-table; overflow:hidden; width:136px;}
.that_book li.last{ margin-right:0;}
.that_book li p{ text-align:center; height:30px; line-height:30px; font-size:14px;}
.that_book li .pic:hover{box-shadow:0px 0px 5px rgba(100,100,100,.3);}







/* 在线询价 */

.online_inquiry{ padding:15px 0; width:100%;}
.online_inquiry dl{ line-height:48px; color:#666;}
.online_inquiry dt{ width:60px; margin-right:10px; text-align:right; float:left;}
.online_inquiry dd{ display:inline-table; overflow:hidden; width:770px;}
.online_inquiry .text_input{ padding:0 0 0 5px; margin:0; border:1px solid #bebebe; height:30px; line-height:30px; outline:none; width:220px;}
.online_inquiry .text_textarea{ width:222px;border:1px solid #bebebe; background:#fff; outline:none; margin:7px 0 0 0;}
.online_inquiry em { padding-left:18px; margin-left:5px;display:inline-block; line-height:22px; background:url(http://img2.shoes.net.cn/member/orange/tips.png) no-repeat; color:#999;}
.online_inquiry em.sigh{ background-position:0 1px;}
.online_inquiry em.err{ background-position:0 -20px;}
.online_inquiry em.success{ background-position:0 -40px;}

.sub_btn{ margin:30px 0 0 70px;}
.sub_btn .inquiry_button{ background:#157AC5
; color:#fff; width:100px; height:34px; text-align:center; border:none; line-height:34px; cursor:pointer; display:inline-block; text-decoration:none;}







/* 图片详细 */
.pic_details{ margin:20px; text-align:center;}
.pic_details img{ max-width:800px;}
.pic_details b{color:#666; line-height:30px; text-align:center; display:block; margin-bottom:20px;}
.pic_details .explain{ color:#666; line-height:24px; text-align:left;}
.pic_details dl{ color:#666; margin-top:15px; line-height:26px;}
.pic_details dt{ width:390px; text-align:right; padding-right:10px; float:left;}
.pic_details dd{ width:400px; display:inline-table; overflow:hidden; text-align:left;}






/* 招聘详细 */
.exp_job{ margin:20px 10px; overflow:hidden;}
.exp_job table{ width:100%; line-height:30px; font-size:14px;}
.exp_job table th{ background:#f0f0f0; width:115px; padding-right:5px; text-align:right; border-bottom:1px solid #fff; color:#333; font-weight:bold;}
.exp_job table td{ width:275px; padding-left:5px; text-align:left; color:#666;}




/* 新闻详细 */
.exp_news{ margin:20px 10px;}
.exp_news h1{ font-size:18px; font-family: 'Microsoft Yahei'; color:#333; margin-bottom:10px; text-align:center;}
.exp_news .con_box{ font-size:14px; color:#666; line-height:24px;}
.exp_news .con_box p{ margin-bottom:15px;}
.exp_news .tit_bar{ text-align:left; margin-bottom:15px;font-family: 'Microsoft Yahei';}
.exp_news .tit_bar span {color: #333;font-size: 14px;margin-right: 25px;display: inline-table;line-height: 20px;}
.exp_news .tit_bar span.num {background: url(http://img2.shoes.net.cn/member/orange/eye.png) no-repeat left center;padding-left: 25px;}



/* 供应详细 */
.d_supply{ width:100%; margin-bottom:20px; display:inline-block;}
.d_supply h1{ height:45px; border-bottom:1px solid #eaeceb; color:#666; font-size:18px;}
.d_supply .tu_l{ float:left; margin:30px 30px 0 0;}
.d_supply .tu_l li{ float:left; width:120px; height:120px; border:1px solid #f1f1f1; margin-right:10px;}
.d_supply .tu_l li em{ width:120px; height:120px; text-align:center; vertical-align:middle; display:table-cell;}
.d_supply .pub_time{ margin:32px 0 0 0;}
.d_supply .pub_time span{ display:block; color:#666; line-height:22px; font-size:14px;}







/* 底部 */
.mem_footer{ padding:30px 0;display:inline-block; width:100%;}
.mem_footer .f_zuo{ color:#9c9c9c; width:320px; float:left; line-height:24px;}
.mem_footer .f_you{ color:#9c9c9c; width:440px; float:left; line-height:24px; font-size:14px; color:#333;}
.mem_footer .f_you dt{ float:left; width:90px;}
.mem_footer .f_you dd{ display:block;overflow: hidden;}
.mem_footer .f_you dd a{ width:110px; float:left; color:#9c9c9c; text-decoration:none;}
.mem_footer .f_you dd a:hover{ color:#f50;}






/*灰色div*/
.grediv{ width:100%;  color:#fff; position:absolute; left:0; top:0; text-align:center;background: rgba(0,0,0,0.4);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0,startColorstr = '#40000000',endColorstr = '#40000000') \9; font-size:20px;}
.grediv a{ display:block; color:#fff;}





/* 商铺设置 */
.set_shop{ position:fixed; top:150px; left:20px; z-index:9999;}
.set_shop ul{ width:120px; border:1px solid #d9d9d9; border-bottom:none;}
.set_shop ul li{ color:#9c9c9c; border-bottom:1px solid #d9d9d9; height:35px; line-height:35px; cursor:pointer;}
.set_shop ul li a{ padding-left:30px; text-align:left; background:#f5f5f5 url(http://img2.shoes.net.cn/member/orange/set_icon.png) no-repeat; display:block; text-decoration:none;}
.set_shop ul li a:hover{background:#9c9c9c url(http://img2.shoes.net.cn/member/orange/set_icon_hover.png) no-repeat; color:#fff;}
.set_shop ul li a.item1{ background-position:6px 8px;}
.set_shop ul li a.item2{ background-position:6px -25px;}
.set_shop ul li a.item3{ background-position:6px -58px;}




















/*对话留言组件*/
.taotaoim {
	position:fixed!important;
	position:absolute;
	top:100px;
	right:10px;
	width:150px;
	z-index:100000;
}
.taotaoim-minibar {
	background:url(http://img.shoes.net.cn/taotaoim/minibar.png) no-repeat;
	width:27px;
	height:110px;
	right:0;
	cursor:pointer;
	position:absolute;
}
.taotaoim-minibar a{
	display:block;
	position:absolute;
	width:16px;
	height:17px;
	margin:3px 0 0 5px;
	text-indent:-9999em;
}
.taotaoim-sidebar {
	width:150px;
	position:absolute;
}
.taotaoim-sidebar em {
	font-style:normal;
}
.taotaoim-sidebar-hd {
	background:url(http://img.shoes.net.cn/taotaoim/sidebar_top.png) no-repeat;
	padding:0 10px;
	text-indent:-9999em;
	height:28px;
}
.taotaoim-sidebar-bd {
	background:#2570A4 url(http://img.shoes.net.cn/taotaoim/sidebar_bg.png) top repeat-x;
	padding:4px;
	width:142px;
}
.taotaoim-sidebar-bt {
	background:url(http://img.shoes.net.cn/taotaoim/sidebar_bottom.png) center top no-repeat;
	height:1px;
	font-size:0;
	line-height:0;
}
.taotaoim-sidebar-ft {
	position:absolute;
	top:5px;
	right:4px;
}
.taotaoim-sidebar-ft a {
	display:block;
	width:16px;
	height:17px;
	text-indent:-9999em;
	overflow:hidden;
}
.taotaoim-tipbox .taotaoim-tipbox-top {
	background:Url(http://img.shoes.net.cn/taotaoim/tipbox_top.png) no-repeat;
	height:3px;
	line-height:0;
	font-size:0;
}
.taotaoim-tipbox .taotaoim-tipbox-bd {
	line-height:16px;
	padding:2px 5px 3px;
	background:#F9F6E1 url(http://img.shoes.net.cn/taotaoim/tipbox_bg.png) center repeat-x;
	color:#4E4E4E;
	width:132px;
}
.taotaoim-tipbox .taotaoim-tipbox-bottom {
	background:url(http://img.shoes.net.cn/taotaoim/tipbox_bottom.png) center top no-repeat;
	height:1px;
	line-height:0;
	font-size:0;
}
.taotaoim-buttons {
	overflow:hidden;
	width:142px;
	height:44px;
	position:relative;
	margin-top:-1px;
}
.taotaoim-buttons ul {
	position:relative;
	margin-left:-6px;
	zoom:1;
}
.taotaoim-buttons li {
	float:left;
	margin-left:7px;
	display:inline;
	width:67px;
}
.taotaoim-buttons li i {
	display:block;
	height:14px;
}
.taotaoim-buttons li.active .taotaoim-qiatan {
	background:url(http://img.shoes.net.cn/taotaoim/tipbox_ar.png) 26px 0 no-repeat;
}
.taotaoim-buttons li.active .taotaoim-liuyan {
	background:url(http://img.shoes.net.cn/taotaoim/tipbox_ar.png) 26px 0 no-repeat;
}
.taotaoim-buttons a {
	display:block;
	width:67px;
	height:30px;
	background:url(http://img.shoes.net.cn/taotaoim/buttons.png) no-repeat;
	text-indent:-9999em;
}
.taotaoim-buttons .btn-qiatan {
	background-position:0 -30px;
}
.taotaoim-buttons .btn-liuyan {
	background-position:-68px -30px;
}
.taotaoim-buttons li.active .btn-qiatan {
	background-position:0 0;
}
.taotaoim-buttons li.active .btn-liuyan {
	background-position:-68px 0;
}
.taotaoim-qqlist {
	background:#fff;
	border-top:2px solid #C2C2C2;
	padding:4px;
	margin-top:8px;
}
.taotaoim-qqlist img {
	float:left;
}
.taotaoim-qqlist li {
	padding:3px 0;
	color:#D25F1A;
	width:134px;
	vertical-align:top;
}
.taotaoim-qqlist li:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}
.taotaoim-qqlist li span {
	float:left;
	margin-top:2px!important;
	margin:3px 0 0 3px;
	line-height:16px;
	font-family:simsun;
	cursor:pointer;
}
.taotaoim-qqlist .btn-card {
	background:url(http://img.shoes.net.cn/taotaoim/btn_card.png) no-repeat;
	padding:1px;
	height:14px;
	width:29px;
	line-height:16px;
	text-align:center;
	float:right;
	margin-top:2px;
	overflow:hidden;
}
.taotaoim-qqlist a:link,.taotaoim-qqlist a:visited{color:#D25F1A;text-decoration:none;}
.taotaoim-qqlist .btn-card:link, .taotaoim-qqlist .btn-card:visited {
	color:#AC670B;
	text-decoration:none;
}
.taotaoim-box {
	width:338px;
	display:none;
	position:absolute;
	top:0;
	left:-358px;
	z-index:2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow:0 0 5px #666;
	-moz-box-shadow:0 0 5px #666;
	-webkit-box-shadow:0 0 5px #666;
	behavior:url(http://img.shoes.net.cn/js/pie.htc);
}
.taotaoim-box .hd {
	background:url(http://img.shoes.net.cn/taotaoim/card_top.png) no-repeat;
	height:30px;
	width:318px;
	padding:0 10px;
	behavior:url(http://img.shoes.net.cn/js/pie.htc);
}
.taotaoim-box .hd em {
	font-style:normal;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	line-height:30px;
}
.taotaoim-box .bd {
	background:#F0F0F0;
	border:1px solid #fff;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	padding:10px;
	behavior:url(http://img.shoes.net.cn/js/pie.htc);
}
.taotaoim-box td{line-height:18px;color:#5E5E5E;vertical-align:top;font-family:simsun;}
.taotaoim-box .bd div{border-bottom:1px solid #CDCDCD;padding-bottom:5px;}
.taotaoim-box .bd div:after{content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;}
.taotaoim-box .xxt{float:right;line-height:16px;font-size:13px;font-family:simsun;color:#8C8C8C;padding-top:7px;}
.taotaoim-box .xxt img{float:left;}
.taotaoim-box .xxt span{float:left;padding:5px;}
.taotaoim-box .xxt em{background:url(http://img.shoes.net.cn/taotaoim/year_bg.png) no-repeat;width:19px;height:13px;display:inline-block;color:#fff;font-style:normal;text-align:center;font-weight:bold;margin:0 2px;line-height:14px;font-size:12px;}
.taotaoim-box .contact{font-size:24px;color:#2C76AC;font-family:"Microsoft Yahei";}
.taotaoim-box .contact em{padding:0 10px;font-size:14px;color:#4E4E4E;font-style:normal;font-family:simsun;}
.taotaoim-box .bd p{font-size:16px;color:#317BA8;padding:10px 0 5px;}
.taotaoim-box .ft {
	position:absolute;
	top:0;
	right:0;
	border-bottom:none!important;
}
.taotaoim-box .ft a {
	display:block;
	width:35px;
	height:30px;
	text-indent:-9999em;
	overflow:hidden;
}



