/**page单页面样式表**/
/**作者:sergiolin**/
/**创建于:2017.02.04**/
/*此项目有三个CSS文件：
	*base.css是css reset以及通用CSS样式库，
	*public.css是此项目基础结构样式以及统一的设计风格样式库
	*page.css是单个页面的精细样式
*/
/**HTML5.html页面**/
.main{width:1024px;margin:0 auto;}
.main-table{width:1000px;margin:0 auto;}
.main-table .trHead{font-weight: bold;font-size: 18px;}
.main-table th{padding: 5px 0px;font-weight: normal;background: #d5d5d5;border: 1px solid #aaa;}
.main-table tr td img{width:15px;}
.main-table td{padding: 10px 5px;border:1px solid #aaa;}
.main-table td:first{}
.main-table small{color: #666;}
.little-table{width:100%;}
/*nodejs.html页面*/
.nodejs {font-size: 12pt;line-height: 170%;padding: 0 30px 0 270px;}
.nodejs header h1 {background: #0c3;border-radius: 4px;color: #fff;font-size: 24pt;margin: 0;padding: 1.2em 0;text-align: center;}
.nodejs nav {font-size: 10pt;overflow-x: hidden;overflow-y: auto;position: fixed;top: 0;left: 0;bottom: 0;width: 240px;}
.nodejs nav .menubar {border-bottom: solid 1px #ccc;display: none;height: 48px;line-height: 48px;padding: 0 10px;}
.nodejs nav .button {background: #777;border: 1px solid #333;color: #fff;font-size: 10pt;font-weight: bold;padding: 8px;border-radius: 4px;}
.nodejs nav ul {padding: 0 0 0 10px;}
.nodejs nav ul a {color: #333;text-decoration: none;}
.nodejs nav ul a:hover {text-decoration: underline;}
.nodejs nav li {line-height: 180%;list-style: none;margin: 0;padding: 0;}
.nodejs nav .level2 {font-size: 11pt;font-weight: bold;}
.nodejs nav .level3 {padding-left: 1em;}
.nodejs nav .level3:before {content: "» ";}
.nodejs nav .level4 {padding-left: 2em;}
.nodejs nav .level4:before {content: "› ";}
.nodejs article h2 {border-bottom: dotted 1px #777;font-size: 12pt;line-height: 100%;margin: 4em 0 1em 0;padding: 0 0 0.3em 0;}
.nodejs article h3 {font-size: 12pt;line-height: 100%;margin: 2em 0 1em 0;padding: 0;}
.nodejs article h4 {font-size: 12pt;font-style:italic;font-weight: normal;line-height: 100%;margin: 1.2em 0 1em 0;padding: 0;}
.nodejs article p {margin: 1em 0;}
.nodejs article p code {background: #eee;border: 1px solid #ccc;}
.nodejs article p strong {color: #f00;}
.nodejs article pre {background: #eee;border-left: solid 2px #3c0;font-size: 10pt;margin: 1em 0;padding: 0 0 0 1em;overflow-x: auto;overflow-y: padding;}
.nodejs article blockquote {background: #fff;border: dashed 1px #777;border-left: solid 2px #777;color: #000;margin: 0;padding: 0 0 0 1em;}
.nodejs article ul, article ol {padding-left: 2em;}
.nodejs footer {border-top: 1px solid #ccc;font-size: 10pt;margin-top: 4em;}
@media (max-width: 768px) {
	.nodejs{padding: 0 10px 0 230px;}
	.nodejs nav {width: 230px;}
}
@media (max-width: 480px) {
	.nodejs{padding: 64px 10px 0 10px;}
	.nodejs header .banner {display: none;}
	.nodejs nav {position: absolute;width: 100%;}
	.nodejs nav .menubar {display: block;}
	.nodejs nav .banner {float: right;}
	.nodejs nav ul {background: #fff;display: none;font-size: 14pt;margin: 0;padding: 0 0 0 8px;}
	.nodejs nav .level2 {font-size: 16pt;font-weight: bold;}
	.nodejs nav li {line-height: 240%;}
	.index nav ul {display: block;}
	.index article {display: none;}
}
/*javascript.html页面*/
.js p{text-shadow: 0 -1px 1px #eee;}
.js nav{width: 240px;position: fixed;overflow-x: hidden;overflow-y: auto;left: 0;top: 0;bottom: 0;}
.js article{padding: 0 0 0 270px;}
.js pre{width: 100%;padding: 0 10px 10px;border-left: 2px solid #3c0;background: #eee;}
/*:not(pre) > code, :not(pre) > kbd, :not(pre) > samp{}*/