/**public公共样式表**/
/**作者:sergiolin**/
/**创建于:2017.02.04**/
/*此项目有三个CSS文件：
	*base.css是css reset以及通用CSS样式库，
	*public.css是此项目基础结构样式以及统一的设计风格样式库
	*page.css是单个页面的精细样式
*/
/*通用样式*/
/*字体*/
/*div{
	font-size: 1.6rem;
	text-indent: 2em;
	padding: 1rem 0 0;
	line-height: 1.6em;
	letter-spacing: 0.07em;
}*/
html{
	font-size: 16px;
	font-size: 62.5%;
}
/*不知为啥设置HTMLfont-size值后还要在此设置h1h2h3这些标签的值。浏览器默认的h1的值为em。好像是因为父元素没设置font值。*/
h1{
	font-size: 32px;
	font-size: 3.2rem;
}
h2{
	font-size: 24px;
	font-size: 2.4rem;
}
h3{
	font-size: 18px;
	font-size: 1.8rem;
}
h4{
	font-size: 16px;
	font-size: 1.6rem;
}
p{
	font-size: 14px;
	font-size: 1.4rem;
	text-indent: 2em;
	padding: 0.5em 0;
	line-height: 1.5em;
}
/**菜单**/
/*通用导航*/
.index-nav{
	width: 76.8rem;
	height: 10rem;
	margin: 0 auto;
}
.index-nav img[alt=logo2],
.index-nav .menu-right{
	display: none;
}
.index-nav img[alt=logo1]{
	width: auto;
	height: 9rem;
	float: left;
	padding:.5rem 3.5rem;
}
nav.index-nav>ul{
	list-style:none;
	margin-top: 5.5rem;
	float: right;/*步骤1,先让ul浮动，然后让li反方向浮动，就可以实现不用倒序排html*/
}
/*当屏幕小于768px时*/
@media only screen and (max-width: 767px){
	.index-nav{
		width: 100%;
		height: 5rem;
	}
	.index-nav img[alt=logo1]{
		display: none;
	}
	.index-nav img[alt=logo2]{
		display: inline-block;
		width: auto;
		height: 4rem;
		float: left;
		padding:.5rem;
	}
	.index-nav .menu-right{
		display: inline-block;
		width: 5rem;
		height: 5rem;
		float: right;
		background: url(../images/menu.png) no-repeat;
		background-size: 4rem 4rem;
		background-position: 1rem 1rem;
	}
	nav.index-nav>ul{
		display: none;
	}
}
nav.index-nav li:hover{
	border-bottom: 1px solid blue;
}
nav.index-nav ul li{
 	width: 8rem;
 	height: 35px;
 	display: inline-block;
 	float: left;/*没有加浮动直接使用display: block会有margin值*//*步骤2,先让ul浮动，然后让li反方向浮动，就可以实现不用倒序排html*/
 	border-radius: none;
}
nav.index-nav ul li:hover ul{
	display:block;
}
nav.index-nav ul li a{
	text-align:center;
	display:block;
	text-decoration:none;
}
nav.index-nav ul li ul{
	width: 9rem;
	float: left;
	display:none;
	position:relative;
}
nav.index-nav ul li ul li{
}
nav.index-nav ul li ul li:hover{
}
nav.index-nav ul li ul li:hover ul{
	visibility:visible;
}
nav.index-nav ul li ul li ul{
	width: 9rem;
	float: left;
	visibility:hidden;
	position:relative;
	left: 9rem;
	top: -3.75rem;
}
nav.index-nav ul li ul li ul li{
}
nav.index-nav ul li ul li ul li:hover{
}
/*首页视频*/


/**programming**/
/*主结构*/
.program {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 170%;
	padding: 0 3rem 0 27rem;
}
.program header h1 {
	background: #ccc;
	border-radius: 4px;
	color: #fff;
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0;
	padding: 1.2em 0;
	text-align: center;
}
.program nav {
	font-size: 14px;
	font-size: 1.4rem;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 24rem;
}
.program nav .menubar {
	border-bottom: solid 1px #ccc;
	display: none;
	height: 4.8rem;
	line-height: 4.8rem;
	padding: 0 1rem;
}
.program nav .button {
	background: #777;
	border: 1px solid #333;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	padding: .8rem;
	border-radius: .4rem;
}
.program nav ul {
	padding: 0 0 0 1rem;
}
.program nav ul a {
	color: #333;
	text-decoration: none;
}
.program nav ul a:hover {
	text-decoration: underline;
}
.program nav li {
	line-height: 180%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.program nav .level2 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}
.program nav .level3 {
	padding-left: 1em;
}
.program nav .level3:before {
	content: "» ";
}
.program nav .level4 {
	padding-left: 2em;
}
.program nav .level4:before {
	content: "› ";
}
.program article h2 {
	border-bottom: dotted 1px #777;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 100%;
	margin: 4em 0 1em 0;
	padding: 0 0 0.3em 0;
}
.program article h3 {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 100%;
	margin: 2em 0 1em 0;
	padding: 0;
}
.program article h4 {
	font-size: 16px;
	font-size: 1.6rem;
	font-style:italic;
	font-weight: normal;
	line-height: 100%;
	margin: 1.2em 0 1em 0;
	padding: 0;
}
.program article p {
	margin: 1em 0;
}
.program article p code {
	background: #eee;
	border: 1px solid #ccc;
}
.program article p strong {
	color: #f00;
}
.program article pre {
	background: #eee;
	border-left: solid 2px #3c0;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 1em 0;
	padding: 0 0 0 1em;
	overflow-x: auto;
	overflow-y: padding;
}
.program article blockquote {
	background: #fff;
	border: dashed 1px #777;
	border-left: solid 2px #777;
	color: #000;
	margin: 0;
	padding: 0 0 0 1em;
}
.program article ul, article ol {
	padding-left: 2em;
}
.program footer {
	border-top: 1px solid #ccc;
	font-size: 14px;
	font-size: 1.4rem;
	margin-top: 4em;
}
@media (max-width: 76.8rem) {

	.program{
		padding: 0 1rem 0 23rem;
	}
	.program nav {
		width: 23rem;
	}
}
@media (max-width: 48rem) {
	.program{
		padding: 6.4rem 1rem 0 1rem;
	}
	.program header .banner {
		display: none;
	}
	.program nav {
		position: absolute;
		width: 100%;
	}
	.program nav .menubar {
		display: block;
	}
	.program nav .banner {
		float: right;
	}
	.program nav ul {
		background: #fff;
		display: none;
		font-size: 18px;
		font-size: 1.8rem;
		margin: 0;
		padding: 0 0 0 .8rem;
	}
	.program nav .level2 {
		font-size: 2rem;
		font-size: 20rem;
		font-weight: bold;
	}
	.program nav li {
		line-height: 240%;
	}
	.index nav ul {
		display: block;
	}
	.index article {
		display: none;
	}
}
/*logo*/
.logo{
/*-webkit-mask-image: -webkit-gradient(radial, 17 17, 123, 17 17, 138, 	from(rgb(0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.2)), to(rgb(0, 0, 0)));
*//*谷歌下载界面logo闪光效果未实现。*/}
