<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>发送信息</title>
		<link rel="stylesheet" href="../../css/common.css" />
	    <link rel="stylesheet" href="../../css/index.css" />
	    <link rel="stylesheet" href="../../css/consult.css" />
	   	<script type="text/javascript" src="../RichTextEdit/ueditor.config.js"></script>
	    <script type="text/javascript" src="../RichTextEdit/ueditor.all.js"> </script>
	    <script type="text/javascript" src="../RichTextEdit/lang/zh-cn/zh-cn.js"></script>
	    <style type="text/css">
		#edui1_bottombar{
			display: none;
		}
		
		.consult-form{
			overflow: auto;
		}
	    </style>
	</head>
	<body style="min-width: 1366px;">
		<!--父容器开始-->
		<div class="outer_div">
			<!--左边导航模块-->
			<div class="left_template">
				<div class="user_logo"><a href="../publicity/index.html"><img src="../../Images/common_logo.png" alt="" /></a></div>
				<p class="company_name1">广东雀鸟科技有限公司</p>
				<!--用户导航列表-->
				<div class="userList_bar">
					<ul class="userList_ul">
						<li class="userList_li">
							<span class="icon-01"></span>
							<span class="icon-text">概览</span>
						</li>
						<li class="userList_li">
							<span class="icon-02"></span>
							<span class="icon-text">线索</span>
							<span class="xiansuo_count">10</span>
						</li>
						<li class="userList_li">
							<span class="icon-03"></span>
							<span class="icon-text">客户管理</span>
						</li>
						<li class="userList_li">
							<span class="icon-04"></span>
							<span class="icon-text">联系人</span>
						</li>
						<li class="userList_li">
							<span class="icon-05"></span>
							<span class="icon-text">公海</span>
						</li>
						<li class="userList_li icon-shopping">
							<span class="icon-06"></span>
							<span class="icon-text">商品</span>
							<span class="icon-shopping-1"></span>
						</li>
						<div class="icon-shopping-div">
							<p>商品管理</p>
							<p>发布产品</p>
						</div>
						<li class="userList_li active">
							<span class="icon-07"></span>
							<span class="icon-text">咨询信息</span>
						</li>
						<li class="userList_li">
							<span class="icon-08"></span>
							<span class="icon-text">设置</span>
						</li>
						<li class="userList_li">
							<span class="icon-09"></span>
							<span class="icon-text">反馈</span>
						</li>
					</ul>
				</div>
			</div>
			<!--右边主题内容-->
			<div class="right_template">
		        <div class="left_header">
		            <div class="page_state">咨询信息</div>
		            <div class="vip-valid">会员有效日期：2017-10-30</div>
		        </div>
		        <div class="right_header">
		            <ul>
		                <li class="buy_xiansuoli1">
		                    <span class="buy_vip_icon1"></span>
		                    <a href="javascript:;">购买会员</a>
		                </li>
		                <li class="xiansuoli1">
		                    <span class="user_icon1"></span>
		                    <a href="javascript:;">哟哟</a>
		                </li>
		                <li class="xiansuoli1">
		                    <span class="login_out1"></span>
		                    <a href="javascript:;">退出</a>
		                </li>
		            </ul>
		        </div>
		        <div class="consult-main">
			        <!-- 资讯信息头部开始 -->
			        <div class="fl consult-nav">
			        	<ul class="fl ziti4">
			        		<li class="fl selected"><a href="send.html">发送信息</a></li>
			        		<li class="fl"><a href="inbox.html">收件箱</a></li>
			        		<li class="fl"><a href="sent.html">已发送</a></li>
			        		<li class="fl"><a href="drafts.html">草稿箱</a></li>
			        		<li class="fl"><a href="recycle.html">回收站</a></li>
			        	</ul>
			        </div>
			        <!-- 资讯信息头部结束 -->
			        <!-- 发送信息表格开始 -->
			        <form class="consult-form">
			        	<span><i>*</i>收件人：</span><input type="email" class="input_cell1" placeholder="请输入您的收件人" name="email">
			        	<a class="my_frText1">我的商友</a><br/>
			        	<span><i>*</i>标题：</span><input type="text" class="input_cell1" placeholder="请输入关键词" name="title" /><br/>
			        	<span style="vertical-align: top;width: 139px;"><i>*</i>内容：</span>
			        	<!--<iframe style="margin-top: 3px;" id="Baidu_editor" src="../RichTextEdit/index.html" frameborder="0" scrolling="no" width="750px" height="500px"></iframe>-->
			        	<script id="editor" type="text/plain" style="width:730px;height: 500px;display: inline-block;margin-left: 8px;margin-top: 12px;"></script>
			        	<br/><span><i>*</i>选项：</span>
			        	<div class="Three-cells_1">
			        		<label class="checkbox" onselectstart="return false;">
							<input type="checkbox" class="vam" name="checkedres" data-type="1" value="1">
								<i></i>
							</label>
							<em>不发送，保存为草稿</em>
							<label class="checkbox" onselectstart="return false;">
							<input type="checkbox" class="vam" name="checkedres" data-type="2" value="2">
								<i></i>
							</label>
							<em>保存到已发送</em>
							<label class="checkbox" onselectstart="return false;">
							<input type="checkbox" class="vam" name="checkedres" data-type="2" value="3">
								<i></i>
							</label>
							<em>已读回执</em>
			        	</div>
			        	<br/>
			        	<input type="button" value="确认" class="submit">
			        </form>
			        <!-- 发送信息表格结束 -->
		        </div>
			</div>
		</div>
		<!--CRM引导-->
		<div class="Guidance-box" style="display: none">
			<img class="Guidance" src="../../Images/zhixun01.jpg" alt="">
			<em class="GuidanceClos"></em>
		</div>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/crm-common.js"></script>
		<script src="../../js/send.js"></script>
		<script>var ue = UE.getEditor('editor');</script>
		<script>
			$(function(){
				var ZinxunIndex = false;
				if(ZinxunIndex) {
					$(".Guidance-box").show();
				}else {
					$(".Guidance-box").hide();
				}
			})
		</script>
	</body>
</html>