<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>商品管理</title>
		<link rel="stylesheet" href="../../css/common.css" />
	    <link rel="stylesheet" href="../../css/index.css" />
	    <link rel="stylesheet" href="../../css/commodity-guanli.css" />
		<script type="text/javascript" src="../RichTextEdit/ueditor.config.js"></script>
	    <script type="text/javascript" src="../RichTextEdit/ueditor.all.js"></script>
	    <script type="text/javascript" src="../RichTextEdit/lang/zh-cn/zh-cn.js"></script>
	    <style type="text/css">
			#edui1_bottombar{
				display: none;
			}
			#edui_fixedlayer{
				z-index: 99999 !important;
			}
			.xiansuo_Page_border{
				padding: 20px;
			}
			.ts-rizhi1 {
				position: relative;
			}
			.Rminder {
				position: absolute;
				top:0;
				right:-32px;
				height: 20px;
				width: auto;
				padding: 0 10px 0 10px;
				line-height: 20px;
				background: #ff776b;
				color: #fff;
				border-radius: 10px;
			}
	    </style>
	</head>
	<body style="min-width: 1366px;">
		<div class="outer_div">
			<!--左边导航模块-->
			<div class="left_template">
				<div class="user_logo"><a href="../publicity/index.html"><img src="../../Images/common_logo.png" alt="" /></a></div>
				<p class="company_name1">广东雀鸟科技有限公司</p>
				<!--用户导航列表-->
				<div class="userList_bar">
					<ul class="userList_ul">
						<li class="userList_li">
							<span class="icon-01"></span>
							<span class="icon-text">概览</span>
						</li>
						<li class="userList_li">
							<span class="icon-02"></span>
							<span class="icon-text">线索</span>
							<span class="xiansuo_count">10</span>
						</li>
						<li class="userList_li">
							<span class="icon-03"></span>
							<span class="icon-text">客户管理</span>
						</li>
						<li class="userList_li">
							<span class="icon-04"></span>
							<span class="icon-text">联系人</span>
						</li>
						<li class="userList_li">
							<span class="icon-05"></span>
							<span class="icon-text">公海</span>
						</li>
						<li class="userList_li icon-shopping active">
							<span class="icon-06"></span>
							<span class="icon-text">商品</span>
							<span class="icon-shopping-1"></span>
						</li>
						<div class="icon-shopping-div" style="display: block;">
							<p class="open">商品管理</p>
							<p>发布产品</p>
						</div>
						<li class="userList_li">
							<span class="icon-07"></span>
							<span class="icon-text">咨询信息</span>
						</li>
						<li class="userList_li">
							<span class="icon-08"></span>
							<span class="icon-text">设置</span>
						</li>
						<li class="userList_li">
							<span class="icon-09"></span>
							<span class="icon-text">反馈</span>
						</li>
					</ul>
				</div>
			</div>
			<!--右边主题内容-->
			<div class="right_template">
				<div class="left_header">
					<div class="page_state">商品管理</div>
					<div class="vip-valid">会员有效日期：2017-10-30</div>
				</div>
				<div class="right_header">
					<ul>
						<li class="buy_xiansuoli1">
							<span class="buy_vip_icon1"></span>
							<a href="javascript:;">购买会员</a>
						</li>
						<li class="xiansuoli1">
							<span class="shopping-index"></span>
							<a href="javascript:;">商城首页</a>
						</li>
						<li class="xiansuoli1">
							<span class="cbd-center"></span>
							<a href="javascript:;">商务中心</a>
						</li>
						<li class="xiansuoli1">
							<span class="user_icon1"></span>
							<a href="javascript:;">哟哟</a>
						</li>
						<li class="xiansuoli1">
							<a href="javascript:;"><span class="login_out1"></span>退出</a>
						</li>
					</ul>
				</div>
				<!--线索头部开始-->
				<div class="xiansuo_header">
					<!--线索头部左边-->
					<div class="xiansuo_hdleft_1">
						<!--第一列表-->
						<ul>
							<span class="saixuan_text1">筛选：</span>
							<li class="li_1 down active">发布时间</li>
							<li class="li_1 down">库存数量</li>
						</ul>
						<!--第二列表-->
						<div class="xiansuo_hdleft_divlist">
							<label class="checkbox checkboxAll1" onselectstart="return false;">
					        	<input id="checkall" type="checkbox" class="vam" name="checkall" onclick="selectAll()">
					            <i></i>
					        </label>
							<span class="saixuan_text1">全选：</span>
							<div class="xiansuo_hdleft_btnlist">
								<!--<span class="btnlist_biaoji">标记</span>
								<span class="btnlist_zuofei">作废</span>
								<span class="btnlist_huifu">恢复</span>-->
								<span class="btnlist_delete">删除</span>
							</div>
						</div>
					</div>
					<!--线索头部右边-->
					<div class="xiansuo_hdright">
						<div class="dingyue_cgMsgBtn" style="visibility: hidden;">订阅行业采购商信息</div>
						<div class="search-box">
							<span class="search-icon1"></span>
							<input class="search-input" type="search" placeholder="请输入关键词搜索">
							<span class="search-btn">搜索</span>
						</div>
					</div>
				</div>
				<!--线索头部结束-->
				
				<!--线索内容开始-->
				<div class="xiansuo_main">
					<!--线索列表开始-->
					<ul class="xiansuo_List">
						<li name="111">
							<a href="#" class="shopping-img1">
								<img src="../../Images/shopping-11.png" alt="" />
							</a>
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
									<input type="checkbox" class="vam" name="checkedres">
									<i></i> 
								</label>
								<div class="xiansuo_List_title">急求钢筋一批，规则20MM，广州天河大观中路工地</div>
							</div>
							<div class="commodity_dets">
								<div class="commodity_dets_lf">
									<span class="state_t1">状态：<span class="state_t2">在线销售</span></span>
									<span class="state_time">2017-09-13 14:50</span>
									<br>
									<span class="state_price">&yen;4000.00</span>
									<span class="state_count1">库存：<span class="state_count2">1000</span></span>
								</div>
								<div class="commodity_dets_rt">
									<div class="commodity_dets_rt_cell edit-1">
										<img src="../../Images/goods_icon_edit_nor.png" alt="" />
										<p>编辑</p>
									</div>
									<div class="commodity_dets_rt_cell share-1">
										<img src="../../Images/goods_icon_share_nor.png" alt="" />
										<p>分享</p>
									</div>
									<div class="commodity_dets_rt_cell add-ts1">
										<img src="../../Images/goods_icon_push_nor.png" alt="" />
										<p>一键推送</p>
									</div>
									<div class="commodity_dets_rt_cell ts-rizhi1">
										<span class="Rminder">1920</span>
										<img src="../../Images/goods_icon_daily_nor.png" alt="" />
										<p>推送日志</p>
									</div>
								</div>
							</div>
							<div class="xiansuo_border"></div>
						</li>
						<li name="222">
							<a href="#" class="shopping-img1">
								<img src="../../Images/shopping-11.png" alt="" />
							</a>
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
									<input type="checkbox" class="vam" name="checkedres">
									<i></i> 
								</label>
								<div class="xiansuo_List_title">急求钢筋一批，规则20MM，广州天河大观中路工地</div>
							</div>
							<div class="commodity_dets">
								<div class="commodity_dets_lf">
									<span class="state_t1">状态：<span class="state_t2">在线销售</span></span>
									<span class="state_time">2017-09-13 14:50</span>
									<br>
									<span class="state_price">&yen;4000.00</span>
									<span class="state_count1">库存：<span class="state_count2">1000</span></span>
								</div>
								<div class="commodity_dets_rt">
									<div class="commodity_dets_rt_cell edit-1">
										<img src="../../Images/goods_icon_edit_nor.png" alt="" />
										<p>编辑</p>
									</div>
									<div class="commodity_dets_rt_cell share-1 jy_btn">
										<img src="../../Images/goods_icon_share_nor.png" alt="" />
										<p>分享</p>
									</div>
									<div class="commodity_dets_rt_cell add-ts1 jy_btn">
										<img src="../../Images/goods_icon_push_nor.png" alt="" />
										<p>一键推送</p>
									</div>
									<div class="commodity_dets_rt_cell ts-rizhi1 jy_btn">
										<img src="../../Images/goods_icon_daily_nor.png" alt="" />
										<p>推送日志</p>
									</div>
								</div>
							</div>
							<div class="xiansuo_border"></div>
						</li>
						<li name="333">
							<a href="#" class="shopping-img1">
								<img src="../../Images/shopping-11.png" alt="" />
							</a>
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
									<input type="checkbox" class="vam" name="checkedres">
									<i></i> 
								</label>
								<div class="xiansuo_List_title">急求钢筋一批，规则20MM，广州天河大观中路工地</div>
							</div>
							<div class="commodity_dets">
								<div class="commodity_dets_lf">
									<span class="state_t1">状态：<span class="state_t2">在线销售</span></span>
									<span class="state_time">2017-09-13 14:50</span>
									<br>
									<span class="state_price">&yen;4000.00</span>
									<span class="state_count1">库存：<span class="state_count2">1000</span></span>
								</div>
								<div class="commodity_dets_rt">
									<div class="commodity_dets_rt_cell edit-1">
										<img src="../../Images/goods_icon_edit_nor.png" alt="" />
										<p>编辑</p>
									</div>
									<div class="commodity_dets_rt_cell share-1 jy_btn">
										<img src="../../Images/goods_icon_share_nor.png" alt="" />
										<p>分享</p>
									</div>
									<div class="commodity_dets_rt_cell add-ts1 jy_btn">
										<img src="../../Images/goods_icon_push_nor.png" alt="" />
										<p>一键推送</p>
									</div>
									<div class="commodity_dets_rt_cell ts-rizhi1 jy_btn">
										<img src="../../Images/goods_icon_daily_nor.png" alt="" />
										<p>推送日志</p>
									</div>
								</div>
							</div>
							<div class="xiansuo_border"></div>
						</li>
						<li name="444">
							<a href="#" class="shopping-img1">
								<img src="../../Images/shopping-11.png" alt="" />
							</a>
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" class="vam" name="checkedres">
									<i></i> 
								</label>
								<div class="xiansuo_List_title">急求钢筋一批，规则20MM，广州天河大观中路工地</div>
							</div>
							<div class="commodity_dets">
								<div class="commodity_dets_lf">
									<span class="state_t1">状态：<span class="state_t2">在线销售</span></span>
									<span class="state_time">2017-09-13 14:50</span>
									<br>
									<span class="state_price">&yen;4000.00</span>
									<span class="state_count1">库存：<span class="state_count2">1000</span></span>
								</div>
								<div class="commodity_dets_rt">
									<div class="commodity_dets_rt_cell edit-1">
										<img src="../../Images/goods_icon_edit_nor.png" alt="" />
										<p>编辑</p>
									</div>
									<div class="commodity_dets_rt_cell share-1">
										<img src="../../Images/goods_icon_share_nor.png" alt="" />
										<p>分享</p>
									</div>
									<div class="commodity_dets_rt_cell add-ts1">
										<img src="../../Images/goods_icon_push_nor.png" alt="" />
										<p>一键推送</p>
									</div>
									<div class="commodity_dets_rt_cell ts-rizhi1">
										<img src="../../Images/goods_icon_daily_nor.png" alt="" />
										<p>推送日志</p>
									</div>
								</div>
							</div>
							<div class="xiansuo_border"></div>
						</li>
						<li name="555">
							<a href="#" class="shopping-img1">
								<img src="../../Images/shopping-11.png" alt="" />
							</a>
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
									<input type="checkbox" class="vam" name="checkedres">
									<i></i> 
								</label>
								<div class="xiansuo_List_title">急求钢筋一批，规则20MM，广州天河大观中路工地</div>
							</div>
							<div class="commodity_dets">
								<div class="commodity_dets_lf">
									<span class="state_t1">状态：<span class="state_t2">在线销售</span></span>
									<span class="state_time">2017-09-13 14:50</span>
									<br>
									<span class="state_price">&yen;4000.00</span>
									<span class="state_count1">库存：<span class="state_count2">1000</span></span>
								</div>
								<div class="commodity_dets_rt">
									<div class="commodity_dets_rt_cell edit-1">
										<img src="../../Images/goods_icon_edit_nor.png" alt="" />
										<p>编辑</p>
									</div>
									<div class="commodity_dets_rt_cell share-1 jy_btn">
										<img src="../../Images/goods_icon_share_nor.png" alt="" />
										<p>分享</p>
									</div>
									<div class="commodity_dets_rt_cell add-ts1 jy_btn">
										<img src="../../Images/goods_icon_push_nor.png" alt="" />
										<p>一键推送</p>
									</div>
									<div class="commodity_dets_rt_cell ts-rizhi1 jy_btn">
										<img src="../../Images/goods_icon_daily_nor.png" alt="" />
										<p>推送日志</p>
									</div>
								</div>
							</div>
							<div class="xiansuo_border"></div>
						</li>
						<li name="666">
							<a href="#" class="shopping-img1">
								<img src="../../Images/shopping-11.png" alt="" />
							</a>
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
									<input type="checkbox" class="vam" name="checkedres">
									<i></i> 
								</label>
								<div class="xiansuo_List_title">急求钢筋一批，规则20MM，广州天河大观中路工地</div>
							</div>
							<div class="commodity_dets">
								<div class="commodity_dets_lf">
									<span class="state_t1">状态：<span class="state_t2">在线销售</span></span>
									<span class="state_time">2017-09-13 14:50</span>
									<br>
									<span class="state_price">&yen;4000.00</span>
									<span class="state_count1">库存：<span class="state_count2">1000</span></span>
								</div>
								<div class="commodity_dets_rt">
									<div class="commodity_dets_rt_cell edit-1">
										<img src="../../Images/goods_icon_edit_nor.png" alt="" />
										<p>编辑</p>
									</div>
									<div class="commodity_dets_rt_cell share-1 jy_btn">
										<img src="../../Images/goods_icon_share_nor.png" alt="" />
										<p>分享</p>
									</div>
									<div class="commodity_dets_rt_cell add-ts1 jy_btn">
										<img src="../../Images/goods_icon_push_nor.png" alt="" />
										<p>一键推送</p>
									</div>
									<div class="commodity_dets_rt_cell ts-rizhi1 jy_btn">
										<img src="../../Images/goods_icon_daily_nor.png" alt="" />
										<p>推送日志</p>
									</div>
								</div>
							</div>
							<div class="xiansuo_border"></div>
						</li>
					</ul>
					<!--线索列表结束-->
					<!--分页器开始-->
					<div class="xiansuo_Page_Div">
						<div class="xiansuo_Page_border"></div>
						<div class="xiansuo_Page_div">
							<div class="fl">
								<span style="margin-right: 5px;">每页显示</span>
								<select class="xiansuo_Page_Three">
									<option value="10">10</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								<span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
								<img class="first_page" src="../../Images/icon_sanjiao_01.png" alt="" />
								<img class="prev_page" src="../../Images/icon_sanjiao_02.png" alt="" />
							</div>
							<ul class="xiansuo_Page_list">
								<li class="active">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
							</ul>
							<img class="next_page" style="margin-left: 15px;" src="../../Images/icon_sanjiao_03.png" alt="" />
							<img class="last_page" src="../../Images/icon_sanjiao_04.png" alt="" />
							<span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10"/><span style="margin-left: 5px;">页</span>
						</div>
					</div>
					<!--分页器结束-->
				</div>
				<!--线索内容结束-->
			</div>
		</div>
		
		<!--推送日志开始-->
		<div class="tsRz-modal">
			<div class="tsRz-div">
				<div class="tsRz-div_header">
					推送日志
					<span class="tsRz-div_header_close">×</span>
				</div>
				<div class="tsRz-div_limain">
					<div class="tsRz-div_liImg">
						<img src="../../Images/ts-img01.png" alt="" />
					</div>
					<div class="tsRz-div_dts">
						<p class="tsRz-div_title">优质交通信息号灯批发 海瑞厂家直销</p>
						<p style="margin-top: 10px;"><span class="span_1">&yen;4000.00</span>
						<span class="span_2">
							发布时间：
							<span class="span_21">2017-09-13 14:50</span>
						</span></p>
					</div>
				</div>
				<div class="tsRz_saixuan">
					<div class="tsRz_saixuan_hd">
						<div class="oneLine-cell" style="text-align: initial;">
							<span class="span-text11">按时间筛选</span>
							<input type="datetime" class="input-sm laydate-icon" id="inputStartTime" name="sdate" placeholder="开始时间">
							<sapn class="most">至</sapn>
							<input type="datetime" class="input-sm laydate-icon" id="inputEndTime" name="edate" placeholder="结束时间">
							<span class="saixuan_btn">确认</span>
							<span class="ts_Count">共2560条</span>
						</div>
					</div>
					<div class="tsRz-saixuan-box">
						<div class="tsRz-saixuan-box-hd">
							<p class="hd_p1">推送渠道</p>
							<p class="hd_p2">推送时间</p>
						</div>
						<ul class="tsRz-saixuan-ul">
							<li class="tsRz-saixuan-li close">
								<a class="click_sjbtn"></a>
								<div class="tsRz-saixuan-lihd">
									<div class="tsRz-saixuan-qudao">31312213@qq.com</div>
									<div class="tsRz-saixuan-timer">10月10日</div>
								</div>
								<!--<div class="slider_content1">
									<div class="slider_content1_lf">
										<div>联系人：陈先生</div>
										<div>手<span class="pdlf-14"></span>机：13580546695</div>
										<div>电<span class="pdlf-14"></span>话：020-8678888</div>
										<div>邮<span class="pdlf-14"></span>箱：642307404@qq.com</div>
									</div>
									<div class="slider_content1_rt">
										<div>地<span style="padding-left: 28px;"></span>址： 陈先生</div>
										<div class="jiequ_str">线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克</div>
										<div>创建时间：2017-09-13 18:15</div>
									</div>
								</div>-->
							</li>
							<li class="tsRz-saixuan-li close">
								<a class="click_sjbtn"></a>
								<div class="tsRz-saixuan-lihd">
									<div class="tsRz-saixuan-qudao">31312213@qq.com</div>
									<div class="tsRz-saixuan-timer">10月10日</div>
								</div>
								<!--<div class="slider_content1">
									<div class="slider_content1_lf">
										<div>联系人：陈先生</div>
										<div>手<span class="pdlf-14"></span>机：13580546695</div>
										<div>电<span class="pdlf-14"></span>话：020-8678888</div>
										<div>邮<span class="pdlf-14"></span>箱：642307404@qq.com</div>
									</div>
									<div class="slider_content1_rt">
										<div>地<span style="padding-left: 28px;"></span>址： 陈先生</div>
										<div class="jiequ_str">线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克</div>
										<div>创建时间：2017-09-13 18:15</div>
									</div>
								</div>-->
							</li>
							<li class="tsRz-saixuan-li close">
								<a class="click_sjbtn"></a>
								<div class="tsRz-saixuan-lihd">
									<div class="tsRz-saixuan-qudao">31312213@qq.com</div>
									<div class="tsRz-saixuan-timer">10月10日</div>
								</div>
								<!--<div class="slider_content1">
									<div class="slider_content1_lf">
										<div>联系人：陈先生</div>
										<div>手<span class="pdlf-14"></span>机：13580546695</div>
										<div>电<span class="pdlf-14"></span>话：020-8678888</div>
										<div>邮<span class="pdlf-14"></span>箱：642307404@qq.com</div>
									</div>
									<div class="slider_content1_rt">
										<div>地<span style="padding-left: 28px;"></span>址： 陈先生</div>
										<div class="jiequ_str">线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克</div>
										<div>创建时间：2017-09-13 18:15</div>
									</div>
								</div>-->
							</li>
							<li class="tsRz-saixuan-li close">
								<a class="click_sjbtn"></a>
								<div class="tsRz-saixuan-lihd">
									<div class="tsRz-saixuan-qudao">31312213@qq.com</div>
									<div class="tsRz-saixuan-timer">10月10日</div>
								</div>
								<!--<div class="slider_content1">
									<div class="slider_content1_lf">
										<div>联系人：陈先生</div>
										<div>手<span class="pdlf-14"></span>机：13580546695</div>
										<div>电<span class="pdlf-14"></span>话：020-8678888</div>
										<div>邮<span class="pdlf-14"></span>箱：642307404@qq.com</div>
									</div>
									<div class="slider_content1_rt">
										<div>地<span style="padding-left: 28px;"></span>址： 陈先生</div>
										<div class="jiequ_str">线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克</div>
										<div>创建时间：2017-09-13 18:15</div>
									</div>
								</div>-->
							</li>
							<li class="tsRz-saixuan-li close">
								<a class="click_sjbtn"></a>
								<div class="tsRz-saixuan-lihd">
									<div class="tsRz-saixuan-qudao">31312213@qq.com</div>
									<div class="tsRz-saixuan-timer">10月10日</div>
								</div>
								<!--<div class="slider_content1">
									<div class="slider_content1_lf">
										<div>联系人：陈先生</div>
										<div>手<span class="pdlf-14"></span>机：13580546695</div>
										<div>电<span class="pdlf-14"></span>话：020-8678888</div>
										<div>邮<span class="pdlf-14"></span>箱：642307404@qq.com</div>
									</div>
									<div class="slider_content1_rt">
										<div>地<span style="padding-left: 28px;"></span>址： 陈先生</div>
										<div class="jiequ_str">线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克的撒娇快乐的撒线索描述：肯德基撒恐龙当家萨洛克</div>
										<div>创建时间：2017-09-13 18:15</div>
									</div>
								</div>-->
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--推送日志结束-->
		
		<!--编辑详情开始-->
		<div class="tsXq-modal">
			<div class="tsXq-div">
				<div class="tsXq-div_header">
					编辑详情
					<span class="tsXq-div_header_close">×</span>
				</div>
				<div class="tsXq-div_main">
					<div class="one-cell">
						<span class="one-cell_lf">
							<em>*</em>
							<label>信息类型：</label>
						</span>
						<div class="one-cell_rt">
							<input type="radio" class="gongying1 radius_cell vam" value="供应"/>
							<span class="first-cellSpan1 vam">供应</span>
							<input type="radio" class="tg_fuwu radius_cell vam" value="提供服务"/>
							<span class="first-cellSpan1 vam">提供服务</span>
							<input type="radio" class="gy_ershou radius_cell vam" value="供应二手"/>
							<span class="first-cellSpan1 vam">供应二手</span>
							<input type="radio" class="tg_jg radius_cell vam" value="提供加工"/>
							<span class="first-cellSpan1 vam">提供加工</span>
							<input type="radio" class="tg_hezuo radius_cell vam" value="提供合作"/>
							<span class="first-cellSpan1 vam">提供合作</span>
							<input type="radio" class="kucun radius_cell vam" value="库存"/>
							<span class="first-cellSpan1 vam">库存</span>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf">
							<em>*</em>
							<label>信息标题：</label>
						</span>
						<div class="one-cell_rt">
							<input type="text" class="input_1cell msg_title" placeholder="请输入信息标题"/>
							<select class="msg_level">
								<option value="0">级别</option>
								<option value="1">1级</option>
								<option value="2">2级</option>
								<option value="3">3级</option>
								<option value="4">4级</option>
								<option value="5">5级</option>
							</select>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf">
							<em>*</em>
							<label>关<span style="padding-left: 8px;"></span>键<span style="padding-left: 8px;"></span>词<span></span>：</label>
						</span>
						<div class="one-cell_rt">
							<input type="text" class="input_1cell msg_keyWord" placeholder="请输入关键词（多个关键词用英文逗号分隔）"/>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf">
							<em>*</em>
							<label>行业分类：</label>
						</span>
						<div class="one-cell_rt">
							<select class="select_hangye">
								<option value="0">请选择行业分类</option>
								<option value="1">汽车行业</option>
								<option value="2">建材行业</option>
								<option value="3">食品行业</option>
								<option value="4">医药行业</option>
								<option value="5">塑料行业</option>
							</select>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf">
							<em style="visibility: hidden;">*</em>
							<label>产品品牌：</label>
						</span>
						<div class="one-cell_rt">
							<input type="text" class="input_1cell msg_brand" placeholder="请输入产品品牌"/>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf" style="vertical-align: top;height: 30px;display: inline-block;">
							<em style="visibility: hidden;">*</em>
							<label>详细说明：</label>
						</span>
						<div class="one-cell_rt" style="margin-left: 9px;vertical-align: top;position: relative;top: -6px;">
							<!--<iframe id="Baidu_editor" src="../RichTextEdit/index.html" frameborder="0" scrolling="no" width="750px" height="500px"></iframe>-->
							<script id="editor" type="text/plain" style="width:730px;height: 500px;margin-left: 8px;margin-top: 5px;"></script>
							<div class="tips_Text1_div">
								<p class="tips_Text1_P1">1、建议您描述一下方面：产品的性能及优点、用途、售后服务、包装等；</p>
								<p class="tips_Text1_P1">2、未避免不必要的纷争，请使用本企业图片；</p>
							</div>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf" style="vertical-align: top;height: 30px;display: inline-block;">
							<em style="visibility: hidden;">*</em>
							<label>上传图片：</label>
						</span>
						<div class="one-cell_rt">
							<!--上传照片开始-->
							<div class="img-box full">
								<section class=" img-section">
									<div class="z_photo upimg-div">
										<section class="z_file fl">
											<img src="../../Images/a11.png" class="add-img">
											<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
										</section>
									</div>
								</section>
							</div>
							<!--上传照片结束-->
						</div>
					</div>
					<div class="one-cell" style="margin-top: 25px;">
						<span class="one-cell_lf">
							<em style="visibility: hidden;">*</em>
							<label>过期时间：</label>
						</span>
						<div class="one-cell_rt">
							<input type="text" class="input_cell_sm1 date_icon_1" id="expiration_time" placeholder="请选择到期时间"/>
						</div>
					</div>
					<div class="one-cell">
						<span class="one-cell_lf" style="vertical-align: top;">
							<em style="visibility: hidden;">*</em>
							<label>主要参数：</label>
						</span>
						<div class="one-cell_rt" style="vertical-align: top;">
							<span class="arg_name1T">参数名称</span>
							<span class="arg_val1T">参数值</span>
							<!--自定义输入框列表-->
							<div class="zdy_inputList">
								<div class="zdy_input_cell">
									<input type="text" class="input_cell_sm1 arg_name1" placeholder="自定义标签"/>
									<input type="text" class="input_cell_md1 arg_val1" placeholder="自定义标签内容"/>
								</div>
								<div class="zdy_input_cell">
									<input type="text" class="input_cell_sm1 arg_name2" placeholder="自定义标签"/>
									<input type="text" class="input_cell_md1 arg_val2" placeholder="自定义标签内容"/>
								</div>
								<div class="zdy_input_cell">
									<input type="text" class="input_cell_sm1 arg_name3" placeholder="自定义标签"/>
									<input type="text" class="input_cell_md1 arg_val3" placeholder="自定义标签内容"/>
								</div>
							</div>
							<p class="zdytips-text1">例如：规格<span></span>例如：10CM*20CM</p>
						</div>
					</div>
					<div class="one-cell" style="margin-top: 20px;margin-bottom: 10px;">
						<span class="one-cell_lf" style="vertical-align: top;">
							<em style="visibility: hidden;">*</em>
							<label>交易条件：</label>
						</span>
						<div class="one-cell_rt" style="vertical-align: top;position: relative;bottom: 4px;">
							<div class="compute_dets1">
								<span class="Cspan-text1">计量单位</span>
								<input type="text" class="input_cell_smm1 jl_count" placeholder="个数"/>
								<sapn class="Cspan-text1" style="margin-left: 20px;">产品价格</sapn>
								<input type="text" class="input_cell_smm1 pd_price" placeholder="0.00"/>
							</div>
							<div class="compute_dets2">
								<span class="Cspan-text1">最小起订量</span>
								<input type="text" class="input_cell_smm1 smm_count1" placeholder="个数"/>
								<span style="font-size: 14px;color: #494949;margin-left: 5px;">单位</span>
								<sapn class="Cspan-text1" style="margin-left: 20px;">供货总量</sapn>
								<input type="text" class="input_cell_smm1 pd_counts1" placeholder="0.00"/>
								<span style="font-size: 14px;color: #494949;margin-left: 5px;">单位</span>
							</div>
							<div class="compute_dets3">
								<span class="Cspan-text1">发货期限&nbsp;&nbsp;&nbsp;&nbsp;自买家付款之日起<input type="text" class="input_cell_smm2 start_time1" placeholder="天数"/>天内发货</span>
							</div>
						</div>
					</div>
				</div>
				<!--重置及确认按钮-->
				<div class="Two_Btn_cells_1">
					<span class="btn_reset_1">重置</span>
					<span class="btn_yes_1">确认</span>
				</div>
			</div>
		</div>
		<!--编辑详情结束-->
	
		<!--上传图片删除模态框-->
		<aside class="mask works-mask">
			<div class="mask-content">
				<p class="del-p">您确定要删除图片吗？</p>
				<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
			</div>
		</aside>
		
		<!--操作成功模态框-->
		<div class="sucuess-modal">
			<div class="sucuess-modal-cell">
				<img src="../../Images/common_icon_success_nor.png" alt="" />
				<p class="is_state1">操作成功!</p>
			</div>
		</div>
		
		<!--确认删除模态框3-->
		<div class="delete-modal3">
			<div class="delete-modal-cell3">
				<p>您确认删除吗？</p>
				<div class="delete_modal_btns">	
					<span class="de_cancel_13">取消</span>
					<span class="de_confirm_13">确定</span>
				</div>
			</div>
		</div>
		
		<!--异步加载模态框-->
		<div class="ajax_loadModal">
			<div class="ajax_load_img">
				<img src="../../Images/load-1.gif" alt="" />
			</div>
		</div>
		<!--CRM引导-->
		<div class="Guidance-box" style="display: none">
			<img class="Guidance" src="../../Images/shangping01.jpg" alt="">
			<em class="GuidanceClos"></em>
		</div>

		<!--一键推送提示开始-->
		<div class="HintBigBox" style="display: none">
			<!--注册会员（选择一个商品一键推送-->
			<div class="Hint Hint1" style="display: none">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p">免费体验期间，您只能选择一个商品一键推送，建议您确定好需要推送的商品</p>
					<div class="Hint-p-box">
						<span class="Hint-D">取消</span>
						<span class="Hint-K Hint-K0">确定</span>
					</div>
					<p class="Hint-bottom-p">认证会员可推送更多商品>></p>
				</div>

			</div>
			
			<!--注册会员（推送第2个商品）-->
			<div class="Hint Hint2" style="display: none">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p" style="line-height: 30px">免费体验期间，您只能选择一个商品一键推送，如需推送其他商品请认证会员</p>
					<!--<div class="Hint-p-box">-->
						<!--<span class="Hint-D">取消</span>-->
						<!--<span class="Hint-K">确定</span>-->
					<!--</div>-->
					<p class="Hint-bottom-p" style="padding-top: 40px">认证会员可推送更多商品>></p>
				</div>
			</div>
			
			<!--注册会员（取消推送商品）-->
			<div class="Hint Hint3" style="display: none">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p">免费体验期间，取消推送后，您无法再次推送商品，如需推送其他商品，请认证会员</p>
					<div class="Hint-p-box">
						<span class="Hint-D">取消</span>
						<span class="Hint-K Hint-K1">取消推送</span>
					</div>
					<p class="Hint-bottom-p">认证会员可推送更多商品>></p>
				</div>
			</div>
			
			<!--认证会员（选择第1个商品一键推送）-->
			<div class="Hint Hint4" style="width: 370px;height: 220px;display: none;">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p">每个月最多可以推送<span>M</span>个商品，建议您确定好需要推送的商品</p>
					<div class="Hint-p-box">
						<span class="Hint-D">取消</span>
						<span class="Hint-K Hint-K2">继续推送</span>
					</div>
				</div>
			</div>
			
			<!--认证会员（取消推送商品）-->
			<div class="Hint Hint5" style="width: 370px;height: 220px;display: none;">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p">取消推送后，本月内您无法再次推送该商品。</p>
					<div class="Hint-p-box">
						<span class="Hint-D">取消</span>
						<span class="Hint-K Hint-K5">取消推送</span>
					</div>
				</div>
			</div>
			
			<!--认证会员（选择>1个商品一键推送）-->
			<div class="Hint Hint6" style="width: 370px;height: 220px;display: none;">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p">本月您还可以推送<span>M+1-n</span>个商品，建议您确定好需要推送的商品</p>
					<div class="Hint-p-box">
						<span class="Hint-D">取消</span>
						<span class="Hint-K Hint-K2">继续推送</span>
					</div>
				</div>
			</div>
			
			<!--认证会员（推送次数已用完）-->
			<div class="Hint Hint7" style="width: 370px;height: 220px;display: none;">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter" style="padding-top: 30px;padding-left: 40px;padding-right: 40px;">
					<div class="Hint-logo"></div>
					<p class="Hint-p">每个月最多可以推送<span>M</span>个商品，您本月推送次数已用完，我们将于下个月为您继续推送。</p>
				</div>
			</div>
			
			<!--体验会员过期-->
			<div class="Hint Hint8" style="width: 370px;height: 220px;display: none;">
				<div class="HintTop"><em class="Hint-clos">&times;</em></div>
				<div class="HinCenter">
					<p class="Hint-p" style="line-height: 30px">您的免费体验期已过，如需推送其他商品，请认证会员</p>
					<p class="Hint-bottom-p" style="padding-top: 40px">认证会员可推送更多商品>></p>
				</div>
			</div>
		</div>
		<!--一键推送提示结束-->

		<!--动画效果开始-->
		<div class="AnimationBox">
			<div class="Animation-min">
				<div class=Animation-min-img>
				<img src="../../Images/pcyoujian.gif" alt="">
			</div>
				<div class="Animation-min-text">
					<p>正在为您推送 <em>枕头</em> 采购商</p>
				</div>
			</div>
		</div>
		<!--动画效果结束-->

		<!--动画结束提示开始-->
		<div class="tishi-model">
			<div class="tishi-box">
				<div class="clos-tishi">&times;</div>
				<p>HI，贾少华：</p>
				<div class="tishi-center">
					<p>我们为您的商品<a>U型枕颈椎护颈枕休闲汽车法宝汽车用品厂家直销</a> 找到了 <span>958</span> 位客户，并已将您的商品发送给他们了，请跟进！</p>
				</div>
				<div class="text-bottom">查看明细</div>
			</div>

		</div>
		<!--动画结束提示结束-->

		<!--动画结束提示开始 采购商为零情况下-->
		<div class="tishi-model-1">
			<div class="tishi-box">
				<div class="clos-tishi">&times;</div>
				<div class="img010"><img src="../../Images/icon_.png" alt=""></div>
				<div class="tishi-center">
					<p>您的商品<a>U型枕颈椎护颈枕休闲汽车法宝汽车用品厂家直销</a>我们暂时找不到对应的采购商，我们将大力度采集这方面的采购商数据，请过段时间再试。</p>
				</div>
				<!--<div class="text-bottom">查看明细</div>-->
			</div>

		</div>
		<!--动画结束提示结束 采购商为零情况下-->

		<script src="../../js/jquery.js"></script>
		<script src="../../js/crm-common.js"></script>
		<script src="../../js/laydate.js"></script>
		<script src="../../js/imgUp.js"></script>
		<script>
			//判断会员状态
			var vipstate = false;//true为注册会员,false为认证会员
			var numstate = 1;//为0第一次点击推送 为1第二次点击推送 2为体验会员过期
			var vipnum = 1;//该值为推送商品次数
			
			$(function(){
				//限制文本长度
				var ue = UE.getEditor('editor');//实例化百度编辑器
				var youjian_cp =$(".Animation-min-text>p>em");
				var name_cp =$(".tishi-box>p");
				var text_cp =$(".tishi-center>p>em");
				wordlimit(youjian_cp,30);//调用方法
				wordlimit(text_cp,30);//调用方法
				wordlimit(name_cp,22);//调用方法
				function wordlimit(cname,wordlength){
					for(var i=0;i<cname.length;i++){
						var nowhtml=cname[i].innerHTML;//元素的内容
						var nowlength=cname[i].innerHTML.length;//元素文本的长度
						if(nowlength>wordlength){
							cname[i].innerHTML=nowhtml.substr(0,wordlength)+'...';//截取元素的文本的长度并加上省略号
						}
					}
				}
				
				var html = '<section class="up-section fl"><span class="up-span"></span><img class="close-upimg" src="../../Images/a7.png"><img class="up-img" src="blob:http://192.168.1.180:8020/26a75138-0e45-4014-803b-0cf84eb43641"><p class="img-name-p">rgb颜色表.png</p><input id="taglocation" name="taglocation" value="" type="hidden"><input id="tags" name="tags" value="" type="hidden"></section>';
				$(".upimg-div .z_file").before(html);
				if($(".up-section").length>2){
					$(".z_file").hide();
				}
				
				var ShangpingIndex = false;
				if(ShangpingIndex) {
					$(".Guidance-box").show();
				}else {
					$(".Guidance-box").hide();
				}
				
				//点击认证会员可推送更多产品
				$(document).on("click",".Hint-bottom-p",function(){
					$(".pay_model").fadeIn();
					$(".pay01").show();
					$(".pay02").hide();
					$(".pay03").hide();
					$(".HintBigBox").hide();
					$(".Hint").hide();
				})
			})
		</script>
		<script src="../../js/commodity-guanli.js"></script>
	</body>
</html>