<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/set.css" />
    <title>发布公告</title>
    <script type="text/javascript" src="../RichTextEdit/ueditor.config.js"></script>
    <script type="text/javascript" src="../RichTextEdit/ueditor.all.js"> </script>
    <script type="text/javascript" src="../RichTextEdit/lang/zh-cn/zh-cn.js"></script>

</head>
<body style="min-width: 1280px;">
<!--父容器开始-->
<div class="outer_div">
    <div class="left_template">
    	<div class="user_logo">
			<a href="#"><img src="../Images/common_logo.png" alt=""></a>
		</div>
		<p class="company_name1">代理商管理系统</p>
		<div class="userList_bar">
			<ul class="userList_ul">
				<a href="index.html" class="userList_li"><span class="icon-01"></span><span class="icon-text">首页</span></a>
				<div class="slider_List">
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-money-div">
						<a href="fund-platform.html">资金管理</a>
						<a href="fund-money.html">申请提现</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-data-div">
						<a href="data-daili.html">代理商数据统计</a>
						<a href="data-market.html">业务员数据统计</a>
						<a href="data-train.html">培训师数据统计</a>
						<a href="data-vip.html">注册会员数据统计</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-person-div">
						<a href="juese-admin.html">管理员管理</a>
						<a href="juese-agent.html">代理商管理</a>
						<a href="juese-check.html">审核代理商</a>
						<a href="juese-salesman.html">业务员管理</a>
						<a href="juese-trainer.html">培训师管理</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping active"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></a>
					<div class="icon-shopping-div show">
						<a href="set-user.html">用户组</a>
						<a href="set-send.html" class="open">发布公告</a>
						<a href="set-history.html">历史公告</a>
						<a href="set-password.html">个人设置</a>
						<a href="set-divide.html">代理商分成设置</a>
					</div>
				</div>
			</ul>
		</div>
    </div>
    <div class="right_template"></div>
    <div class=" page-set white-bg set-send">
        <h2>发布公告</h2>
        <!-- 发送信息表格开始 -->
        <form class="consult-form">
            <span><i>*</i>公告标题：</span><input type="text" class="input_cell1" placeholder="请输入公告标题" name="title"><br />
            <span style="vertical-align: top;width: 139px;"><i>*</i>公告内容：</span>
            <!--<iframe style="margin-top: 3px;" id="Baidu_editor" src="../RichTextEdit/index.html" frameborder="0" scrolling="no" width="750px" height="500px"></iframe>-->
            <div class="editor-box"><script id="editor" type="text/plain"></script></div>
            <br/>
            <span><i>*</i>发布时间：</span>
            <div class="laydate-div">
                <input type="text" class="input_cell_sm1 date_icon_1" readonly="readonly" id="expiration_time" placeholder="请选择发布时间"/><label for="expiration_time"></label>
            </div>
            
            <br/>
            <div class="btn-box set-send-btn">
                <input type="button" value="确认" class="setSendSub blue-btn">
                <input type="button" value="清空" class="allClean white-btn">
            </div>
        </form>
        <!-- 发送信息表格结束 -->
        <!-- 模拟弹窗开始 -->
        <div class="moni-box" style="display: none;"></div>
        <!-- 清空按钮 -->
        <div class="send-clean moni-lbox" style="display: none;">
            <p>确认清空？</p>
            <div class="btn-box">
                <input type="button" value="确认" name="remove" class="closesubmit blue-btn">
                <input type="button" value="取消" name="cancel" class="cancel white-btn">
            </div>
        </div>
        <!-- 模拟弹窗结束 -->
    </div>
</div>
<!--父容器结束-->

<script src="../js/jquery.js"></script>
<script src="../js/common.js"></script>
<script src="../js/laydate/laydate.js"></script>
<script src="../js/set.js"></script>
<script>
    //发布公告富文本编辑器和发布时间
    $(function(){
        var ue = UE.getEditor('editor');//富文本编辑器
        laydate.render({//发布时间
          elem: '#expiration_time', //指定元素
          type: 'datetime'
        });
    })
    //后台提交
    $(document).on("click",".setSendSub",function(){
        var sendTitle = $("input[name=title]").val();//获得公告标题
        var editHtml = $("#editor").find("#ueditor_0").contents().find("body").html();//获得富文本编辑器的html片段
        var sendTime = $("#expiration_time").val();
        if (sendTitle == "" || sendTitle == undefined){
            alert("请输入正确的公告标题");
        } else if (editHtml == "<p><br></p>" || editHtml == "<p></p>" || editHtml == undefined){
            alert("请输入正确的公告内容");
        } else if (sendTime == "" || sendTime == undefined) {
            alert("请输入正确的发布时间");
        } else {
            //发起ajax请求
            console.log(sendTitle,editHtml,sendTime);
        }
    })
</script>
</body>
</html>
