<div class="r_mod">
<div class="hd01"><h2><i class="intro_ico"></i>{$main_name[$HM]}</h2></div>
<div class="bd">
	<div class="lh18 px13 pd10">
	{if $video}
	{load('player.js')}
	<div style="width:250px;height:210px;text-align:right;float:right;"><script type="text/javascript">document.write(player('{$video}',240,200,'',1));</script></div>
	{else}
	<img src="{$COM[thumb]}" align="right" style="margin:5px 0 5px 10px;padding:5px;border:#C0C0C0 1px solid;"/>
	{/if}
	{$COM[intro]} [<a href="{userurl($username, 'file=introduce', $domain)}" class="t">详细介绍</a>]
	<div class="c_b"></div>
	</div>
</div>
</div>