<div class="r_mod">
<div class="hd01"><h2><i></i>{$main_name[$HM]}</div>
<div class="bd">
<!--{php $tags=tag("moduleid=5&condition=status>2 and username='$username' and elite=1 and thumb<>''&pagesize=".$main_num[$HM]."&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime,price&template=null");}-->
<div class="product_list"  id="elite" style="height:300px;overflow:hidden;">
<ul>
	{loop $tags $i $t}
		<li>
			<div class="pic"><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}" target="_blank"><img src="{imgurl($t[thumb])}"></a></div>
			<div class="text"><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}" target="_blank">{$t[title]}</a></div>
			<div class="price">{$t[price]}</div>
		</li>
	{/loop}
 </ul>

</div>
</div>
</div>
{load('marquee.js')}
<script type="text/javascript">window.onload = function() {new dmarquee(300, 15, 2000, 'elite');}/* FIX IE6 */</script>