{template 'header', $template}
	<div class="right_side">
<div class="dsn" id="pos_show">您当前的位置：<a href="{$COM[linkurl]}">首页</a> &raquo; <a href="{$MENU[$menuid][linkurl]}">{$MENU[$menuid][name]}</a></div>
<div class="m_b30 con_box">
<div class="r_hd">{$MENU[$menuid][name]}</div>
 <div class="brief_con">
	<div class="px13 lh18">
	<table width="98%" cellpadding="3" cellspacing="3" align="center">
	{loop $lists $k $v}
	{if $k%3==0}<tr align="center">{/if}
	<td width="33%"><a href="{$v[linkurl]}" target="_blank">{$v[title]}</a></td>
	{if $k%3==2}</tr>{/if}
	{/loop}
	</table>
	</div>
	<div class="pages">{$pages}</div>
	</div>
</div>
</div>
{template 'footer', $template}