<!--产品推荐-->
<div class="box w923 mb15">
  <div class="box_tit">
    <h2>{$main_name[$HM]}</h2>
    <a href="{userurl($username, 'file=sell', $domain)}">更多</a>
  </div>
  <div class="box_con">
<!--{php $tags=tag("moduleid=5&condition=status>2 and username='$username' and elite=1 and thumb<>''&pagesize=10&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime&template=null");}-->
    <ul class="piclist">
	{loop $tags $i $t}
	<li><div class="imgmiddle">
	<p><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" target="_blank"><img  src="{imgurl($t[thumb], 100)}" /></a></p></div><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" target="_blank"  class="piclist_txt">{$t[title]}</a></li>
	{/loop}
    </ul>
  </div>
</div>
<!--end-->

