<!--侧栏搜索-->
<div class="sidebox mb15" style="display:none;">
    <div class="box_tit">
    <h2>站内搜索</h2></div>
    <div class="box_con">
    <div class="sidesearch">
    <input type="text" id="key" class="sidesearch_txt" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value=''}" onblur="if(this.value==''){this.value='请输入关键词'}" />
    <input type="button" value="IC/二三极管" class="sidesearch_btn" onclick="search(0)" /> 
    <input type="button" value="元器件" class="sidesearch_btn" onclick="search(1)" />
    </div>
    </div>
</div>
<!--end-->