.dt-article-list .aui-list-item-text .dt-label { margin-right:0.25rem; background:#FFF;}
.dt-article-list span { font-size:0.55rem !important;}
.dt-article-list .aui-list-item-title { font-size:0.8rem !important;}
.dt-article-times span,.dt-article-times i { font-size:0.6rem !important;}