{php $CSS = array('index');}
{template 'header'}
<div id="ipad_tips" style="display:none;"></div>
<div class="index_banner">
	<div class="m">
		<div class="f_l">{ad(20)}</div><!-- 670*70 -->
		<div class="f_r">{ad(21)}</div><!-- 300*70 -->
	</div>
</div>
<div class="m b10">&nbsp;</div>
<div class="m">
	<div class="f_l m_l">
		<div class="mod-show">
			<div class="tabNav ms-yh f_l">
				<a href="{$MODULE[1][linkurl]}"><span id="topad_l_1" class="current">网站首页</span></a> <a href="#"><span id="topad_l_2" class="">原材料市场</span></a> <a href="#"><span id="topad_l_3" class="">工业品市场</span></a> <a href="#"><span id="topad_l_4" class="">服装服饰市场</span></a> <a href="#"><span id="topad_l_5" class="">家居百货市场</span></a> <a href="#"><span id="topad_l_6" class="">小商品市场</span></a> <a href="#"><span id="topad_l_7" class="">商务服务市场</span></a> <a href="#"><span id="topad_l_8" class="">物流信息平台</span></a>
			</div>
			<div class="cont f_r">
				<div id="topad_r_1" class="tabCon" style="display:;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_2" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_3" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_4" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_5" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_6" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_7" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
				<div id="topad_r_8" class="tabCon" style="display: none;">
					<div class="img-area">{ad(22)}</div><!-- 524*245 -->
					<div class="toppic"><ul class="clearfix"><li>{ad(22)}</li><li>{ad(22)}</li><li>{ad(22)}</li><!-- 174*65 --></ul></div>
				</div>
			</div>
		</div>
	</div>
	<div class="f_l m_n">&nbsp;</div>
	<div class="f_l m_r">
		<div class="topinfo">
			<div class="topinfo_head">
				<ul>
					<li class="topinfo_2" id="topinfo_t_1" onmouseover="Tb(1, 4, 'topinfo', 'topinfo');"><a href="{$MODULE[6][linkurl]}">公告</a></li>
					<li class="topinfo_1" id="topinfo_t_2" onmouseover="Tb(2, 4, 'topinfo', 'topinfo');"><a href="{$MODULE[5][linkurl]}">买家指南</a></li>
					<li class="topinfo_1" id="topinfo_t_3" onmouseover="Tb(3, 4, 'topinfo', 'topinfo');"><a href="{$MODULE[22][linkurl]}">卖家入门</a></li>
					<li class="topinfo_1" id="topinfo_t_4" onmouseover="Tb(4, 4, 'topinfo', 'topinfo');"><a href="{$MODULE[22][linkurl]}">安全中心</a></li>
				</ul>
			</div>
			<div class="topinfo_body">
				<div id="topinfo_c_1" style="display:">
					<!--{tag("table=announce&condition=totime=0 or totime>$today_endtime-86400&areaid=$cityid&pagesize=4&order=listorder desc,addtime desc&target=_blank")}-->
				</div>
				<div id="topinfo_c_2" style="display:none">
					<!--{tag("moduleid=21&condition=status=3&areaid=$cityid&pagesize=4&order=addtime desc&target=_blank")}-->
				</div>
				<div id="topinfo_c_3" style="display:none">
					<!--{tag("moduleid=21&condition=status=3&areaid=$cityid&pagesize=4&order=addtime desc&target=_blank")}-->
				</div>
				<div id="topinfo_c_4" style="display:none">
					<!--{tag("moduleid=21&condition=status=3&areaid=$cityid&pagesize=4&order=addtime desc&target=_blank")}-->
				</div>
			</div>
		</div>
		<div class="b5">&nbsp;</div>
		<div class="iuser"><a href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow" class="iuser_l" title="注册">注册</a><a href="{$MODULE[2][linkurl]}{$DT[file_login]}" rel="nofollow" class="iuser_r" title="登录">登录</a><a href="{$MODULE[2][linkurl]}{$DT[file_my]}" rel="nofollow" class="iuser_m" title="发布信息">发布信息</a></div>
		<div class="b5">&nbsp;</div>
		<div class="iService">
			<div class="header"><h3>尊敬的商友用户，您可以：</h3></div>
			<div class="content_is">
			<ul class="clearfix">
			<li><a title="实体认证" class="a-mix" href="{$MODULE[2][linkurl]}edit.php?tab=2"><i class="icon-1"></i><span class="tit">实体认证</span></a></li>
			<li><a title="工商认证" class="a-mix" href="{$MODULE[2][linkurl]}edit.php?tab=2"><i class="icon-2"></i><span class="tit">工商认证</span></a></li>
			<li><a title="发布供求信息" class="a-mix" href="{$MODULE[2][linkurl]}my.php"><i class="icon-3"></i><span class="tit">发布信息</span></a></li>
			<div class="c_b"></div>
			</ul>
			</div>
			<div class="ft">
			<ul class="clearfix">
			<li class="first"><a title="审核订单" class="a-mix" href="{$MODULE[2][linkurl]}trade.php"><i class="icon-1"></i><span class="tit">审核订单</span></a></li>
			<li><a title="查看留言" class="a-mix" href="{$MODULE[2][linkurl]}message.php"><i class="icon-2"></i><span class="tit">查看留言</span></a></li>
			<li><a title="资金管理" class="a-mix" href="{$MODULE[2][linkurl]}record.php"><i class="icon-3"></i><span class="tit">资金管理</span></a></li>
			<li><a title="推广工具" class="a-mix" href="{$EXT[spread_url]}"><i class="icon-4"></i><span class="tit">推广工具</span></a></li>
			<div class="c_b"></div>
			</ul>
			</div>
		</div>
	</div>
</div>
<div class="m b10">&nbsp;</div>
<div class="m">
	<div class="f_l m_l">
		{if $DT[page_catalog]}
			{php $mid = 5;}
			{template 'catalog_2', 'chip'}
		{/if}
	</div>
	<div class="f_l m_n">&nbsp;</div>
	<div class="f_l m_r">
		<div>{ad(20)}</div><!-- 300*180 -->
		<div class="b10">&nbsp;</div>
		<div class="idx_special">
			<div class="idx_special_head"><h3><a href="{$MODULE[11][linkurl]}">今日产品推荐</a></h3></div>
			<div class="idx_special_body">
				{ad(173)}
				{ad(174)}
				{ad(175)}
			</div>
		</div>
		<div class="b10">&nbsp;</div>
		<div class="idx_b2b">
			<div class="idx_b2b_head">
				<h3>今日市场动态</h3>
				<ul class="clearfix f_l">
					<li class="tab_2" id="trade_t_1" onMouseOver="Tb(1, 3, 'trade', 'tab');"><a href="{$MODULE[6][linkurl]}">求购</a></li>
					<li class="tab_1" id="trade_t_2" onMouseOver="Tb(2, 3, 'trade', 'tab');"><a href="{$MODULE[5][linkurl]}">供应</a></li>
					<li class="tab_1" id="trade_t_3" onMouseOver="Tb(3, 3, 'trade', 'tab');"><a href="{$MODULE[8][linkurl]}">展会</a></li>
				</ul>
			</div>
			<div class="idx_b2b_body">
				<div id="trade_c_1" class="itrade" style="display:">
				<!--{php $tags=tag("moduleid=6&condition=status=3&areaid=$cityid&pagesize=".$DT['page_trade']."&datetype=2&target=_blank&order=addtime desc&class=dot&template=null")}-->
				<ul class="clearfix">
				{loop $tags $i $t}
				<li>{if $datetype} <span class="date"> {timetodate($t[addtime], $datetype)}</span>{/if}{if $class}<i class="{$class}">&middot;</i>{/if}{if $showcat}【<a href="{$t[caturl]}">{$t[catname]}</a>】{/if}<a href="{$t[linkurl]}"{if $target} target="{$target}"{/if} title="{$t[alt]}">{$t[title]}</a></li>
				{/loop}
				</ul>
				</div>
				<div id="trade_c_2" class="itrade" style="display:none">
				<!--{php $tags=tag("moduleid=5&condition=status=3&areaid=$cityid&pagesize=".$DT['page_trade']."&datetype=2&target=_blank&order=addtime desc&class=dot&template=null")}-->
				<ul class="clearfix">
				{loop $tags $i $t}
				<li>{if $datetype} <span class="date"> {timetodate($t[addtime], $datetype)}</span>{/if}{if $class}<i class="{$class}">&middot;</i>{/if}{if $showcat}【<a href="{$t[caturl]}">{$t[catname]}</a>】{/if}<a href="{$t[linkurl]}"{if $target} target="{$target}"{/if} title="{$t[alt]}">{$t[title]}</a></li>
				{/loop}
				</ul>
				</div>
				<div id="trade_c_3" class="itrade" style="display:none">
				<!--{php $tags=tag("moduleid=8&condition=status=3&areaid=$cityid&pagesize=".$DT['page_trade']."&datetype=2&target=_blank&order=addtime desc&class=dot&template=null")}-->
				<ul class="clearfix">
				{loop $tags $i $t}
				<li>{if $datetype} <span class="date"> {timetodate($t[addtime], $datetype)}</span>{/if}{if $class}<i class="{$class}">&middot;</i>{/if}{if $showcat}【<a href="{$t[caturl]}">{$t[catname]}</a>】{/if}<a href="{$t[linkurl]}"{if $target} target="{$target}"{/if} title="{$t[alt]}">{$t[title]}</a></li>
				{/loop}
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="m b10">&nbsp;</div>
<div class="m">
	<div class="index_box_head">
		<h3 class="ms-yh">行业市场</h3>
		<div class="head_right_cat">
			 {if isset($MODULE[5])}<a href="{$MODULE[5][linkurl]}">{$MODULE[5][name]}</a> &nbsp;|&nbsp;{/if}
			 {if isset($MODULE[6])}<a href="{$MODULE[6][linkurl]}">{$MODULE[6][name]}</a> &nbsp;|&nbsp;{/if}
			 {if isset($MODULE[22])}<a href="{$MODULE[22][linkurl]}">{$MODULE[22][name]}</a> &nbsp;|&nbsp;{/if}
			 {if isset($MODULE[16])}<a href="{$MODULE[16][linkurl]}">{$MODULE[16][name]}</a> &nbsp;|&nbsp;{/if}
			 {if isset($MODULE[17])}<a href="{$MODULE[17][linkurl]}">{$MODULE[17][name]}</a> &nbsp;|&nbsp;{/if}
			 {if isset($MODULE[7])}<a href="{$MODULE[7][linkurl]}">{$MODULE[7][name]}</a> &nbsp;|&nbsp;{/if}
			 <a href="{$MODULE[4][linkurl]}">{$MODULE[4][name]}</a>
		</div>
	</div>
	<div class="index_box_body">
		<div class="f_l m_l">
			<div class="idx_mall_head">
				<ul class="clearfix">
					<li class="mall_2" id="mall_t_1" onMouseOver="Tb(1, 3, 'mall', 'mall');"><a href="{$MODULE[5][linkurl]}">热门产品</a></li>
					<li class="mall_1" id="mall_t_2" onMouseOver="Tb(2, 3, 'mall', 'mall');"><a href="{$MODULE[5][linkurl]}">推荐产品</a></li>
					<li class="mall_1" id="mall_t_3" onMouseOver="Tb(3, 3, 'mall', 'mall');"><a href="{$MODULE[16][linkurl]}">商城热卖</a></li>
					<div class="c_b"></div>
				</ul>
			</div>
			<div class="idx_mall_body">
				<div id="mall_c_1" class="in_mall" style="display:">
				<!--{php $tags=tag("moduleid=5&length=36&condition=status=3 and level>0 and thumb<>''&areaid=$cityid&pagesize=".$DT['page_sell']."&order=addtime desc&width=80&height=60&cols=5&target=_blank&lazy=$lazy&template=null")}-->
				<ul class="clearfix">
					{loop $tags $i $t}
					<li {if $i%$cols==($cols-1)} class="last"{/if}>
						<dl>
							<dt class="vertical-img"><a title="{$t[alt]}" class="box-img" href="{$t[linkurl]}"{if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a></dt>
							<dd>
								<h5><a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a></h5>
								{if $t[price]}<p class="price">￥<span>{$t[price]}</span></p>{/if}
								<p class="name"><a title="{$t[company]}" href="{userurl($t[username])}" {if $target} target="{$target}"{/if}>{$t[company]}</a></p>
							</dd>
						</dl>
					</li>
					{/loop}
					</ul>
				</div>
				<div id="mall_c_2" class="in_mall" style="display:none">
				<!--{php $tags=tag("moduleid=5&length=36&condition=status=3 and level>0 and thumb<>''&areaid=$cityid&pagesize=".$DT['page_sell']."&order=addtime desc&width=80&height=60&cols=5&target=_blank&lazy=$lazy&template=null")}-->
				<ul class="clearfix">
					{loop $tags $i $t}
					<li {if $i%$cols==($cols-1)} class="last"{/if}>
						<dl>
							<dt class="vertical-img"><a title="{$t[alt]}" class="box-img" href="{$t[linkurl]}"{if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a></dt>
							<dd>
								<h5><a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a></h5>
								{if $t[price]}<p class="price">￥<span>{$t[price]}</span></p>{/if}
								<p class="name"><a title="{$t[company]}" href="{userurl($t[username])}" {if $target} target="{$target}"{/if}>{$t[company]}</a></p>
							</dd>
						</dl>
					</li>
					{/loop}
					</ul>
				</div>
				<div id="mall_c_3" class="in_mall" style="display:none">
				<!--{php $tags=tag("moduleid=16&length=36&condition=status=3&areaid=$cityid&pagesize=".$DT['page_mall']."&order=orders desc&width=80&height=60&cols=5&target=_blank&lazy=$lazy&template=null")}-->
				<ul class="clearfix">
					{loop $tags $i $t}
					<li {if $i%$cols==($cols-1)} class="last"{/if}>
						<dl>
							<dt class="vertical-img"><a title="{$t[alt]}" class="box-img" href="{$t[linkurl]}"{if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a></dt>
							<dd>
								<h5><a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a></h5>
								{if $t[price]}<p class="price">￥<span>{$t[price]}</span></p>{/if}
								<p class="name"><a title="{$t[company]}" href="{userurl($t[username])}" {if $target} target="{$target}"{/if}>{$t[company]}</a></p>
							</dd>
						</dl>
					</li>
					{/loop}
					</ul>
				</div>
			</div>
		</div>
		<div class="f_r m_r">
			<div class="ibox_head">
				<a href="{$MODULE[4][linkurl]}"><strong>企业展示</strong></a>
			</div>
			<div class="f_gray">
				<div style="height:285px;overflow:hidden;" id="company">
				<!--{php $yags=tag("moduleid=4&condition=vip>0 and catids<>''&areaid=$cityid&pagesize=".$DT[page_com]."&order=fromtime desc&template=null")}-->
				<ul>
				{loop $tags $t}
				<li><span class="f_r f_gray">{area_pos($t[areaid], '/', 1)}</span><i class="dot">&middot;</i><a href="{$t[linkurl]}" target="_blank">{$t[company]}</a></li>
				{/loop}
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="m b10">&nbsp;</div>
<div class="m">
	<div class="index_box_head">
		<h3 class="ms-yh">资讯中心</h3>
		<div class="head_right_cat">
			 <!--{php $tags=tag("table=category&condition=moduleid=21 and parentid=0&pagesize=10&order=listorder,catid&template=null");}-->
			{loop $tags $i $t}{if $i} &nbsp;|&nbsp; {/if}<a href="{$MODULE[21][linkurl]}{$t[linkurl]}">{$t[catname]}</a>{/loop}
		</div>
	</div>
	<div class="index_box_body">
		<div class="f_l m_l">
			<div class="inews f_l">
				<div class="mod-header"><h3><a href="{$MODULE[21][linkurl]}">今日焦点</a></h3></div>
				<div class="clearfix">
					<div class="img-news f_l">
						<!--{php $tags=tag("moduleid=21&condition=status=3 and level=3&pagesize=2&order=addtime desc&width=130&height=85&cols=1&target=_blank&lazy=$lazy&template=null")}-->
						<ul class="clearfix">
						{loop $tags $i $t}
						<li {if $i%$cols==($cols-1)} class="last"{/if}>
							<dl>
								<dt class="vertical-img"><a class="box-img" href="{$t[linkurl]}"{if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a></dt>
								<dd>{if $length}<a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a>{/if}</dd>
							</dl>
						</li>
						{/loop}
						</ul>
					</div>
					<div class="top-news f_l">
						<!--{php $tags=tag("moduleid=21&condition=status=3 and level>0&pagesize=18&order=addtime desc&q=1&template=null")}-->
						<ul>
						{loop $tags $i $t}
						{if $i==0 || $i==9}{if $i==9}</ul><ul class="mt7">{/if}<li class="hx"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
						{else}
						{if $i<9}
						{if $i%2==0}&nbsp;&nbsp;<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>{/if}
						{if $i%2==1}<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>{/if}
						{/if}

						{if $i>9}
						{if $i%2==0}<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>{/if}
						{if $i%2==1}&nbsp;&nbsp;<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>{/if}
						{/if}
						{/if}
						{/loop}
						</ul>
					</div>
				</div>
			</div>
			{if $DT[page_photo] && isset($MODULE[12])}
			<div class="iphoto f_l">
				<div class="mod-header"><h3><a href="{$MODULE[12][linkurl]}">精彩图库</a></h3></div>
				<div class="iphoto_content">
					<!--{php $tags=tag("moduleid=12&condition=status=3 and open=3 and level>0&pagesize=".$DT['page_photo']."&order=addtime desc&width=220&height=115&cols=1&target=_blank&lazy=$lazy&template=null")}-->
					<ul class="clearfix">
					{loop $tags $i $t}
					<li {if $i%$cols==($cols-1)} class="last"{/if}>
						<dl>
							<dt class="vertical-img"><a class="box-img" href="{$t[linkurl]}"{if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a></dt>
							<dd>{if $length}<a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a>{/if}</dd>
						</dl>
					</li>
					{/loop}
					</ul>
				</div>
			</div>
			{/if}
			{if $DT[page_video] && isset($MODULE[14])}
			<div class="ivideo f_l">
				<div class="mod-header"><h3><a href="{$MODULE[14][linkurl]}">行业视频</a></h3></div>
				<div class="ivideo_content">
					<!--{php $tags=tag("moduleid=14&length=20&condition=status=3 and level=3 &pagesize=5&order=addtime desc&width=122&height=80&cols=5&target=_blank&lazy=$lazy&template=null")}-->
					<ul class="clearfix">
					{loop $tags $i $t}
					<li {if $i%$cols==($cols-1)} class="last"{/if}>
						<dl>
							<dt class="vertical-img"><a class="box-img" href="{$t[linkurl]}"{if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a></dt>
							<dd>{if $length}<a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a>{/if}</dd>
						</dl>
					</li>
					{/loop}
					</ul>
				</div>
			</div>
			{/if}
		</div>
		<div class="f_r m_r">
			{if $DT[page_rank] && isset($MODULE[21])}
			<div class="ibox_head">
				<a href="{$MODULE[21][linkurl]}"><strong>资讯排行</strong></a>
			</div>
			<div class="rank_list"><!--{php $tags=tag("moduleid=21&condition=status=3&areaid=$cityid&order=hits desc&pagesize=".$DT[page_rank]."&template=null");}-->			
			<ul>
			{loop $tags $t}
			<li style="height:23px;line-height:23px;"><span class="f_r px11 f_gray">{$t[hits]}</span><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
			{/loop}
			</ul>
			</div>
			<div class="b10">&nbsp;</div>
			{/if}
			{if $DT[page_comnews]}
			<div class="ibox_head">
				<a href="{$MODULE[4][linkurl]}{rewrite('news.php?more=1')}"><strong>企业新闻</strong></a>
			</div>
			<div class="f_gray">
			<!--{php $tags=tag("table=news&condition=status=3 and level>0&pagesize=".$DT[page_comnews]."&datetype=2&class=dot&order=addtime desc&target=_blank&template=null")}-->
			<ul class="clearfix">
			{loop $tags $i $t}
			<li>{if $datetype} <span class="date"> {timetodate($t[addtime], $datetype)}</span>{/if}{if $class}<i class="{$class}">&middot;</i>{/if}{if $showcat}【<a href="{$t[caturl]}">{$t[catname]}</a>】{/if}<a href="{$t[linkurl]}"{if $target} target="{$target}"{/if} title="{$t[alt]}">{$t[title]}</a></li>
			{/loop}
			</ul>
			</div>
			<div class="b10">&nbsp;</div>
			{/if}
		</div>
	</div>
</div>
<div class="m b10">&nbsp;</div>
<div class="m">
	<div class="index_box_head">
		<h3 class="ms-yh">商友社区</h3>
		<div class="head_right_cat">
			 <!--{php $tags=tag("table=category&condition=moduleid=21 and parentid=0&pagesize=10&order=listorder,catid&template=null");}-->
			{loop $tags $i $t}{if $i} &nbsp;|&nbsp; {/if}<a href="{$MODULE[21][linkurl]}{$t[linkurl]}">{$t[catname]}</a>{/loop}
		</div>
	</div>
	<div class="index_box_body">
		<div class="f_l m_l">
			<div class="bbs-area">
				<div class="bbs-nav">
					<ul class="clearfix">
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_club_txt_17');" >创业论坛</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_club_txt_18');" >订单来敲门</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_club_txt_19');">电商宝典</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_club_txt_20');" >创业明星</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_baike_txt_05');" >转型之痛</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_baike_txt_06');" >创业路上</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_wenku_txt_05');">致富项目</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_wenku_txt_06');" >万元创业</a></li>
					<li><a onMouseDown="return aliclick(this,'?tracelog=cnindex_wenku_txt_07');">地摊商机</a></li>
					</ul>
				</div>
				<div class="article-left bbs-area-list">
					<!--{php $tags=tag("moduleid=21&condition=status=3 and level>0 and thumb<>''&pagesize=6&order=addtime desc&template=null")}-->
					{loop $tags $i $t}
						{if $i==0 || $i==3}
							<div class="img-hold {if $i==3}mt20{/if}">
								<a class="a-mix" title="{$t[title]}" href="{$t[linkurl]}"><img width="212" height="108" alt="{$t[title]}" src="{$t[thumb]}">
								<div class="description"></div>
								<span class="text">{$t[title]}</span></a>
							</div>
						{else}
						{if $i==1 || $i==4}<ul><li><a class="orange" href="{$t[linkurl]}">{$t[title]}</a></li>{/if}
						{if $i==2 || $i==5}<li><a href="{$t[linkurl]}">{$t[title]}</a></li></ul>{/if}
						{/if}
					{/loop}
	            </div>
				<div class="article-middle bbs-area-list">
					<!--{php $tags=tag("moduleid=21&condition=status=3 and level>0 and thumb<>''&pagesize=6&offset=6&order=addtime desc&template=null")}-->
					{loop $tags $i $t}
						{if $i==0 || $i==3}
							<div class="img-hold {if $i==3}mt20{/if}">
								<a class="a-mix" title="{$t[title]}" href="{$t[linkurl]}"><img width="212" height="108" alt="{$t[title]}" src="{$t[thumb]}">
								<div class="description"></div>
								<span class="text">{$t[title]}</span></a>
							</div>
						{else}
						{if $i==1 || $i==4}<ul><li><a class="orange" href="{$t[linkurl]}">{$t[title]}</a></li>{/if}
						{if $i==2 || $i==5}<li><a href="{$t[linkurl]}">{$t[title]}</a></li></ul>{/if}
						{/if}
					{/loop}
				</div>
				<div class="article-right bbs-area-list">
					<!--{php $tags=tag("moduleid=21&condition=status=3 and level>0 and thumb<>''&pagesize=6&offset=12&order=addtime desc&template=null")}-->
					{loop $tags $i $t}
						{if $i==0 || $i==3}
							<div class="img-hold {if $i==3}mt20{/if}">
								<a class="a-mix" title="{$t[title]}" href="{$t[linkurl]}"><img width="212" height="108" alt="{$t[title]}" src="{$t[thumb]}">
								<div class="description"></div>
								<span class="text">{$t[title]}</span></a>
							</div>
						{else}
						{if $i==1 || $i==4}<ul><li><a class="orange" href="{$t[linkurl]}">{$t[title]}</a></li>{/if}
						{if $i==2 || $i==5}<li><a href="{$t[linkurl]}">{$t[title]}</a></li></ul>{/if}
						{/if}
					{/loop}
				</div>
			</div>
		</div>
		<div class="f_r m_r">
			<div class="ispread">
				<div class="ibox_head"><a href="{$EXT[spread_url]}"><strong>排名推广</strong></a></div>
				<dl class="clearfix">
					<dt></dt>
					<dd>
						<ul>
							<!--{php $tags=tag("table=spread&condition=status=3 and company<>''&pagesize=20&order=addtime desc&template=null");}-->
							{loop $tags $t}
							<li><span class="f_r"><span class="new_price">{$t[price]}{$unit}</span></span><a href="{$EXT[spread_url]}{rewrite('index.php?kw='.urlencode($t['word']))}">{$t[word]}</a> <span class="f_gray">{$t[company]}</span></li>
							{/loop}
						</ul>
					</dd>
				</dl></div>
				{if $DT[page_rank] && isset($MODULE[21])}
			<div class="ibox_head">
				<a href="{$MODULE[5][linkurl]}"><strong>产品排行</strong></a>
			</div>
			<div class="rank_list"><!--{php $tags=tag("moduleid=5&condition=status=3&areaid=$cityid&order=hits desc&pagesize=".$DT[page_rank]."&template=null");}-->			
			<ul>
			{loop $tags $t}
			<li style="height:23px;line-height:23px;"><span class="f_r px11 f_gray">{$t[hits]}</span><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
			{/loop}
			</ul>
			</div>
			<div class="b10">&nbsp;</div>
			{/if}
			</div>
		</div>
	</div>
</div>
<div class="m b10">&nbsp;</div>
<div class="m">
	<div class="index_box_head">
		<h3 class="ms-yh">企业服务</h3>
		<div class="head_right_cat">
			{if isset($MODULE[10])}<a href="{$MODULE[10][linkurl]}">{$MODULE[10][name]}</a> &nbsp;|&nbsp;{/if}
			{if isset($MODULE[8])}<a href="{$MODULE[8][linkurl]}">{$MODULE[8][name]}</a> &nbsp;|&nbsp;{/if}
			{if isset($MODULE[13])}<a href="{$MODULE[13][linkurl]}">{$MODULE[13][name]}</a> &nbsp;|&nbsp;{/if}
			{if isset($MODULE[9])}<a href="{$MODULE[9][linkurl]}">{$MODULE[9][name]}</a> &nbsp;|&nbsp;{/if}
			{if isset($MODULE[15])}<a href="{$MODULE[15][linkurl]}">{$MODULE[15][name]}</a> &nbsp;|&nbsp;{/if}
			{if $EXT[ad_enable]}<a href="{$EXT[ad_url]}">广告</a> &nbsp;|&nbsp;{/if}
			<a href="{$EXT[spread_url]}">推广</a>
		</div>
	</div>
	<div class="index_box_body">
		<div class="f_l m_l">
			{if $DT[page_exhibit] && isset($MODULE[8])}
				<div class="iexhibit clearfix">
					<div class="hide"><a href="{$MODULE[8][linkurl]}">展会</a></div>
					<div class="iexhibit_l f_l">
						<!--{php $tags=tag("moduleid=8&condition=status=3 and thumb<>''  and level>0&areaid=$cityid&pagesize=2&order=addtime desc&lazy=$lazy&template=null");}-->
						<ul class="clrli">
							{loop $tags $t}
                            <li>
							<a class="a-img" href="{$t[linkurl]}"><img width="96" height="82" alt="{$t[alt]}" src="{$t[thumb]}"></a>
							<h5><a target="_blank" title="{$t[alt]}" href="{$t[linkurl]}">{$t[title]}</a></h5>
							<p>展会地点：[{$t[city]}] {$t[address]}</p>
							<p>展会时间：{timetodate($t[fromtime], 3)} ~ {timetodate($t[totime], 3)}</p>
							<p>主办机构：{dsubstr($t[sponsor], 20, '...')}&nbsp;&nbsp;<a target="_blank" href="{$t[linkurl]}">[详细]</a></p>
							<div class="c_b"></div>
							</li>
							{/loop}
						</ul>
					</div>
					<div class="iexhibit_r f_l">
						<!--{php $tags=tag("moduleid=8&condition=status=3 and level>0&areaid=$cityid&pagesize=".$DT['page_exhibit']."&order=addtime desc&template=null");}-->
						<ul class="clrli">
						{loop $tags $t}
						<li title="{$t[alt]} {timetodate($t[fromtime], 'Y年m月d日')}"><span class="f_r">&nbsp;&nbsp;[{$t[city]}]</span><i class="dot">&middot;</i><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
						{/loop}
						</ul>
					</div>
				</div>
			{/if}
			{if $DT[page_job] && isset($MODULE[9])}
				<div class="ijob clearfix">
					<div class="cont f_l">
						<!--{php $tags=tag("moduleid=9&condition=status=3&areaid=$cityid&pagesize=".$DT['page_job']."&length=30&order=edittime desc&words=20&template=null")}-->
						<ul class="clearfix">
						{loop $tags $i $t}
						<li><i class="dot">&middot;</i><a class="company" title="{$t[company]}" href="{userurl($t[username])}" {if $target} target="{$target}"{/if}>{dsubstr($t[company], $words, '…')}</a>&nbsp;<em>聘</em>&nbsp;<a class="" href="{$t[linkurl]}" {if $target} target="{$target}"{/if} title="{$t[alt]}">{$t[title]}</a>
						</li>
						{/loop}
						</ul>
					</div>
					<div class="idxResume hover-li f_l">
						<!--{php $tags=tag("moduleid=9&table=resume&condition=status=3 and thumb<>'' and open=3 and level>0&areaid=$cityid&showcat=1&pagesize=8&order=edittime desc&template=null")}-->
						<ul class="clearfix">
						{loop $tags $i $t}
						<li><a class="a-img" href="{$t[linkurl]}" {if $target} target="{$target}"{/if}><img src="{$t[thumb]}" width="{$width}" height="{$height}" alt="{$t[alt]}"/></a><div></div><a class="btn" href="{$t[linkurl]}" {if $target} target="{$target}"{/if}>雇用我</a></li>
						{/loop}
						</ul>
					</div>
				</div>
			{/if}
		</div>
		<div class="f_l m_n">&nbsp;</div>
		<div class="f_l m_r">
			{if $DT[page_know] && isset($MODULE[10])}
			<div class="ibox_head">
				<a href="{$MODULE[10][linkurl]}"><strong>知道</strong></a>
			</div>
			<div class="know">
				<!--{php $tags=tag("moduleid=10&condition=status=3 and process>0 and credit>0&pagesize=".$DT[page_know]."&order=addtime desc&template=null");}-->
				<ul>
				{loop $tags $t}
				<li><span class="f_r">{timetodate($t[addtime], 2)}</span><span class="know_credit">{$t[credit]}</span> <a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
				{/loop}
				</ul>
			</div>
			<div class="b10">&nbsp;</div>
			{/if}
			{if $DT[page_brand] && isset($MODULE[13])}
			<div class="ibox_head">
				<a href="{$MODULE[13][linkurl]}"><strong>品牌</strong></a>
			</div>
			<div class="thumb"><!--{tag("moduleid=13&condition=status=3 and level>0&areaid=$cityid&pagesize=".$DT['page_brand']."&order=addtime desc&width=120&height=40&cols=2&target=_blank&lazy=$lazy&template=thumb-brand")}--></div>
			{/if}
		</div>
	</div>
</div>
<div class="m b10"></div>
{if $DT[page_logo] || $DT[page_text]}
<div class="m">
	<div class="tab_head">
	<span class="f_r f_n px12"><a href="{$MODULE[3][linkurl]}shortcut.php" rel="nofollow" class="g">保存本站桌面快捷方式 &darr;</a>&nbsp;&nbsp;&nbsp;</span>
	<ul>
		<li class="tab_2"><a href="{$EXT[link_url]}">友情链接</a></li>
		<li class="tab_1"><a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}">申请链接</a></li>
	</ul>
	</div>
	<div class="box_body">
	{if $DT[page_logo]}
	<!--{tag("table=link&condition=status=3 and level>0 and thumb<>'' and username=''&areaid=$cityid&pagesize=".$DT['page_logo']."&order=listorder desc,itemid desc&lazy=$lazy&template=list-link&cols=9")}-->
	{/if}
	{if $DT[page_text]}
	<!--{tag("table=link&condition=status=3 and level>0 and thumb='' and username=''&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder desc,itemid desc&template=list-link&cols=9")}-->
	{/if}
	</div>
</div>
{/if}
<script type="text/javascript" src="{DT_STATIC}file/script/index.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/marquee.js"></script>
<script type="text/javascript">
new dmarquee(22, 10, 3000, 'site_stats');
new dmarquee(22, 30, 3000, 'company');
if(get_cookie('auth')) {
	$('.iuser_l')[0].title = '商务中心';
	$('.iuser_l')[0].href = '{$MODULE[2][linkurl]}';
	$('.iuser_l')[0].className = 'iuser_u';
	$('.iuser_r')[0].title = '完善我的会员资料';
	$('.iuser_r')[0].href = '{$MODULE[2][linkurl]}edit.php';
	$('.iuser_r')[0].className = 'iuser_e';
}
</script>
{template 'footer'}