@charset "utf-8";

.indexTitle {
    font-size: 16px;
    color: #494949;
    font-weight:700;
    padding-top: 30px;
    padding-left: 64px;
}
.indexBigbox {
    margin-left: 56px;
    margin-top: 25px;
}
.indexBox {
    float: left;
    height: 240px;
    width: 470px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 22px;
}
.indexBox>p {
    font-size: 16px;
    color: #a0acb4;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 44px;
}
.indexBox>span {
    display: block;
    font-size: 16px;
    color: #1da1f2;
    text-align: center;
}
.indexBox>span>span {
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
}
.indexBox>span>em {
    font-size: 36px;
    font-weight:700;
    margin-left: 32px;
    margin-right: 22px;
}
.boxImg-1 {
    /*margin-top: 5px;*/
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    width: 40px;
    height: 40px;
    background:url("../Images/home_icon_dailishang.png") no-repeat;
}
.boxImg-2 {
    background:url("../Images/home_icon_huiyuan.png") no-repeat;
}
.boxImg-3 {
    background:url("../Images/home_icon_jiner.png") no-repeat;
}
.Boxcenter {
    margin-right: 38px;
    margin-left: 38px;
}
.indexBox2 {
    float: left;
    height: 330px;
    width: 470px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 22px;
}
.indexBox2>p {
    font-size: 16px;
    color: #a0acb4;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 24px;
}
.indexBox2>span {
    display: block;
    font-size: 16px;
    color: #1da1f2;
    text-align: center;
}
.indexBox2>span>span {
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
}
.indexBox2>span>em {
    font-size: 36px;
    font-weight:700;
    margin-left: 32px;
    margin-right: 22px;
}
#main {
    width: 100%;
    height:205px;
}
#main2{
     width: 100%;
     height:205px;
 }
#main3 {
     width: 100%;
     height:205px;
 }
/*媒体查询开始*/
@media screen and (max-width: 1880px){
    .indexTitle {
        font-size: 12px;
    }
    .indexBox {
        width: 31%;
        height: 160px;
    }
    .indexBox>p {
        font-size: 12px;
    }
    .indexBox>span {
        font-size: 12px;
    }
    .indexBox>span>em {
        margin-left: 10px;
        margin-right: 12px;
        font-size: 24px;
    }
    .indexBox>p {
        padding-top:28px;
        padding-bottom: 34px;
    }
    .boxImg-1 {
        margin-top: 0;
    }
    .indexBox>span>span {
        margin-top: 10px;
    }
    .boxImg-1 {
        background-size: 80%;
    }
    .indexBox2 {
        width:31%;
        height: 230px;
    }
    .Boxcenter {
        margin-right: 24px;
        margin-left: 24px;
    }
    .indexBox2>p {
        font-size: 12px;
    }
    .indexBox2>span {
        font-size: 12px;
    }
    .indexBox2>span>em {
        margin-left: 10px;
        margin-right: 12px;
        font-size: 24px;
    }
    .indexBox2>p {
        padding-top:22px;
        padding-bottom: 14px;
    }
    #main {
        height:182px;
        top: -20px;
    }
    #main2 {
        height:182px;
        top: -40px;
    }
    #main3 {
        height:182px;
        top: -40px;
    }
    .indexBigbox {
        margin-left: 36px;
        margin-top: 14px;
    }
    .indexBox2>span>span {
        margin-top: 10px;
    }
}
/*媒体查询结束*/