<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>忘记密码</title>
		<link rel="stylesheet" href="../../css/common.css" />
	    <link rel="stylesheet" href="../../css/setPassword.css" />
	</head>
	<body class="setBody" style="min-height: 850px;">
		<div class="Setpwd-box">
			<!--头部开始-->
	        <div class="SetpwdTop">
	            <a href="index.html" class="logo"></a>
	            <p>找回密码</p>
	        </div>
	        <!--头部结束-->
	        <div class="Setpwd_status_box">
	        	<div class="Setpwd_status">
	        		<ul class="fl">
	        			<li class="fl active">
	        				<span class="span_cr1">1</span>
	        				<span class="span_tips1">填写用户名</span>
	        				<span class="span_lineboder1"></span>
	        			</li>
	        			<li class="fl">
	        				<span class="span_cr1">2</span>
	        				<span class="span_tips1">验证身份</span>
	        				<span class="span_lineboder1"></span>
	        			</li>
	        			<li class="fl">
	        				<span class="span_cr1">3</span>
	        				<span class="span_tips1">设置新密码</span>
	        				<span class="span_lineboder1"></span>
	        			</li>
	        			<li class="fl">
	        				<span class="span_cr1">4</span>
	        				<span class="span_tips1">完成</span>
	        			</li>
	        		</ul>
	        	</div>
	        	<div class="login_Tips">
	        		<span>已有雀搜账号</span>
	        		<a href="login.html">登录></a>
	        	</div>
	        </div>
        	<!--表单开始-->
        	<div class="Setpwd_form">
        		<div class="one-cell1 error_code1">
        			<span class="error_code1_bg"></span>
        			<div class="error_msg1_tips"></div>
        		</div>
        		<div class="one-cell1">
        			<span class="username_code1_bg"></span>
        			<i class="line_bdr"></i>
        			<input type="text" class="input_cell_1 user_name1" placeholder="请输入您的用户名/邮箱"/>
        		</div>
        		<div class="code-cell1">
        			<input type="text" class="input_cell_1 vcode_1" maxlength="4" placeholder="请输入验证码"/>
        			<img class="vcode_img1" src="../../Images/code_num.png" alt="" data-val="4542"/>
        		</div>
        		<!--下一步按钮-->
        		<div class="Next_button">
        			下一步
        		</div>
        	</div>
        	<!--表单结束-->
		</div>
	    
       	<!--底部开始-->
	    <div class="RegBottom">
	        <ul>
	            <li class="li1"><span><i>客服电话： 400-8088770 | 9:00-18:30</i></span></li>
	            <li class="li2"><span><i>关于我们</i></span></li>
	            <li class="li3"><span><i>雀搜微信公众号 : 雀搜</i></span></li>
	        </ul>
	    </div>
	    <!--底部结束-->
		<script src="../../js/jquery.js"></script>
		<script>
			$(function(){
				getHeight();//获取高度
				
				$(window).resize(function(){
					getHeight();//获取高度
				})
				
				//为下一步按钮绑定单击事件
				$(document).on("click",".Next_button",function(){
					checkAll();
				})
				
				//为用户输入获取焦点事件监听（用户名）
				$(document).on("focus",".input_cell_1",function(){
					$(this).parents(".one-cell1").addClass("focus");
				})
				
				//为用户输入失去焦点事件监听（用户名）
				$(document).on("blur",".input_cell_1",function(){
					$(this).parents(".one-cell1").removeClass("focus");
				})
				
				//为用户输入获取焦点事件监听（验证码）
				$(document).on("focus",".vcode_1",function(){
					$(this).addClass("focus");
				})
				
				//为用户输入失去焦点事件监听（验证码）
				$(document).on("blur",".vcode_1",function(){
					$(this).removeClass("focus");
				})
			})
			
			function checkAll(){
				var user_name = $(".user_name1").val();
				var vcode_num = $(".vcode_1").val();
				var vcode_val = $(".vcode_img1").attr("data-val");
				if(user_name.length > 0) {
					console.log(111);
					$(".user_name1").parents(".one-cell1").removeClass("error");
				}
				if(vcode_num.length > 0) {
					console.log(222);
					$(".vcode_1").removeClass("error");
				}
				if(user_name == "" || user_name == undefined){
					$(".error_code1").show().find(".error_msg1_tips").text("请输入您的用户名");
					$(".user_name1").parents(".one-cell1").addClass("error");
				}else if(vcode_num == "" || vcode_num == undefined){
					$(".error_code1").show().find(".error_msg1_tips").text("请输入您的验证码");
					$(".vcode_1").addClass("error");
				}else if(vcode_num!=vcode_val){
					$(".error_code1").show().find(".error_msg1_tips").text("您输入的验证码有误");
					$(".vcode_1").addClass("error");
				}else{
					$(".error_code1").hide().find(".error_msg1_tips").text("");
					console.log(user_name,vcode_num,vcode_val);//发起ajax
					location.href="set-password2.html";
				}
			}
			
			function getHeight(){
				var winH = $(window).height();
				$(".setBody").height(winH);
			}
		</script>
	</body>
</html>