/**public公共样式表**/
/**作者:sergiolin**/
/**创建于:2016.11.08**/
/*此项目有三个CSS文件：
	*base.css是css reset以及通用CSS样式库，
	*public.css是此项目基础结构样式以及统一的设计风格样式库
	*pages.css是单个页面的精细样式
*/
/*通用小图标样式库  */
/*sprite精灵图片*/
.sprite {
	background-image: url(spritesheet.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.sprite-___03 {
	width: 46px;
	height: 46px;
	background-position: -5px -5px;
}
.sprite-___06 {
	width: 46px;
	height: 46px;
	background-position: -5px -61px;
}
.sprite-___09 {
	width: 46px;
	height: 46px;
	background-position: -5px -117px;
}
.sprite-___15 {
	width: 46px;
	height: 46px;
	background-position: -5px -173px;
}
.sprite-___18 {
	width: 46px;
	height: 46px;
	background-position: -5px -229px;
}
.sprite-___21 {
	width: 46px;
	height: 46px;
	background-position: -5px -285px;
}
.sprite-___27 {
	width: 46px;
	height: 46px;
	background-position: -5px -341px;
}
.sprite-___30 {
	width: 46px;
	height: 46px;
	background-position: -5px -397px;
}
.sprite-___33 {
	width: 46px;
	height: 46px;
	background-position: -5px -453px;
}
.sprite-___38 {
	width: 46px;
	height: 46px;
	background-position: -5px -509px;
}
.sprite-___40 {
	width: 46px;
	height: 46px;
	background-position: -5px -565px;
}
.sprite-___43 {
	width: 46px;
	height: 46px;
	background-position: -5px -621px;
}
/*icon*/
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.icon7,.icon8,.icon9,.icon10,.icon11,.icon12,.icon13,.icon14,.icon15,.icon16,.icon17,.icon18,.icon19,.icon20{
	background:url(../images/icon.png) no-repeat top left;
	padding:3px 0px 3px 30px;
	background-size:20px auto;
}
.icon1{
	background-position:right 7px;
	padding-left:0px;
	padding-right:170px;
	font-size:18px;
	width:20px;
	height:;
}
.icon2{
	background-position:left -40px;
}
.icon3{
	background-position:left -80px;
}
.icon4{
	background-position:left -120px;
}
.icon5{
	background-position:left -160px;
}
.icon6{
	background-position:left -200px;
}
.icon7{
	background-position:left -240px;
}
.icon8{
	background-position:left -280px;
}
.icon9{
	background-position:left -320px;
}
.icon10{
	background-position:left -360px;
}
.icon11{
	background-position:left -400px;
}
.icon12{
	background-position:left -440px;
}
.icon13{
	background-position:left -480px;
}
.icon14{
	background-position:left -520px;
}
.icon15{
	background-position:left -560px;
}
.icon16{
	background-position:left -600px;
}
.icon17{
	background-position:left -640px;
}
.icon18{
	background-position:left -680px;
}
.icon19{
	background-position:left -720px;
}
.icon20{
	background-position:left -760px;
}
.icon21{
	background-position:left -820px;
}
/*font-awesome.css小图标*/
.fa{
	font:normal normal normal 14px/1 FontAwesome;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.fa-angle-right:before {
	content: "\f105";
}
.fa-search:before {
	content: "\f002";
}
.fa-check:before {
	content: "\f00c";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
	content: "\f00d";
}
.fa-play-circle-o:before {
	content: "\f01d";
}
.fa-arrow-down:before {
	content: "\f063";
}
.fa-plus:before {
	content: "\f067";
}
.fa-sign-out:before {
	content: "\f08b";
}
.fa-square-o:before {
	content: "\f096";
}
.fa-angle-left:before {
	content: "\f104";
}
.fa-angle-right:before {
	content: "\f105";
}
.fa-angle-up:before {
	content: "\f106";
}
.fa-angle-down:before {
	content: "\f107";
}
.fa-minus-square-o:before {
	content: "\f147";
}
.fa-plus-square-o:before {
	content: "\f196";
}
.fa-pause-circle-o:before {
	content: "\f28c";
}
.fa-pencil:before{
	content: "\f040";
}
.fa-info-circle::before {
	content: "\f05a";
}
.fa-trash:before{
	content: "\f1f8";
}
.fa-eye:before{
	content: "\f06e";
}
.fa-cny:before{
	content: "\f157";
}
.fa-eye:before {
	content: "\f06e";
}
.fa-circle:before {
	content: "\f111";
}
.fa-plus-circle:before {
	content: "\f055";
}
.fa-minus-circle:before {
	content: "\f056";
}
.fa-question-circle:before {
	content: "\f059";
}
.fa-lock:before {
	content: "\f023";
}
.fa-unlock:before {
	content: "\f09c";
}
.fa-share-square-o:before {
	content: "\f045";
}
.fa.arrow:before {
	content: "\f104";
}
/**网站公共主样式**/
/*通用样式*/
.gray-bg{
	background: url(../images/mainbg.jpg) no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}
.left-bg{
	background: url(../images/leftbg.jpg) no-repeat;
	background-size: 280px 100%;
}
.top-bg{
	background: url(../images/topbg.jpg) no-repeat;
	background-size: 100% 300px;
}
.wrapper-content {
	padding: 46px;
}
#wrapper{
	width: 100%;
	min-width: 1260px;
	height: 100%;
	overflow-y: auto;
}
.content_wrap{
	height: 100%;
	overflow-y: hidden;
	padding:46px;
	background:transparent;
	background:rgba(0,0,0,0.1);
	position: relative;
	border-radius:5px;
}
.button-green{
	background: url(../images/buttonbg.png) no-repeat;
	background-position: top left;
	background-size: 100% 100%;
}
.button-red{
	background: rgba(200,173,75,0.44);
	border-radius: 12px;
	box-shadow: 0px 0px 0px 3px #433415 inset;
}
.embossf36{
	font-size: 36px;
	padding-bottom: 48px;
	letter-spacing: 20px;
	font-weight: bold;
	text-align: center;
	color: #7e6628;
	text-shadow: -1px -4px 8px #c1bfbe,1px -4px 8px #c1bfbe,1px 3px 8px #3a3735,-1px 3px 8px #3a3735;
}
.embossf24{
	font-size: 24px;
	padding-bottom: 24px;
	font-weight: bold;
	color: #7e6628;
	text-shadow: -1px -2px 6px #c1bfbe,1px -2px 6px #c1bfbe,1px 2px 6px #3a3735,-1px 2px 6px #3a3735;
}
.datalist-tab>div {
	display: none;
}
/* 背景颜色 */
.navy-bg {
	background-color: #23b7e5;
	color: #ffffff;
}
.blue-bg {
	background-color: #1c84c6;
	color: #ffffff;
}
.lazur-bg {
	background-color: #23c6c8;
	color: #ffffff;
}
.yellow-bg {
	background-color: #f8ac59;
	color: #ffffff;
}
.red-bg {
	background-color: #ed5565;
	color: #ffffff;
}
.black-bg {
	background-color: #262626;
}
.panel-primary {
	border-color: #23b7e5;
}
.panel-primary .panel-heading {
	background-color: #23b7e5;
	border-color: #23b7e5;
}
.panel-success {
	border-color: #1c84c6;
}
.panel-success .panel-heading {
	background-color: #1c84c6;
	border-color: #1c84c6;
	color: #ffffff;
}
.panel-info {
	border-color: #23c6c8;
}
.panel-info .panel-heading {
	background-color: #23c6c8;
	border-color: #23c6c8;
	color: #ffffff;
}
.panel-warning {
	border-color: #f8ac59;
}
.panel-warning .panel-heading {
	background-color: #f8ac59;
	border-color: #f8ac59;
	color: #ffffff;
}
.panel-danger {
	border-color: #ed5565;
}
.panel-danger .panel-heading {
	background-color: #ed5565;
	border-color: #ed5565;
	color: #ffffff;
}
.progress-bar {
	background-color: #23b7e5;
}
.progress-small,
.progress-small .progress-bar {
	height: 10px;
}
.progress-small,
.progress-mini {
	margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
	height: 5px;
	margin-bottom: 0px;
}
.progress-bar-navy-light {
	background-color: #3dc7ab;
}
.progress-bar-success {
	background-color: #1c84c6;
}
.progress-bar-info {
	background-color: #23c6c8;
}
.progress-bar-warning {
	background-color: #f8ac59;
}
.progress-bar-danger {
	background-color: #ed5565;
}
.panel-title {
	font-size: inherit;
}
.jumbotron {
	border-radius: 6px;
	padding: 40px;
}
.jumbotron h1 {
	margin-top: 0;
}
/* 颜色 */
.text-fff{
	color: #fff;
}
.text-navy {
	color: #23b7e5;
}
.text-primary {
	color: inherit;
}
.text-success {
	color: #1c84c6;
}
.text-info {
	color: #23b7e5;
}
.text-warning {
	color: #f8ac59;
}
.text-danger {
	color: #ed5565;
}
.text-muted {
	color : #d6d3e6;
}
/*字体*/
@font-face {
	font-family: 'FontAwesome';
	src: url('../../fonts/fontawesome-webfont.eot');

src: url("../../fonts/fontawesome-webfont.eot?#iefix") format('embedded-opentype'),
	url("../../fonts/fontawesome-webfont.woff") format('woff'), 
	url("../../fonts/fontawesome-webfont.ttf") format('truetype'), 
	url("../../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
	font-style: normal;
	font-weight: normal;
}

/**通用控件**/
/* 搜索框 */
.search-box{
	position: relative;
	margin-top: 21px;
}
.search-box .search-button {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -10px;
	color: #666;
	cursor: pointer;
}
.search-box .search-input{
	width: 219px;
	height: 15px;
	line-height: 33px;
	position: relative;
}
.search-box .search-input .fa-search{
	display: block;
	padding: 0 5px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	right: 10px;
	cursor: pointer;
}
s.search-box .search-btn,
.search-box .export-btn{
	display: inline-block;
	width: 100px;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	margin-left: 7px;
}
.search-box .export-btn{
	margin-left: 0px;
}
.search-box .search-btn:hover,
.search-box .export-btn:hover{
	text-decoration: none;
	background-color: #FFF;
	color: #fff;
}
.search-box .date-select-box{
	width: 219px;
	height: 33px;
	line-height: 33px;
	position: relative;
}
.search-box .date-select-box:after{
	position: absolute;
	font-family: FontAwesome;
	content: "\f107";
	right: 11px;
}
.search-box .date-select{
}
.search-box .text{
	display: inline-block;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
}
.child-search-box{
	margin-bottom: 20px;
}
/*概况*/
.all-overview{
	height: 200px;
	padding: 26px 28px 0;
	margin-bottom: 36px;
	border-radius:5px;
}
.all-overview .title{
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
}
.all-overview .title .bold{
	height: 17px;
	line-height: 17px;
	font-size: 16px;
	border-left: 3px solid #FFF;
	padding-left: 8px;
	margin: 8px 11px 0 0;
}
.all-overview .title .normal,
.all-details .title .normal{
	height: 33px;
	line-height: 38px;
}
.all-overview .title a, 
.all-details .title .normal a{
	color: #FFF;
}
.all-overview .title a:hover, 
.all-details .title .normal a:hover{
	text-decoration: underline;
}
.all-overview .details{
	height: 20px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin-top: 29px;
}
.all-overview .details span{
	display: inline-block;
	width: 20%;
	float: left;
}
/*详情*/
.all-details{
	padding: 26px 28px 0;
	overflow: hidden;
}
.all-details .title{
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
}
.all-details .title .bold{
	height: 17px;
	line-height: 17px;
	font-size: 16px;
	border-left: 3px solid #FFF;
	padding-left: 8px;
	margin: 8px 11px 0 0;
}
.windows .all-details .title .bold{
	font-weight: 700;
}
.mac .all-details .title .bold{
	font-family: "Hiragino Sans GB W6"}
.all-details #add-advert{
	display: inline-block;
	width: 100px;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	text-align: center;
	border:1px solid #FFF;
	color: #fff;
	border-radius: 4px;
}
.all-details #add-advert:hover{
	text-decoration: none;
	background-color: #FFF;
	color: #fff;
}
.all-details .details{
	height: 20px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin-top: 29px;
}
.all-details .details span{
	display: inline-block;
	width: 20%;
	float: left;
}
/*下拉菜单*/
.dropdown-click {
	display: inline-block;
	font-size: 14px;
	text-indent: 14px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #e9e9e9;
	color: #999;
	width: 133px;
	cursor: pointer;
	vertical-align: middle;
}
.dropdown-click>.dropdown-toggle {
	display: block;
	padding: 7px 0 6px 0;
	white-space: nowrap;
	overflow: hidden;
}
.dropdown-click>.dropdown-toggle:after {
	font-family: FontAwesome;
	content: "\f107";
	right: 10px;
	position: absolute;
}
.disable>.dropdown-toggle {
	color: #fff;
}
.disable>.dropdown-toggle:hover{
	color: #999;
}
.dropdown-click .dropdown-menu {
	overflow: auto;
	overflow-x: hidden;
	width: 134px;
	min-height: 29px;
	max-height: 200px;
	padding: 9px 0;
	border: 1px solid rgba(121,143,181,0.1);
	border-radius: 4px;
	box-shadow: 0 0px 6px 1px rgba(10,2,4,.1);
	-moz-box-shadow: 0 0px 6px 1px rgba(10,2,4,.1);
	-webkit-box-shadow: 0 0px 6px 1px rgba(10,2,4,.1);
}
.dropdown-click .dropdown-menu>li:hover {
	background: #FFF;
	color: #fff;
}
.dropdown-click .dropdown-menu>li>a {
	display: block;
	padding: 3px 10px;
	color: #999999;
	white-space: nowrap;
}
.dropdown-click .dropdown-menu>li>a:hover {
	color: #fff;
}
.dropdown-click .dropdown-arrow {
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #e3e3e3;
}
.dropdown-click .dropdown-arrow>em {
	position: absolute;
	top: 2px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
}
.dropdown-click {
	position: relative;
	text-align: left;
}
.dropdown-click .dropdown-content {
	display: none;
	position: absolute;
	top: 36px;
	left: 50%;
	transform: translate3d(-50%,0,0);
	-moz-transform: translate3d(-50%,0,0);
	-webkit-transform: translate3d(-50%,0,0);
}
.dropdown-click.opened .dropdown-content {
	display: block;
}
.dropdown-menu {
	border: medium none;
	display: none;
	float: left;
	font-size: 12px;
	left: 0;
	list-style: none outside none;
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 100%;
	z-index: 1000;
	border-radius: 0;
	box-shadow: 0 0 3px rgba(86, 96, 117, 0.3);
}
.dropdown-menu li a {
	border-radius: 3px;
	color: inherit;
	line-height: 25px;
	margin: 4px;
	text-align: left;
	font-weight: normal;
}
.dropdown-menu li a.font-bold {
	font-weight: 600;
}
.dropdown-messages,
.dropdown-alerts {
	padding: 10px 10px 10px 10px;
}
.dropdown-messages li a,
.dropdown-alerts li a {
	font-size: 12px;
}
.dropdown-messages li em,
.dropdown-alerts li em {
	font-size: 10px;
}
.ibox {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #dee5e7;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.ibox:after,
.ibox:before {
	display: table;
}
.ibox-title {
	height: 41px;
	border-color: #edf1f2;
	background-color: #f6f8f8;
	color: #333;
	font-weight: 700;
	border-radius: 2px 2px 0 0;
	padding: 15px 15px 3px 15px;
	border-bottom: 1px solid transparent;
	display: block;
	clear: both;
}
.ibox-content {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px;
}
.ibox-content {
	clear: both;
}
.ibox-heading {
	background-color: #f3f6fb;
	border-bottom: none;
}
.ibox-heading h3 {
	font-weight: 200;
	font-size: 24px;
}
.ibox-title h5 {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 7px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}
.ibox-title .label {
	float: left;
	margin-left: 4px;
}
.ibox-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0;
}
.ibox-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4;
}
.ibox-tools a.btn-primary {
	color: #fff;
}
.ibox-tools .dropdown-menu li a {
	padding: 4px 10px;
	font-size: 12px;
}
.ibox .open .dropdown-menu {
	left: auto;
	right: 0;
}
/* button */
button, .button {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	padding: 5px 35px;
	cursor: pointer;
	vertical-align: middle;
	transition: background .5s, color .5s;
	-ms-transition: background .5s, color .5s;
	-moz-transition: background .5s, color .5s;
	-webkit-transition: background .5s, color .5s;
}
button:hover, .button:hover {
	color: #fff;
}
/* input */
input, .input[type=text] {
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	color: #999;
	padding: 8px 1em;
	vertical-align: middle;
	-webkit-transition: border-color ease-in-out .3s;
	-o-transition: border-color ease-in-out .3s;
	transition: border-color ease-in-out .3s;
}
/* footer */
.footer {
	background: none repeat scroll 0 0 white;
	border-top: 1px solid #e7eaec;
	overflow: hidden;
	padding: 10px 20px;
	margin: 0 -15px;
	height: 36px;
}
.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 10px 20px;
	background: white;
	border-top: 1px solid #e7eaec;
	margin-left: 220px;
}
/* 分页 */
.pagination {
	display: inline-block;
	float: left;
}
.pagination>li {
	display: inline-block;
}
.pagination>li>a {
	display: block;
	height: 27px;
	line-height: 27px;
	padding: 0 6px;
}
.pagination>.active>a {
	color: #FFF;
}
.pagination>.disabled>a {
	color: #ccc;
	cursor: not-allowed;
}
.pagination>li.ellipsis>a {
	cursor: auto;
	color: #666;
}
.pagination-prev{
	margin-right: 5px;
}
.pagination-next{
	margin-left: 5px;
}
.pagination-prev,
.pagination-next {
	display: inline-block;
	float: left;
}
.pagination-prev>a,
.pagination-next>a {
	display: block;
	width: 27px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-size: 20px;
}
.pagination-prev:hover>a,
.pagination-next:hover>a {
	background: #ededed;
}
.pagination-prev.disabled>a,
.pagination-next.disabled>a {
	cursor: not-allowed;
}
.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
	color: inherit;
	cursor: default;
	z-index: 2;
}
.pagination li a,
.pagination li span {
	color: inherit;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	padding: 4px 10px;
	position: relative;
	text-decoration: none;
}
/* FLOT图表  */
.flot-chart {
	display: block;
	height: 200px;
}
.flot-chart-content {
	width: 100%;
	height: 100%;
}
.legendLabel {
	padding-left: 5px;
}
/* 列表 */
.table thead tr th {
	border-bottom: 1px solid #DDDDDD;
	vertical-align: bottom;
}
.table thead tr th,
.table tbody tr th,
.table tfoot tr th,
.table thead tr td,
.table tbody tr td,
.table tfoot tr td {
	border-top: 1px solid #e7eaec;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: middle;
}
/* 选择树 */
.tree-select>.tree-children {
	display: none;
}
.tree-select.opened>.tree-children {
	display: block;
}
.tree-select.opened>.tree-children>li {
	cursor: pointer;
	padding: 5px 0;
}
.tree-select>.tree-parent {
	cursor: pointer;
	padding: 5px 0;
}
.tree-select>.tree-parent:hover {
	background: #f7f7ff;
}
.tree-select>.tree-parent:hover:after {
	font-family: FontAwesome;
	content: '\f061';
	float: right;
	margin-top: 3px;
	margin-right: 5px;
}



#content-main {
	height: 100%;
	overflow: hidden;
}
.fixed-nav #content-main {
	height: 100%;
	overflow: hidden;
}
.nav ul li{
	margin:5px 10px;
	background:transparent;
	background:rgba(0,0,0,0.5)}
.nav li a {
	color: #FFF;
	font-weight: 600;
	padding: 14px 20px 14px 25px;
}
.nav li>a {
	display: block;
}
.nav.navbar-right li a {
	color: #999c9e;
}
.nav li.active a {
	color: #ffffff;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	color: white;
	border-radius:5px;
	background:transparent;
	background:rgba(200,41,28,0.8);
}
.nav .open a,
.nav .open a:hover,
.nav .open a:focus {
	background: #fff;
}
.nav li a i {
	margin-right: 6px;
}
.navbar {
	border: 0;
}
.navbar-default {
	background-color: transparent;
	background:rgba(0,0,0,0);
}
.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}
.nav.navbar-top-links .dropdown-alerts a {
	font-size: 12px;
}
.pace-done .nav-header {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.nav li.active {
	border-left: 4px solid #FFF;
	background: #C8291C;
}
.nav.nav-second-level li.active {
	border: none;
}
.nav.nav-second-level.collapse[style] {
	height: auto;
}
.nav-header a {
	color: #DFE4ED;
}
.nav-header .text-muted {
	color: #8095a8;
}
.minimalize-styl-2 {
	padding: 4px 12px;
	margin: 14px 5px 5px 20px;
	font-size: 14px;
	float: left;
}
.navbar-form-custom {
	float: left;
	height: 50px;
	padding: 0;
	width: 200px;
	display: inline-table;
}
.navbar-form-custom .form-group {
	margin-bottom: 0;
}
.navbar-form-custom .form-control {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	font-size: 14px;
	margin-top: 10px;
	z-index: 2000;
}
.navbar-form-custom .form-control:focus{
	border-bottom: 1px solid #f1f1f1;
}
.nav-second-level li,
.nav-third-level li {
	border-bottom: none;
}
.nav-second-level li a {
	padding: 7px 15px 7px 10px;
	padding-left: 52px;
}
.nav-third-level li a {
	padding-left: 62px;
}
.nav-second-level li:last-child {
	margin-bottom: 10px;
}
@media (max-width: 768px) {
	body.fixed-sidebar .navbar-static-side {
	display: none;
}
body.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 70px;
}
.lock-word {
	display: none;
	}.navbar-form-custom {
	display: none;
}
.navbar-header {
	display: inline;
	   float: left;
	 }
.sidebard-panel {
	z-index: 2;
	   position: relative;
	   width: auto;
	   min-height: 100%;
	 }
.sidebar-content .wrapper {
	padding-right: 0px;
	   z-index: 1;
	 }
.fixed-sidebar.body-small .navbar-static-side {
	display: none;
	   z-index: 2001;
	   position: fixed;
	   width: 220px;
	 }
.fixed-sidebar.body-small.mini-navbar .navbar-static-side {
	display: block;
}
.ibox-tools {
	float: none;
	   text-align: right;
	   display: block;
	 }
.content-tabs {
	display: none;
}
#content-main {
	height: calc(100% - 50px);
	}.fixed-nav #content-main {
	height: calc(100% - 50px);
	}}
.nav-close {
	padding: 10px;
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 1.4em;
	cursor: pointer;
	z-index: 10;
	display: none;
	color: rgba(255, 255, 255, .3);
}
@media (max-width: 350px) {
	body.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 0;
}
.nav-close {
	display: block;
}
.ibox-tools {
	float: none;
	   text-align: left;
	   display: inline-block;
	   }}
.item{
	position: relative;
}
.hidden-folded{
	text-align:center;
	color: #fff;
	width:105px;
	padding:3px 0;
	border-radius:15px;
	font-size: 16px;
	margin-left: 15px;
}
.line{
	width: 100%;
	height: 2px;
	margin: 10px 0;
	overflow: hidden;
	font-size: 0;
	background-color: #131e26;
}
.footer{
	width: 100%;
	height: 74px;
	line-height: 74px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #374256;
	position: absolute;
	bottom: 0;
	left: 0;
}

.simple_tag {
	background-color: #f0f3f4;
	border: 1px solid #e7eaec;
	border-radius: 2px;
	color: inherit;
	font-size: 10px;
	margin-right: 5px;
	margin-top: 5px;
	padding: 5px 12px;
	display: inline-block;
}
.img-shadow {
	box-shadow: 0px 0px 3px 0px #919191;
}

.arrow {
	float: right;
	margin-top: 2px;
}
.active a .fa.arrow:before {
	content: "\f107";
}
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover .nav-second-level,
.mini-navbar .nav li:focus .nav-second-level {
	display: block;
	border-radius: 0 2px 2px 0;
	min-width: 140px;
	height: auto;
}
.mini-navbar .navbar-default .nav li .nav-second-level li a {
	font-size: 12px;
	border-radius: 0 2px 2px 0;
}
.fixed-nav .slimScrollDiv #side-menu {
	padding-bottom: 60px;
	position: relative;
}
.slimScrollDiv >* {
	overflow: hidden;
}
.mini-navbar .nav-second-level li a {
	padding: 10px 10px 10px 15px;
}
.canvas-menu.mini-navbar .nav-second-level {
}
.mini-navbar li.active .nav-second-level {
	left: 65px;
}
.navbar-default .special_link a {
	background: #23b7e5;
	color: white;
}
.navbar-default .special_link a:hover {
	background: #17987e;
	color: white;
}
.navbar-default .special_link a span.label {
	background: #fff;
	color: #23b7e5;
}
.navbar-default .landing_link a {
	background: #1cc09f;
	color: white;
}
.navbar-default .landing_link a:hover {
	background: #23b7e5;
	color: white;
}
.navbar-default .landing_link a span.label {
	background: #fff;
	color: #1cc09f;
}
.logo-element {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: white;
	display: none;
	padding: 18px 0;
}
.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done .footer {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.navbar-fixed-top {
	background: #fff;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	z-index: 2030;
}
.navbar-fixed-top,
.navbar-static-top {
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.body-small .navbar-fixed-top {
	margin-left: 0px;
}
.mini-navbar .navbar-static-side {
	width: 70px;
}
.mini-navbar .profile-element,
.mini-navbar .nav-label,
.mini-navbar .navbar-default .nav li a span {
	display: none;
}
.canvas-menu .profile-element {
	display: block;
}
:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level {
	display: none;
}
.mini-navbar .navbar-default .nav li a {
	font-size: 16px;
}
.mini-navbar .logo-element {
	display: block;
}
.canvas-menu .logo-element {
	display: none;
}
.mini-navbar .nav-header {
	padding: 0;
	background-color: #23b7e5;
}
.canvas-menu .nav-header {
	padding: 33px 25px;
}
.canvas-menu.mini-navbar .footer {
	margin: 0 0 0 0;
}
.fixed-sidebar .navbar-static-side,
.canvas-menu .navbar-static-side {
	position: fixed;
	width: 280px;
	z-index: 2001;
	height: 100%;
}
.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 70px;
}
.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 70px;
}
.fixed-sidebar.mini-navbar .nav li> .nav-second-level {
	display: none;
}
.fixed-sidebar.mini-navbar .nav li.active {
	border-left-width: 0;
}
.fixed-sidebar.mini-navbar .nav li:hover .nav-second-level,
.canvas-menu.mini-navbar .nav li:hover .nav-second-level {
	position: absolute;
	left: 70px;
	top: 0px;
	padding: 10px 10px 0 10px;
	font-size: 12px;
	display: block;
	min-width: 140px;
	border-radius: 2px;
}
.fixed-sidebar.mini-navbar .nav-second-level li a,
.canvas-menu.mini-navbar .nav-second-level li a {
	padding: 10px 10px 10px 15px;
}
.fixed-sidebar.mini-navbar .nav-second-level,
.canvas-menu.mini-navbar .nav-second-level {
	position: relative;
	padding: 0;
	font-size: 13px;
}
.fixed-sidebar.mini-navbar li.active .nav-second-level,
.canvas-menu.mini-navbar li.active .nav-second-level {
	left: 0px;
}
.canvas-menu nav.navbar-static-side {
	z-index: 2001;
	height: 100%;
	position: fixed;
	display: none;
}
.canvas-menu.mini-navbar nav.navbar-static-side {
	display: block;
	width: 70px;
}
.top-navigation .navbar-nav .dropdown-menu .active a {
	background: white;
	color: #23b7e5;
	font-weight: bold;
}
.white-bg .navbar-fixed-top,
.white-bg .navbar-static-top {
	background: #fff;
}
.top-navigation .navbar {
	margin-bottom: 0;
}
.top-navigation .nav li a {
	padding: 15px 20px;
	color: #676a6c;
}
.top-navigation .nav li a:hover,
.top-navigation .nav li a:focus {
	background: #fff;
	color: #23b7e5;
}
.top-navigation .nav li.active {
	background: #fff;
	border: none;
}
.top-navigation .nav li.active a {
	color: #23b7e5;
}
.top-navigation .navbar-right {
	padding-right: 10px;
}
.top-navigation .navbar-nav .dropdown-menu {
	box-shadow: none;
	border: 1px solid #e7eaec;
}
.top-navigation .dropdown-menu li a {
	margin: 0;
	padding: 7px 20px;
}
.navbar .dropdown-menu {
	margin-top: 0px;
}
.top-navigation .navbar-brand {
	background: #23b7e5;
	color: #fff;
	padding: 15px 25px;
}
.top-navigation .footer.fixed {
	margin-left: 0;
}
.top-navigation .wrapper.wrapper-content {
	padding: 46px;
}
.top-navigation.body-small .wrapper.wrapper-content,
.body-small .top-navigation .wrapper.wrapper-content {
	padding: 40px 0px 40px 0px;
}
.navbar-toggle {
	background-color: #23b7e5;
	color: #fff;
	padding: 6px 12px;
	font-size: 14px;
}
.top-navigation .navbar-nav .open .dropdown-menu li a,
.top-navigation .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 10px 15px 10px 20px;
}
.btn {
	border-radius: 3px;
}
.btn:focus{
	outline: none!important;
}
.float-e-margins .btn {
	margin-bottom: 5px;
}
.label {
	background-color: #d1dade;
	color: #5e5e5e;
	font-size: 10px;
	font-weight: 600;
	padding: 3px 8px;
	text-shadow: none;
}
.badge {
	background-color: #d1dade;
	color: #5e5e5e;
	font-size: 11px;
	font-weight: 600;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	text-shadow: none;
}
/*littlebox*/
.littlebox{
	background:transparent;
	background:rgba(0,0,0,0.1);
	border-radius:5px;
	margin:12px 12px;
	padding:1px 0;
}
.littlebox li .ng-scope:active .J_menuItem{
	display: none;
}
/*navtop*/
.navtop{
	height:80px;
	padding-left:300px;
}
.navtop>span,.navtop>a{
	line-height:95px;
	font-size:12px;
	color:#fff;
	padding:6px 20px;
}
.navtop_right{
	float:right;
	margin-top:30px;
}
.navtop_right a{
	font-size:14px;
	color:#fff;
	padding:10px 30px;
	margin-left:30px;
}
.navtop_right a:last-child{
	border-radius:20px 0 0 20px;
}
.col-sm-6{
	display: block;
	clear:both;
}
.col-sm-4{
	padding:0;
}
.ibox{
	margin-bottom:36px;
}
/* UI排序 */
.ui-sortable .ibox-title {
	cursor: move;
}
/*自定义js公共配置*/
.sidebard-panel {
	width: 220px;
	background: #ebebed;
	padding: 10px 20px;
	position: absolute;
	right: 0;
}
.sidebard-panel .feed-element img.img-circle {
	width: 32px;
	height: 32px;
}
.sidebard-panel .feed-element,
.media-body,
.sidebard-panel p {
	font-size: 12px;
}
.sidebard-panel .feed-element {
	margin-top: 20px;
	padding-bottom: 0;
}
.sidebard-panel .list-group {
	margin-bottom: 10px;
}
.sidebard-panel .list-group .list-group-item {
	padding: 5px 0;
	font-size: 12px;
	border: 0;
}
#right-sidebar {
	background-color: #fff;
	border-left: 1px solid #e7eaec;
	border-top: 1px solid #e7eaec;
	overflow: hidden;
	position: fixed;
	top: 60px;
	width: 260px;
	z-index: 1009;
	bottom: 0;
	right: -260px;
}
#right-sidebar.sidebar-open {
	right: 0;
}
#right-sidebar.sidebar-open.sidebar-top {
	top: 0;
	border-top: none;
}
.mini-navbar .footer.fixed,
.body-small.mini-navbar .footer.fixed {
	margin: 0 0 0 70px;
}
.mini-navbar.canvas-menu .footer.fixed,
.canvas-menu .footer.fixed {
	margin: 0;
}
.fixed-sidebar.body-small.mini-navbar .footer.fixed {
	margin: 0 0 0 220px;
}
.body-small .footer.fixed {
	margin-left: 0px;
}
/* radio style */
.regular-radio {
	display: none;
}
.regular-radio + label {
	-webkit-appearance: none;
	border: 2px solid #999;
	padding: 4px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin: 0 3px;
	cursor: pointer;
}
.regular-radio:checked + label:after {
	content: ' ';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	background: #FFF;
	left: 2px;
	font-size: 32px;
}
.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-radio:checked + label {
	color: #FFF;
	border: 2px solid #FFF;
}
.radio-inline {
	margin-left: 60px;
}
.radio-inline:first-child {
	margin-left: 0;
}
.radio-inline .regular-radio + label,
.radio-inline .radio-name {
	display: inline-block;
	vertical-align: middle;
}
/* 复选框 */
.regular-checkbox {
	display: none;
}
.regular-checkbox + label {
	background-color: #ccc;
	padding: 7px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	margin: 0 3px;
	text-indent: 0;
}
.regular-checkbox.check-half + label {
	opacity: 0.5;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
	background-color: #FFF;
	color: #fff;
}
.regular-checkbox:checked + label:after {
	font-family: FontAwesome;
	content: '\f00c';
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
}
.checkbox-inline {
	margin-left: 60px;
}
.checkbox-inline:first-child {
	margin-left: 0;
}
.checkbox-inline .regular-checkbox + label,
.checkbox-inline .checkbox-name {
	display: inline-block;
	vertical-align: middle;
}
/* file button */
.file-button {
	display: inline-block;
	padding: 5px 35px;
	background: #f7f7f7;
	border: 1px solid #e6e6e6;
	text-align: center;
	cursor: pointer;
	-webkit-transition: border-color ease-in-out .3s;
	-o-transition: border-color ease-in-out .3s;
	transition: border-color ease-in-out .3s;
}
.file-button:hover {
	border-color: #FFF;
}
.file-input {
	display: none;
}
/* Loading Area */
.loading-area {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.loading-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.loading-icon {
	width: 100px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -30px;
	background-image: url(./../../images/loading.gif);
	background-color: rgba(0, 0, 0, .66);
	background-size: auto 30px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}
/* dropdown-click */
#child-account-select{
	width: 160px;
	margin-right: 10px;
}
#child-account-select .dropdown-menu{
	width: 160px;
}
/* form-group */
.form-group {
	margin-top: 20px;
}
.form-group>.form-error-box {
	display: none;
}
.form-group>.form-input-box>p {
	padding: 7px 1em 6px;
	font-size: 14px;
	border-radius: 4px;
	color: #999;
	vertical-align: middle;
}
.form-group>.form-error-box>p {
	color: #eb1212;
}
.form-group>.form-tip-box>p {
	color: #999;
}
/* part */
.part {
	padding-bottom: 64px;
}
.part-border {
	border-bottom: 1px solid #f7f7f7;
}
.part h3 {
	font-size: 16px;
	line-height: 1;
	font-weight: normal;
	border-left: 2px solid #FFF;
	text-indent: 10px;
	margin: 60px 0 30px;
}
/* date-range */
.date-selector-box {
	display: inline-block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}
.date-selector-box:after {
	font-family: FontAwesome;
	content: "\f107";
	margin-left: 5px;
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -5px;
	color: #999;
}
.date-selector {
	font-size: 14px;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	color: #999;
	width: 122px;
	height: 34px;
	cursor: pointer;
}
.date-selector:disabled {
	background: #ccc;
}
.date-selector:disabled:hover {
	border-color: #e9e9e9;
}
.date-range>span {
	display: inline-block;
	width: 10px;
	height: 1px;
	background: #dadada;
	margin: 0 3px;
	vertical-align: middle;
}
/*index-part1*/
.passenger-flow-container {
	padding: 30px;
	border:1px solid #fff;
	border-radius:5px;
}
.index-part1 .crumbs-nav{
	height: 30px;
	line-height: 48px;
	font-size: 14px;
	color: #999;
	text-align: left;
}
.index-part1 .crumbs-nav a{
	font-size: 14px;
	color: #999;
}
.index-part1 .crumbs-nav a:hover{
	color: #FFF;
}
.index-part1 .crumbs-nav .angle-double-right:before{
	content: "\f101";
	font-family: FontAwesome;
	margin: 0 8px;
}
.summary-box {
	position: relative;
	margin-top: 15px;
}
.summary-number {
	width: 20%;
}
.summary-bar {
	width: 37%;
	padding: 50px;
	margin-left: 3%;
}
.summary-bar>h4 {
	font-weight: normal;
	font-size: 18px;
}
.chart-bar-container {
	padding-top: 27px;
}
.number-list>li {
	font-size: 16px;
	padding: 15px 0;
	border-top: 1px solid #f7f7f7;
}
.number-list>li:first-child {
	border-top: 1px solid transparent;
}
.number-list h5 {
	font-size: 16px;
	line-height: 2;
	font-weight: normal;
}
.number-list p {
	font-size: 16px;
	line-height: 2;
	font-weight: bold;
}
/** chart-bar */
.chart-bar {
	position: relative;
	width: 85%;
	height: 17px;
	border-radius: 8px;
	background: #f8f8f8;
	overflow: hidden;
}
.chart-bar-box>p {
	width: 10%;
	font-size: 16px;
	text-align: right;
}
.chart-bar-box>div,
.chart-bar-box>p {
	vertical-align: middle;
}
.chart-bar>div {
	position: absolute;
	width: 0;
	height: 100%;
	border-radius: 8px;
	transition: width 1s;
	-ms-transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
}
/*index-part2*/
.flowrate-table {
	width: 100%;
	line-height: 3;
}
.flowrate-table td {
	width: 7%;
}
.flowrate-table .table-head {
	width: 16%;
	text-indent: 12px;
}
.flowrate-table .flowrate-table-hour {
}
.flowrate-table .flowrate-table-number {
	background: #f7f7f7;
}
/*index-part3*/
.chart-box {
	width: 33%;
	height: 300px;
	display: inline-block;
}
/*index-part4*/
.tag-list {
	background: #f7f7f7;
}
.tag-list>li {
	float: left;
	padding: 17px 0;
	width: 14.28%;
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}
.tag-list>.no-border-top {
	border-top: none;
}
.tag-list>.no-border-left {
	border-left: none;
}
.tag-tip {
	margin-top: 40px;
}
.advert-link {
	width: 200px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#scene-test-selector-box {
	margin: 0 auto;
}
/*modify-pd-container*/
.modify-pd-container {
	display: block;
	border-radius:5px;
}
.modify-pd-container > h3 {
	margin: 35px 0 47px 29px;
	color: #fff;
	font-weight: 16px;
	font-style: bold;
	border-left: 2px solid #6799ff;
	padding-left: 6px;
}
.modify-pd-container .vital-row-box {
	width: 402px;
	margin: 0 auto;
}
.modify-pd-container .vital-row {
	color: #fff;
	font-size: 14px;
	margin-top: 17px;
}
.modify-pd-container .vital-row span {
	height: 32px;
	line-height: 32px;
	display: inline-block;
	width: 60px;
	text-align: right;
}
.modify-pd-container .vital-row input[type="password"] ~ span {
	font-size: 12px;
	width: auto;
	color: #bbbdc0;
	margin-left: 83px;
}
.modify-pd-container .vital-row .account-phone {
	margin-left: 15px;
}
.modify-pd-container .vital-row input {
	margin-left: 15px;
	width: 322px;
	// height: 32px;
	color: #9ba0aa;
	border: 1px solid #000;
	// line-height: 32px;
}
.modify-pd-container .enter-modify-pwd {
	display: block;
	width: 100px;
	height: 32px;
	margin: 63px auto;
	font-size: 14px;
}
/*add-box-container*/
.add-box-container {
	display: block;
	border-radius:5px;
}
.add-box-container > h3 {
	margin: 35px 0 47px 29px;
	color: #fff;
	font-weight: 16px;
	font-style: bold;
	border-left: 2px solid #6799ff;
	padding-left: 6px;
}
.add-box-container > h3 > span
.add-box-container > h5 > span {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
.add-box-container > h3 a,
.add-box-container > h5 a {
	color: #6799ff;
}
.add-box-container > h5 {
	margin: 35px 0 47px 29px;
	padding-left: 6px;
}
.add-box-container .vital-row-box {
	width: 525px;
	margin: 0 auto;
}
.add-box-container .vital-row {
	color: #fff;
	font-size: 14px;
	margin-top: 17px;
}
.add-box-container .vital-row input ~ span {
	font-size: 12px;
	width: auto;
	color: #bbbdc0;
	display: inline-block;
}
.add-box-container .vital-row input {
	margin-left: 15px;
	width: 322px;
	color: #9ba0aa;
	border: 1px solid #000;
}
.add-box-container .vital-row .cankao{
	margin-left: 8px;
	color: #FFF;
	text-decoration: underline;
}
.add-box-container .vital-row .disabled{
	background-color: #ccc;
	cursor: not-allowed;
}
input[type='number'] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}