@charset "utf-8";
div,ul,li,h2,p,h3,tr{ padding:0px; margin:0px; word-wrap:break-word; word-break:break-all;}
img { border:0px; vertical-align:top; }
ul, p { margin: 0; padding: 0; font-weight: normal; font-style: normal;}
body { line-height:20px; background:#fff; color:#333; font-size:12px; font-family:"Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;}
ul li { list-style:none; }
a:link, a:visited { color: #333; text-decoration: none; }
a:hover { color:#ff4200;}
button,select,textarea{border:0px; vertical-align:middle; font-size:12px;font-family:"Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;}
input[type="button"]{ cursor:pointer;}
input[type='file']{position:absolute;cursor:pointer; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);}

.clear{ line-height: 0px; zoom: 0; height: 0px; clear: both; font-size: 0px}
.clear_h10{ line-height: 0px; zoom: 0; height: 10px; clear: both; font-size: 0px}
.clear_h20{ line-height: 0px; zoom: 0; height: 20px; clear: both; font-size: 0px}
.clear_h30{ line-height: 0px; zoom: 0; height: 30px; clear: both; font-size: 0px}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.dib{ display:inline-block}
.tac{ text-align:center;}
.cursor{ cursor:pointer;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}
.mr40{ margin-right:40px;}
.red{ color:#d00!important;}
.cd00{ color:#d00!important;}
.c666{ color:#666!important;}
.c999{ color:#999!important;}
.c36a{ color:#36a!important;}
.c087{ color:#087!important;}
.c06b{ color:#06b!important;}
.c090{ color:#090!important;}
.cf40{ color:#f40!important;}

.pos_re{ position:relative}

.inp40{ width:40px;}
.inp80{ width:80px;}
.inp120{ width:120px;}
.inp160{ width:160px;}
.inp200{ width:200px;}
.inp240{ width:240px;}
.inp320{ width:320px;}
.inp400{ width:400px;}
.inp480{ width:480px;}
.inp560{ width:560px;}
.inp640{ width:640px;}

.no_sty{width:100%; line-height:normal; overflow:hidden;}
.no_sty img{ max-width:100%;}

.bg_btn1{ background:#00b28c!important; border-color:#00b28c!important; color:#fff!important;}
.bg_btn1:hover{ background:#0a8!important;border-color:#0a8!important;}
.bg_btn2{ background:#ff920d!important;border-color:#ff920d!important; color:#fff!important;}
.bg_btn2:hover{ background:#f80!important;border-color:#f80!important;}
.bg_btn3{ background:#d00!important;border-color:#d00!important; color:#fff!important;}
.bg_btn3:hover{ background:#c00!important;border-color:#c00!important;}

/* i.icon{ line-height:0; font-size:0; text-indent:-99999px; display:inline-block; vertical-align:top;}

图片居中
.pic_c{display:table-cell; vertical-align:middle; text-align:center;}
.pic_c img{ max-width:100%; max-height:100%; vertical-align:middle;} */

i.icon{ line-height:0; font-size:0; text-indent:-99999px; display:inline-block; vertical-align:top;}
*+html i.icon{ text-indent:0;}

i.arrow{ width:0; height:0; border:solid 4px; float:none; display:inline-block; vertical-align:top;}
i.down{ margin:8px 0 0 4px; border-color:#06b transparent transparent;}
i.up{ margin:4px 0 0 4px; border-color:transparent transparent #06b;}

/*图片居中*/
.pic_c{display:table-cell; vertical-align:middle; text-align:center;*display: block;*font-family:Arial;}
.pic_c img{ max-width:100%; max-height:100%; vertical-align:middle;}

/*input默认值*/
.inp_def{ color:#999!important;}

/*box-sizing*/
.box_siz{ box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

/*更多详情*/
.more_show{ position:relative; cursor:pointer; display:inline-block; vertical-align:top;}
.more_show .more i{ margin:8px 0 0 4px; float:none; display:inline-block; vertical-align:top;}
.more_show .more i.arrow{ width:0; height:0; border:solid 4px; border-color:#666 transparent transparent;}
.more_show .more_div{ width:240px; padding:15px 20px; background:#fff; border:solid 1px #e2e2e2; text-align:left; position:absolute; right:0px; top:20px; display:none; z-index:9999;}
.more_show .more_div{ box-shadow: 0 0 5px #e2e2e2; -moz-box-shadow: 0 0 5px #e2e2e2; -webkit-box-shadow: 0 0 5px #e2e2e2;}
.more_show .more_div h3{ line-height:30px; font-size:14px; font-weight:600;}
.more_show:hover i.arrow{ margin-top:4px; border-color:transparent transparent #666;}
.more_show:hover .more_div{ display:block;}
.main{ width:1190px; margin:0 auto;}
.main990{ width:990px; margin:0 auto;}

/*查看更多*/
.see_more{ height:20px; line-height:20px; font-size:12px; cursor:pointer;display:inline-block; vertical-align:top;}
.see_more b{ font-weight:normal; color:#06b;}
.see_more i.arrow{ width:0; height:0; border:solid 4px; float:none; display:inline-block; vertical-align:top;}
.see_more i.open{ margin:8px 0 0 4px; border-color:#06b transparent transparent;}
.see_more i.close{ margin:4px 0 0 4px; border-color:transparent transparent #06b;}

.see_more2{ height:20px; line-height:20px; font-size:12px; cursor:pointer;display:inline-block; vertical-align:top;}
.see_more2 b{ font-weight:normal; color:#06b;}
.see_more2 i.arrow{ width:0; height:0; border:solid 4px; float:none; display:inline-block; vertical-align:top;}
.see_more2 i.open{ margin:8px 0 0 4px; border-color:#06b transparent transparent;}
.see_more2 i.close{ margin:4px 0 0 4px; border-color:transparent transparent #06b;}
.see_more_con{ overflow:hidden; overflow:hidden; display:inline-block; vertical-align:top;}
.see_more_con2{ overflow:hidden; overflow:hidden; display:inline-block; vertical-align:top;}

/*图片鼠标经过放大*/
.img_zoom{transition:all 0.3s ease 0.3s;-ms-transition:all 0.3s ease 0.3s;-moz-transition:all 0.3s ease 0.3s;-webkit-transition:all 0.3s ease 0.3s;-o-transition:all 0.3s ease 0.3s;}
.img_zoom{transform:scale(1);-ms-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1); }
.img_zoom:hover{transform:scale(1.05);-ms-transform:scale(1.05);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);}

/*top*/
.top{ height:32px; line-height:32px; background:#f2f2f2; border-bottom:solid 1px #e2e2e2;}
.top .fl{ color:#666;}
.top .fl p{ float:left; margin-right:10px;}
.top .fl a{ padding:0 6px; color:#666;}
.top .fl a:hover{ color:#ff4200;}
.top .fl i{ font-style:normal; color:#999;}
.top .fl b{ margin-left:3px;}
.top .fr{ color:#666;}
.top .fr li{ float:left; padding:0 10px; margin:0 0px;}
.top .fr li a{ float:left; color:#666;}
.top .fr li a:hover{ color:#ff4200;}
.top .fr li b.num{ margin:0 3px; color:#d00;}
.top .fr li i{ width:16px; height:16px; margin:8px 5px 0 0; background:url(../images/head_foot_icon.png) no-repeat; font-size:0; line-height:0; display:inline-block; float:left; text-indent:-99999px;}
.top .fr li i.home{ background-position:0px 1px;}
.top .fr li i.i-phone{ background-position:0px -230px;}
.top .fr li i.jt{ width:8px; margin-left:5px; margin-right:0; background-position:0px -37px;}
.top .fr li i.jt.jt_hover{ background-position:0px -51px;}
.top .fr li i.phone{ background-position:3px -19px;}

.top_xl{ height:32px; position:relative; color:#666; float:left; z-index:99999999;}
.top_xl .top_xl_div{ width:80px; line-height:24px; padding:5px 0; background:#fff; border:solid 1px #e2e2e2; border-top:none; position:absolute; top:33px; left:-1px; z-index:9999; display:none;}
.top_xl .top_xl_div li{ width:100%; float:left; margin:0; padding:0;}
.top_xl .top_xl_div a{ padding:0 10px;}

.top_xl .map{ width:1190px; left:auto; right:-1px;}
.top_xl .map ul{ padding:20px 0; float:left;}
.top_xl .map li{ width:177px; margin-left:20px; border-right:solid 1px #e2e2e2;}
.top_xl .map li:last-of-type{ border-right:none;}
.top_xl .map li a{ padding:0;}
.top_xl .map li a:hover{ color:#ff4200;}
.top_xl .map li h3{ width:100%; line-height:20px; margin-bottom:5px; float:left; font-size:16px; font-weight:normal;}
.top_xl .map li h3 a{ color:#ff4200;}
.top_xl .map li p a{ margin-right:15px; display:inline-block;}

.top_xl .map2{width:450px; left:auto; right:-1px;}
.top_xl .map2 ul{ padding:5px 0; float:left;}
.top_xl .map2 li{ width:100%; line-height:20px; padding:5px 0; float:left;}
.top_xl .map2 li span{ float:left;}
.top_xl .map2 li .name{ width:70px; margin-left:15px; padding:0; font-weight:bold;}
.top_xl .map2 li .con{ width:360px;}
.top_xl .map2 li .con a{ margin-right:20px;  padding:0; display:inline-block; vertical-align:top; float:none;}

/*foot*/
.foot_help{ width:100%; padding:15px 0; background:#f6f6f6; display:inline-block;}
.foot_help li{ width:15%; float:left; color:#666;}
.foot_help li h3{ line-height:30px; font-size:16px; font-weight:normal;}
.foot_help li p{ line-height:26px;}
.foot_help li a{ color:#666;}
.foot_help li a:hover{ color:#ff4200; text-decoration:underline;}
.foot_help li.foc{ width:22%;}
.foot_help li.foc span{ margin-right:15px; display:inline-block; vertical-align:top;}
.foot_help li.foc span p{ line-height:18px; float:none; text-align:center;}
.foot_help li.foc h3{ margin-bottom:5px;}
.foot_help li.foc p{ float:left; clear:both;}
.foot_help li.foc img{ width:90px; height:90px; display:inline-block;}
.foot_help li.foc a:last-of-type img{ margin-right:0;}
.foot_help li.foc i{ width:20px; height:20px; margin:4px 6px 0 0; background:url(../images/head_foot_icon.png) no-repeat; display:inline-block; vertical-align:top; text-indent:-99999px; font-size:0; line-height:0;}
*+html .foot_help li.foc p{ width:100%; border-bottom:none;}
*+html .foot_help li.foc i{ text-indent:0; font-size:0; line-height:0;}
.foot_help li.foc i.wx{ background-position:0 -135px;}
.foot_help li.foc i.sina{background-position:0 -83px; }
.foot_help li.foc i.qwb{background-position:0 -109px; }
.foot_help li.foc a:hover i.wx{ background-position:-25px -135px;}
.foot_help li.foc a:hover i.sina{background-position:-25px -83px; }
.foot_help li.foc a:hover i.qwb{background-position:-25px -109px; }
.foot_help li.tel{ width:18%;}
.foot_help li.tel h3 em{ font-size:12px; font-style:normal;}
.foot_help li.tel b{ font-size:19px; font-weight:400;}
.foot_help li.tel span.btn1{ width:100%; margin-top:10px; padding:15px 0 0 0px; border-top:solid 1px #e2e2e2;}
.foot_help li.tel span.btn1 a{font-size:16px; color:#999;}

.foot{padding:15px 0; background:#fff; text-align:center;}
.foot_nav{ margin-bottom:15px; padding-bottom:15px; border-bottom:solid 1px #e2e2e2;}
.foot_nav a{ padding:0 10px; color:#999;}
.foot_nav a:hover{ color:#ff4200;}
.foot_nav b{ font-weight:normal; color:#999;}
.foot_fir{ color:#999;}
.foot_fir a{ margin-right:15px; color:#999;}
.foot_fir a:hover{ color:#ff4200;}
.foot_about{ padding:2px; color:#999;}
.foot_ad{ color:#999;}
.foot_ad b{ font-weight:normal; padding:0 8px;}
.foot_bz{ padding:10px;}
.foot_bz img{ height:45px; margin:0 5px;}


/*悬浮框*/
.tooltip{ width:36px; position:fixed; right:0; top:0; bottom:0; background:#000; z-index:9999999;}
.tooltip ul.tool1{ margin-top:-120px; position:absolute; top:50%;}
.tooltip ul.tool2{ position:absolute; bottom:0;}
.tooltip li{ margin:3px 0; position:relative; float:left;}
.tooltip li.on .tool_nav{ background:#d00;}
.tooltip .tool_nav{ width:36px; height:36px; position:relative;}
.tooltip .tool_nav a{ width:100%; height:100%; display:block;}
.tooltip .tool_nav i{ width:20px; height:20px; margin:8px 0 0 8px; background:url(../assets/web/images/tooltip_icon.png); border:none; float:left; line-height:0; font-size:0; text-indent:-99999px;}
.tooltip .tool_nav i.cart{ background-position:0 0;}
.tooltip .tool_nav i.col{ background-position:0 -25px;}
.tooltip .tool_nav i.hist{ background-position:0 -50px;}
.tooltip .tool_nav i.mess{ background-position:0 -75px;}
.tooltip .tool_nav i.serv{ background-position:0 -100px;}
.tooltip .tool_nav i.tdc{ background-position:0 -125px;}
.tooltip .tool_nav i.idea{ background-position:0 -150px;}
.tooltip .tool_nav i.top{ background-position:0 -175px;}
.tooltip .tool_nav em{ width:70px; line-height:36px; background:#d00; border-radius:3px 0 0 3px; float:left; font-style:normal; text-align:center; color:#fff; position:absolute; right:0px; top:0; z-index:-1; opacity:0;}
.tooltip .tool_nav b.num{ height:14px; line-height:14px; padding:0 4px; background:#d00; border-radius:8px; position:absolute; top:2px; right:2px; color:#fff; font-weight:normal;}
.tooltip li.on .tool_nav b.num{ background:#fff; color:#d00;}
.tooltip .tool_nav.back_top{ cursor:pointer;}
.tooltip .tool_div{ width:auto; position:absolute; right:36px; bottom:0; display:none;}
.tooltip .tool_div.erweima{ bottom:-40px; right:31px;}

/*悬浮框*/
.store_tooltip{ width:44px; background:none; right:3px;}
.store_tooltip ul.tool1{ margin-top:-160px;}

.store_tooltip li{ margin:3px 0 0;}
.store_tooltip li.on .tool_nav{ background:none;}
.store_tooltip .tool_nav{ width:auto; height:auto; position:relative;}
.store_tooltip .tool_nav a{ width:44px; height:44px; background:#f6f6f6; border:solid 1px #e2e2e2; display:block;}
.store_tooltip .tool_nav i{ width:24px; height:24px; margin:10px 0 0 10px; background:url('image/store_tooltip_icon.png');}
.store_tooltip .tool_nav i.store_tooltip_ser{ background-position:0 0;}
.store_tooltip .tool_nav i.store_tooltip_pho{ background-position:0 -50px;}
.store_tooltip .tool_nav i.store_tooltip_top{ background-position:0 -100px;}
.store_tooltip .tool_nav i.store_tooltip_order{ background-position:0 -150px;}
.store_tooltip .tool_nav i.store_tooltip_mes{ background-position:0 -200px;}
.store_tooltip .tool_nav i.store_tooltip_idea{ background-position:0 -250px;}

.store_tooltip li.on .tool_nav a{ background:#f40;}
.store_tooltip li.on .tool_nav i{ width:30px; height:30px; margin:7px 0 0 7px;}
.store_tooltip li.on .tool_nav i.store_tooltip_ser{ background-position:-50px 0;}
.store_tooltip li.on .tool_nav i.store_tooltip_pho{ background-position:-50px -50px;}
.store_tooltip li.on .tool_nav i.store_tooltip_top{ background-position:-50px -100px;}
.store_tooltip li.on .tool_nav i.store_tooltip_order{ background-position:-50px -150px;}
.store_tooltip li.on .tool_nav i.store_tooltip_mes{ background-position:-50px -200px;}
.store_tooltip li.on .tool_nav i.store_tooltip_idea{ background-position:-50px -250px;}

.store_tooltip .tool_nav b.num{ height:14px; line-height:14px; padding:0 4px; background:#f40; border-radius:8px; top:2px; right:2px; color:#fff;}
.store_tooltip li.on .tool_nav b.num{ background:#fff; color:#f40;}

/*意见反馈*/
.feedback{ width:988px; padding-bottom:20px; background:#fdfdfd; border:solid 1px #e2e2e2; float:left;}
.feedback_tit{ height:45px; line-height:45px;}
.feedback_tit h3{ background:#e2e2e2; font-size:16px; font-weight:normal; text-indent:30px;}
.feedback_tit b{ margin:0 5px; color:#ff4200; font-weight:normal;}
.feedback h3.tit{ width:100%; line-height:32px; background:#eee; font-size:14px; font-weight:normal; text-indent:10px; float:left;}
.feedback textarea{ resize:none;width:648px; height:120px; padding:5px; background:#fff; border:solid 1px #e2e2e2; color:#666; font-size:14px;}
.feedback input[type="text"]{ width:358px; height:18px; line-height:18px; padding:5px; border:solid 1px #e2e2e2; border-radius:2px; font-size:14px; color:#666;}
.feedback input[type="radio"]{ margin-right:5px;}
.feedback input[type="file"]{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);}
.feedback a.sc{height:22px; line-height:22px; margin:3px 0 0; padding:0 10px; background:#eee; border:solid 1px #e2e2e2; border-radius:2px; position:relative; overflow:hidden;display:inline-block;color:#333;}
.feedback a.sc:hover{ background:#e2e2e2; }
.feedback em{ margin:0 10px 0 0; font-style:normal;}
.feedback li.txt{ line-height:20px; padding-bottom:10px; border-bottom:dashed 1px #e6e6e6; font-size:12px;}
.feedback li.txt p{ margin-top:10px; text-indent:2em; color:#666;}
.feedback li b{ font-weight:normal;}

.feedback_l{ width:948px; padding:20px 20px;}
.feedback_l ul{ width:100%; float:left;}
.feedback_l ul.mes{ padding-top:10px;}
.feedback_l ul.mes li{ margin:10px 0 5px;}
.feedback_l ul.mes li span.name{ width:80px; margin-right:10px; text-align:right;}

.feedback_l li{ line-height:30px; width:100%; margin-top:10px; float:left;}
.feedback_l span{ float:left; font-size:14px;}
.feedback_l span.name{ width:100%; line-height:30px; }
.feedback_l span.name b{ padding:0 3px 0 0; color:#ff4200; font-weight:normal;}
.feedback_l span.con{ width:660px; margin-left:10px; color:#666;}
.feedback_l span.con .ts{ line-height:20px; margin:5px 0; font-size:12px; color:#ff4200;}
.feedback_l .pic{ display:inline-block; vertical-align:top;}
.feedback_l .pic a{ margin:10px 10px 0px 0; padding:3px; background:#fff; border:solid 1px #e2e2e2; border-radius:3px; display:inline-block; position:relative;}
.feedback_l .pic a:hover{ background:#f6f6f6;}
.feedback_l .pic img{ max-width:100px; max-height:100px;}
.feedback_l .pic i{ width:16px; height:16px; line-height:16px; background:#f73; border-radius:50%; color:#fff; font-style:normal; text-align:center; position:absolute; top:-5px; right:-5px; font-size:12px; cursor:pointer;}
.feedback_l .pic i:hover{ background:#ff4200;}

.feedback_r{ width:237px; padding:20px 20px; border-left:solid 1px #eee;}
.feedback_r li{ width:100%; line-height:30px; padding:5px 0 0; float:left;}

.feedback_btn{display:inline-block; vertical-align:top;margin-left:100px;}
.feedback_btn a{ line-height:32px; padding:0 30px; background:#f51; border-radius:3px; font-size:16px; color:#fff; display:inline-block;}
.feedback_btn a:hover{ background:#ff4200;}
/*地区选择插件边框*/
.city-picker-span{ border:solid 1px #e2e2e2!important;}

/* 头部修改 */
/*head*/
.head{ height:100px;}
.head .head_l{ width:390px; margin:25px 0px 0 0;}
.head .head_l img.logo{ height:50px; margin-right:10px;}
.head .head_l img.he_ad{ height:50px; margin-top:0px;}

.search{ margin:12px 40px 0 110px;position: relative;top: 15px;right: 30px;}
.search .lm{font-size:12px;line-height:20px;}
.search .lm a{ color:#666;cursor:pointer;}
.search .lm a.cur{ color:#ff4200;}
.search .lm b{ padding:0 8px; color:#999; font-weight:normal;}
.search .sear{ display:inline-block; clear:both;}
.search .sear .inp{ width:430px; height:20px; padding:5px; border:solid 2px #ff4200; color:#666; font-size:13px; float:left;}
.search .sear .btn{ width:70px; height:34px; line-height:34px; text-align:center; background:#ff4200; color:#fff; font-size:16px; float:left; cursor:pointer;}
.search .hot{}
.search .hot a{ margin-right:10px; color:#999;}
.search .hot a.hh{ color:#ff4200;}
.search .hot a:hover{ color:#ff4200;}

.tel{ margin-top:30px;}
.tel img{ width:150px; height:40px;}

.erwei{ margin-top:5px;}
.erwei p{ color:#999;}
.erwei img{ width:70px; height:70px;}

/*产品分类*/
.nav_sort .sort_hidden{ display:none; position:absolute;}
.nav_sort .sort_por_ab{position:absolute; }
.nav_sort .sort_por_re{ position:relative;}

.nav_sort{ float:left;}
.nav_sort>h2{width:190px; height:42px; line-height:42px; background:url(../images/head_foot_icon.png) no-repeat 20px -185px #ff4200; font-size:16px; font-weight:normal; font-family:"微软雅黑"; color:#fff; text-indent:45px;}

.all_sort{ width:190px; padding:4px 0 5px; background:#252221; font-family:"微软雅黑"; position:relative; z-index:9999999; display:inline-block;}
.all_sort>ul{ width:100%; float:left;}
.all_sort>ul>li{ width:100%; z-index:999; float:left;}
.all_sort .sort_lm1{ width:170px; padding:7px 0 7px 20px; border-bottom:solid 1px #2f2f2f; overflow:hidden; position:relative;}
.all_sort .sort_lm1 a{ color:#fff;}
.all_sort .sort_lm1 h3{ line-height:24px; overflow:hidden; font-size:14px; font-weight:normal;}
.all_sort .sort_lm1 p{ height:24px; line-height:24px; overflow:hidden;}
.all_sort .sort_lm1 p a{ padding:0 10px 0 0; display:inline-block; color:#ccc;}
.all_sort li.on .sort_lm1{ padding:7px 0px 7px 20px; background:#fff; position:relative; z-index:999;}
.all_sort li.on .sort_lm1 a{ color:#333;}
.all_sort li.on .sort_lm1 a:hover{ color:#821;}
.all_sort li.on .sort_lm1 i{width:1px; height:100%; background:#fff; display:inline-block; text-indent:-9999px; position:absolute; left:190px; top:0; z-index:10000;}

.all_sort .sort_lmr{ width:720px; line-height:24px; background:#f6f6f6; position:absolute; left:190px; top:0px; display:none; opacity:1;}
.all_sort .sort_lmr{box-shadow: 2px 2px 5px #ddd; -moz-box-shadow: 2px 2px 5px #ddd; -webkit-box-shadow: 2px 2px 5px #ddd;}
.all_sort .sort_lmr ul{ width:470px; min-height:430px; padding:10px 20px; background:#fff; float:left;}
.all_sort .sort_lmr li{ width:100%; padding:8px 0; /*border-bottom:dashed 1px #e2e2e2; */float:left;}
.all_sort .sort_lm2{ width:80px; float:left;}
.all_sort .sort_lm2 a{ color:#ff4200; display:inline-block; font-weight:bold;}
.all_sort .sort_lm2 a:hover{ text-decoration:underline;}
.all_sort .sort_lm3{ width:390px; float:left;}
.all_sort .sort_lm3 a{ margin:0 15px 0 0; display:inline-block; color:#666;}
.all_sort .sort_lm3 a:hover{ color:#ff4200;}

.all_sort .sort_lmr .sort_ad{ width:210px; padding:0px 0px 0px; background:none;}
.all_sort .sort_lmr .sort_ad .bran{ width:190px; padding:10px 10px; float:left;}
.all_sort .sort_lmr .sort_ad .bran span{ width:50%; float:left; margin:0 -1px -1px 0;}
.all_sort .sort_lmr .sort_ad .bran .pic_c{ width:93px; height:47px; background:#fff; border:solid 1px #f6f6f6;}
.all_sort .sort_lmr .sort_ad .bran .pic_c img{ max-width:73px; max-height:37px;}
.all_sort .sort_lmr .sort_ad .ad img{ width:210px;}
.all_sort .sort_lmr .sort_ad .ad img.ad1{height:111px; margin-bottom:1px;}
.all_sort .sort_lmr .sort_ad .ad img.ad2{height:224px; margin-bottom:1px;}
/*.all_sort .sort_lmr .sort_ad .ad img.ad3{ width:189px; height:228px; margin-left:10px;}*/
.all_sort .sort_lmr .sort_ad .ad img.ad3{ width:190px; height:410px; margin-left:10px;}
/*nav*/
.top_nav{ height:40px; line-height:40px; border-bottom:solid 2px #ff4200;}
.top_nav ul.nav_r{ font-family:"微软雅黑"; font-size:16px; float:left;}
.top_nav ul.nav_r li{ float:left;}
.top_nav ul.nav_r li a{ padding:0 17px; display:inline-block;}
.top_nav ul.nav_r li a.cur{ color:#ff4200;}

.nav_ad{ float:right;}
.nav_ad img{ height:30px; margin-top:5px;}

/*头部保障图标*/
.index_bz ul li{width:52px; float:left; padding:25px 10px 0 10px;}
.index_bz ul li span.index_bz_icon{width:52px;height:37px; display:inline-block; background:url('image/bz_Ticon.png') no-repeat;}
.index_bz ul li span.index_bz_icon1{ background-position:0 0;}
.index_bz ul li span.index_bz_icon2{ background-position:0 -55px;}
.index_bz ul li span.index_bz_icon3{ background-position:0 -109px;}
.index_bz ul li span.bz_txt{height:34px; line-height:34px; display:inline-block; font-size:12px; color:#666; text-align:center;}

.protocol-con{height:426px;padding:10px;line-height:20px;overflow-x:hidden;overflow-y:auto;margin-bottom:25px; font-size:14px; color:#666;}
.protocol-con h4,.protocol-con h5{color:#333;font-size:14px}
.protocol-con h5{margin:10px 0}
.protocol-con em{ font-style:normal;}
.protocol-button button{cursor:pointer;margin:0 auto;display:block;width:320px;height:40px;color:#fff;background:#f40;border:0;font-size:16px;font-family:"Microsoft YaHei","Hiragino Sans GB"}


/*引导弹窗*/
.pop_guide{}
.pop_guide.pop_form .pop_tit h3{ line-height:44px; font-size:16px; font-weight:normal;}
.pop_guide.pop_form .pop_tit i.close{ font-size:16px;}
.pop_guide.pop_form .sub_btn{ text-align:center;}
.pop_guide.pop_form .sub_btn a{ width:auto; margin:0 10px; padding:0 40px; background:#00b28c;}
.pop_guide.pop_form .sub_btn a:hover{ background:#0a8;}
.pop_guide.pop_form .sub_btn a.btn2{ background:#eee; color:#999;}
.pop_guide.pop_form .sub_btn a.btn2:hover{ background:#e6e6e6; color:#666;}

.pop_guide h3.text{ line-height:30px; padding:20px 20px 10px; font-size:16px; font-weight:normal; text-align:center; color:#666;}
.pop_guide h3.text b{ font-weight:normal;}
/*查看联系方式*/
.pop_contact{}
.pop_contact.pop_form .pop_tit{ width:100%; line-height:30px; background:none; border:none; float:left;}
.pop_contact.pop_form .pop_tit i.close{ width:24px; height:24px; line-height:24px; margin:5px 10px 0; border:none; border-radius:0; font-size:16px;}
.pop_contact.pop_form .sub_btn{ padding-top:5px; text-align:center;}
.pop_contact.pop_form .sub_btn a{ width:auto; padding:0 40px; background:#00b28c;}
.pop_contact.pop_form .sub_btn a:hover{ background:#0a8;}
.pop_contact.pop_form .sub_btn a.btn2{ background:#eee; color:#999;}
.pop_contact.pop_form .sub_btn a.btn2:hover{ background:#e6e6e6; color:#666;}
.pop_form .pop_contact_con li span.name{ width:80px; margin-right:10px;}
.pop_form .pop_contact_con li input[type="text"]{ border-radius:2px; font-size:14px;}

.pop_contact_tit{}
.pop_contact_tit h3{ line-height:18px; border-left:solid 4px #f40; padding-left:15px; float:left; font-size:16px; font-weight:normal;}
.pop_contact_tit h3 em{ margin:0 10px; font-size:12px; font-style:normal; color:#999;}
.pop_contact_tit .fssj{ cursor:pointer;}
.pop_contact_tit .fssj i{ width:14px; height:14px; margin:3px 5px 0 0; background:url(../images/store/store_icon.png) no-repeat 0 -315px;}

.pop_contact_con{ font-size:14px;}
.pop_contact_con li .yzm img{ width:40px; height:32px; border-radius:2px;}
.pop_contact_text{ padding:10px 20px 0; border-top:solid 1px #e2e2e2;}
.pop_contact_text li{ padding:5px 0; font-size:14px; color:#666;}
.pop_contact_text li i.icon{ width:14px; height:14px; margin:3px 8px 0 0; background:url(../images/store/store_icon.png) no-repeat;}
.pop_contact_text li i.tb1{ background-position:-20px -315px;}
.pop_contact_text li i.tb2{ background-position:-40px -315px;}
.pop_contact_text li i.tb3{ background-position:-60px -315px;}
.pop_contact_text li i.tb4{ background-position:-80px -315px;}
.pop_contact_text li i.tb5{ background-position:0px -330px;}

.pop_contact .fssj_div{ background:#f6f6f6; border-top:solid 1px #e2e2e2; display:none;}
.pop_contact.pop_form .fssj_div .sub_btn{ float:left;}
.pop_contact.pop_form .fssj_div .sub_btn a{ width:120px; margin:0; padding:0;}
.pop_contact.pop_form .fssj_div .sub_btn a.btn2{ margin-left:12px;}

