@charset "UTF-8";
body{margin:0;padding:0;color:#333;font:12px "microsoft yahei",Arial,Helvetica,sans-serif}
a{color:#333;text-decoration:none} 
a:hover{color:#ff0700} a:active,a:focus,a:hover,input,textarea,select{outline:0}
address,caption,cite,code,dfn,em,th,var{font-weight:500;font-style:normal}
b, h1, h2, h3, h4, h5, h6{font-weight: 500;font-size:100%}
dd,dl,h1,h2,h3,h4,h5,h6,ol,p,ul{margin:0;padding:0;list-style:none}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:none}
.ziti0{font-size:10px}.ziti1{font-size:12px}.ziti2{font-size:13px}.ziti3{font-size:15px}.ziti4{font-size:18px}.ziti5{font-size:20px}.ziti6{font-size:22px}.ziti7{font-size:24px}.ziti8{font-size:26px}.ziti9{font-size:28px}.ziti10{font-size:30px}
.hr-1,.hr-10,.hr-15,.hr-2,.hr-20,.hr-22,.hr-25,.hr-3,.hr-30,.hr-32.hr-35,.hr-4,.hr-40,.hr-45,.hr-5,.hr-50,.hr-55,.hr-60,.hr-65,.hr-7,.hr-70,.hr-75,.hr-80,.hr-85,.hr-9,.hr-90{clear:both;font-size:1px;line-height:1px}
.hr-1{height:1px}.hr-2{height:2px}.hr-3{height:3px}.hr-4{height:4px}.hr-5{height:5px}.hr-7{height:7px}.hr-9{height:9px}.hr-10{height:10px}.hr-15{height:15px}.hr-16{height:16px}.hr-20{height:20px}.hr-22{height:22px}.hr-25{height:25px}.hr-30{height:30px}.hr-32{height:32px}.hr-35{height:35px}.hr-40{height:40px}.hr-45{height:45px}.hr-50{height:50px}.hr-55{height:55px}.hr-60{height:60px}.hr-65{height:65px}.hr-70{height:70px}.hr-75{height:75px}.hr-80{height:80px}.hr-85{height:85px}.hr-90{height:90px}
.white{color:#fff}.green{color:#090}.bg{background:#1983d1}.bg2{background:#fff}.bg3{background:#ff9326}.bg4{background:#fa6463}.bg5{background:#fff}.yellow{color:#ff0}.blue{color:#2489ce}.red{color:red}.gray1{color:#333}.gray2{color:#666}.gray3{color:#999}
input,select,textarea{font-weight:inherit;font-size:inherit;font-family:inherit} .vam{vertical-align: middle;}
.fl{float:left} .fr{float:right} .clear{clear:both} .center{text-align: center;}
.loginOut_li1{
    display: inline-block;
    vertical-align: middle;
    background: url(../Images/common_nav_out_nor.png) no-repeat 10%;
    background-size: 35%;
    margin-right: 5px;
}

.loginOut_1,.username_1{
	cursor: pointer;
}

.ajax_loadModal{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(0,0,0,.3);
	z-index: 99999;
	display: none;
}
.ajax_load_img{
	position: absolute;
	width: 32px;
	height: 32px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*付款页面*/
/*模态框开始*/
.pay_model {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	
}
/*支付媒体查询*/
@media screen and (max-width: 1880px){
	.PayMoney {
		width: 426px!important;
		height: 400px!important;
	}
	.payCenter {
		width: 370px!important;
		margin-top: 19px!important;
	}
	.payServe>i {
		font-size: 12px!important;
	}
	.payServe {
		margin-top: 16px!important;
	}
	.pay-check {
		width: 12px !important;
		height: 12px !important;
		margin-left: 30px !important;
		margin-right: 5px !important;
	}
	.PayMoney>p {
		font-size: 12px!important;
		margin-left: 47px!important;
		margin-top: 2px!important;
	}
	.PayTop {
		width: 100%!important;
		height: 30px!important;
		line-height: 30px!important;
		font-size: 12px!important;
	}
	.PayTop>i {
		font-size: 30px!important;
		margin-top: -3px;
	}
	.payCenter>h2 {
		padding-top: 10px!important;
		font-size: 12px!important;
		margin-left: 18px!important;
	}
	.payCenter>p {
		padding-top: 8px !important;
		font-size: 12px !important;
		margin-left: 23px !important;;
	}
	.pay-open {
		width: 100px!important;
		height: 30px!important;
		font-size: 12px!important;
		line-height: 30px!important;
		margin-top: 16px!important;
	}
	.PayXuan {
		width: 88%!important;
		margin-top: 25px!important;
	}
	.fang{
		font-size: 14px!important;
		padding-top: 26px!important;
	}
	.pay-affirm {
		margin-top: 65px!important;
		width: 120px!important;
		height: 35px!important;
		font-size: 14px!important;
		line-height: 35px!important;
	}
	.PayText {
		margin-top: 13px!important;
		font-size: 14px!important;
	}
	.PayText>em {
		font-size: 24px!important;
		margin-right: 6px!important;
	}
	.PayText>i {
		margin-left: 5px!important;
	}
	.payCenter>p:last-child {
		padding-bottom: 8px!important;
	}
}

/*模态框结束*/
/*外层big盒子开始*/
.PayMoney {
	height: 596px;
	width: 640px;
	border-radius: 5px;
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
/*盒子结束*/
/*头部开始*/
.PayText {
	margin-top: 35px;
	text-align: center;
	font-size: 23px;
	color: #494949;
	margin-left: -30px;
	/*font-weight:700;*/
}
.PayText>em {
	font-size: 34px;
	margin-right: 8px;
}
.PayText>i {
	font-style: normal;
	margin-left: 10px;

}
/*修改支付后的样式*/
.PayTop {
	font-size: 18px;
	color: #ffffff;
	background: #1da1f2;
	display: block;
	height: 44px;
	width: 640px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 44px;
	padding-left: 22px;
	box-sizing: border-box;
}
.PayTop>i {
	font-size: 38px;
	color: #ffffff;
	float: right;
	font-style: normal;
	margin-right:22px ;
	cursor: pointer;
}
/*头部结束*/
/*中部开始*/
/*修改后支付样式*/
.payCenter {
	display: block;
	width: 556px;
	height: auto;
	background: #f0f1f4;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 24px;
}
/*修改后支付样式*/
.HuiDian {
	width: 5px;
	height: 5px;
	display: inline-block;
	background: #c4c5c7;
	border-radius: 50%;
	line-height: 5px;
	margin-right: 10px;

}
/*修改后支付样式*/
.payCenter>h2 {
	padding-top:24px;
	font-size: 16px;
	font-weight:700;
	margin-left: 28px;
	color: #494949;
}
/*修改后支付样式*/
.payCenter>p {
	padding-top: 13px;
	font-size: 14px;
	color: #898989;
	margin-left: 36px;
}
.payCenter>p:last-child {
	padding-bottom: 24px;
}
/*修改后支付样式*/
.payCenter>p>span {
	vertical-align: middle;
}
/*中部结束*/
/*服务条例开始*/
.payServe {
	margin-top: 24px;

}
.pay-check {
	width:14px;
	height:14px;
	vertical-align: top;
	margin-left: 46px;
	margin-right: 10px;
}
.payServe>i {
	font-style:normal;
	font-size: 14px;
	color: #898989;
}
.payServe>i>em {
	color: #f4ae6a;
	cursor: pointer;
}
.PayMoney>p {
	font-size: 18px;
	color: #494949;
	margin-left: 72px;
	margin-top: 12px;
}
.PayMoney>p>i {
	font-weight:700;
	color: #ff7977;
	font-style: normal;
}
.pay-open {
	width:150px;
	height: 40px;
	font-size: 16px;
	background: #1da1f2;
	color: #ffffff;
	line-height: 40px;
	text-align: center;
	display: block;
	border-radius: 30px;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 20px;
}
/*服务条例结束*/

/*支付方式选择页面开始*/
.PayTop>em {
	cursor: pointer;
}
.fang {
	font-size: 18px;
	color: #494949;
	font-weight:700;
	padding-top: 40px;
	padding-left: 42px;
}
.PayXuan {
	width: 556px;
	height: 134px;
	background: #f0f1f4;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 40px;
}
.PayWeixin {
	padding-top: 28px;
	margin-left: 28px;
	line-height: 20px;
	font-size: 16px;
	color: #494949;
}
.PayWeixin>span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../Images/icon_pay_weixin.png") no-repeat;
	vertical-align: top;
	margin-right: 12px;
}
.PayWeixin>i {
	float: right;
	margin-right: 36px;
	display: block;
	width: 20px;
	height: 20px;
	background: url("../Images/set_icon_pay_sel.png") no-repeat;
	cursor: pointer;
}
.PayZhifubao {
	padding-top: 30px;
	margin-left: 28px;
	line-height: 20px;
	font-size: 16px;
	color: #494949;
}
.PayZhifubao>span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../Images/icon_pay_zhifubao.png") no-repeat;
	vertical-align: top;
	margin-right: 12px;
}
.PayZhifubao>i {
	float: right;
	margin-right: 36px;
	display: block;
	width: 20px;
	height: 20px;
	background: url("../Images/set_icon_xioaxi_nor.png") no-repeat;
	cursor: pointer;
}
.pay-affirm {
	font-style: normal;
	width: 150px;
	height: 40px;
	font-size: 16px;
	background: #1da1f2;
	color: #ffffff;
	line-height: 40px;
	text-align: center;
	display: block;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 124px;
	cursor: pointer;
}
.pay03>h6 {
	font-size: 16px;
	color: #494949;
	text-align: center;
	padding-top: 56px;

}
.pay03>h5 {
	font-size: 28px;
	color: #ff7977;
	font-weight:700;
	padding-top: 16px;
	text-align: center;
	padding-bottom: 26px;

}
.pay-code {
	margin: 0 auto;
	display: block;
	width: 156px;
	height: 186px;
	border: 1px solid #d6d6d6;
}
.pay-code-img {
	display: block;
	margin: 9px;
	width: 138px;
	height: 138px;
	background: url("../Images/weixin1.png") no-repeat;
}
.pay-code>p {
	color: #494949;
	font-size: 14px;
	text-align: center;
}
/*支付方式选择页面结束*/

/*支付成功模态框*/
.pay-modal-cell{
	width: 320px;
	height: 250px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border-radius: 5px;
	text-align: center;
}

.pay-modal-cell img{
	margin-top: 40px;
}

.pay-modal-cell p{
	font-size: 18px;
	color: #494949;
	font-weight: 600;
	margin-top: 20px;
	padding-left: 5px;
}
.pay_state2 {
	display: block;
	width: 225px;
	font-size: 14px;
	color: #898989;
	margin: 0 auto;
	margin-top: 16px;
	line-height: 25px;
}

/*拍卖详情*/
.table-container
{
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
	font-size: 14px;
	color: #494949;
}
.table-container>table {
	margin: 0 auto;
	width: 90%;
}
.table-container>table td {
	padding-left: 28px;
}
.pai-top-text {
	font-size: 18px;
	color: #494949;
	margin-top: 30px;
	/*margin-left:40px;*/
	font-weight:700;
	margin-bottom: 10px;
}
.pai-top-text01 {
	font-size: 14px;
	color: #494949;
	display:block;
	/*padding-left: 40px;*/
	margin-bottom:17px ;
}
.pai-center-text {
	font-size: 18px;
	color: #f73d04;
	/*margin-left: 40px;*/
	margin-bottom: 10px;
	margin-top: 20px;

}
.pai-details-text {
	padding-top: 24px;
	padding-bottom: 20px;
	font-size: 14px;
	/*margin-left: 40px;*/
	/*margin-right: 40px;*/
	border-radius: 5px;
}
.Pai-Img {
	font-size: 0;
}
.Pai-Img{
	margin-top: 10px;
	text-align: center;

}
.paimai_des_content {
	overflow: auto;
	padding: 30px 40px 30px 40px;
	box-sizing: border-box;
}
/*拍卖结束*/