<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务协议</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/index.css" />
	</head>
	<body style="min-width: 1200px;overflow-x: auto;">
		<!--页面顶部开始-->
		<header class="header_box"></header>
		<div class="header-box"></div>
		<!--页面顶部结束-->
		
		<!--协议开始-->
		<div class="ServeStatus">
			<div class="ServeTop">
				<h3>雀&nbsp;搜&nbsp;会&nbsp;员&nbsp;认&nbsp;证&nbsp;技&nbsp;术&nbsp;服&nbsp;务&nbsp;协&nbsp;议</h3>
				<div class="ServerCenter">
					为进一步加强会员真实的信息推送环境，雀搜面向使用雀搜采购信息数据营销会员提供认证信息展示技术服务，双方同意会员购买认证技术服务后，可以享受雀搜为会员提供的在雀搜对会员的推送结果中或在双方约定的其他位置利用文字、图形或其他标识展示会员的身份信息等被认证的信息及相关信誉信息，从而建立和提升采购商对会员的了解度和认可度。双方本着互惠互利并在遵守中国法律法规之相关规定及雀搜有关认证、推广及信誉的政策和规范的基础上，达成以下协议条款（简称“认证服务协议”）。
					<br>一、定义及解释
					<br>1. 雀搜： 为广东雀鸟科技有限公司（以下简称雀鸟公司）下属服务企业的互联网应用平台，对会员的主体资质信息等认证资料等进行核实，对符合雀搜认证标准的会员提供认证信息的技术及展示服务的一方。
					<br>2. 代理商： 经雀鸟公司认可的，代理用户向雀搜进行认证服务申请及支付费用的服务商。
					<br>3. 会员： 向雀搜提出认证申请，提交真实、合法的申请资料，缴纳认证费用，遵守雀搜推广政策和信誉政策，享受雀搜认证信息服务的一方。
					<br>4. 采购商：接收、或了解到雀搜推送的会员供应信息及认证的网民。
					<br>5. 第三方认证机构： 接受雀搜委托代为到会员经营地办理认证资质文件的现场核验、拍照、收取及实际经营地的核验及经营实景拍摄等验证事宜的机构。
					<br>6. 账户： 会员为进行推广或完成认证申请及享受相关服务而在雀搜会员服务平台注册并使用的雀搜账户。会员应自行或授权第三人完成注册程序、资质上传、真实性验证、付费等环节，会员应对其账户中发生的一切行为承担法律责任。
					<br>7. 账户状态： 会员账户的状态，包括但不限于下列情形：1）申请待核实；2）核实通过；3）申请被拒绝等。
					<br>8. 认证条件： 指雀搜根据相应法律、法规、关于认证和信誉的政策和相关规范，对会员进行审核和评估并确定会员是否有资格享有雀搜认证技术服务的一系列条件。
					<br>9. 认证方式： 指对会员的主体资质信息及经营状况信息等不同认证内容所采取的验证方法。
					<br>10. 实名认证： 对会员工商注册信息及企业基本信息的认证。
					<br>11. 实地认证： 对会员实际经营地址、基本经营信息的认证。
					<br>12. 资信认证： 是对会员经营资质及相关资产情况等信息的认证。
					<br>13. 商标认证： 对会员持有或被授权使用的注册商标及其对应网站等进行的认证。
					<br>14. 验证： 指雀搜或其委托的第三方机构在其能力范围内对会员申请认证的资料进行审核、评估、验证的过程。
					<br>15. 认证技术服务费： 指会员为进行认证向雀搜支付的手续费用。
					<br>16. 关联圈： 指在雀搜推广服务中，主体资质相同的账户将被雀搜关联到一起，形成关联圈，在关联圈下推广URL主域相同的账户之间的将形成关联圈小圈（“小圈”）。雀搜将对关联圈及小圈内账户进行统一管理。关联圈内账户将共享一定权利并共担责任。 本协议内容包括本协议正文及《账户关联关系协议》(http://www.527so.com,详见雀搜公示内容)、账户中心及 雀搜网站中公布相关雀搜产品政策、雀搜推广政策等，上述协议及公示政策应视为本协议不可分割的组成部分，与本协议具有同等法律效力 。
					<br>二、合同的确认与接收
					<br>1.会员必须完全同意雀搜在http://www.527so.com上公布的《雀搜会员认证技术服务协议》(即“本协议”及其后续更新版本)全部条款，自行或授权其代理商完成注册程序、资质上传、真实性验证、付费等环节，会员使用“雀搜会员认证技术服务”的行为将视为会员对本协议全部内容和条款的同意和接受。
					<br>2.会员在线上点击“阅读”“同意”或“确认”本协议的按钮、或线下在本协议或引用本协议的订单或协议上签章均将视为对本协议全部内容和条款及后续在http://www.527so.com上公布的更新版本的同意和接受。
					<br>3.会员与代理商签订的与雀搜会员认证技术服务有关的任何订单/协议与本协议有不一致之处的，以本协议为准。
					<br>三、合同的修改与解释
					<br>1.雀搜根据互联网的发展和中华人民共和国有关法律、法规的变化，不断地完善服务质量并依此修改服务条款，并 在雀搜网站 (网址：http://www.527so.com)上进行公示，协议一经公示，如五日内会员未提出终止本协议，修改后的协议自动生效 。
					<br>2.会员的权利以及义务的表述，均以最新的服务条款为准。会员有义务随时查看雀搜网站上公示的最新版本的《认证服务协议》（协议名称可能会修改），如发生有关争议时，以最新的服务合同为准。如果会员在条款变更后继续访问或使用雀搜相关服务，则视为会员已经接受对本协议的修改。
					<br>四、会员的权利与义务
					<br>（一）基本权利与义务
					<br>1.会员保证其资质及行为符合雀搜认证标准、推广政策等业务政策和产品政策等，保证向雀搜或雀搜授权的第三方认证机构提供真实、合法、准确、有效的名称、地址、联系方式、身份证明文件、行政许可资质证明文件、营业状态证明材料、经营网站信息及资质等书面或电子的信息及文件，并在申请实地认证服务、资信认证服务的情形下，接受并配合雀搜授权的第三方认证机构的实地取证、验证。
					<br>2.会员保证前述第1款信息及雀搜认证标识中的客观信息在验证期和认证服务期间持续真实、合法、准确、有效。若发生变更，应当在变更后3个工作日内向雀搜提供更新后的信息和相应的证明文件，并保证有效配合雀搜的验证以及认证服务期间的不时核查。雀搜有权随时将不真实、不合法、不准确、已无效的内容取消展现甚至停止提供认证展示服务，而无需退还会员任何费用，并有权要求会员赔偿因此给雀搜带来的损失。
					<br>3.会员保证与线上信息相关的一切发生在线下的商业行为及经营行为合法且诚实守信。
					<br>4.会员保证如接收到第三方发出的与雀搜认证信息相关的投诉通知、律师函、起诉资料等信息，会员应当及时妥善解决。如果纠纷解决结果对雀搜认证标识中的信息有实质性改变或影响的会员应当适用第2项的规定及时通知雀搜。
					<br>5.会员同意接受雀搜或雀搜授权的第三方认证机构以电话或邮件或上门拜访等方式不定期地确认及核查与认证信息和信誉情况的相关事宜。
					<br>6.会员应当按照本协议约定的认证方式及认证信息展示内容的费用标准缴纳认证技术服务费。
					<br>7.会员同意雀搜有权决定认证展现信息的范围、信息来源及展现样式等。
					<br>8.会员对在雀搜认证技术服务账户的用户名和密码的安全性负全部责任，并对以其用户名进行的所有活动和事件及授权第三人代为进行的与认证相关的行为负全部责任，会员若发现账号存在安全漏洞的情况，应立即通知雀搜。
					<br>9.会员同意雀搜有权基于认证政策、推广政策、会员认证情况、会员信用行为、会员账户的历史表现、会员的保障意愿、网民对会员网站的评价、会员在雀搜推广过程中发生的各类投诉纠纷情况等。 雀搜有权对因违反法律法规、被纳入最高法失信被执行人名单或受到行政处罚的会员执行惩罚策略（包括但不限于立即中止或终止认证服务等）。
					<br>10.会员应遵守雀搜对关联圈账户的统一管理政策，包括但不限于对账户的统一撤销认证，统一终止雀搜认证/推广服务等。
					<br>11.会员同一关联圈内账户将共享信誉信息。
					<br>12.如会员违反本条第1款至第9款任何条款，雀搜有权适用第四条第3款之规定；如会员违反本条其他约定的，雀搜有权通知会员限期更正，会员拒绝更正的，雀搜有权适用第六条第3款之规定。雀搜因此终止本协议的，会员已支付的认证费不予退还，同时雀搜有进一步追究会员法律责任的权利。
					<br>13.会员同意雀搜在雀搜网站已或将发布的与推广、认证有关的政策、通知、合同变更等事项，并自发布之日起生效。会员将自行及时查阅相关通知，并按照通知及变更后的产品政策及修订后的合同修订履行相关义务， 如果会员不同意变更事项应当于公示 5 日内以书面形式向雀搜申请终止本协议，会员继续使用变更后的服务视为接受变更内容 。
					<br>（二）商标认证的权利与义务
					<br>1.申请商标认证服务的会员知晓并同意，商标认证服务的生效，有两个前提：在服务有效期内；商标持有权与使用权人一致。
					<br>2.会员同意雀搜有权决定和处理商标侵权投诉时，基于国家法律法规和雀搜政策，终止商标认证产品服务及其相关权益。
					<br>3.雀搜有权对于商标认证服务在有效期内，但商标注册证已过期或权属关系发生变更的会员，撤销商标认证产品相关的展现权益。
					<br>五、雀搜的权利与义务
					<br>1.雀搜有权根据推广及产品政策制定验证条件、验证的过程、手段、结果、认证的展现内容及展现方式、展现样式的计算、认证的撤销及恢复情形及方式等政策和策略。
					<br>2.雀搜在验证过程中或认证通过后有权对其会员的真实、合法性等进行审核和复核，会员拒绝核查或雀搜有理由怀疑其真实性、合法性的，雀搜有权拒绝或终止服务。
					<br>3. 在雀搜认证技术服务期间，因会员主体行政许可资质变化、内容违法违规，雀搜有权视情节中止或终止雀搜认证技术服务，撤销雀搜认证。 若会员收到雀搜通知限期更正的，会员整改后重新满足认证条件的，可以申请恢复或重新验证。中止后申请恢复的，雀搜验证同意后恢复，但先前的认证服务期限并不因中止而中断，如果先前认证服务期未届满的，会员不用再次缴费，如果先前认证服务期已届满的，会员应当重新缴费；终止后会员重新申请认证的，会员需另行缴费，认证服务期自重新认证通过日起算，先前的认证费用雀搜无需返还。
					<br>4.在雀搜认证技术服务期间，雀搜有权随时采取技术措施删除或断开涉嫌含有危害国家安全、淫秽色情、虚假、侮辱、诽谤、恐吓或骚扰、侵犯他人知识产权或人身权或其他合法权益等违法或有违社会公序良俗的推广内容或链接。
					<br>5.雀搜如遭受不可抗力事件（包括恐怖主义、黑客攻击、自然灾害、劳动条件、停电、电信部门技术调整、病毒入侵、政府管制、政策调整等），有权通知会员暂停或终止雀搜认证技术服务，不视为违约。
					<br>6.对下列情形，雀搜不承担任何责任： a)并非由于雀搜故意或过失而导致认证服务未能及时提供； b)由于会员或其他第三人的故意或过失导致会员遭受损失的； c)由于雀搜对雀搜认证相关的系统进行测试、升级、更新、服务抽样测试及雀搜业务调整等，对会员产生的任何影响。 d)会员主动申请终止本协议的，雀搜无需承担法律责任和费用补偿。
					<br>7.雀搜基于本协议向会员提供并展示在雀搜网站 http://www.527so.com上的认证信息，内容和信息等真实性、合法性及准确性或会员从事的与网站相关的任何行为的任何形式的担保。会员不得向任何人作出有悖于此条的虚假宣传。
					<br>8.如果雀搜违反本协议规定的义务，给会员造成损失的，违约金和赔偿金的最高限额为会员缴纳认证技术服务费。
					<br>9.雀搜仅对会员通过雀搜验证的信息进行展示。雀搜不对会员的任何线上及线下行为向任何第三方进行担保或保证，包括内容和信息等真实性、合法性及准确性进行担保或保证，不对会员从事的任何行为进行担保或保证。
					<br>10.雀搜将依现有技术上维护雀搜认证的正常展现和运行，并努力提升和改进技术。如因雀搜调整认证的版面布局、页面设计、服务内容等，影响相关平台的正常运行，会员应予以谅解并承诺放弃相应诉权。
					<br>六、认证费
					<br>1.本协议下的会员认证需收取技术服务费，技术服务费按年收取。
					<br>2.会员认证技术服务费：一年RMB 500元（大写：伍佰元整）。
					<br>3. 会员缴纳的所有认证的服务费在任何情况下均不会退还或部分退还给会员。服务有效期结束会员想继续进行认证的，应在原服务有效期届满前一个月内重新提交申请并交纳认证费。
					<br>七、认证有效期及年审
					<br>1. 本协议下的雀搜认证的有效期暂无限制，自雀搜认证通过之日起算。但雀搜有权更改有效期，承诺会员有效期不低于1年时间。有效期届满，如需雀搜继续认证的， 会员应当在认证有效期届满前一个月内，重新向雀搜申请，通过认证后视为本协议对双方继续有效，有效期顺延，之后亦同。
					<br>2.会员一次性购买多年认证服务的，亦需要每年重新申请认证，通过认证后会员可继续享受雀搜认证服务，如认证未通过，则无法继续享受雀搜提供的认证服务，会员已经缴纳的费用在任何情况下不予退还。
					<br>八、第三方投诉的解决
					<br>会员的行为违反法律法规、本协议及雀搜制定的关于雀搜认证技术服务的任何政策和规范的规定导致雀搜受到第三方投诉（包括但不限于第三方以发函、媒体报道等形式指控雀搜侵权，对雀搜提起诉讼，向相关主管机关举报使雀搜遭受审查或质询等），或使雀搜面临相关主管机关的审查或质询，雀搜有权立即暂停或终止雀搜认证技术服务。会员应在收到雀搜通知后，应以自己名义出面与第三方协商、应诉或接受相关主管机关审查或质询，并承担所有费用（包括但不限于诉讼费、律师费、赔偿款），并赔偿因此给雀搜造成的全部损失，雀搜有权在会员已支付的任何款项中直接抵扣该部分款项。
					<br>九、争议解决
					<br>本协议的生效、解释、执行、管辖、争议的解决均适用中华人民共和国法律。因本协议引起的或与本协议有关的任何争议，由本协议的履行地即服务器所在地北京市海淀区人民法院或其上级法院管辖。
					<br>十、特备说明
					<br>1.双方确认，本协议是双方签署的会员享有“雀搜认证技术服务”的确定版本。如会员签署的其他文件（包括但不限于会员与其代理商签署的协议、会员代理商与雀搜签署的协议）中有关“雀搜认证技术服务”描述与本协议矛盾的，以本协议为准。
					<br>2.雀搜郑重提示：为您享有高效优质的服务，请务必仔细阅读并确保完全理解本协议的条件、责任与义务，以及本协议会对会员权益产生的相关影响，任何人士和机构提供的文件（包括但不限于本协议）中有关雀搜认证技术服务描述与本协议条款矛盾的，以本协议的内容为准。
					<br>3.本协议所述通知方式为：雀搜将以网络公示/或雀搜推广服务系统内部通知和/雀搜认证服务系统内容流程或通知/或电子邮件和/或传真/或电话/或特快专递等方式提前通知会员或其代理商，通知会员的，会员获知该变更的日期以下述日期为准：网络公示之日起第3个工作日，电子邮件进入会员邮件账户之日，传真寄送会员之日，电话接收之日，特快专递发出之日起第3个工作日。通知代理商的，以雀搜和代理商之间的合同为准。任何情况下，会员向雀搜发出通知时，应当采用电子邮件和/或传真和/或特快专递方式（发出通知时，单位应加盖公章，个人应签字）。雀搜获知通知的日期同前。任何一方向对方发出通知，以多种方式通知的，对方获知日期以最早的获知日期为准。
				</div>
			</div>
		</div>
		<!--协议结束-->
		
		<!--页面底部开始-->
		<footer class="footer_box"></footer>
		<!--页面底部结束-->
		
		<script src="../../js/jquery.js"></script>
		<script src="../../js/common.js"></script>
	</body>
</html>