

<div class="mainBox">
	<div class="title"><a href="{userurl($username, 'file=introduce', $domain)}" target="_blank" class="more">更多</a><h2>{$main_name[$HM]}</h2></div>
	<div class="con">
		<div class="indexAbout" style="line-height:24px;">
			<span style="width:280px;height:178px;float: left;margin-right: 15px;" >
			<img src="{$COM[thumb]}" id="ctl00_ContentPlaceHolder1_companyinfo1_imgIntro" width="280" height="178" onerror="set_hidden(&#39;introImgOrFlash&#39;)" /></span>
			{$COM[intro]} [<a href="{userurl($username, 'file=introduce', $domain)}" class="t">详细介绍</a>]
		</div>
	</div>
</div>
