{php $CSS = array('index');}
{template 'header'}
<div class="m-sibnav">
<div class="g-row">
<ul class="hot-trade">
<li><a href=""><i class="iconfont m">&#xe61e;</i>集成吊顶</a></li>
<li><a href=""><i class="iconfont m3">&#xe62b;</i>卫浴洁具</a></li>
<li><a href=""><i class="iconfont">&#xe61e;</i>门窗</a></li>
<li><a href=""><i class="iconfont">&#xe67f;</i>地板</a></li>
<li><a href=""><i class="iconfont m2">&#xe64f;</i>陶瓷</a></li>
<li><a href=""><i class="iconfont">&#xe603;</i>厨房电器</a></li>
<li><a href=""><i class="iconfont">&#xe649;</i>墙体饰材</a></li>
<li><a href=""><i class="iconfont">&#xe605;</i>管材管件</a></li>
<li><a href=""><i class="iconfont">&#xe601;</i>橱柜/衣柜</a></li>
<li><a href=""><i class="iconfont">&#xe60b;</i>油漆涂料</a></li>
<li><a href=""><i class="iconfont">&#xe608;</i>防水材料</a></li>
<li><a href=""><i class="iconfont m">&#xe613;</i>晾衣架</a></li>
<li><a href=""><i class="iconfont">&#xe7e9;</i>硅藻泥</a></li>
<li><a href=""><i class="iconfont m">&#xe69a;</i>集成灶</a></li>
<li><a href=""><i class="iconfont">&#xe632;</i>净水器</a></li>
<li><a href=""><i class="iconfont">&#xe701;</i>集成墙面</a></li>
</ul>
</div>
</div>
<!--焦点图
<style type="text/css">
.slideBox{ width:864px; height:280px; overflow:hidden; position:relative;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:864px; height:280px; display:block;  }

.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url('{DT_SKIN}img/slider-arrow.png') -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
</style>
<script type="text/javascript">
	jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
</script>
<li><img src="{DT_SKIN}img/175164396956174.jpg" width="864" height="280"></li>
<li><img src="{DT_SKIN}img/152768467624098.jpg" width="864" height="280"></li>
<li><img src="{DT_SKIN}img/660148150129313.jpg" width="864" height="280"></li>
主体开始-->
<div class="g-row">
	<div class="wrapper">
		<div id="slideBox" class="slideBox">
			<div class="hd1">
				<ul>
				</ul>
			</div>
			<div class="bd1">
				<ul>
					<li><img src="{DT_SKIN}img/903780675448375.jpg" width="864" height="280"></li>
					
				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>
	<div class="m-search fr">
		<dl class="tab">
			<dt>信息快捷发布</dt>
			<dd>
				<div class="quickform">
				<ul>
					<li class="bbtn"><a href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" target="_blank">我要代理</a></li>
					<li class="bbtn"><a href="{$MODULE[2][linkurl]}my.php?mid=22&action=add" target="_blank">我要招商</a></li>
					<li class="m-contact"><em>免费热线：40088-59137</em>
						<p>
						发布您感兴趣的项目，开启财富之路！<br>
						59137，我就要商机！立即行动吧！
						</p>
					</li>
				</ul>
				</div>
			</dd>
		</dl>
	</div>
</div>
<div class="g-row">
	<ul class="m-adsix">
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
		<li><img src="{DT_SKIN}img/635295177640065.gif"></li>
	</ul>
</div>
<div class="g-row">
	<div class="g-30 g-r">
		<div class="m-w1190">
			<div class="m-tit">
				<h2 class="u-tt">最新建材意向代理商</h2>
				<div class="quickbtn fl">
					<a href="{$MODULE[2][linkurl]}my.php?mid=22&action=add" target="_blank">我要招商</a>
					<a href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" target="_blank">我要代理</a><!--<i class="icon iconfont">&#xe61b;</i><i class="icon iconfont" >&#xe61d;</i>-->
				</div>
				<p class="fr"><a href="{$MODULE[6][linkurl]}" target="_blank" class="u-more more">更多</a></p>
			</div>
			<div class="m-cent fl">
				<dl class="u-tr u-tr_tit">
					<dt>代理信息</dt>
					<dd>开店地址</dd>
					<dd>核实状态</dd>
					<dd>发布时间</dd>
				</dl>
				<!--{php $tags=tag("moduleid=6&condition=status>0&pagesize=7&areaid=$cityid&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<dl class="u-tr">
					<dt><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></dt>
					{php $duser = userinfo($t[username]);}
					<dd>[{area_pos($duser[areaid], '/')}]</dd>
					<dd class="Ok">{if $t[status]==3}已核实{elseif $t[status]==2}待审核{elseif $t[status]==4}已过期{elseif $t[status]==1}已拒绝{/if}</dd>
					<dd class="time">{date('Y-m-d',$t[addtime])}</dd>
				</dl>
				{/loop}
			</div>
			<div class="m-cent fr">
				<dl class="u-tr u-tr_tit">
					<dt>代理信息</dt>
					<dd>开店地址</dd>
					<dd>核实状态</dd>
					<dd>发布时间</dd>
				</dl>
				<!--{php $tags=tag("moduleid=6&condition=status>0&pagesize=14&areaid=$cityid&order=addtime desc&template=null")}-->
				{loop $tags $i $t}
				{if $i>6}
				<dl class="u-tr">
					<dt><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></dt>
					{php $duser = userinfo($t[username]);}
					<dd>[{area_pos($duser[areaid], '/')}]</dd>
					<dd class="Ok">{if $t[status]==3}已核实{elseif $t[status]==2}待审核{elseif $t[status]==4}已过期{elseif $t[status]==1}已拒绝{/if}</dd>
					<dd class="time">{date('Y-m-d',$t[addtime])}</dd>
				</dl>
				{/if}
				{/loop}
			</div>
		</div>
	</div>
</div>
<div class="g-row">
	<div class="m-tit f-dtit">
		<h2 class="u-tt">加盟推荐专区</h2>
		<a rel="nofollow" href="{$MODULE[2][linkurl]}my.php?mid=22&action=add" class="u-more fr">我要招商</a> 
		<a rel="nofollow" href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" class="u-more fr">我要代理</a>
	</div>
	<ul class="m-ilist m-ilist-w190 clearfix">
	<!--{php $tags=tag("moduleid=22&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=30&order=addtime desc&template=null")}-->
	{loop $tags $t}
	<li>
		<a href="{$t[linkurl]}" class="u-img" target="_blank">
		<img src="{$t[thumb]}" width="150" height="150" alt="{$t[alt]}" /></a>
		<strong><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></strong>
	</li>
	{/loop}
	</ul>
</div>
<div class="g-row">
	<div class="m-tit f-dtit">
		<h2 class="u-tt">加盟留言</h2>
		<a rel="nofollow" href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" class="u-more fr">我要代理</a> 
		<a rel="nofollow" href="{$MODULE[2][linkurl]}my.php?mid=22&action=add" class="u-more fr">我要招商</a>
	</div>
	<div id="message">
		<div class="message">
			<ul class="m-list" id="slider2">
			<!--{php $tags=tag("table=message&condition=status=3 and typeid=3&pagesize=8&order=addtime desc&template=null")}-->
			{loop $tags $t}
				<li><span class="m-list-r">{date('Y-m-d',$t[addtime])}</span>
				<a href="{$t[linkurl]}" target="_blank"><b>{$t[title]}</b><i>|</i><p>{$t[content]}</p></a></li>
			{/loop}
			</ul>
		</div>
	</div>
</div>
<div class="g-row" style="position: relative">
	<div class="m-tit f-dtit">
		<h2 class="u-tt">品牌库</h2>
		<a href="{$MODULE[13][linkurl]}" target="_blank" class="u-more fr">更多</a>
	</div>
	<dl class="m-tab m-sort" data-event="tab" data-type="hover">
		<dt class="m-hd">
		<ul class="m-sort-nav">
			<li class="active"><a href="javascript:" title="厨卫设备" rel="nofollow">厨卫设备</a></li>
			<li ><a href="javascript:" title="门窗" rel="nofollow">门窗</a></li>
			<li ><a href="javascript:" title="陶瓷" rel="nofollow">陶瓷</a></li>
			<li ><a href="javascript:" title="卫浴" rel="nofollow">卫浴</a></li>
			<li ><a href="javascript:" title="橱柜衣柜" rel="nofollow">橱柜衣柜</a></li>
			<li ><a href="javascript:" title="集成吊顶" rel="nofollow">集成吊顶</a></li>
			<li ><a href="javascript:" title="晾衣架" rel="nofollow">晾衣架</a></li>
			<li ><a href="javascript:" title="硅藻泥" rel="nofollow">硅藻泥</a></li>
			<li ><a href="javascript:" title="防水材料" rel="nofollow">防水材料</a></li>
			<li ><a href="javascript:" title="地板" rel="nofollow">地板</a></li>
			<li ><a href="javascript:" title="油漆涂料" rel="nofollow">油漆涂料</a></li>
		</ul>
		</dt>
		<dd class="active">
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90"/></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=5&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=6&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=7&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
		<dd >
			<ul class="m-ilist m-w200h90 clearfix">
				<!--{php $tags=tag("moduleid=13&catid=4&condition=status=3 and thumb<>''&areaid=$cityid&pagesize=10&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>
				<a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" alt="{$t[alt]}" width="200" height="90" /></a>
				<strong><a href="{$t[thumb]}" target="_blank">{$t[title]}</a></strong>
				</li>
				{/loop}
			</ul>
		</dd>
	</dl>
</div>
<div class="g-row">
	<div class="product fl">
		<div class="m-tit f-dtit">
			<h2 class="u-tt">热门产品</h2>
			<a href="{$MODULE[16][linkurl]}" class="u-more fr">更多</a>
		</div>
		<div class="carousel" data-event="scroll" data-mum="4">
			<a href="javascript:" class="prev"></a>
			<div class="m-ilist">
				<ul>
				<!--{php $tags=tag("moduleid=16&condition=status=3 and thumb<>''&pagesize=6&areaid=$cityid&order=addtime desc&template=null")}-->
				{loop $tags $t}
					<li><a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{str_replace('thumb', 'middle', $t[thumb])}" alt="{$t[alt]}" width="200" height="200" /><p>{$t[title]}</p></a></li>
				{/loop}
				</ul>
			</div>
			<a href="javascript:" class="next"></a>
		</div>
	</div>
	<div class="g-7 g-r jxs fr">
		<div class="m-tit f-dtit">
			<h2 class="u-tt">优秀经销商推荐</h2>
		</div>
		<div id="jxslist">
			<div class="jxslist lst2">
				<ul class="m-list">
				<!--{php $tags=tag("moduleid=4&condition=vip>0&areaid=$cityid&pagesize=8&order=fromtime desc&template=null")}-->
				{loop $tags $t}
					<li><a href="{$t[linkurl]}" target="_blank">{$t[company]}</a></li>
				{/loop}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="g-row">
	<div class="m-news fl">
		<div class="m-tit f-dtit">
			<h2 class="u-tt">资讯</h2>
			<a href="{$MODULE[21][linkurl]}list.php?catid=8" class="u-more fr">更多</a>
		</div>
		<div class="hotproduct fl">
			<ul>
				<!--{php $tags=tag("moduleid=21&catid=8&condition=status=3 and thumb<>''&pagesize=4&areaid=$cityid&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li><a href="{$t[linkurl]}" target="_blank" rel="nofollow"> <img src="{$t[thumb]}" width="200" height="150" title="{$t[title]}"><p>{$t[title]}</p></a></li>
				{/loop}
			</ul>
		</div>
		<div class="g-10 zsnews fl">
			<ul class="m-list">
				<!--{php $tags=tag("moduleid=21&catid=8&condition=status=3&pagesize=4&areaid=$cityid&order=addtime desc&template=null")}-->
				{loop $tags $t}
				<li>企业新闻<i>|</i><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
				{/loop}
			</ul>
		</div>
	</div>
	<div class="g-7 g-r m-w270 fr">
		<div class="m-tit f-dtit">
			<h2 class="u-tt">高端访谈</h2>
			<a rel="nofollow" href="{$MODULE[21][linkurl]}list.php?catid=14" class="u-more fr">更多</a>
		</div>
		<ul class="gdft">
			<!--{php $tags=tag("moduleid=21&catid=14&condition=status=3&pagesize=2&areaid=$cityid&order=addtime desc&template=null")}-->
			{loop $tags $t}
			<li>
				<a href="{$t[linkurl]}" class="u-img"><img src="{$t[thumb]}" /></a>
				<a href="{$t[linkurl]}" class="renwu"><span>{$t[title]}</span><h3>{$t[qymc]}</h3><em>{$t[zw]}</em></a>
			</li>
			{/loop}
		</ul>
		<ul class="m-list">
			<!--{php $tags=tag("moduleid=21&catid=8&condition=status=3&pagesize=5&areaid=$cityid&order=addtime desc&template=null")}-->
			{loop $tags $t}
			<li><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
			{/loop}
		</ul>
	</div>
</div>
<div class="g-row">
	<div class="m-tit f-dtit">
		<h2 class="u-tt">加盟门店展示</h2>
		<a href="{$MODULE[21][linkurl]}" class="u-more bold fr">更多</a>
	</div>
	<div class="carousel" data-event="scroll" data-mum="5">
		<a href="javascript:" class="prev"></a>
		<div class="m-ilist m-wimg">
		<ul>
			<!--{php $tags=tag("moduleid=21&condition=status=3 and thumb<>'' and catid<>14&pagesize=10&areaid=$cityid&order=addtime desc&template=null")}-->
			{loop $tags $t}
			<li><a href="{$t[linkurl]}" class="u-img" target="_blank"><img src="{$t[thumb]}" width="175px" height="210px" alt="{$t[alt]}"/></a>
			<strong><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></strong></li>
			{/loop}
		</ul>
		</div>
		<a href="javascript:" class="next"></a>
	</div>
</div>
<div class="g-row">
	<div class="m-tit f-dtit"><h2 class="u-tt">最新加入的品牌</h2></div>
	<div class="joinBrand">
	<ul class="m-list">
	<!--{php $tags=tag("moduleid=13&condition=status=3&areaid=$cityid&pagesize=4&order=addtime desc&template=null")}-->
		{loop $tags $t}
		<li><p class="m-list-r">加盟时间：<span>{date('Y-m-d',$t[addtime])}</span></p><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> </li>
		{/loop}
	</ul>
	<ul class="m-list">
	<!--{php $tags=tag("moduleid=13&condition=status=3&areaid=$cityid&pagesize=8&order=addtime desc&template=null")}-->
		{loop $tags $i $t}
		{if $i>3}
		<li><p class="m-list-r">加盟时间：<span>{date('Y-m-d',$t[addtime])}</span></p><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> </li>
		{/if}
		{/loop}
	</ul>
	<ul class="m-list">
	<!--{php $tags=tag("moduleid=13&condition=status=3&areaid=$cityid&pagesize=12&order=addtime desc&template=null")}-->
		{loop $tags $i $t}
		{if $i>6}
		<li><p class="m-list-r">加盟时间：<span>{date('Y-m-d',$t[addtime])}</span></p><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> </li>
		{/if}
		{/loop}
	</ul>
	<ul class="m-list">
	<!--{php $tags=tag("moduleid=13&condition=status=3&areaid=$cityid&pagesize=16&order=addtime desc&template=null")}-->
		{loop $tags $i $t}
		{if $i>9}
		<li><p class="m-list-r">加盟时间：<span>{date('Y-m-d',$t[addtime])}</span></p><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> </li>
		{/if}
		{/loop}
	</ul>
	</div>
</div>
<div class="g-row">
	<div class="g-30 tab-news">
	<dl class="tab">
		<dt>
			<p>
				<a href="javascript:" class="tabIn" rel="nofollow">店铺经营</a> 
				<a href="javascript:" rel="nofollow">加盟宝典</a> 
				<a href="javascript:" rel="nofollow">选址筹备</a> 
				<a href="javascript:" rel="nofollow">经验技巧</a>
			</p>
		</dt>
		<dd>
			<ul class="m-list">
			<!--{php $tags=tag("moduleid=21&catid=8&condition=status=3&pagesize=20&areaid=$cityid&order=addtime desc&template=null ")}-->
				{loop $tags $t}
					<li><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
				{/loop}
			</ul>
		</dd>
		<dd class="hide">
			<ul class="m-list">
				<!--{php $tags=tag("moduleid=21&catid=10&condition=status=3&pagesize=20&areaid=$cityid&order=addtime desc&template=null ")}-->
				{loop $tags $t}
					<li><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
				{/loop}
			</ul>
		</dd>
		<dd class="hide">
			<ul class="m-list">
			<!--{php $tags=tag("moduleid=21&catid=11&condition=status=3&pagesize=20&areaid=$cityid&order=addtime desc&template=null ")}-->
				{loop $tags $t}
					<li><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
				{/loop}
			</ul>
		</dd>
		<dd class="hide">
			<ul class="m-list">
			<!--{php $tags=tag("moduleid=21&catid=10&condition=status=3&pagesize=20&areaid=$cityid&order=addtime desc&template=null ")}-->
				{loop $tags $t}
					<li><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></li>
				{/loop}
			</ul>
		</dd>
	</dl>
	</div>
</div>
<div class="g-row">
	<div class="m-tit f-dtit">
		<h2 class="u-tt2">DESTOON特色</h2>
	</div>
	<dl class="ours g-30">
		<dd class="ico-pb"><i class="icon iconfont">&#xe6f2;</i>
		<strong>品牌展示</strong><p>招商推荐品牌广告</p><p>产品大图，门店风采</p><p>全方位品牌形象展示</p>
		</dd>
		<dd class="ico-zs"><i class="icon iconfont">&#xe665;</i>
		<strong>招商服务</strong><p>每周新增<b>200-300条</b></p><p>最新意向代理商信息</p><p>财富信息实时放送</p>
		</dd>
		<dd class="ico-xw"><i class="icon iconfont">&#xe62d;</i>
		<strong>新闻服务</strong><p>精美会员商铺网页</p><p>专属招商专题</p><p>专属招商专题</p>
		</dd>
		<dd class="ico-cf"><i class="icon iconfont">&#xe607;</i>
		<strong>建站服务</strong><p>软文刊登、活动报道</p><p>展会、人物采访</p><p>图文、视频立体展示</p>
		</dd>
		<dd class="ico-pt"><i class="icon iconfont">&#xe708;</i>
		<strong>平台资质</strong><p>专注建材<b>十五年</b></p><p>中国TOP100互联网企业</p> <p>可信网站认证</p>
		</dd>
	</dl>
</div>
<div class="g-row">
	<div class="friendlinks">
		<strong>友情链接：</strong>
		<!--{tag("table=link&condition=status=3 and thumb='' and username=''&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder desc,itemid desc&template=list-link&cols=9")}-->
	</div>
</div>
<script type="text/javascript">
//选项卡
var cx_a = $(".tab dt a");
cx_a.mouseenter(function () {
var $th = $(this);
var dd = $th.parents(".tab").children("dd");
var index = $th.index();
$th.addClass("tabIn").siblings().removeClass("tabIn").end();
dd.eq(index).removeClass("hide").siblings("dd").addClass("hide").end();
});
</script>
<script>
$(function () {
//滚动
$(".lst2").textSlider({ line: 1, speed: 500, timer: 3000 });
$("#slider2 li:odd").addClass('fr');
$('#form1').ajaxForm({
dataType: 'json',
beforeSubmit: function () {
if (!valcheck())
return false;
$('#form1 :submit').attr('disabled', 'true').val('正在保存...');
return true;
},
success: function (json, statusText, xhr, $form) {
$('#form1 :submit').removeAttr('disabled').val('提交');
if (json.error) {
alert(json.msg);
} else {
alert("提交成功！");
$("#Contact").val("");
$("#Mobile").val("");
$("#dailiquyu").val("0");
$("#TouZiE").val("");
}
}
});
});

</script>
<script type="text/javascript" src="{DT_STATIC}file/script/index.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/marquee.js"></script>
<script type="text/javascript">
new dmarquee(22, 10, 3000, 'site_stats');
new dmarquee(22, 30, 3000, 'company');
if(get_cookie('auth')) {
	$('.iuser_l')[0].title = '商务中心';
	$('.iuser_l')[0].href = '{$MODULE[2][linkurl]}';
	$('.iuser_l')[0].className = 'iuser_u';
	$('.iuser_r')[0].title = '完善我的会员资料';
	$('.iuser_r')[0].href = '{$MODULE[2][linkurl]}edit.php';
	$('.iuser_r')[0].className = 'iuser_e';
}
</script>
{template 'footer'}