@charset "utf-8";BODY{
	font-size: 14px;
	color: #333;
font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}

.hottag{font-size:12px;font-weight:normal;text-align:center;padding-left:50px;color:#999;}

body,div,form,img,ul,ol,li,dl,dt,h1,h2,h3,h4,h5,p,dd{margin:0;padding:0;border:0;list-style-type:none;}html{overflow:-moz-scrollbars-vertical;}em{font-style:normal;}.hidden{overflow:hidden;}.floatLeft{float:left;}.floatRight{float:right;}.wrap{margin-right:auto;margin-left:auto;width:1200px;}.Normalfont14{font-size:14px;font-weight:normal;}.font14{font-size:14px;font-weight:bold;}.font12{font-size:12px;font-weight:bold;}.bold{font-weight:bold;}.clr{CLEAR:both;}.clr5{CLEAR:both;line-height:5px;height:5px;}.clr10{CLEAR:both;height:10px;}.clr15{CLEAR:both;height:15px;}.clr20{CLEAR:both;line-height:20px;height:20px;}a:link{
	color:#333;
	text-decoration:none;
}a:visited{color:#333;text-decoration:none;}a:hover{color:#F60;text-decoration:underline;}a:active,a:focus{outline:none;}.white{color:#fff;}.white a:link{color:#fff;text-decoration:none;}.white a:visited{color:#fff;text-decoration:none;}.white a:hover{color:#fff;text-decoration:underline;}.red{color:#C00;}.red a:link{text-decoration:none;color:#C00;}.red a:visited{color:#C00;text-decoration:none;}.red a:hover{text-decoration:underline;color:#C00;}.green{color:#390;}.green a:link{text-decoration:none;color:#390;}.green a:visited{color:#390;text-decoration:none;}.green a:hover{text-decoration:underline;color:#390;}.blue{color:#06C;}.blue a:link{color:#06C;text-decoration:none;}.blue a:visited{color:#06C;text-decoration:none;}.blue a:hover{text-decoration:underline;}.yellow{color:#F60;}.yellow a:link{text-decoration:none;color:#F60;}.yellow a:visited{color:#F60;text-decoration:none;}.yellow a:hover{text-decoration:underline;color:#F60;}
.textBox{WIDTH:100px;WORD-BREAK:break-all;liNE-HEIGHT:16px;TEXT-AliGN:center;margin-top:7px;}.jiageBox{WIDTH:100px;WORD-BREAK:break-all;TEXT-AliGN:center;font-size:12px;color:#F30;height:20px;line-height:20px;font-family:Arial,Helvetica,sans-serif;}.companyBox{
	WIDTH:85px;
	WORD-BREAK:break-all;
	color:#666;
	padding-left:15px;
}


.box100{width:100px;}.line{border-top-width:1px;border-top-style:solid;border-top-color:#ddd;margin-top:2px;}
.weizhi{
	margin-right:auto;
	margin-left:auto;
	line-height:20px;
	color:#666;
	height:20px;
	padding-bottom:10px;
	width: 1200px;
	font-size: 12px;
}
.weizhi a:link{color:#666;text-decoration:none;}.weizhi a:visited{color:#666;text-decoration:none;}
.listnews{padding-left:10px;padding-top:5px;color:#666;}.listnews li{line-height:24px;display:block;height:24px;overflow:hidden;font-size:14px;color:#666;}.listnews li img{padding-top:5px;}.list280{
	color:#666;
}.list280 li{
	line-height:28px;
	display:block;
	height:28px;
	overflow:hidden;
	font-size:14px;
	background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);
	background-repeat:no-repeat;
	background-position:0 -360px;
	padding-left: 10px;

}.yuan{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:0 -419px;height:12px;width:12px;display:inline-block;}.gold{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:0 -443px;height:16px;width:27px;display:inline-block;}.cf_ico{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-90px -391px;height:15px;width:15px;display:inline-block;margin-right:5px;}.zs_ico{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-120px -391px;height:15px;width:15px;display:inline-block;margin-right:5px;}.pp_ico{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-342px -391px;height:15px;width:28px;display:inline-block;margin-right:5px;}.company_ico{
	background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);
	background-repeat:no-repeat;
	background-position:-300px -390px;
	height:10px;
	width:10px;
	display:inline-block;
	margin-left: 5px;
}.vip_ico{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-342px -411px;height:16px;width:50px;display:inline-block;}.tg_ico{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-160px -391px;height:15px;width:27px;display:inline-block;margin-left:5px;}.bw_ico{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-0px -465px;height:16px;width:49px;display:inline-block;margin-left:5px;}.nextpage{TEXT-AliGN:center;FONT-SIZE:12px;margin-right:auto;margin-left:auto;font-weight:normal;margin-bottom:10px;}.nextpage A{BORDER-BOTTOM:#06C 1px solid;BORDER-LEFT:#06C 1px solid;COLOR:#023399;MARGIN-LEFT:5px;BORDER-TOP:#06C 1px solid;BORDER-RIGHT:#06C 1px solid;padding:5px;}.nextpage A:hover{BACKGROUND-COLOR:#06C;COLOR:#fff;}.nextpage A.syiye{BORDER-RIGHT-WIDTH:0;PADDING-LEFT:5px;PADDING-RIGHT:5px;BORDER-TOP-WIDTH:0;BORDER-BOTTOM-WIDTH:0;BORDER-LEFT-WIDTH:0;}.nextpage A.syiye:hover{BACKGROUND-COLOR:#fff;COLOR:#06C;}.nextpage A.xyiye{BORDER-RIGHT-WIDTH:0;PADDING-LEFT:5px;PADDING-RIGHT:5px;BORDER-TOP-WIDTH:0;BORDER-BOTTOM-WIDTH:0;BORDER-LEFT-WIDTH:0;}.nextpage A.xyiye:hover{BACKGROUND-COLOR:#fff;COLOR:#06C;}.nextpage A.on{BACKGROUND-COLOR:#06C;COLOR:#FFF;FONT-WEIGHT:bold;}

/*翻页*/
.msdn{
	clear: left;
	text-align: center;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	font-size: 14px;
	height: 38px;
}.msdn A{    display: inline-block;
    min-width: 20px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #cccccc;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    color: #666;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;}.msdn A:hover{COLOR:#F60;border:1px solid #F60;}.pagination A:active{BORDER-RIGHT:#ddd 1px solid;BORDER-TOP:#ddd 1px solid;BORDER-LEFT:#ddd 1px solid;COLOR:#0066a7;BORDER-BOTTOM:#ddd 1px solid;BACKGROUND-COLOR:#FFFCE3;}.msdn SPAN.current{
	display: inline-block;
	margin: 0px 2px;
	padding: 3px 8px;
	min-width: 20px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ff6600;
	text-align: center;
	color: #FFFFFF;
	border-radius: 3px;
	background-color: #ff6600;
}.msdn SPAN.disabled{DISPLAY:none;}.msdn-hui{PADDING-RIGHT:6px;PADDING-LEFT:0;FONT-SIZE:14px;FONT-FAMILY:Arial,Helvetica,sans-serif;TEXT-AliGN:center;margin-right:auto;margin-left:auto;line-height:30px;height:30px;font-weight:bold;color:#999;margin-top:10px;}.msdn-hui A{BORDER-RIGHT:#ddd 1px solid;PADDING-RIGHT:8px;BORDER-TOP:#ddd 1px solid;PADDING-LEFT:7px;PADDING-BOTTOM:3px;BORDER-LEFT:#ddd 1px solid;COLOR:#999;PADDING-TOP:4px;BORDER-BOTTOM:#ddd 1px solid;TEXT-DECORATION:none;margin-top:0;margin-right:3px;margin-bottom:0;margin-left:3px;}.msdn-hui A:hover{COLOR:#F60;border:1px solid #F60;}.msdn-hui SPAN.current{BORDER-RIGHT:#ddd 1px solid;PADDING-RIGHT:6px;BORDER-TOP:#ddd 1px solid;PADDING-LEFT:5px;FONT-WEIGHT:bold;PADDING-BOTTOM:3px;BORDER-LEFT:#ddd 1px solid;COLOR:#999;PADDING-TOP:4px;BORDER-BOTTOM:#ddd 1px solid;BACKGROUND-COLOR:#FFFCE3;margin-top:0;margin-right:3px;margin-bottom:0;margin-left:3px;}.msdn-hui SPAN.disabled{DISPLAY:none;}.caigou_tishi {
    font-size: 14px;
    line-height: 35px;
    color: #666;
    height: 35px;
    text-align: center;
}/*翻页结束*/




.qq{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-400px -436px;height:18px;width:70px;padding-left:17px;display:block;}.qq{
	line-height:20px;
	line-height:20px \9;
*line-height:20px;	color:#333;
	line-height:20px;
	display:block;
	height:20px;
	width:53px;
	font-size: 12px;
}.qq:link{COLOR:#666;}.qq:visited{COLOR:#666;}.qq:active{COLOR:#666;TEXT-DECORATION:none;}.qq:hover{text-decoration:none;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-400px -461px;color:#333;}.contact{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-400px -391px;height:18px;width:70px;padding-left:8px;}.contact{
	float:left;
	line-height:20px;
	line-height:20px;
*line-height:20px;	color:#333;
	font-size: 12px;
}.contact:link{COLOR:#666;}.contact:visited{COLOR:#666;}.contact:active{COLOR:#666;TEXT-DECORATION:none;}.contact:hover{text-decoration:none;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-400px -416px;padding-left:8px;color:#333;}.shangpu{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-400px -436px;height:18px;width:70px;padding-left:17px;}.shangpu{line-height:20px;line-height:20px \9;*line-height:20px;color:#333;margin-bottom:5px;line-height:20px;display:block;height:20px;width:53px;float:left;}.shangpu:link{COLOR:#666;}.shangpu:visited{COLOR:#666;}.shangpu:active{COLOR:#666;TEXT-DECORATION:none;}.shangpu:hover{text-decoration:none;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-400px -461px;color:#333;}.goldmember{
	height:auto;
	width:1198px;
	border:1px solid #ddd;
	float:left;
	background-color:#f9f9f9;
}.goldmember .gold_title{line-height:30px;height:30px;padding-right:10px;padding-left:10px;background-image:url(http://meta.glass.cn/2012/gimages/default/defaultbg2016.png);background-repeat:repeat-x;background-position:0 -30px;}.goldmember .gold_title span{font-size:14px;font-weight:bold;float:left;width:200px;color:#F60;}.goldmember .gold_title em{float:right;width:300px;text-align:right;}.gold_more{float:right;padding-right:10px;width:auto;}.gold_more a:link{text-decoration:underline;color:#03C;}.gold_more a:visited{color:#03C;text-decoration:underline;}.gold_more a:hover{text-decoration:none;color:#F60;}.gold_pic{margin-top:15px;float:left;margin-right:auto;}.gold_pic li{
	float:left;
	width:162px;
	height:270px;
	margin-left:26px!important;
	margin-left:8px;
	margin-right:10!important;
	margin-right:8px;
}.gold_pic ul li .imgbox{
	WIDTH:162px;
	HEIGHT:162px;
	background-color:#FFF;
}.gold_pic ul li .imgbox A{
	BORDER-RIGHT:#DDD 1px solid;
	BORDER-TOP:#DDD 1px solid;
	DISPLAY:block;
	VERTICAL-AliGN:middle;
	BORDER-LEFT:#DDD 1px solid;
	BORDER-BOTTOM:#DDD 1px solid;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
*display:block;*font-size:140px;*font-family:Arial;	WIDTH:162px;
	HEIGHT:162px;
}.gold_pic ul li .imgbox A:hover{border:1px solid #F60;}.gold_pic ul li .imgbox IMG{VERTICAL-AliGN:middle;}.gold_pic ul li .textBox{
	WIDTH:160px;
	WORD-BREAK:break-all;
	liNE-HEIGHT:20px;
	TEXT-AliGN:center;
	margin-top:7px;
	color: #666;
	font-size: 12px;
}.gold_pic ul li .jiageBox{WIDTH:160px;WORD-BREAK:break-all;TEXT-AliGN:center;font-size:12px;color:#F30;height:20px;line-height:20px;font-family:Arial,Helvetica,sans-serif;}.gold_pic ul li .companyBox{
	WIDTH:115px;
	WORD-BREAK:break-all;
	color:#666;
	padding-left:45px;
}.namebox{WIDTH:110px;WORD-BREAK:break-all;liNE-HEIGHT:20px;TEXT-AliGN:center;color:#666;height:20px;}.colborder{
	width:1198px;
	float:left;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-top-color:#DDDDDD;
	border-right-color:#DDDDDD;
	border-left-color:#DDDDDD;
	margin-bottom:10px;
}.select_prod{
	PADDING-RIGHT:0;
	PADDING-LEFT:0;
	PADDING-BOTTOM:0;
	MARGIN:0;
	PADDING-TOP:0;
	HEIGHT:100%;
	BACKGROUND-COLOR:#FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}.select_prod DT{
	PADDING-RIGHT:5px;
	PADDING-LEFT:5px;
	FLOAT:left;
	PADDING-BOTTOM:8px;
	WIDTH:110px;
	liNE-HEIGHT:20px;
	PADDING-TOP:8px;
	TEXT-AliGN:right;
	color:#FF6600;
	margin:0;
}.select_prod DD{
	PADDING-RIGHT:6px;
	PADDING-LEFT:6px;
	FLOAT:left;
	PADDING-BOTTOM:8px;
	OVERFLOW:hidden;
	WIDTH:1060px;
	liNE-HEIGHT:20px;
	PADDING-TOP:8px;
	margin:0;

}.select_prod DD A{PADDING-RIGHT:4px;DISPLAY:block;PADDING-LEFT:4px;FLOAT:left;liNE-HEIGHT:18px;WHITE-SPACE:nowrap;margin-right:20px;padding-top:2px;margin-bottom:5px;padding-bottom:2px;}.select_prod DD A.this{COLOR:#fff;BACKGROUND-COLOR:#4798D0;}.select_prod DD A.this:visited{color:#fff;BACKGROUND-COLOR:#4798D0;text-decoration:none;}.clear{CLEAR:both;FONT-SIZE:1px;liNE-HEIGHT:0;HEIGHT:0;}.result-bar em{
	font-weight:bold;
	color:#F30;
	font-family:Verdana, Geneva, sans-serif;
	padding-right:2px;
	padding-left:2px;

}.result-bar{
	width:1198px;
	height:30px;
	line-height:30px;
	color:#333;
	margin-bottom:5px;
	background-color:#F9F9F9;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}.result-bar strong{padding-top:0;padding-right:10px;padding-bottom:0;padding-left:30px;float:left;text-align:right;line-height:30px;height:30px;}.result-bar .sMenu{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;display:inline-block;margin-right:10px;}.result-bar .sMenu{
	display:inline-block;
	padding-right:18px;
	padding-left:6px;
	height:18px;
	line-height:18px;
	margin-top:5px;
	border:1px solid #FF6600;
	background-color:#fff;
	background-position:right -485px;
	color:#333;
}.result-bar .sMenu:hover{
	border:1px solid #CCC;
	text-decoration:none;
	background-position:right -505px;
	display:inline-block;
}


.footbox{
    overflow: hidden;
	width:100%;
	background-color:#f6f6f6;
	padding-bottom: 10px;
}
.foot_nav{
	text-align:center;
	width:100%;
	line-height:35px;
	height:35px;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#ddd;

	padding-top:10px;
}.copyright{
	width:100%;
	text-align:center;
	padding-bottom:10px;

}.copyright ul li{
	line-height:28px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}.vipcompanybox{height:200px;overflow:hidden;}#head{
	line-height:28px;
	height:28px;
	width:100%;
	;
	margin-right:auto;
	margin-left:auto;
	background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);
	background-repeat:repeat-x;
	background-position:0 -530px;
	font-size: 12px;
}.head_logo{
	height:80px;
	width:1200px;
	position:relative;
	padding-top: 20px;
	padding-bottom: 20px;

}.home_logobox{
	float:left;
	height:80px;
	width:290px;

}.home_nav_login{float:left;width:400px;color:#666;}.home_nav_tools{float:right;width:575px;text-align:right;color:#ddd;}.home_servicebox{float:right;height:55px;width:183px;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:0 -300px;padding-top:5px;padding-left:37px;}.home_servicebox ul li{height:26px;float:left;line-height:26px;display:inline;}.ico1{height:16px;width:16px;padding-left:25px;width:70px;}.ico2{height:16px;width:16px;padding-left:25px;width:63px;}.ico3{height:16px;width:16px;padding-left:25px;width:70px;}.ico4{height:16px;width:16px;padding-left:25px;width:63px;overflow:hidden;}

#glassbar,#glassbar li,#glassbar li a,#glassbar li b{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:0 -130px;}#glassbar{
	height:42px;
	background-repeat:repeat-x;
	background-position:0 -130px;
	margin-bottom:10px;
	width:100%;
	;
	margin-right:auto;
	margin-left:auto;
}#glassbar div{height:35px;overflow:hidden;padding-top:7px;padding-right:0;padding-bottom:0;}#glassbar ul{float:left;padding-left:5px;}#glassbar li,#glassbar li a,#glassbar li b{display:block;float:left;height:35px;line-height:26px;line-height:28px\9;overflow:hidden;color:#fff;font-size:16px;font-family:"微软雅黑";font-weight:bold;}#glassbar li{
	background-position:right -252px;
	padding-right: 1px;
	padding-left: 1px;
}#glassbar li a{background-repeat:repeat-x;background-position:500px 500px;padding:0 13px;display:block;}#glassbar li a.nc,#glassbar li a.nd{background-position:0 -176px;color:#000;font-weight:bold;height:35px;text-decoration:none;}#glassbar li b{width:3px;overflow:hidden;background-position:0 50px;}#glassbar li b.nl{background-position:0 -214px;}#glassbar li b.nr{background-position:-4px -214px;}#glassbar p{float:right;padding-right:12px;}#glassbar p a{font-weight:bold;text-decoration:none;}#glassbar .center{position:relative;overflow:visible;}
/*导航*/
.nav{
	height:42px;
	margin-right:auto;
	margin-left:auto;
	font-family: "微软雅黑";
	width: 1200px;
}
.nav ul{
	float:left;
	width: 1200px;
}
.nav li{
	float:left;
	height:40px;
	line-height:40px;
	overflow:hidden;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	display: inline-block;
	text-align: center;
	width: auto;

}
.nav ul li a {
	color:#fff;
	padding-right: 25px;
	padding-left: 25px;
	line-height: 40px;
	height: 40px;
}
.nav ul li a:hover {
	color:#fff;
	display: inline-block;
	background-color: #FF3300;
	text-decoration: none;
}
/*搜索*/
#home_searchbox{
	DISPLAY:inline;
	FLOAT:left;
	WIDTH:610px;
	height:85px;

}#home_searchbox .searchTabs{POSITION:relative;HEIGHT:22px;}
#home_searchbox .searchTabs UL{LEFT:0;POSITION:absolute;TOP:0;}
#home_searchbox .searchTabs LI{
	FONT-SIZE:12px;
	FLOAT:left;
	WIDTH:50px;

	LINE-HEIGHT:16px;
	HEIGHT:16px;
	TEXT-ALIGN:center;
	cursor:pointer;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
}
#home_searchbox .searchTabs LI:link{
	color:#666
}
#home_searchbox .searchTabs LI:hover{
	color:#F60
}

.selected{
	FONT-WEIGHT:bold;
	COLOR:#F60;
	height:16px;
	width:50px;
	font-size:12px;
}


.searchInput{
	height:30px;
	padding-left:10px;
	width:502px;
	background:#fff!important;
	font-size:14px;
	outline:0;
	float: left;
	border-top-width: 2px;
	border-right-width: 0;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ddd;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	line-height: 30px;
	color: #333;
}
 .searchInput:focus{border:2px solid #f60;border-right:0}
 .searchBtn {
    WIDTH: 88px;
    CURSOR: pointer;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    HEIGHT: 36px;
    BORDER-BOTTOM-STYLE: none;
    text-indent: -9999em;
    background-color: #F60;
    background-image: url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);
    background-repeat: no-repeat;
    background-position: -160px -81px;
}

#home_searchbox .searchFields .sear_sub{
float: left;
cursor: pointer;
border: none;
color: #fff;
display: block;
height: 40px;
width: 75px;
text-align: center;
line-height: 40px;
vertical-align: middle;
background-color: #BF1D22;
font-family: "微软雅黑","Microsoft Yahei";
font-size: 16px;

}

.search_hot {
    overflow: hidden;
	line-height: 16px;
	height: 16px;
	margin-top: 7px;
	color: #999;
	padding-left: 5px;
	font-size: 12px;
}
.search_hot a {
	padding-right: 5px;
	color: #666;
}

.search_fabu{
	line-height:40px;
	font-size:16px;
	display:inline-block;
	text-align:center;
	height:40px;
	padding:0 13px;
	color:#fff;
	margin-left:17px;
	cursor:pointer;
	background-color: #349AEF;
}
.search_fabu:link{
	color: #FFF;
	background-color: #349AEF;
}
.search_fabu:visited{
	color: #FFF;
	background-color: #349AEF;
}
.search_fabu:hover{
	color: #FFF;
	background-color: #158CF0;
}.resultbox{height:auto;width:398px;border:1px solid #FEB784;display:block;left:233px;top:56px;background-color:#FFF;position:absolute;z-index:1323325989;zoom:1;}.select{background-color:#FFF;}.selectOver{background-color:#D8E7F3;}#resultdiv .resultbox ul li{font-size:12px;line-height:25px;display:block;height:25px;}#resultdiv .resultbox ul li span{float:left;color:#333;height:25px;padding-left:10px;}#resultdiv .resultbox ul li em{float:right;width:auto;color:#390;font-family:Arial,Helvetica,sans-serif;display:block;padding-right:5px;height:25px;font-size:12px;}#resultdiv .resultbox .search_combox{height:50px;border-top-width:1px;border-top-style:solid;border-top-color:#FEB784;}.list_xuan{float:left;width:30px;height:20px;line-height:20px;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-530px -390px;padding-left:20px;}.list_xuan1{float:left;width:30px;height:20px;line-height:20px;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:-530px -408px;padding-left:20px;}.nav_new{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:0 -387px;height:16px;width:15px;display:inline-block;}.mF_classicHC .pic{border:1px solid #ddd;overflow:hidden;}.mF_classicHC .pic li{position:absolute;left:1px;top:1px;}.mF_classicHC .txt li{position:absolute;left:0;overflow:hidden;background-color:#fff;}.mF_classicHC .txt li a{display:block;color:#333;text-align:center;font-size:14px;font-weight:bold;text-decoration:none;}.mF_classicHC .num,.mF_classicHC .num-bg{height:19px;position:absolute;z-index:3;right:0;bottom:31px;color:#fff;}.mF_classicHC .num-bg{width:100%;background:url(http://meta.glass.cn/2012/gimages/ico/Focus_bg.png) right bottom no-repeat;_height:16px;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://meta.glass.cn/2012/gimages/ico/Focus_bg.png',sizingMethod='scale');}.mF_classicHC .num-bg li{position:absolute;}.mF_classicHC .num li{float:left;width:26px;height:16px;line-height:16px;padding-top:3px;text-align:center;cursor:pointer;position:relative;}.mF_classicHC .num li span{position:absolute;top:3px;left:0;width:1px;height:16px;overflow:hidden;background:#DADADA;}.mF_classicHC .num li.current,.mF_classicHC .num li.hover{background:url(http://meta.glass.cn/2012/gimages/ico/Focus_arrow.gif) left top no-repeat;}.mF_classicHC .num li.hover{background-position:right bottom;}#achome{height:240px;width:320px;}.ad{width:660px;height:220px;overflow:hidden;position:relative;}.slider,.shuzi{position:absolute;}.slider li{list-style:none;display:inline;}.slider img{display:block;}.box_scroll{height:650px;width:280px;overflow:hidden;}.release{width:24px;z-index:999;overflow:visible;position:fixed;top:250px;right:5px;_position:absolute;_top:expression(documentElement . scrollTop+documentElement .clientHeight-this . offsetHeight);text-align:center;}.release span{background-image:url(http://meta.glass.cn/2012/gimages/default/buydefault.png);background-repeat:no-repeat;background-position:-219px -1116px;background-color:#F60;width:20px;font-size:14px;font-weight:bold;height:102px;text-align:center;color:#FFF;display:block;padding-top:8px;padding-right:1px;padding-left:3px;}.release span a:link{COLOR:#FFF;}.release span a:visited{COLOR:#FFF;}.release span a:active{COLOR:#FFF;TEXT-DECORATION:none;}.release span a:hover{COLOR:#FF0;TEXT-DECORATION:none;}.release .top{padding-top:15px;padding-right:0;padding-bottom:10;padding-left:0;}.release .dinbu{display:block;height:30px;width:24px;padding-top:35px;background-image:url(http://meta.glass.cn/2012/gimages/default/buydefault.png);background-repeat:no-repeat;background-position:-219px -1227px;}.release .dinbu a{COLOR:#FFF;text-decoration:none;}#show_box_bw{position:absolute;z-index:11;font-size:12px;height:20px;padding-left:1px;background:url(http://meta.glass.cn/2012/gimages/default/bw_title_left.gif) no-repeat;}#show_box_bw a{white-space:nowrap;display:inline-block;padding:0 8px 0 5px;line-height:20px;background:url(http://meta.glass.cn/2012/gimages/default/bw_title_right.gif) no-repeat right;}#show_box_bw_1{position:absolute;z-index:9;background:#DADAD1;}#show_box_bw_con{position:absolute;z-index:10;width:auto;_width:expression(this.offsetWidth>260 ? '260px':true);background:url(http://meta.glass.cn/2012/gimages/default/bw_con_top_right.gif) no-repeat right top;}#show_box_bw_con .out_top_bg{width:auto;background:url(http://meta.glass.cn/2012/gimages/default/bw_con_top_left.gif) no-repeat left top;padding:3px 0;text-align:left;}#show_box_bw_con a{color:#3C3C3C;line-height:150%;}#show_box_bw_con a:hover,#show_box_bw a{color:#81140F;text-decoration:none;}#show_box_bw_con div{height:100%;background:url(http://meta.glass.cn/2012/gimages/default/bw_con_bottom_right.gif) no-repeat right bottom;}#show_box_bw_con ul{height:100%;background:url(http://meta.glass.cn/2012/gimages/default/bw_con_bottom_left.gif) no-repeat left bottom;padding:0 10px 8px;}#show_box_bw_con ul li{padding-top:4px;padding-left:55px;font-size:12px;background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-position:-0px -463px;no-repeat 0 4px;}.search_combox img{padding:0;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;}.gonggao-notice{
	height:30px;
	width:100%;
	OVERFLOW:hidden;
	padding-top: 10px;
}.gonggao-notice DD.btn-closed{background-image:url(http://meta.glass.cn/2012/gimages/default/headbg2016.png);background-repeat:no-repeat;background-position:0 -495px;}.gonggao-notice DL{MARGIN:0 auto;OVERFLOW:hidden;WIDTH:1200px;HEIGHT:30px;}.gonggao-notice DT{
	BACKGROUND-POSITION:0;
	FLOAT:left;
	OVERFLOW:hidden;
	WIDTH:83px;
	COLOR:#F00;
	HEIGHT:28px;
	TEXT-ALIGN:right;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:#FEC9A1;
	border-bottom-color:#FEC9A1;
	border-left-color:#FEC9A1;
	font-size:12px;
	line-height:28px;
	font-weight:bold;
	background-color:#FFFBE1;
}.gonggao-notice DD.description{
	FONT-SIZE:12px;
	FLOAT:left;
	WIDTH:828px;
	COLOR:#F00;
	LINE-HEIGHT:28px;
	HEIGHT:28px;
	background-color:#FFFBE1;
	border-top-width:1px;
	border-bottom-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:#FEC9A1;
	border-bottom-color:#FEC9A1;
}.gonggao-notice DD.description EM{FONT-WEIGHT:bold;COLOR:#F00;}.gonggao-notice DD.btn-closed{FONT-SIZE:12px;FLOAT:left;MARGIN:0;WIDTH:65px;LINE-HEIGHT:28px;HEIGHT:28px;TEXT-ALIGN:center;border:1px solid #FEC9A1;}.gonggao-notice DD.btn-closed A{PADDING-LEFT:12px;COLOR:#666;}.gonggao-notice DD.btn-closed A:link{COLOR:#666;TEXT-DECORATION:none;}.gonggao-notice DD.btn-closed A:visited{COLOR:#666;TEXT-DECORATION:none;}
.grid_980_80{
	height:80px;
	width:1200px;
	margin-right:auto;
	margin-left:auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
.topgrid_80{
	height:80px;
	width:1200px;
	margin-right:auto;
	margin-left:auto;
	padding-top: 15px;
	padding-bottom: 5px;
}.topgrid_80 ul li{
	float:left;
	height:80px;
	width:290px;
	margin-right:13px;
}
.topgrid_80 .grid_no{float:right;height:80px;width:290px;margin:0;padding:0;}
.grid_80{
	height:80px;
	width:1200px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 15px;
}
.grid_80 li{
	float:left;
	height:80px;
	width:auto;
	margin-right:12.5px;
}.grid_80 .grid_no{float:right;height:80px;width:230px;margin:0;padding:0;}


/*微信*/
.pop-autoapp{width:110px;height:150px;position:fixed;left:50%;margin-left:505px;top:530px;_position:absolute;z-index:800;}.pop-autoapp a{display:block;width:110px;height:150px;text-align:center;}.pop-autoapp a:link,.pop-autoapp a:visited{color:#666666;background-color:#efefef;text-decoration:none;}.pop-autoapp a:hover{color:#666666;background-color:#d0d0d0;text-decoration:none;}.pop-autoapp a div{line-height:24px;}.pop-autoapp a .pop-autoapp-close{height:16px;margin-bottom:3px;text-align:right;background-color:#ffffff;}.pop-autoapp i.icon16{cursor:pointer;visibility:hidden;_visibility:visible;}.pop-autoapp i.icon16-close:hover{cursor:pointer;}.pop-autoapp:hover i.icon16{visibility:visible;}


#biaowang {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
	margin-bottom: 15px;
}
#biaowang ul li {
	float: left;
	height: 80px;
	width: 370px;

	margin-left: 30px;

}


/* pop */
.pop_Layer { position:fixed; right:0; bottom:0; width:0; height:0; z-index:999;}
.pop_LayerCont {
	position:absolute;
	width:300px;
	height:220px;
	overflow:hidden;
	right:0;
	bottom:0;
	display:none;
}

.pop_Layer_Close {
	width:100%;
	height:20px;
	position:absolute;
	cursor:pointer;
	text-align: right;
}

.pop_Layer_Content {
	background-color:#000;
	padding:0;
	width:100%;
	height:200px;
	overflow:hidden;
	margin-top: 20px;
}
/*焦点图*/
.bannerbox {
	width: 650px;
	height: 230px;
	position: relative;
	overflow:hidden;
	float: left;
}
/*数字按钮样式*/
.bannerbox .num { overflow:hidden; height: 25px; position: absolute; bottom:12px; right: 5px; zoom:1; z-index:1 }
.bannerbox .num li {
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: 400;
	font-family: "微软雅黑", Arial;
	color: #FFFFFF;
	background: #444444;
	margin-right: 5px;
	border-radius:50%;
	cursor:pointer;
	float: left;
}
.bannerbox .num li.on { background: #FF7700; } /*当前项*/

/*上一个  下一个*/
.bannerbox .prev,
.bannerbox .next { display: none; width: 34px; height: 60px; background: url(http://meta.glass.cn/2012/gimages/default/btn.png) no-repeat; position: absolute; top: 85px;}
.bannerbox .prev { left: 0; }
.bannerbox .next { right: 0; background-position: right }


.links_footer{
	height:auto;
	width:1198px;
	border:1px solid #ddd;

	margin-top:15px;
	margin-right: auto;
	margin-left: auto;
}.links_name{
	line-height:28px;
	color:#ddd;
	padding-top:10px;
	padding-right:15px;
	padding-bottom:10px;
	padding-left:15px;
}.links_name a:link{text-decoration:none;color:#333;}.links_name a:visited{color:#333;text-decoration:none;}.links_name a:hover{text-decoration:underline;color:#F30;}



/*登录*/
.member-into{
	float: right;
	width: 270px;
	height: 54px;
	margin-bottom: 15px;
	float: right;
}
.member-into li {
	float: left;
	height: 53px;
	font-size: 18px;
	text-align: center;
	font-family: "微软雅黑","黑体";
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #f7d389;
	border-right-color: #f7d389;
	border-bottom-color: #F60;
	border-left-color: #f7d389;
}
.member-into .member-login { width: 133px }
.member-into .member-reg { width: 134px; margin-left: -1px }
.member-into a { color: #FF6600; display: block; height: 53px; line-height: 55px; background-color: #fef6c7; font-weight: bold }
.member-into a:hover { background-color: #feefac }













H3 {
	DISPLAY:block;
	height:35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
H3 {
    DISPLAY: block;
    FONT-WEIGHT: bold;
    height: 35px;
    background-image: url(http://meta.glass.cn/2012/gimages/default/defaultbg2016.png);
    background-repeat: repeat-x;
    background-position: 0 0px;
}
H3 SPAN{DISPLAY:block;PADDING-LEFT:14px;FONT-WEIGHT:bold;FLOAT:left;background-repeat:no-repeat;line-height:35px;}H3 EM{PADDING-RIGHT:10px;DISPLAY:block;FLOAT:right;COLOR:#666;font-weight:normal;font-size:12px;background-image:url(http://meta.glass.cn/2012/gimages/default/defaultbg2016.png);background-repeat:no-repeat;background-position:0 -65px;padding-left:7px;line-height:35px;color:#666;}H3 EM a:link{text-decoration:none;color:#666;}H3 EM a:visited{color:#666;text-decoration:none;}H3 EM a:hover{text-decoration:underline;color:#F30;}.weizhi .location {
	float: left;
	margin-right: 10px;
	height: 20px;
	white-space:nowrap;
}
.weizhi .location a h1 {
	font-size: 12px;
	font-weight: normal;
	display: block;
	float: right;
	
}

/*百度类似金牌会员*/
.sell_kuang {
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.sell_kuang .title {
    background-image: url(http://meta.glass.cn/2012/gimages/default/buydefault.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}
.gold_list {
    padding-top: 10px;
    padding-left: 10px;
    width: 185px;
    padding-right: 5px;
}

.gold_list ul li {
    float: left;
    overflow: hidden;
    width: 175px;
    margin-bottom: 10px;
    font-family: Verdana,Geneva,sans-serif;
    color: #666;
    font-size: 12px;
}

.gold_list ul li p {
    float: left;
    width: 175px;
    line-height: 18px;
}

.gold_list ul li p em {
    color: #390;
}

.gold_list ul li p em a:link {
    COLOR: #390;
}

.gold_list ul li p em a:visited {
    COLOR: #390;
}

.gold_list ul li p em a:active {
    COLOR: #390;
    TEXT-DECORATION: none;
}

/*关键字广告*/
.keyword_title {
    width: 202px;
    margin-bottom: 5px;
}

.right_keyword ul {
    height: auto;
    width: 180px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.right_keyword ul .companyyear {
    text-align: center;
    line-height: 18px;
    padding-bottom: 2px;
    height: 18px;
    padding-top: 2px;
}

.right_keyword ul .companyName {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

/*小搜索*/
.show_search {
    float: left;
    height: 20px;
    width: 165px;
    color: #666;
}

.minisearch {
    position: relative;
    float: left;
    height: 18px;
    padding: 1px;
    overflow: hidden;
    background: #ddd;
}

.minisearch input {
    float: left;
    width: 100px;
    height: 17px;
    border: none;
    color: #666;
    vertical-align: top;
    line-height: normal;
    margin-right: 1px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-left: 5px;
    font-size: 12px;
    padding-top: 0px;
}

.minisubmit {
	CURSOR: pointer;
	float: left;
	width: 51px;
	height: 18px;
	text-align: center;
	line-height: 18px;
    *line-height: 18px;
	background-image: url(http://meta.glass.cn/2012/gimages/default/buydefault.png);
	background-repeat: no-repeat;
	background-position: -150px -380px;
	color: #333;
}

.minisubmit:link {
    COLOR: #333;
}

.minisubmit:visited {
    COLOR: #333;
}

.minisubmit:active {
    COLOR: #333;
    TEXT-DECORATION: none;
}

.minisubmit:hover {
    background-position: 0 -20px;
    text-decoration: none;
    background-image: url(http://meta.glass.cn/2012/gimages/sell/input_bg.png);
    color: #F60;
}


/**/

.login{float:right;height:180px;width:270px;}.login_an{float:left;width:100%;height:100px;background-color:#FFF;}.login_an li{float:left;height:30px;width:83px;text-align:center;display:inline;margin-right:5px;margin-bottom:5px;}.login_an li a{float:left;height:30px;width:83px;font-size:14px;font-weight:bold;line-height:30px;background-image:url(http://meta.glass.cn/2012/gimages/default/defaultbg.png);background-repeat:no-repeat;background-position:0 -120px;color:#F60;}.login_an li a:hover{text-decoration:underline;color:#FFF;font-weight:bold;background-image:url(http://meta.glass.cn/2012/gimages/default/defaultbg.png);background-repeat:no-repeat;background-position:0 -150px;font-size:14px;}.login_an ul .none{margin-right:0;float:right;width:83px;margin-left:0;}

.login .gonggao {
    height: 160px;
    width: 268px;
    border: 1px solid #ddd;
}

.hqlist {
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	overflow: hidden;
}