{if $announce}

<div class="m_b30 model_box">
            <div class="l_hd"><span class="adorn"></span>{$side_name[$HS]}</div>
            <div class="contact_way">
                <dl>
                      <div style="line-height:180%;height:100px;overflow:hidden;padding:0 5px 0 5px;">
			<marquee onmouseOver="this.stop();" onmouseout="this.start();" scrollamount="1" scrolldelay="85" direction="up" behavior="scroll" height="100">{$announce}</marquee>
                </dl>
            </div>
        </div>
{/if}