<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>消息中心</title>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/index.css" />
	</head>

	<body style="min-width: 1280px;">
		<!--父容器开始-->
		<div class="outer_div">
			<div class="left_template"></div>
			<div class="right_template"></div>
			<div class="messageCenter">
				<div class="message-head">
					<label class="checkbox checkboxAll1" onselectstart="return false;" onclick="selectAll()" />
					<input id="checkall" type="checkbox" name="checkall" />
					<i></i>
					</label>
					<span class="allmessage">全选：</span>
					<em class="DeleteMessage">删除</em>
				</div>
				<div class="message-body">
					<div name="111" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
                        <input type="checkbox" name="checkedres" />
                        <i></i>
                    </label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华3代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="222" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
                        <input type="checkbox" name="checkedres" />
                        <i></i>
                    </label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华2代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="333" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
                        <input type="checkbox" name="checkedres" />
                        <i></i>
                    </label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华1代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="444" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华3代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="555" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华2代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="666" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华1代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="777" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华3代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="888" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华2代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="999" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华1代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1010" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华3代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1111" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华2代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1212" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华1代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1313" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华1代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1414" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华3代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1515" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华2代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
					<div name="1616" class="message-list">
						<div class="xxaa">
							<label class="checkbox" onselectstart="return false;">
								<input type="checkbox" name="checkedres" />
								<i></i>
							</label>
							<span class="message-title">请跟进注册会员请跟进会员跟进会员</span>
							<em class="message-text">会员贾少华1代，性别男，电话号码13580546695，所在区域：广东省广州市天河区，详细地址：广东省广州市天河区大观中路95号A栋407，于2017-10-30 11:40在平台注册尚未成为认证会员，现平台把该会员资料转给您跟进，若能成功开发，可按代理协议获得提成。</em>
							<i>2017-09-13&nbsp;13:50<em class="UpDown"></em></i>
						</div>

						<div class="xian"></div>
						<div class="list-max">

						</div>
					</div>
				</div>

				<!--分页器开始-->
				<div class="xiansuo_Page_Div">
					<!--<div class="xiansuo_Page_border"></div>-->
					<div class="xiansuo_Page_div">
						<div class="fl">
							<span style="margin-right: 5px;">每页显示</span>
							<select class="xiansuo_Page_Three">
								<option value="10">10</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
							<img class="first_page" title="第一页" src="../Images/icon_sanjiao_01.png" alt="" />
							<img class="prev_page" title="上一页" src="../Images/icon_sanjiao_02.png" alt="" />
						</div>
						<ul class="xiansuo_Page_list">
							<li class="active">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
						</ul>
						<img class="next_page" title="下一页" style="margin-left: 15px;" src="../Images/icon_sanjiao_03.png" alt="" />
						<img class="last_page" title="最后一页" src="../Images/icon_sanjiao_04.png" alt="" />
						<span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10" /><span style="margin-left: 5px;">页</span>
					</div>
				</div>
				<!--分页器结束-->

				<!--确认删除模态框-->
				<div class="delete-modal">
					<div class="delete-modal-cell">
						<p>确认要删除吗？</p>
						<div class="delete_modal_btns">
							<span class="de_confirm_1">确定</span>
							<span class="de_cancel_1">取消</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--父容器结束-->
		
		<script>var pages = "消息中心"; index1 = '' ;index2 = '' ;</script>
		<script src="../js/jquery.js"></script>
		<script src="../js/common.js"></script>
		<script>
			$(function() {
				getHeight(); //获取高度
				
				$(window).resize(function() {
					getHeight();
				})
				//点击展示收起
//				var clickNumber = 0; //记录点击
				$(document).on("click", ".message-list>.xxaa>i>em", function() {
//					$(this).parent().parent().parent().find($(".message-title")).addClass("ColorMessage");
					var sub = $(this).parent().parent().parent().find($(".message-text")).text()
					var has = $(this).hasClass("UpDown");
					console.log(has);
					if(has == true) {
						$(this).addClass("UpDown02").removeClass("UpDown")
						$(this).parent().parent().parent().find($(".message-title")).css({
							"font-weight": 700,
							"color":"#494949!important"
						})
						$(this).parent().parent().parent().find($(".list-max")).text(sub);
						$(this).parent().parent().parent().find($(".message-text")).fadeOut();
						$(this).parent().parent().parent().find($(".xian")).stop(true, false).slideDown()
						$(this).parent().parent().parent().find($(".list-max")).stop(true, false).slideDown()
					}else{
						$(this).addClass("UpDown").removeClass("UpDown02")
						$(this).parent().parent().parent().find($(".message-title")).css({
							"font-weight": 100
						})
						$(this).parent().parent().parent().find($(".message-title")).addClass("ColorMessage");
//						$(this).parent().parent().parent().find($(".UpDown")).css("background-image", "url(../Images/common_icon_zhankaii_nor.png)");
						$(this).parent().parent().parent().find($(".message-text")).fadeIn();
						$(this).parent().parent().parent().find($(".xian")).stop(true, false).slideUp();
						$(this).parent().parent().parent().find($(".list-max")).stop(true, false).slideUp();
					}
					//$(this).parent().parent().parent()
//					console.log(clickNumber);
//					var sub = $(this).parent().parent().parent().find($(".message-text")).text()
//					if(clickNumber % 2 == 0) {
//						$(this).parent().parent().parent().find($(".message-title")).css({
//							"font-weight": 700
//						})
//						$(this).parent().parent().parent().find($(".UpDown")).css("background-image", "url(../Images/common_icon_shouqi_nor.png)");
//						//                $(this).parent().parent().parent().find($(".message-text")).text(sub1)
//						$(this).parent().parent().parent().find($(".list-max")).text(sub);
//						$(this).parent().parent().parent().find($(".message-text")).fadeOut();
//						$(this).parent().parent().parent().find($(".xian")).stop(true, false).slideDown()
//						$(this).parent().parent().parent().find($(".list-max")).stop(true, false).slideDown()
//					} else {
//						$(this).parent().parent().parent().find($(".message-title")).css({
//							"font-weight": 100
//						})
//						$(this).parent().parent().parent().find($(".UpDown")).css("background-image", "url(../Images/common_icon_zhankaii_nor.png)");
//						$(this).parent().parent().parent().find($(".message-text")).fadeIn();
//						$(this).parent().parent().parent().find($(".xian")).stop(true, false).slideUp();
//						$(this).parent().parent().parent().find($(".list-max")).stop(true, false).slideUp();
//					}
//					clickNumber++;

					//
					//           var messtext = $(".message-text").text();
					//            $(".list-max").text(messtext)
					//            $(".message-text").text('');
					//            console.log(messtext);
					//            $(".list-max").stop(true,false).slideToggle()
					//            $(".xian").stop(true,false).slideToggle()
				})

			})
			
			//动态获取高度
			function getHeight() {
				var winH = $(window).height();

				setTimeout(function(){
					var headerH = $(".left_header").height();
					$(".messageCenter").height(winH - headerH);
				},100)

				var headH = $(".message-head").height();
				var pageH = $(".xiansuo_Page_Div").outerHeight(true);
				var WinBodyH = winH - (90+headH+pageH);
				$(".message-body").height(WinBodyH);
				$(".left_template").height(winH);

//				$(".messageCenter").height(winH - headerH);
			}
		</script>
	</body>

</html>