<div class="left_header">
	<div class="page_state indexs"></div>
	<div class="vip-valid">专属链接：<input type="text" id="Ctext" value="www.527so.com" readonly="readonly"></div><span class="CopyText">复制链接</span><em>推荐码：<i>YGSGE110001</i></em></div>
<div class="right_header">
	<ul>
		<li class="xiansuoli1"><span class="user_icon1"></span>
			<a href="javascript:;">哟哟11111111111</a>
		</li>
		<li class="xiansuoli1"><span class="login_out1"></span>
			<a href="javascript:;">退出</a>
		</li>
		<li class="xiansuoli1 message_button"><span class="message_ico1"></span>
			<a href="javascript:;">信息</a><em class="message_red"></em></li>
	</ul>
</div>
<div class="right_center">
	<p><em></em><i>复制成功</i></p>
</div>