<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/index.css" />
	<link rel="stylesheet" href="../css/set.css" />
	<title>修改密码</title>
	<style>
		.errot_Tips1{
			border: 1px solid #FF0000 !important;
		}
		.oldPassword_p1,.oldPassword_p2,.oldPassword_p3{
			display: none;
		}
	</style>
</head>
<body style="min-width: 1280px;">
	<!--父容器开始-->
	<div class="outer_div">
		<div class="left_template">
			<div class="user_logo">
				<a href="#"><img src="../Images/common_logo.png" alt=""></a>
			</div>
			<p class="company_name1">代理商管理系统</p>
			<div class="userList_bar">
				<ul class="userList_ul">
					<a href="index.html" class="userList_li"><span class="icon-01"></span><span class="icon-text">首页</span></a>
					<div class="slider_List">
						<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></a>
						<div class="icon-money-div">
							<a href="fund-platform.html">资金管理</a>
							<a href="fund-money.html">申请提现</a>
						</div>
						<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></a>
						<div class="icon-data-div">
							<a href="data-daili.html">代理商数据统计</a>
							<a href="data-market.html">业务员数据统计</a>
							<a href="data-train.html">培训师数据统计</a>
							<a href="data-vip.html">注册会员数据统计</a>
						</div>
						<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></a>
						<div class="icon-person-div">
							<a href="juese-admin.html">管理员管理</a>
							<a href="juese-agent.html">代理商管理</a>
							<a href="juese-check.html">审核代理商</a>
							<a href="juese-salesman.html">业务员管理</a>
							<a href="juese-trainer.html">培训师管理</a>
						</div>
						<a href="javascript:;" class="userList_li icon-shopping active"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></a>
						<div class="icon-shopping-div show">
							<a href="set-user.html">用户组</a>
							<a href="set-send.html">发布公告</a>
							<a href="set-history.html">历史公告</a>
							<a href="set-password.html" class="open">个人设置</a>
							<a href="set-divide.html">代理商分成设置</a>
						</div>
					</div>
				</ul>
			</div>
		</div>
		<div class="right_template"></div>
		<div class="page-set white-bg">
			<h2>个人信息</h2>		
	        <!-- 模拟弹窗开始 -->
	        <div class="set-password-box">
		        <div class="set-password moni-lbox">
		            <div class="moni-head">
		                <p class="fl">修改密码</p>
		            </div>
		            <form class="moni-main">
		                <div class="password-box">
		                	<label class="long-text">旧密码</label><i>：</i>
		                	<input type="password" name="oldPassword" placeholder="请输入您的旧密码">
		                	<p class="password-p Password_p1"></p>
		                	<br />
		                </div>
		                <div class="password-box">
		                	<label class="long-text">新密码</label><i>：</i>
		                	<input type="password" name="newPassword" placeholder="请输入您的新密码，以英文数字6-20位结合">
		                	<p class="password-p Password_p2"></p>
		                	<br />
		                </div>
		                <div class="password-box">
		                	<label class="long-text">确认新密码</label><i>：</i>
		                	<input type="password" name="checkPassword" placeholder="请再次确认您的密码">
		                	<p class="password-p Password_p3"></p>
		                	<br />
		                </div>
		                <div class="btn-box">
		                    <input type="button" name="submit" value="确认" class="submit blue-btn" id="setPasswordSub">
		                </div>
		            </form>
	            </div>
	        </div>
		    <!-- 修改成功 -->
		    <div class="moni-lbox passwordSue" style="display: none;">
		    	<p><img src="../Images/common_icon_success01_nor.png" width="32px" height="auto">修改成功！</p>
		    </div>
	    </div>
        <!-- 模拟弹窗结束 -->
	</div>
	<!--父容器结束-->
	
	<script src="../js/jquery.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/set.js"></script>
	<script>
		$(function(){
			//点击确认修改提交后台
			$(document).on("click","#setPasswordSub",function(){
				CheckPwd();
			})
			
			//用户按下键盘回车提交
			$(document).on("keydown",".set-password-box",function(e){
				if(e.keyCode==13){
					CheckPwd();
				}
			})
			
			//检查密码方法
			function CheckPwd(){
				var oldPassword = $.trim($("input[name=oldPassword]").val()),
				newPassword = $.trim($("input[name=newPassword]").val()),
				checkPassword = $.trim($("input[name=checkPassword]").val());
				var ajaxPassword = "a123456";
				var reg=/((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))^.{6,20}$/;
				if (oldPassword == "") {
					$(".Password_p1").fadeIn().text("请输入您的旧密码！");
					$("input[name=oldPassword]").addClass("errot_Tips1");
					return false;
				} else if (ajaxPassword != oldPassword){
					$(".Password_p1").fadeIn().text("你输入的旧密码不正确！");
					$("input[name=oldPassword]").addClass("errot_Tips1");
					$("input[name=oldPassword]").val("");
					return false;
				} else if(newPassword == ""){
					$("input[name=oldPassword]").removeClass("errot_Tips1");
					$(".Password_p1").fadeOut().text("");
					$(".Password_p2").fadeIn().text("请输入您的新密码！");
					$("input[name=newPassword]").addClass("errot_Tips1");
					return false;
				} else if(!reg.test(newPassword)){
					$(".Password_p2").fadeIn().text("请输入您的新密码，以英文数字6-20位结合");
					$("input[name=newPassword]").addClass("errot_Tips1");
					return false;
				} else if(checkPassword == ""){
					$("input[name=newPassword]").removeClass("errot_Tips1");
					$(".Password_p2").fadeOut().text("");
					$(".Password_p3").fadeIn().text("请再次输入您的新密码！");
					$("input[name=checkPassword]").addClass("errot_Tips1");
					return false;
				} else if(!reg.test(checkPassword)){
					$(".Password_p3").fadeIn().text("请输入您的新密码，以英文数字6-20位结合");
					$("input[name=checkPassword]").addClass("errot_Tips1");
					return false;
				} else if (newPassword != checkPassword){
					$(".Password_p2,.Password_p3").fadeIn().text("两次输入的密码不一致，请确认您的密码！");
					$("input[name=newPassword]").addClass("errot_Tips1");
					$("input[name=checkPassword]").addClass("errot_Tips1");
					return false;
				} else {
					$.ajax({
		                type: 'post',
		                url: '{:U("DataManagement/setPassword")}',
		                data: {old:oldPassword,new:newPassword,check:checkPassword},
		                success: function (data) {
		                    console.log(data);
		                    if(data['info']){
								$(".Password_p2,.Password_p3").fadeOut().text("");
								$("input[type=password]").removeClass("errot_Tips1");
								$(".passwordSue").fadeIn();
		                        setTimeout(function(){
		                            $(".passwordSue").hide();
		                            $("input[type=password]").val("");
		                            location.href = location.href;
		                        },1500);
		                    }else{
		                        alert(data['msg']);
		                    }
		                }
		            });
				}
			}
		})
	</script>
</body>
</html>