<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>联系人</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/kehu-admin.css" />
    <style>
        .xiansuo_main>ol {
            height: 66px;
            width: 1410px;
            margin-left: 146px;
            overflow: hidden;
        }
        .xiansuo_main>ol li {
            float: left;
            height: 100%;
            width: 250px;
            margin-top: 28px;
            font-size: 16px;
            font-weight:700;
            color: #494949;

        }
        .xiansuo_border {
            width: 1550px;!important;
            margin-top: 0;!important;
        }
        .xiansuo_List li {
            width: 1550px;
            height: 66px;
            margin-top: 16px;
            position: relative;
        }
        .xiansuo_List li>.LiBox {
            width: 1334px;
            height:66px;
            border-radius: 5px;
            border: 1px solid #d6d6d6;
            background: #f0f1f4;
            display: inline-block;
            position: absolute;
            left:40px;
            padding-left:58px ;
        }
        .licheckbox {
            margin-right: 24px;
            position: absolute;
            top:24px;
            left: 5px;
        }
        .xiansuo_Page_border {
            width: 1400px;
            margin-left: 50px;
            padding: 25px;
        }
        .LiBox span {
            display: block;
            float: left;
            font-size: 16px;
            color:#494949;
            width: 250px;
            height: 100%;
            line-height: 66px;
        }
        .LiBox .Contact-BJ {
            width: 30px;
            height: 30px;
            background: url("../../Images/common_icon_edit_nor.png") no-repeat;
            margin-top: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body style="min-width: 1500px;overflow-x: auto;">
<!--父容器开始-->
<div class="outer_div">
    <!--左边导航模块-->
    <div class="left_template">
        <div class="user_logo"><img src="../../Images/common_logo.png" alt="" /></div>
        <p class="company_name1">广东雀鸟科技有限公司</p>
        <!--用户导航列表-->
        <div class="userList_bar">
            <ul class="userList_ul">
                <li class="userList_li">
                    <span class="icon-01"></span>
                    <span class="icon-text">概览</span>
                </li>
                <li class="userList_li">
                    <span class="icon-02"></span>
                    <span class="icon-text">线索</span>
                    <span class="xiansuo_count">10</span>
                </li>
                <li class="userList_li">
                    <span class="icon-03"></span>
                    <span class="icon-text">客户管理</span>
                </li>
                <li class="userList_li active">
                    <span class="icon-04"></span>
                    <span class="icon-text">联系人</span>
                </li>
                <li class="userList_li">
                    <span class="icon-05"></span>
                    <span class="icon-text">公海</span>
                </li>
                <li class="userList_li icon-shopping">
                    <span class="icon-06"></span>
                    <span class="icon-text">商品</span>
                    <span class="icon-shopping-1"></span>
                </li>
                <div class="icon-shopping-div">
                    <p>商品管理</p>
                    <p>发布产品</p>
                </div>
                <li class="userList_li">
                    <span class="icon-07"></span>
                    <span class="icon-text">咨询信息</span>
                </li>
                <li class="userList_li">
                    <span class="icon-08"></span>
                    <span class="icon-text">设置</span>
                </li>
                <li class="userList_li">
                    <span class="icon-09"></span>
                    <span class="icon-text">反馈</span>
                </li>
            </ul>
        </div>
    </div>
    <!--右边主题内容-->
    <div class="right_template">
        <div class="left_header">
            <div class="page_state">联系人</div>
            <div class="vip-valid">会员有效日期：2017-10-30</div>
        </div>
        <div class="right_header">
            <ul>
                <li class="buy_xiansuoli1">
                    <span class="buy_vip_icon1"></span>
                    <a href="javascript:;">购买会员</a>
                </li>
                <li class="xiansuoli1">
                    <span class="user_icon1"></span>
                    <a href="javascript:;">哟哟</a>
                </li>
                <li class="xiansuoli1">
                    <span class="login_out1"></span>
                    <a href="javascript:;">退出</a>
                </li>
            </ul>
        </div>
        <!--联系人头部开始-->
        <div class="xiansuo_header">
            <!--联系人头部左边-->
            <div class="xiansuo_hdleft">
                <!--第二列表-->
                <div class="xiansuo_hdleft_divlist">
                    <label class="checkbox checkboxAll1" onselectstart="return false;">
                        <input id="checkall" type="checkbox" class="vam" name="checkall" onclick="selectAll();"/>
                        <i></i>
                    </label>
                    <span class="saixuan_text1">全选</span>
                    <div class="xiansuo_hdleft_btnlist">
                        <span class="xiansuo_hdleft_btnlist">删除</span>
                    </div>
                </div>
            </div>
            <!--联系人头部右边-->
            <div class="xiansuo_hdright">
                <div class="dingyue_cgMsgBtn dingyue_cgMsgBtn01">新增联系人</div>
                <div class="search-box">
                    <span class="search-icon1"></span>
                    <input class="search-input" type="search" placeholder="请输入关键词搜索"/>
                    <span class="search-btn">搜索</span>
                </div>
            </div>
        </div>
        <!--联系人头部结束-->

        <!--联系人内容开始-->
        <div class="xiansuo_main">
            <ol>
                <li>联系人</li>
                <li>手机号码</li>
                <li>邮箱</li>
                <li>职位</li>
                <li>部门</li>
            </ol>
            <div class="xiansuo_border"></div>
            <!--联系人列表开始-->
            <ul class="xiansuo_List xiansuo_List02" >
                <li name="111">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
                <li name="222">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
                <li name="333">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
                <li name="444">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
                <li name="555">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
                <li name="666">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
                <li name="777">
                    <label class="checkbox licheckbox" onselectstart="return false;">
                    <input type="checkbox" class="vam" name="checkedres" />
                    <i></i>
                    </label>
                    <div class="LiBox">
                        <span>贾少华</span>
                        <span>13168548654</span>
                        <span>11111121@qq.com</span>
                        <span>运营助理</span>
                        <span>销售部门</span>
                        <span class="Contact-BJ"></span>
                    </div>

                </li>
            </ul>
            <!--联系人列表结束-->

            <!--分页器开始-->
            <div class="xiansuo_Page_Div">
                <div class="xiansuo_Page_border"></div>
                <div class="xiansuo_Page_div">
                    <div class="fl">
                        <span style="margin-right: 5px;">每页显示</span>
                        <select class="xiansuo_Page_Three">
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
                        <img class="first_page" src="../../Images/icon_sanjiao_01.png" alt="" />
                        <img class="prev_page" src="../../Images/icon_sanjiao_02.png" alt="" />
                    </div>
                    <ul class="xiansuo_Page_list">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <img class="next_page" style="margin-left: 15px;" src="../../Images/icon_sanjiao_03.png" alt="" />
                    <img class="last_page"src="../../Images/icon_sanjiao_04.png" alt="" />
                    <span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10"/><span style="margin-left: 5px;">页</span>
                </div>
            </div>
            <!--分页器结束-->
        </div>
        <!--线索内容结束-->
    </div>
    <!--打开模态框出现详情页-->
    <div class="modal-box" style="display: none">
        <!--客户详情页-->
        <div class="ClientDetails">
            <div class="DetailsTitle">
                <span>联系人详情<a class="close-X"></a></span>
            </div>
            <div class="DatailsButton">
                <span class="BianContact">编辑</span>
                <span class="DeleteContact">删除</span>
            </div>
            <div class="TabDatails">
                <!--选项卡-->
                <ul>
                    <li class="activeBottom">联系人信息</li>
                </ul>
                <!--客户信息-->
                <div class="TextDatails" >
                    <div class="xiansuo_des_contents">
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">客户名称：</span><span class="span_rt1">广东哇哈哈智能科技有限公司</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">姓<span class="text_between">名</span>：</span><span class="span_rt1">贾少华</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">电<span class="text_between">话</span>：</span><span class="span_rt1">020-8738888</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">邮<span class="text_between">箱</span>：</span><span class="span_rt1">123456@qq.com</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">微<span class="text_between">信</span>：</span><span class="span_rt1">无</span>
                        </div>

                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">职<span class="text_between">位</span>：</span><span class="span_rt1">无</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">所在部门：</span></span><span class="span_rt1">广东省广州市天河区大观中路95号A栋</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">生<span class="text_between">日</span>：</span><span class="span_rt1">1988-08-08</span>
                        </div>
                        <div class="xiansuo_des_contents_cell">
                            <span class="span_lf1">备<span class="text_between">注</span>：</span><span class="span_rt1">越多越好</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--客户详情页结束-->
    </div>
    <!--打开模态框出现详情页结束-->
    <!--二重模态框开启-->
    <div class="modal-box-2" style="display: none" >
        <!--新增联系人-->
        <div class="bj-kehu bj-kehu01" style="display: none">
            <div class="bj-top">
                <p>新增联系人<span class="bj-top-span">&times;</span></p>
            </div>
            <div class="bj-center">
                <div class="bj-text">
                    <em>*</em>
                    <span>客户名称</span>
                    <input class="lxname" type="text" placeholder="请输入客户名称">
                </div>
                <div class="bj-text">
                    <em>*</em>
                    <span>联&ensp;系&ensp;人</span>
                    <input class="lxren" type="text" placeholder="请输入联系人">
                </div>
                <div class="bj-text">
                    <em>*</em>
                    <span>电&ensp;&ensp;&ensp;&ensp;话</span>
                    <input class="lxtel" type="text" placeholder="请输入客户电话">
                </div>
                <div class="bj-text">
                    <span>邮&ensp;&ensp;&ensp;&ensp;箱</span>
                    <input class="lxEmail"  type="text" placeholder="请输入邮箱">
                </div>
                <div class="bj-text">
                    <span>微&ensp;&ensp;&ensp;&ensp;信</span>
                    <input type="text" placeholder="请输入微信">
                </div>
                <div class="bj-text">
                    <span>职&ensp;&ensp;&ensp;&ensp;位</span>
                    <input type="text" placeholder="请输入职位">
                </div>
                <div class="bj-text">
                    <span>所在部门</span>
                    <input type="text" placeholder="请输入部门">
                </div>
                <!--省市区-->
                <div class="bj-text">
                    <span>生&ensp;&ensp;&ensp;&ensp;日</span>
                    <input type="text" placeholder="请输入生日">
                </div>
                <!--留言-->
                <div class="bj-text">
                    <span style="display: inline-block;margin-bottom: 120px">备&ensp;&ensp;&ensp;&ensp;注</span>
                    <!--<input type="text" placeholder="请输入备注...">-->
                    <textarea placeholder="请输入备注 . . ."></textarea>
                </div>
                <!--btn-->
                <div class="bj-btn">
                    <span class="bj-btn1">取消</span>
                    <span class="bj-btn2 bj-btn4">保存</span>
                </div>
            </div>
        </div>
        <!--新增联系人结束-->
    </div>
    <!--二重模态框结束-->
    <!--操作成功模态框-->
    <div class="sucuess-modal sucuess-modal-box01">
        <div class="sucuess-modal-cell">
            <img src="../../Images/common_icon_success_nor.png" alt="" />
            <p class="is_state1">操作成功!</p>
        </div>
    </div>
    <!--提示必填信息-->
    <div class="sucuess-modal sucuess-modal-box02">
        <div class="sucuess-modal-cell">
            <img src="../../Images/common_icon_gantan_nor.png" alt="" />
            <p class="is_state1">必填信息不能为空!</p>
        </div>
    </div>
    <!--确认删除模态框-->
    <div class="delete-modal">
        <div class="delete-modal-cell">
            <p>您确认删除吗？</p>
            <div class="delete_modal_btns">
                <span class="de_cancel_1">取消</span>
                <span class="de_confirm_1 de_confirm_112">确定</span>
            </div>
        </div>
    </div>
    <!--首页确认删除模态框-->

    <!--确认删除模态框2-->
    <div class="delete-modal1">
        <div class="delete-modal-cell1">
            <p>您确认删除吗？</p>
            <div class="delete_modal_btns">
                <span class="de_cancel_11">取消</span>
                <span class="de_confirm_11">确定</span>
            </div>
        </div>
    </div>
</div>

<!--父容器结束-->
<script src="../../js/jquery.js"></script>
<script src="../../js/crm-common.js"></script>
<script src="../../js/kehu-admin.js"></script>
</body>
</html>