<script type="text/javascript" src="{DT_PATH}lang/zh-cn/lang.js" charset="utf-8"></script>
<script type="text/javascript" src="{DT_PATH}file/script/config.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="script/glmobile_v1.js?v=2.7"></script>
<script type="text/javascript" src="script/webapp.js?v=2.7" charset="utf-8"></script>
<script type="text/javascript" src="script/hammer.min.js"></script>
<script type="text/javascript" src="script/doT.min.js"></script>
