<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <title>中秋月饼</title>
   <link rel="stylesheet" href="{DT_STATIC}template/default/mobile/public/home101/css/empty.css" />
   <link rel="stylesheet" href="{DT_STATIC}template/default/mobile/public/home101/css/index.css" />
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="box">
    <a id="url1"href="http://jieyang.5276mall.com/mall/index.php?itemid=15"></a>
    <a id="url2"href="http://jieyang.5276mall.com/mall/index.php?itemid=5"></a>
    <a id="url3"href="http://jieyang.5276mall.com/mall/index.php?itemid=7"></a>
    <a id="url4"href="http://jieyang.5276mall.com/mall/index.php?itemid=6"></a>
    <a id="url5"href="http://jieyang.5276mall.com/mall/index.php?itemid=8"></a>
    <a id="url6"href="http://jieyang.5276mall.com/mall/index.php?itemid=9"></a>
    <a id="url7"href="http://jieyang.5276mall.com/mall/index.php?itemid=10"></a>
    <a id="url8"href="http://jieyang.5276mall.com/mall/index.php?itemid=11"></a>
    <a id="url9"href="http://jieyang.5276mall.com/mall/index.php?itemid=12"></a>
    <a id="url10"href="http://jieyang.5276mall.com/mall/index.php?itemid=13"></a>
    <a id="url11"href="http://jieyang.5276mall.com/mall/index.php?itemid=16"></a>
    <a id="url12"href="http://jieyang.5276mall.com/mall/index.php?itemid=14"></a>
    <a id="url13"href="http://jieyang.5276mall.com/mall/index.php?itemid=17"></a>
    <a id="url14"href="http://jieyang.5276mall.com/mall/index.php?itemid=18"></a>
    <a id="url15"href="http://jieyang.5276mall.com/mall/index.php?itemid=19"></a>
    <a id="url16"href="http://jieyang.5276mall.com/mall/index.php?itemid=20"></a>
</div>
</body>
<script>
    var ul = document.getElementById("box");
    for(var i=1;i<16;i++){

        var img = document.createElement("img");
        img.setAttribute("id", "newImg");
        img.src = "{DT_STATIC}template/default/mobile/public/home101/images"+"/"+i+".jpg";
        ul.appendChild(img);
       
    }

</script>
</html>