{template 'header_v2', 'mobile'}
{template 'cssjs_v2', 'mobile'}

<header class="aui-bar aui-bar-nav aui-bg-danger" id="aui-header">
       {if $itemid || $catid || $areaid || $kw}
        <a class="aui-pull-left aui-btn" href="{$back_link}">
           <span class="aui-iconfont aui-icon-left"></span>返回
        </a>
       {else}
        <a class="aui-pull-left aui-btn" href="channel.php">
           <span class="aui-iconfont aui-icon-left"></span>频道
        </a>
       {/if}
        <div class="aui-title">{$head_name}</div>
        <a class="aui-pull-right">
        <span onclick="towindow('<a href=&#34;{$back_link}&#34;><span>确定取消</span></a>', '我再想想', '确定要取消此订单吗？');">取消</span>
        </a>
</header>
<div class="aui-bar-fix"></div>

{if $need_addr}
<div class="aui-content aui-margin-b-5">
    <ul class="aui-list aui-list-in dt-border-t-none" onclick="towindow('<a href=&#34;{$addr_url}&#34; data-transition=&#34;slideup&#34;><span>更换地址</span></a>', '不用更换', '确定要更换收货地址吗？');">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">收货人：{$addr[truename]}</div>
                <div class="aui-list-item-right">{$addr[mobile]}</div>
            </div>
        </li>
       <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title"><span class="dt-iconfont dt-icon-dangqian aui-font-size-14 dt-margin-r-3"></span>{$addr[address]}</div>
            </div>
        </li>
</ul>
</div>
{/if}

<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-media-list">
    <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media" style="width:3.75rem; height:3.75rem; margin-top:0.5rem;">
                    <img src="{if $t[thumb]}{$t[thumb]}{else}static/img/nopic-60.png{/if}" width="60" height="60" alt="" onerror="this.src='static/img/nopic-60.png';"/>
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-ellipsis-2"><a href="index.php?moduleid={$moduleid}&itemid={$t[itemid]}"><strong>{$t[title]}</strong></a></div>
                    </div>
                </div>
            </div>
            <div class="aui-info" style="padding-top:0">
                <div class="aui-info-item"><a href="index.php?moduleid=4&username={$t[username]}"><span>{$t[company]}</span></a>
                    </div>
                <div class="aui-info-item dt-text-red">{$DT[money_sign]}<span id="price" class="price">{$t[price]}</span>{if isset($t[unit]) && $t[unit]}/{$t[unit]}{/if}</div>
</div>
        </li>
</ul>
</div>

<style type="text/css">
.list-buy .aui-list-item-right span {float:right;color:#999999;font-size:14px;}
.list-buy .aui-list-item-right em {display:block;width:44px;height:44px;line-height:44px;font-style:normal;color:#999999;background:#F3F3F3;float:left;text-align:center;}
.mall-buy-list .aui-list .aui-list-item:active { background-color:none !important; background: #FFF !important;}

.mall-fee {
	color:#F00;
	position: absolute;
	top: 50%;
	right: 90px;
	-webkit-transform: translateY(-50%);
	      transform: translateY(-50%);
}

</style>

<div class="aui-content aui-margin-b-15 mall-buy-list">
	<form id="purchase-form">
	<input type="hidden" name="ok" value="1"/>
	<input type="hidden" name="moduleid" value="{$moduleid}"/>
	<input type="hidden" name="itemid" value="{$itemid}"/>
	{if $module == 'mall'}
	<input type="hidden" name="s1" value="{$s1}"/>
	<input type="hidden" name="s2" value="{$s3}"/>
	<input type="hidden" name="s3" value="{$s3}"/>
	<input type="hidden" id="fee_start_1" value="{$t[fee_start_1]}"/>
	<input type="hidden" id="fee_step_1" value="{$t[fee_step_1]}"/>
	<input type="hidden" id="fee_start_2" value="{$t[fee_start_2]}"/>
	<input type="hidden" id="fee_step_2" value="{$t[fee_step_2]}"/>
	<input type="hidden" id="fee_start_3" value="{$t[fee_start_3]}"/>
	<input type="hidden" id="fee_step_3" value="{$t[fee_step_3]}"/>
	{/if}
     <ul class="aui-list aui-list-in dt-border-t-none">
     <li class="aui-list-item">
            <div class="aui-list-item-inner list-buy">
                <div class="aui-list-item-title">购买数量</div>
                <div class="aui-list-item-right"><span><em style="font-size:20px;" onclick="alter('-');">—</em><input type="number" name="number" id="number" value="{$t[minamount]}" style="width:2rem;float:left;text-align:center;color:#555555;"/><em style="font-size:24px;" onclick="alter('+');">+</em></span></div>
            </div>
        </li>

		{if $module == 'sell'}
       <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">配送方式</div>
                <div class="aui-list-item-right">联系卖家</div>
            </div>
        </li>
		{elseif $module == 'mall'}
       <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">配送方式</div>
                <div class="aui-list-item-right">
                <div><span id="fee" class="aui-pull-right mall-fee">{$DT[money_sign]}0.00</span><span class="aui-pull-right">
			<select name="express" id="express" onchange="calculate();">
			{if $t[express_name_1] == '包邮'}
				{if $t[fee_start_1]>0}
				{if $t[fee_start_2]>0}<option value="2" data-2>{$t[express_name_2]}</option>{/if}
				{if $t[fee_start_3]>0}<option value="3" data-3>{$t[express_name_3]}</option>{/if}
				<option value="-1" data--1>满{$t[fee_start_1]}包邮</option>
				{if $t[fee_start_2]>0 || $t[fee_start_3]>0}
				{else}
				<option value="0" data-0>联系卖家</option>
				{/if}
				{else}
				<option value="0" data-0>包邮</option>
				{/if}
			{elseif $t[fee_start_1]>0 || $t[fee_start_2]>0 || $t[fee_start_3]>0}
				{if $t[fee_start_1]>0}<option value="1">{$t[express_name_1]}</option>{/if}
				{if $t[fee_start_2]>0}<option value="2">{$t[express_name_2]}</option>{/if}
				{if $t[fee_start_3]>0}<option value="3">{$t[express_name_3]}</option>{/if}
			{else}
			<option value="0">联系卖家</option>
			{/if}
			</select></span></div></div>
            </div>
        </li>
        {if $t[m1] || $t[m2] || $t[m3]}
         <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">商品参数</div>
                <div class="aui-list-item-right">{if $t[m1]}{$t[n1]}:{$t[m1]}&nbsp;{/if}{if $t[m2]}{$t[n2]}:{$t[m2]}&nbsp;{/if}{if $t[m3]}{$t[n3]}:{$t[m3]}&nbsp;{/if}</div>
            </div>
        </li>
			{/if}
			{if $t[cod]}
         <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">付款方式</div>
                <div class="aui-list-item-right">{if $t[cod]==2}<select name="cod"><option value="1">货到付款</option><option value="0">在线支付</option></select>{else}货到付款{/if}</div>
            </div>
        </li>
			{/if}
		{/if}
		{if !$need_addr}
         <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">手机号码</div>
                <div class="aui-list-item-right"><input type="text" name="mobile" id="mobile" placeholder="手机号码:" value="{$addr[mobile]}" style="width:136px;"/></div>
            </div>
        </li>
		{/if}
         <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title"><input type="text" name="note" id="note" placeholder="备注:"/></div>            </div>
        </li>

         <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title"></div>            
                <div class="aui-list-item-right">总价:<span class="dt-text-red aui-font-size-20">{$DT[money_sign]}<span id="total">{$t[price]}</span></span></div>
                </div>
        </li>
      </ul>
	</form>
</div>

<div class="aui-content-padded aui-text-center" onclick="Dpurchase();">
<div class="aui-btn aui-btn-info aui-font-size-18" style="width:100%">确认购买</div>
</div>

<script type="text/javascript">
var price = {$t[price]};
var mina = {$t[minamount]};
var maxa = {$t[amount]};
{if $module == 'mall'}
function get_price() {
	var p1 = {$t[p1]};
	var p2 = {$t[p2]};
	var p3 = {$t[p3]};
	var a1 = {$t[a1]};
	var a2 = {$t[a2]};
	var a3 = {$t[a3]};
	var number = parseInt($('#number').val());
	if(a2 > 0) {
		if(a3 > 1 && number > a3) return p3;
		if(a2 > 1 && number > a2) return p2;
	}
	return p1;
}
function get_fee() {
	var es = $('#express').html();
	var number = parseInt($('#number').val());
	if(es.indexOf('data--1') != -1) {
		if(parseFloat(get_price()*number) >= parseFloat($('#fee_start_1').val())) {
			$('#express').val(-1);
		} else {
			if(es.indexOf('data-0') != -1) {
				$('#express').val(0);
			} else if(es.indexOf('data-2') != -1) {
				$('#express').val(2);
			} else if(es.indexOf('data-3') != -1) {
				$('#express').val(3);
			}
		}
	}
	var k = $('#express').val();
	return k > 0 ? parseFloat($('#fee_start_'+k).val()) + parseFloat($('#fee_step_'+k).val())*(number-1) : 0.00;
}
{/if}
function alter(t) {
	var number = parseInt($('#number').val());
	if(t == '+') {
		$('#number').val(number+1);
	} else {
		$('#number').val(number-1);
	}
	calculate();
}
function calculate() {
	var number = parseInt($('#number').val());
	if(mina && number < mina) number = mina;
	if(maxa && number > maxa) number = maxa;
	if(number < 1) number = 1;
	$('#number').val(number);
{if $module == 'mall'}
	price = get_price();
	$('#price').html(price);
{/if}
	var money = price*number;
{if $module == 'mall'}
	fee = get_fee();
	$('#fee').html('{$DT[money_sign]}'+fee.toFixed(2));
	money += fee;
{/if}
	$('#total').html(money.toFixed(2));
}
function Dpurchase() {
	{if !$need_addr}
	if(!$('#mobile').val().match(/^1[3|4|5|7|8]{1}[0-9]{9}$/)) {
		laymsg('请填写正确的手机号码');
		return false;
	}
	{/if}
	$.post('purchase.php', $('#purchase-form').serialize(), function(data) {
		if(data.indexOf('ok|') != -1) {
			laymsg('订单创建成功，请尽快支付');
			id = data.substr(3);
			setTimeout(function() {
				towindow('<a href="m{$order_name}.php?action=update&step=detail&itemid='+id+'" rel="external"><span>查看订单</span></a>|<a href="m{$order_name}.php?action=update&step=pay&itemid='+id+'" rel="external"><span>支付订单</span></a>|<a href="index.php?moduleid={$moduleid}"><span>继续购物</span></a>');
			}, 1000);
		} else if(data == 'mobile') {
			laymsg('请填写正确的手机号码');
		} else {
			laymsg('订单创建失败，请重试');
			setTimeout(function() {
				window.location.reload();
			}, 1000);

		}
	});
}
$(document).ready(function(){
	$('input').on('blur', function(){window.scrollTo(0,0);});
	$('#number').on('blur', function(){calculate();});
	calculate();
});
</script>
{template 'footer_v2', 'mobile'}

