/* CSS Document */
/*-功能：页面样式-*/
/*-作者：sergiolin*/
/*-日期：2016/06/16*/
.body{position:relative;top:0px;background-color:#fff !important;}
.phone-bg{display:none;}
.bkg2,.bkg3,.bkg5,.bkg6,.bkg8,.bkg10{background:#ffffff;width:100%;}
.bkg4,.bkg7,.bkg9,.bkg12{background:#ff2400;}
.bkg2-center{width:900px;margin:0 auto;text-align:center;}
/*bkg2*/
.bkg2 .bkg2-center{height:360px;}
.bkg2 .bkg2-center .box1{margin:85px 10px 0px;display:inline-block;float:left;width:200px;height:130px;border:1px solid #ccc;text-align:center;z-index:10;transition: all 0.5s;}
.bkg2 .bkg2-center .box1 .box1-text1{	width:200px;height:130px;overflow:hidden;}
.bkg2 .bkg2-center .box1 .box1-text2{width:200px;height:130px;margin-top:-75px;transition:all 0.5s;z-index:-1;}
.bkg2 .bkg2-center .box1:hover{border: 1px solid #ff2400;height:273px;}
.bkg2 .bkg2-center .box1:hover .box1-text2{margin-top:0;}
.bkg2 .bkg2-center .box1 .box1-img1 img,
.bkg2 .bkg2-center .box1 .box1-img2 img{display:inline;border:1px solid #ccc;background:#ffffff;border-radius:50%;padding:20px;position:relative;top:-50px;z-index:90;}
.bkg2 .bkg2-center .box1 .box1-img2{display: none;}
.bkg2 .bkg2-center .box1:hover .box1-img1{display: none;}
.bkg2 .bkg2-center .box1:hover .box1-img2{display: inline;}
.bkg2 .bkg2-center .box1:hover .box1-img2 img{background:#ff2400;}
.bkg2 .bkg2-center .box1 .box1-text{position:relative;top:-50px;}
.bkg2 .bkg2-center .box1 .box1-text h3{color:#ff2400;font-size:18px;font-weight:bold;}
.bkg2 .bkg2-center .box1 .box1-text hr{margin:5px auto;width:80px;border:2px solid #ff2400;}
/*bkg3*/
.bkg3{height:55px;border-bottom:5px solid #ccc;z-index:99999}
.bkg3 #idtop{font-size:36px;color:#fff;padding:15px;background:#ff2400;display: inline;float:left;}
.bkg2-nav ul {list-style: none;padding-left: 0;margin-top: 0;margin-bottom: 0;}
.bkg2-nav li{}
.bkg2-nav {width: 900px;margin: 0 auto;background: #fff;color: #000;}
.bkg2-nav a {margin:0px 30px;display: inline; cursor: pointer;font-size:18px;line-height: 25px;}
.nav_menu {font-weight: bold;}
.nav_menu-item {display: inline-block;position: relative;margin-left:30px;}
.nav_menu-item:hover{background-color: #ff2400;}
.nav_menu-item:hover a{color:#fff;}
.nav_menu-item:hover .nav_submenu {display: block;}
.nav_submenu{font-weight: bold;text-transform: none;display: none;position: absolute;width: 1920px;background-color: #000;opacity: 0.6}
.nav_submenu-item:hover {color:#fff;}
/*bkg4*/
.bkg4 .bkg2-center .bkg4-top{clear:both;margin:0 auto;color:#fff;font-size:24px;font-weight:bold;line-height:80px;}
.bkg4 .bkg2-center hr{margin:-20px auto 0;width:200px;border:1px solid #fff;}
.bkg4 .bkg2-center .box2{display:inline-block;float:left;margin:39px;}
.bkg4 .bkg2-center h3{line-height:35px;font-size:24px;color:#fff;font-weight:bold;}
.bkg4 .bkg2-center p{color:#fff;line-height: 20px;}
/*bkg5*/
.bkg5{border-bottom:1px solid #ccc;height:465px;}
.bkg5 .bkg5-box3{display: inline;width:285px;float:left;padding-top:120px;}
.bkg5 .bkg5-box3 h3{line-height:50px;color:#ff2400;font-size:24px;text-indent:-90px;}
.bkg5 .bkg5-box3 hr{border:1px solid #ff2400;}
.bkg5 .bkg5-box3 p{text-align:left;}
.bkg5 #boxPC{margin-top:70px;display: inline;width:580px;height:370px;float:right;background:url(../images/bkg5-boxPC.png) no-repeat;}
/*bkg6*/
.bkg6{height:440px;}
.bkg6 p{text-align:left;}
.bkg6 .bkg6-box4{float:left;width:600px;}
.bkg6 .bkg6-box4 strong{color:#fff;background:#ff2400;font-size:18px;font-weight:bold;padding:10px;}
.bkg6 .bkg6-box4{clear:both;margin-top:80px;line-height:60px;}
.bkg6 .bkg6-box5{float:right;width:300px;margin-top:140px;}
.bkg6 .bkg6-box5 hr{border:1px solid #ff2400;}
.bkg6 .bkg6-box5 h3{font-size:24px;font-weight:bold;color:#ff2400;line-height:40px;text-align:right;}
.bkg6 .bkg6-box5 p{float:right;width:228px;text-align:right;}
/*bkg7*/
.bkg7{height:470px;}
.bkg7 .bkg7-1{width:290px;height:135px;background:#fff;margin:20px 5px;display: inline;float:left;}
.bkg7 .bkg7-1 img{display:inline;float:left;margin:19px;border-right:1px solid#ff2400;padding-right:30px;}
.bkg7 .bkg7-1 p{float:right;width:110px;margin-right:12px;}
.bkg7 .bkg7-1>h3{color:#ff2400;font-size:24px;line-height:40px;font-weight:bold;margin-top:15px;margin-right:10px;}
.bkg7 .bkg2-center>h3{color:#fff;padding-top:40px;font-size:24px;font-weight:bold;}
.bkg7 .bkg2-center hr{width:400px;color:#fff;margin:15px auto;}
/*bkg8*/
.bkg8{height:465px;}
.bkg8 p{text-align:left;}
.bkg8 .box6{width:600px;height:465px;float:right;background:url(../images/bkg8-box6.png) no-repeat;background-position:70px 20px;}
.bkg8 .box6>div{background:#ff2400;display: inline;color:#fff;border-radius:5px;padding:3px 20px;}
.bkg8 .box7{float:left;width:300px;padding-top:120px;}
.bkg8 .box7 h3{color:#ff2400;font-size:24px;font-weight:bold;}
.bkg8 .box7 hr{border:1px solid #ff2400;margin:10px auto;}
/*bkg9*/
.bkg9{height:470px;overflow:hidden;}
.bkg9 .bkg2-center>p{font-size:24px;font-weight:bold;line-height:100px;}
.bkg9 p{color:#fff;}
.bkg9 .bkg9-1,
.bkg9 .bkg9-2,
.bkg9 .bkg9-3,
.bkg9 .bkg9-4,
.bkg9 .bkg9-5{width:150px;float:left;overflow:hidden;margin-right:30px;}
.bkg9 .bkg9-1 p,
.bkg9 .bkg9-2 p,
.bkg9 .bkg9-3 p,
.bkg9 .bkg9-4 p,
.bkg9 .bkg9-5 p{font-size :18px;font-weight:bold;text-align: left;}
.bkg9 .bkg9-1>img,
.bkg9 .bkg9-2>img,
.bkg9 .bkg9-3>img,
.bkg9 .bkg9-4>img,
.bkg9 .bkg9-5>img{border:0.5px dashed #fff;padding:10px;border-radius:50%;}
.bkg9 img{vertical-align: text-top;}
.bkg9 .bkg9-1{height:230px;margin-top:150px;}
.bkg9 .bkg9-2{height:265px;margin-top:120px;}
.bkg9 .bkg9-3{height:330px;margin-top:50px;}
.bkg9 .bkg9-4{height:380px;margin-top:20px;}
.bkg9 .bkg9-5{height:408px;margin-top:7px;}
/*bkg10*/
.bkg10{height:470px;overflow:hidden;}
.bkg10 .bkg10-1{height:300px;width:150px;float:left;overflow:hidden;margin-right:30px;margin-top:-45px;text-align:left;}
.bkg10 .bkg10-11{text-align:left;margin-left:28px;position:relative;top:-120px;}
/*bkg11*/
.bkg11{height:470px;background:url(../images/bkg11-bkg.jpg) no-repeat;background-size:100% 100%;background-attachment:fixed;}
.bkg11 .bkg2-center>p{padding-top:100px;color:#fff;font-size:24px;font-weight:bold;}
.bkg11 p{color:#fff;}
.bkg11 hr{width:200px;border:1px solid #fff;margin:10px auto;}
.bkg11 .bkg11-1{width:170px;float:left;margin-top:50px;margin-right:55px;}
.bkg11 .bkg11-1 h3{font-size:18px;font-weight:bold;color:#fff;line-height: 40px;}
/*bkg12*/
.bkg12{height:1190px;}
.bkg12 h3{font-size:24px;font-weight:bold;color:#fff;padding-top:20px;line-height:100px;}
.bkg12 h4{text-align:left;font-size:24px;font-weight:bold;color:#fff;margin-top:50px;padding-top:30px;}
.bkg12 hr{width:120px;border:1px solid #fff;margin-top:5px;}
.bkg12 #bkg12-hr{width:170px !important;}
.bkg12 p{text-align:left;color:#fff;margin-top:30px;margin-left:130px;}
/*遮罩*/
.click1{width:430px;margin:110px auto;font-size:32px;color:#ff2400;padding:25px 0px;background:#ffd146;border-radius:10px;}
.bg{display:none;position:fixed;width:100%;height:100%;background:#000;z-index:2;top:0;left:0;opacity:0.7}
.content{display:none;width:50%;padding-bottom:50px;border-radius:10px;position:fixed;top:50%;margin-top:-285px;background:#fff;z-index:3;left:50%;margin-left:-455px}
/*弹窗*/
.bkg12 .bkg12-a1{float:left;margin-top:18px;margin-left:18px;}
.bkg12 .bkg12-a2{float:right;margin-top:-8px;margin-right:-8px;}
.bkg12 .bkg2-center .content h3{text-align:center;color:#ff2400;font-size:24px;position:relative;top:-30px;}
.bkg12 .content>hr{width:60%;border:0.5px solid #ff2400;margin:-50px auto 30px;}
.bkg12 .bkg12-box1{width:100%;margin:0 auto;text-align:left;text-align:center;}
.bkg12 .bkg12-box1 .bkg12-box3{display: inline-block;border:0.5px solid #ccc;padding:10px 20px;border-radius:5px;margin:10px 10px;color:#bbbbbb;font-size:18px;font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;}
.bkg12 .content>p{color:#bbbbbb;position:relative;top:-20px;}
.bkg12 .content a{color:#bbbbbb;}
.bkg12 .hr hr{margin:0 auto;width:60%;border:0.05px solid #ff2400;}
.bkg12 h5{text-align:center;color:#ff2400;font-size:18px;position:relative;top:-5px;font-weight:bold;}
.bkg12 .bkg12-box2 span{font-size:16px;margin-top:20px;color:#bbb ;}
input{ border:0;border:0.5px solid #ccc;margin-top:30px;width:200px;height:38px;border-radius:3px;}
input::-webkit-input-placeholder { color: #999; -webkit-transition: color.5s; } 
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { color: #c2c2c2; -webkit-transition: color.5s; } 
.bkg12 .click2{font-size:16px;width:125px;height:40px;color:#fff;font-weight: bold;background:#ffd146;border:none;font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;border-radius:5px;}