@charset "utf-8";

/*资金管理开始*/
.fund-platform-warp{
	width: 100%;
    float: left;
    background: #efefef;
    box-sizing: border-box;
    padding-left: 265px;
}

.fund-platform-header{
    float: left;
    width: 96%;
    margin: 20px 2%;
}

.fund-platform-header ul{
	float: left;
	width: 100%;
}

.fund-platform-header ul li{
    float: left;
    width: 32%;
    height: 100px;
    border-radius: 5px;
}

.fund_blue_bg{
    background: linear-gradient(45deg,#32c5ee 0%,#38adf5 100%);
    box-shadow: 1px 4px 4px #cadde8;
}

.fund_green_bg{
    background: linear-gradient(45deg,#8bcb94 0%,#70c07a 100%);
    box-shadow: 1px 4px 4px #c9d9cb;
    margin: 0 2%;
}

.fund_red_bg{
    background: linear-gradient(45deg,#ec8f98 0%,#df7b92 100%);
    box-shadow: 1px 4px 4px #e3c8cd;
    /*margin-right: 1.5%;*/
}

.fund_lgblue_bg{
	background: linear-gradient(45deg,#3dddd0 0%,#3bc5d0 100%);
    box-shadow: 1px 4px 4px #c9e3e5;
}

.fund-platform-cell1{
    padding-top: 25px;
    padding-left: 28px;
}

.fund-platform-cell1 p{
    font-size: 14px;
    color: rgba(255,255,255,0.7);
}

.fund-platform-cell1 span{
    font-size: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
}

.fund-platform-cell1 em{
    font-size: 27px;
    color: #fff;
    margin-left: 12px;
    font-weight: bold;
}

.fund-platform-header_border{
	clear: both;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #dcdcdc;
}

.saixuan_div{
	float: left;
    width: 96%;
    margin: 0 2%;
}

.saixuan_div .p1_text{
	font-size: 14px;
    font-weight: 600;
    color: #898989;
    padding-left: 5px;
}

.saixuan_divAll{
	float: left;
    width: 100%;
    margin-top: 12px;
    padding-left: 5px;
}

/*左边模块 11.29改*/ 
.saixuan_divAll_lf{
    float: left;
    width: 50%;
}

.saixuan_divAll_cell1{
    float: left;
    width: 50%;
}

.saixuan_divAll_cell2{
    float: left;
    width: 50%;
}

/*.saixuan_divAll_cell3{
    float: left;
    width: 40%;
}*/

.saixuan_divAll .label1{
	font-size: 14px;
    color: #898989;
}

.saixuan_divAll .input_cell1{
    width: 50%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    padding-left: 3%;
    background: #f5f5f5;
    font-size: 14px;
    color: #666666;
}

.this_udate1, .this_udate2 {
    width: 39% !important;
    padding-left: 3% !important;
    /* text-align: center !important; */
    background: url(../Images/icon_date1.png) no-repeat 97% #f5f5f5 !important;
}

.tobe_str1{
    display: inline-block;
    margin: 0 2%;
    color: #666666;
}

.mglf_30{
	margin-left: 30px;
}

/*右边模块*/
.saixuan_divAll_rt{
    float: left;
    width: 25%;
}

.fund_searchBtn{
    display: inline-block;
    width: 40%;
    height: 32px;
    line-height: 30px;
    border: 1px solid #2e86e0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: rgba(29,161,242,1);
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 5%;
    position: relative;
    top: -2px;
}

.fund_searchBtn:active,.tixian_btn:active{
	background: rgba(29,161,242,.8);
}

.fund_clearBtn{
	display: inline-block;
    width: 40%;
    height: 32px;
    line-height: 30px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: #e4e6e8;
    font-size: 13px;
    color: #494949;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.fund_clearBtn:active{
	background: #dbdbdb;
}

.tixian_btn{
	display: inline-block;
    width: 8%;
    height: 32px;
    line-height: 30px;
    border: 1px solid #2e86e0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: rgba(29,161,242,1);
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 5px;
}

.p2_text{
	float: left;
    font-size: 14px;
    font-weight: 600;
    color: #898989;
    padding-left: 5px;
    margin-top: 18px;
    margin-left: 2%;
}
/*资金管理结束*/

/*申请提现开始*/
.tixian_modal{
	width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.tixian_div{
	width: 656px;
    height: 360px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.tixian_hd{
	width: 100%;
    height: 50px;
    background: #1da1f2;
    position: relative;
}

.tixian_hd em{
	font-size: 16px;
    color: #fff;
    line-height: 50px;
    padding-left: 26px;
}

.close-span1{
	position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 0;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.tixian_content{
	/*height: 100%;*/
    background: #fff;
    padding-left: 52px;
}

.tixian_bank1{
	margin-top: 40px;
}

.tixian_bank1 .span1{
	font-size: 14px;
    color: #494949;
    display: inline-block;
    vertical-align: middle;
}

.tixian_bank1 .tixian_bank1_dets{
	width: 356px;
    height: 46px;
    line-height: 46px;
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d0d0d0;
    padding-left: 20px;
    margin-left: 24px;
}

.bank1_Type{
	font-size: 14px;
    color: #494949;
}

.bank1_lastText{
	font-size: 14px;
    color: #494949;
    padding-left: 14px;
}

.bank1_lastnum{
	font-size: 14px;
    color: #494949;
}

.tixian_bank2{
	margin-top: 22px;
}

.tixian_bank2 .span1{
	font-size: 14px;
    color: #494949;
    display: inline-block;
    vertical-align: top;
    padding-left: 28px;
}

.tixian_bank2 .span2{
	font-size: 14px;
    color: #494949;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.tixian_bank2_dets{
	/*width: 300px;*/
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}

.tixian_money{
	width: 154px;
    height: 26px;
    line-height: 26px;
    color: #898989;
    background: #f5f5f5;
    border: 1px solid #d0d0d0;
    padding-left: 20px;
    font-size: 14px;
    vertical-align: middle;
}

.ketixian_p{
	margin-top: 14px;
}

.ketixian_p .span-1,.All_money{
	font-size: 14px;
    color: #aaaaaa;
}

/*.ketixian_p .get_money{
	font-size: 14px;
    color: #1da1f2;
    cursor: pointer;
}*/

.get_money{
	font-size: 14px;
    color: #1da1f2;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 15px;
}

.tixian_btn1{
	width: 300px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #1da1f2;
    text-align: center;
    border-radius: 5px;
    margin-top: 48px;
    cursor: pointer;
}

.tixian_btn1:active{
    background: rgba(29,161,242,.8);
}
/*申请提现结束*/

/*表格样式开始*/
.table-wrap {
    float: left;
    width: 96%;
    margin: 15px 2% 0;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 12px #e3e3e3;
    overflow: hidden;
}

.table-head {
	background-color: #54b4ee;
}

.table-head-wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.grid {
	margin: 0px;
	table-layout: fixed;
	width: 100%;
	max-width: none;
	border-spacing: 0px;
	empty-cells: show;
	border-width: 0px;
	outline: 0px none;
	border-collapse: collapse;
}

.grid tr th {
	padding: 10px 8px;
	vertical-align: bottom;
	overflow: hidden;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.grid tr td {
	padding: 10px 8px;
	font-size: 13px;
	color: #898989;
	overflow: hidden;
	line-height: 1.6em;
	vertical-align: middle;
	text-overflow: ellipsis;
	text-align: center;
}

.table_ctbody tr {
	border-bottom: 1px solid #ececec;
}

.tab-link {
	display: block;
	font-size: 13px;
	color: #ffffff;
	min-height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-content {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}
/*表格样式结束*/

/*媒体查询开始*/
/*大于1366px以上的屏幕适配*/
@media (min-width: 1367px){
    .fund-platform-header ul li{
    	height: 120px;
    }
    
    .fund-platform-cell1{
    	padding-top: 35px;
    	padding-left: 35px;
    }
    
    .fund-platform-cell1 p{
    	font-size: 16px;
    	margin-bottom: 5px;
    }
}

/*大于1600px以上的屏幕适配*/
@media (min-width: 1601px){
	.fund-platform-warp{
		width: 85%;
	}
	
    .fund-platform-header ul li{
    	height: 130px;
    }
    
    .fund-platform-cell1{
	    padding-top: 40px;
	    padding-left: 40px;
    }
    
    .fund-platform-cell1 p{
    	font-size: 16px;
    	margin-bottom: 5px;
    }
    
    .fund_searchBtn{
		width: 28%;
		margin-left: 18%;
    }
    
    .fund_clearBtn{
    	width: 28%;
    }
}
/*媒体查询结束*/