@charset "utf-8";

/*资金管理开始*/
.fund-platform-warp{
	width: 100%;
    float: left;
    background: #efefef;
    box-sizing: border-box;
    padding-left: 265px;
}

.fund-platform-header{
    float: left;
    width: 96%;
    margin: 20px 2%;
}

.hd_text1{
	float: left;
    font-size: 16px;
    font-weight: 600;
    color: #494949;
    padding-left: 5px;
}

.saixuan_div{
	float: left;
    width: 96%;
    margin: 0 2%;
}

.saixuan_div .p1_text{
	float: left;
	font-size: 14px;
    font-weight: 600;
    color: #898989;
    padding-left: 5px;
}

.saixuan_divAll{
	float: left;
    width: 100%;
    margin-top: 12px;
    padding-left: 5px;
}
.saixuan_divAll_cell3 {
    display: inline-block;
    width:34%;
}
.filtrate {
    float: left;
    width: 98%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.filtrate input {
	margin-left: 1.2%;
    margin-right: 1.9%;
    width: 12.7%;
    height: 30px;
    box-sizing: border-box;
    color: #494949;
    border: 1px solid #d0d0d0;
    padding-left: 12px;
}
.filtrate span {
    font-size: 14px;
    color: #898989;
}
.saixuan_divAll_cell3 input {
    margin-right: 0;
    margin-left:0;
    width: 120px;

}
.label1 {
    margin-right: 5px;
}

.filtrate .daili-area {
    width: 11.6%;
    height: 30px;
    margin-left: 1.2%;
    margin-right: 1.9%;
}

.filtrate .daili-iphone {
    width: 11.6%;
    height: 30px;
}
.this_udate1, .this_udate2 {
    width:38% !important;
    padding-left: 3% !important;
    background: url(../Images/icon_date1.png) no-repeat 97% #FFFFFF !important;
}
.input_cell1 {
    height: 30px;
    line-height: 30px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    padding-left: 3%;
    font-size: 14px;
    color: #898989;
}
.daili_all{
	float: left;
    width: 20%;
    margin-top: 20px;
}
.daili_searchBtn{
	display: inline-block;
    width: 40%;
    height: 32px;
    line-height: 30px;
    border: 1px solid #2e86e0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: rgba(29,161,242,1);
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5%;
}

.daili_searchBtn:active{
    background: rgba(29,161,242,.8);
}

.daili_clearBtn{
display: inline-block;
    width: 40%;
    height: 32px;
    line-height: 30px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: #e4e6e8;
    font-size: 13px;
    color: #494949;
    cursor: pointer;
    vertical-align: middle;
}

.daili_clearBtn:active{
    background: #dbdbdb;
}

.daili-header_border{
	float: left;
    width: 96%;
    padding-top: 20px;
    margin: 0 2%;
    border-bottom: 1px solid #dcdcdc;
}

.tixian_modal{
	width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.tixian_div{
	width: 470px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    text-align: center;
}

.tixian_hd{
	width: 100%;
    height: 50px;
    background: #1da1f2;
    position: relative;
}

.close-span1{
	position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 0;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.tixian_text{
	margin-top: 58px;
}

.tixian_text p{
    font-size: 16px;
    font-weight: bold;
    color: #494949;
    margin-bottom: 25px;
}

.confirm_1{
	display: inline-block;
    width: 25%;
    height: 34px;
    line-height: 32px;
    border: 1px solid #2e86e0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: rgba(29,161,242,1);
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5%;
}

.cancel_1{
	display: inline-block;
    width: 25%;
    height: 34px;
    line-height: 32px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    background: #e4e6e8;
    font-size: 13px;
    color: #494949;
    cursor: pointer;
    vertical-align: middle;
}
/*资金管理结束*/

/*代理商详情开始*/
.dailiShop_dets_modal{
	width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.dailiShop_dets_div{
	width: 600px;
    height: 580px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.dailiShop_dets_hd{
	width: 100%;
    height: 50px;
    background: #1da1f2;
    position: relative;
}

.close-span2{
	position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 0;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.dailiShop_dets_warp{
    height: 100%;
    background: #fff;
    padding-left: 62px;
}

.dailiShop_dets_content{
	padding-top: 28px;
}

.one-cell1{
	width: 100%;
    height: 38px;
    line-height: 38px;
}

.left_span1{
	font-size: 14px;
    color: #494949;
    font-weight: bold;
}

.right_span1{
	font-size: 14px;
    color: #494949;
    margin-left: 22px;
}

.textck-1{
	padding: 0 14px;
}

.textck-2{
	padding-left: 7px;
}

.bank_num1{
	padding-left: 70px;
}

.bank_name1{
	padding-left: 71px;
}

.bank_cell1{
	min-height: 110px !important;
}
/*代理商详情结束*/

/*表格样式开始*/
.table-wrap {
    float: left;
    width: 96%;
    margin: 20px 2% 0;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 12px #e3e3e3;
    overflow: hidden;
}

.table-head {
	background-color: #54b4ee;
}

.table-head-wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.grid {
	margin: 0px;
	table-layout: fixed;
	width: 100%;
	max-width: none;
	border-spacing: 0px;
	empty-cells: show;
	border-width: 0px;
	outline: 0px none;
	border-collapse: collapse;
}

.grid tr th {
	padding: 10px 8px;
	vertical-align: bottom;
	overflow: hidden;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.grid tr td {
	padding: 10px 8px;
	font-size: 13px;
	color: #898989;
	overflow: hidden;
	line-height: 1.6em;
	vertical-align: middle;
	text-overflow: ellipsis;
	text-align: center;
}

.table_ctbody tr {
	border-bottom: 1px solid #ececec;
}

.tab-link {
	display: block;
	font-size: 13px;
	color: #ffffff;
	min-height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-content {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}

.user_name{
	cursor: pointer;
	color: #1da1f2;
}

.blue_text1{
	color: #1da1f2;
}

.span_btn1{
	display: inline-block;
    cursor: pointer;
    width: 45%;
    font-size: 12px;
    color: #54b4ee;
    border: 1px solid #54b4ee;
    margin-right: 5%;
    vertical-align: middle;
    height: 22px;
    line-height: 20px;
}

.span_btn2{
	display: inline-block;
    cursor: pointer;
    width: 45%;
    font-size: 12px;
    color: #54b4ee;
    border: 1px solid #54b4ee;
    vertical-align: middle;
    height: 22px;
    line-height: 20px;
}

.span_btn1:active,.span_btn2:active{
	background: #e0faf7;
}
/*表格样式结束*/

/*媒体查询开始*/
/*大于1366px以上的屏幕适配*/
@media (min-width: 1367px){
	.daili_searchBtn{
		height: 34px;
   		line-height: 32px;
	}
	
	.daili_clearBtn{
		height: 34px;
    	line-height: 32px;
	}
}

/*大于1600px以上的屏幕适配*/
@media (min-width: 1601px){
	.daili_searchBtn{
		height: 37px;
   		line-height: 35px;
	}
	
	.daili_clearBtn{
		height: 37px;
    	line-height: 35px;
	}
}
/*媒体查询结束*/