/* CSS Document 
-功能：代理商系统角色管理模块
-作者：sergiolin
-日期：2017/11/07*/
@charset "utf-8";
/*公共部分*/
.page-set select{
	margin-left: 0px;
	border: solid 1px #000;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url("../Images/arrow.png") no-repeat scroll #fff;
	background-position: 97% 50%;
	padding-right: 14px;
}
.page-set select::-ms-expand { display: none; }
.page-set option{
	height: 22px;
    line-height: 22px;
}
.page-set{
	margin: 20px 20px 0px 285px;
	box-sizing: border-box;
}
.page-set .cb{
	clear: both;
}
.page-set .vit-top{
	vertical-align: top;
}
.page-set .white-bg,
.page-set.white-bg{
	padding: 0px 20px 10px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
}
.page-set .grid .gray{
	color: #dcdcdc;
}
.page-set h2{
	font-size: 16px;
	color: #494949;
	font-weight: bold;
	text-indent: 25px;
	margin-top: 22px;
}
.page-set .blue-btn,
.page-set .white-btn{
	width: 110px;
	height: 32px;
	line-height: 30px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.page-set a.blue-btn,
.page-set a.white-btn{
	height: 30px;
}
.page-set .blue-btn{
	color: #fff;
	border: 1px solid #2e86e0;
	background: #1da1fe;
}
.page-set .blue-btn:active{
	background: rgba(29,161,242,.8);
}
.page-set .white-btn{
	color: #494949;
	border: 1px solid #cecece;
	background: #e4e6e8;
	margin-left: 58px;
}
.page-set .white-btn:active{
	background: #dbdbdb;
}
.page-set .blue-btn.fr{
	margin-right: 2%
}
.page-set .moni-box{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 100;
}
.page-set .moni-lbox{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 1000;
}
.page-set .add-trainer.moni-lbox.moni-lbox-agent{
	top: 40%;
}
.page-set .moni-lbox .moni-head{
	width: 100%;
	height: 44px;
	background: #1da1f2;
	border-radius: 5px 5px 0 0;
}
.page-set .moni-main{
	border-radius: 0 0 5px 5px;
	background: #fff;
}
.page-set .moni-lbox .moni-head p{
	line-height: 44px;
	color: #fff;
	font-size: 18px;
	text-indent: 22px;
}
.page-set .moni-lbox .moni-head a{
	line-height: 44px;
	float: right;
	color: #fff;
}
.page-set .moni-lbox .moni-main{
	padding: 28px 58px 30px;
}
.page-set td a{
	width: 50%;
	color: #1da1f2;
	text-align: center;
}
.page-set .tda2 a{
	width: 50%;
}
.page-set .tda3 a{
	width: 33.3%;
}
.page-set .moni-main textarea{
	width: 286px;
	height: 70px;
	padding-left: 20px;
	margin-bottom: 10px;
	border: 1px solid #d0d0d0;
	background: #f5f5f5;
}
.page-set .nopassAgent-box,
.page-set .passAgent-box,
.page-set .stop-box,
.page-set .send-clean,
.page-set .remove-box{
    width: 350px;
    height: 200px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
}
.page-set .nopassAgent-box p,
.page-set .passAgent-box p,
.page-set .stop-box p,
.page-set .send-clean p,
.page-set .remove-box p{
    font-size: 18px;
    color: #494949;
    font-weight: bold;
}
.page-set .btn-box{
	width: 100%;
	margin: 25px auto 0;
	text-align: center;
}
.page-set .btn-box .white-btn{
	margin-left: 26px;
}
.page-set .DataCenterBox-cols{
    cursor: pointer;
    font-size: 40px;
    float: right;
    margin-right: 5px;
    margin-top: -8px;
    color: #FFFFFF;
}
/*input内文字样式*/
.page-set ::-webkit-input-placeholder{
	color: #898989;
	font-size: 14px;
}
.page-set ::-moz-placeholder{/*firefox 19+*/
	color: #898989;
	font-size: 14px;
}
.page-set :-ms-input-placeholder{/*ie*/
	color: #898989;
	font-size: 14px;
}
.page-set input:-moz-placeholder{
	color: #898989;
	font-size: 14px;
}
/*模拟弹窗公共样式 Begin*/
.page-set .moni-lbox{
	width: 600px;
	height: auto;
}
.page-set .nopassAgent-box.moni-lbox,
.page-set .passAgent-box.moni-lbox,
.page-set .send-clean.moni-lbox,
.page-set .stop-box.moni-lbox,
.page-set .remove-box.moni-lbox{
    width: 375px;
    padding: 30px 0 25px;
}

.page-set .moni-lbox .moni-main h5,
.page-set .set-pw-form h5{
	font-size: 14px;
	font-weight: bold;
	width: 70px;
	text-align: justify;
	text-align-last: justify;
	-o-text-align-last: justify;
	-ms-text-align-last: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
	text-justify:inter-ideograph;/*IE私有属性*/
	/*overflow:hidden;*/
	display: inline-block;
}
/*.page-set .moni-lbox .moni-main label:after{
	display:inline;
	content:'';
	overflow:hidden;
	width: 100%;
	height:0;
}*/
.page-set .moni-lbox .moni-main i,
.page-set .set-pw-form i{
	width: 5px;
	font-style: normal;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 30px;
	margin-bottom: 15px;
}
.page-set .moni-lbox .moni-main .long-text{
	width: 85px;
}
.page-set .moni-lbox .moni-main input[type=text],
.page-set .moni-lbox .moni-main input[type=password],
.page-set .set-pw-form input[type=text]{
	width: 310px;
	height: 34px;
	position: relative;
	line-height: 30px;
	background: #f5f5f5;
	padding: 1px 1px 1px 17px;
	border: 1px solid #d0d0d0;
	box-sizing: border-box;
}
.page-set .moni-lbox .moni-main select,
.page-set .set-pw-form select{
	width: 310px;
	height: 34px;
	vertical-align: middle;
	display: inline-block;
	line-height: 30px;
	background: url("../Images/arrow.png") no-repeat scroll #f5f5f5;
	background-position: 97% 50%;
	border: 1px solid #d0d0d0;
	padding-left: 15px;
}
.page-set .moni-lbox .moni-main input[type=radio]{
	margin-left: 14px;
	margin-bottom: 10px;
}
.page-set .moni-lbox .moni-main span{
	font-size: 14px;
    color: #494949;
    position: relative;
    /*top: -2px;*/
}
.page-set .moni-lbox .moni-main div span{
	line-height: 40px;
}
.page-set .moni-lbox .moni-main .moni-area,
.page-set .set-pw-form .moni-area{
	width: 310px;
	height: 34px;
	line-height: 30px;
	display: inline-block;
}
.page-set .moni-lbox .moni-area select,
.page-set .set-pw-form select{
	width: 100.6px;
	padding-left: 5px;
	margin: 0 0 5px 0 ;
}
/*模拟弹窗公共样式 End*/
/*表格样式 Begin*/
.page-set .table-wrap {
    float: left;
    width: 96%;
    margin: 15px 2% 0;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 12px #e3e3e3;
    overflow: hidden;
}
.page-set .table-head {
	background-color: #54b4ee;
}
.page-set .table-head-wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.page-set .grid {
	margin: 0px;
	table-layout: fixed;
	width: 100%;
	color: #fff;
	max-width: none;
	border-spacing: 0px;
	empty-cells: show;
	border-width: 0px;
	outline: 0px none;
	border-collapse: collapse;
}
.page-set .grid tr th {
	padding: 10px 8px;
	vertical-align: bottom;
	overflow: hidden;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.page-set .grid tr td {
	padding: 10px 8px;
	font-size: 13px;
	color: #898989;
	overflow: hidden;
	line-height: 1.6em;
	vertical-align: middle;
	text-overflow: ellipsis;
	text-align: center;
}
.page-set .table_ctbody tr {
	border-bottom: 1px solid #ececec;
}
.page-set .tab-link {
	display: block;
	font-size: 13px;
	color: #ffffff;
	min-height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page-set .table-content {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}
/*表格样式 End*/
.page-set .table-content1{
	overflow: auto;
	overflow-x: hidden;
}
/*
角色管理模块 Begin
 */
/*管理员管理*/
/*代理商管理*/
.page-set .agent-head{
	width: 96%;
	margin: 0px 2% 10px;
	padding-top: 26px;
	padding-bottom: 10px;
}
.page-set .add-btn{
	margin: 26px 0 22px 74px;
}
.page-set .border-top{
	border-top: 1px solid #dcdcdc;
}
.page-set .border-bottom{
	border-bottom: 1px solid #dcdcdc;
}
.page-set .agent-head p{
	font-size: 14px;
	color: #898989;
	font-weight: bold;
}
.page-set .agent-head .agent-input{
	width: 100%;
	margin: 10px 0px 0px;
}
.page-set .agent-head label{
	font-size: 14px;
	color: #494949;
	margin-right: 20px;
}
.page-set .agent-head input[type=text]{
	width: 15%;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #d0d0d0;
	margin-right: 10px;
}
.page-set .agent-head select{
	width: 15%;
	height: 34px;
	line-height: 34px;
	color: #898989;
	margin-right: 10px;
	padding-left: 20px;
	border: 1px solid #d0d0d0;
}
.page-set .agent-head .blue-btn{
	margin-left: 68px;
	/*margin-top: 20px;*/
}
.page-set .agent-head .white-btn{
	margin-left: 25px;
}
.page-set .add-admin #file0{
	width: 100px;
	height: 100px;
	position: absolute;
	opacity: 0;
	cursor:pointer;
}
.page-set .add-admin #img0{
	cursor: pointer;
}
.page-set .moni-lbox .moni-main .red-bitian,
.page-set .set-pw-form .red-bitian {
    color: red!important;
    position: relative;
    top: 3px;
    left: -5px;
}
.page-set .no-bitian{
	opacity: 0;
	color: #fff;
}
/*培训师管理*/
.page-set .trainer-allot .moni-main p{
	font-size: 14px;
	color: #aaa;
	width:410px;
	margin: 26px 0;
	line-height: 25px;
}
.page-set .trainer-agent{
	width: 760px;
}
.page-set .trainer-agent .moni-main{
	width: 760px;
	height: auto;
	margin: 0;
	padding: 28px 0;
	background: #fff;
}
.page-set .trainer-agent .moni-main table{
	width: 680px;
	margin: 0px 40px;
	border: 1px solid #dfdfdf;
	text-align: center;
	border-collapse: collapse;
}
.page-set .trainer-agent .moni-main td,
.page-set .trainer-agent .moni-main th{
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	border-bottom: 1px solid #dfdfdf;
}
.page-set .trainer-agent .moni-main td{
	color: #898989;
}
.page-set .trainer-agent .moni-main th{
	color: #494949;
	font-weight: bold;
}
.page-set .big-img{
	width: 100px;
	height: 100px;
	cursor:pointer;
    margin-right: 10px;
}
.page-set .bbig-img{
	/*width: 300px;
	height: auto;
	cursor:pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 99999;*/
	position: absolute;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 99;
}
/*
角色管理模块 End
 */
/*
系统设置模块 Begin
 */
/*管理员管理*/
/*新增编辑用户组*/
.page-set .redact-user .user-search,
.page-set .add-user .user-search{
    background: #f0f1f4;
    width: 400px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    margin-left: 30px;
	margin-top: 22px;
    position: relative;
    top: -8px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    display: inline-block;
}

.grouptitle_user,.grouptitle_user1,.grouptitle_user2{
	width: 400px;
	height: 40px;
	line-height: 40px;
	margin-left: 30px;
	margin-bottom: 10px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #494949;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    background: #f0f1f4;
}

.page-set .redact-user #search-input2,
.page-set .add-user #search-input1{
	width: 325px;
    color: #494949;
    background: none;
    border: none;
    height: 38px;
    line-height: 38px;
    padding-left: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.page-set .redact-user .search-btn2,
.page-set .add-user .search-btn2{
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    background: url(../Images/common_icon_search_nor.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 10px;
}
.page-set .user-bbox{
	overflow: auto;
	overflow-x: hidden;
	margin-top: 10px;
	border-bottom: 1px solid #dcdcdc;
}
.page-set .user-lbox{
	width: 100%;
	clear: both;
	border-top: 1px solid #dcdcdc;
	text-align: center;
}
.page-set .user-lbox .lbox-left{
	margin-top: 35px;
	width: 25%;
}
.page-set .user-lbox .lbox-right{
	margin-top: 35px;
	width: 75%;
}
.page-set .user-lbox .lbox-right1{
	width: 25%;
	text-align: left;
	margin-bottom: 30px;
}
.page-set .user-lbox .lbox-left input,
.page-set .user-lbox .lbox-right1 input{
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5px;
}
.page-set .user-lbox .lbox-left label,
.page-set .user-lbox .lbox-right1 label{
	font-size: 14px;
	color: #494949;
	cursor: pointer;
	vertical-align: middle;
}
/*.add-user .cancel,
.page-set .add-user .userSubmit{
	position: absolute;
	left: 60%;
	bottom: 50px;
	cursor: pointer;
}*/
.page-set .add-user .cancel{
}
.page-set .add-user .userSubmit{
	color: #fff;
	background: #1da1f2;
	left: 48%;
}
/*发送公告*/
.page-set .consult-main{
    float: left;
    width: 98%;
    padding: 1%;
    background: #efefef;
}
.page-set .consult-main:after,.consult-main:before{
	content: "";
	display: block;
	clear: both;
}
.page-set .consult-nav{
    width: 100%;
    border-bottom: 2px solid #1da1f2;
    background: #fff;
}
.page-set .consult-nav li{
	width: 150px;
	line-height: 56px;
	text-align: center;
}
.page-set .consult-nav .selected{
	background: #1da1fe;
}
.page-set .consult-nav .selected a{
	color: #fff;
}
.page-set .consult-nav a:hover{
	color: #000;
}
.page-set .consult-nav .selected>a:hover{
	color: #fff;
}
.page-set .consult-form{
    float: left;
    width: 98%;
    margin-top: 1%;
    padding: 15px 1% 45px;
    border-radius: 5px;
}
.page-set .consult-form span{
	display: inline-block;
	width: 150px;
	line-height: 54px;
	font-size: 16px;
	color: #494949;
	text-indent: 20px;
}
.page-set .consult-form span i{
	color: red;
	float: left;
}
.page-set .consult-form .editor-box{
	width:670px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-left: 8px;
	margin-top: 12px;
	overflow: auto;
	overflow-x: hidden;
}
.page-set .consult-form #editor{
	width:670px;
	height: 370px;
	display: inline-block;
}
.page-set .edui-default .edui-editor {
	border: none!important;
}
.page-set .consult-form .my_frText1{
	color: #1da1f2;
	font-size: 16px;
	display: inline-block;
	text-indent: 20px;
	letter-spacing: 2px;
}
.page-set .consult-form .input_cell1{
    width: 480px;
    height: 36px;
    line-height: 36px;
    background: #f0f1f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #494949;
}
.page-set .consult-form .input_cell_sm1{
    width: 178px;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    background: #f0f1f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
    font-size: 14px;
    color: #494949;
    cursor: pointer;
}
.page-set .consult-form .laydate-div{
	display: inline-block;
}
.page-set .consult-form .laydate-div label{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	top: 14px;
	left: 5px;
    background: url(../Images/announcement_icon_time.png) no-repeat;
    cursor: pointer;
}
.page-set .consult-form #edui1_bottombar{
    display: none;
} 
.page-set .consult-form .allClean,
.page-set .consult-form .setSendSub{
	text-align: center;
    cursor: pointer;
    margin-top: 35px;
}
.page-set .btn-box.set-send-btn{
	width: 700px;
    margin: 0 0 0 100px;
}
/*历史记录*/
.page-set .table-wrap .last-td a{
	width: 33%;
	display: inline-block;
}
.page-set .his-redact.moni-lbox{
	width: 1000px;
	height: 630px;
}
.page-set .his-redact span{
	display: inline-block;
	width: 150px;
	line-height: 54px;
	font-size: 16px;
	color: #494949;
	text-indent: 5px;
}
.page-set .his-redact span i{
	color: red;
	float: left;
}
.page-set .his-redact #editor{
	width: 670px;
	height: 305px;
	display: inline-block;
	margin-left: 8px;
	margin-top: 12px;
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
}
.page-set .his-redact .input_cell1{
    width: 436px;
    height: 36px;
    line-height: 36px;
    background: #f0f1f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #494949;
}
.page-set .his-redact .input_cell_sm1{
    width: 178px;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    background: #f0f1f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
    font-size: 14px;
    color: #494949;
    cursor: pointer;
}
.page-set .his-redact .laydate-div{
	display: inline-block;
}
.page-set .his-redact .laydate-div label{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	top: 14px;
	left: 5px;
    background: url(../Images/announcement_icon_time.png) no-repeat;
    cursor: pointer;
}
.page-set .his-redact #edui1_bottombar{
    display: none;
} 
.page-set .his-details{
	width: 1000px !important;
	height: 630px;
}
.page-set .his-details span{
	display: inline-block;
	width: 100px;
	line-height: 44px;
	font-size: 14px;
	color: #494949;
	text-indent: 5px;
	font-weight: bold;
}
.page-set .his-details p{
	font-size: 14px;
	display: inline-block;
	position: relative;
	top: 1px;
}
.page-set .his-details .details-main{
	width: 670px;
	height: 380px;
	line-height: 24px;
	overflow: auto;
	overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}
/*个人设置*/
.page-set .set-password-box{
	width: 100%;
	border: none;
	border-radius: 0;
	margin: 70px 0 0 265px;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 1000;
	left: -265px;
}
.page-set .set-password-box .set-password{
	margin-left: 132px;
}
.page-set .set-password-box .set-password label{
	margin-top:20px;
}
.page-set .set-password-box .set-password .password-box{
	position: relative;
	margin-top: 10px;
}
.page-set .password-p{
	font-size: 13px;
    color: #FF0000;
    position: absolute;
    left: 130px;
    top: -17px;
}
.page-set .passwordSue{
    width: 260px !important;
    height: 120px !important;
    margin-left: 168px;
    margin-top: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}
.page-set .passwordSue img{
	vertical-align: middle;	
	vertical-align: middle;	
	margin-right: 20px;	    	
}
.page-set .passwordSue p{
	width: 200px;
	font-size: 18px;
	color: #494949;
	font-weight: bold;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.page-set .set-pw{
	margin: 20px 0 40px 20px;
}
.page-set .set-pw-form{
	margin-left: 40px;
}
.page-set .set-btn-box{
	margin: 40px 0 0 148px;
}
/*代理商分成设置*/
.page-set .moni-lbox.add-divide{
	width: 700px;
    margin-top: -30px;
}
.page-set .moni-lbox.add-divide .moni-main input[type=text]{
	width: 400px;
}
}
.page-set .add-divide .moni-main label{
	width: 100px;
}
.page-set .add-divide .input_cell_sm1{
    width: 189px;
    height: 34px;
    position: relative;
    line-height: 30px;
    background: #f5f5f5;
    padding: 1px 1px 1px 17px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    cursor: pointer;
}
.page-set .add-divide .moni-main .long-text{
	width: 115px;
}
.page-set .add-divide .laydate-div{
	display: inline;
}
.page-set .add-divide .laydate-div small{
	color: #d0d0d0;
	display: inline-block;
	width: 15px;
	text-align: center;
}
.page-set .add-divide .divide-tips{
	font-size: 12px;
	color: #aaa;
	display: block;
	margin-left: 159px;
	margin-bottom: 10px;
}
.page-set .add-divide .add-divide-date{
    background: url(../Images/icon_date1.png) no-repeat 97% #f5f5f5 !important;
}
.page-set .table_ctbody .td-child{
    padding: 0;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}
.page-set .table_ctbody td ul li{
    border-bottom: 1px solid #ececec;
    padding: 10px 8px;
    border-collapse:collapse;
}
.page-set .table_ctbody td ul li:last-child{
    border-bottom: none;
}
.page-set .divide-border{
    width: 100%;
    height: 0px;
    border: .5px solid #ececec;
    margin: 20px 0 25px -15px; 
}
.page-set .under-line{
    text-decoration: underline;
}
.page-set .moni-lbox .moni-main.divide-moni-main{
    padding: 46px 40px 26px;
    text-align: center;
}
.page-set .divide-moni-main .add-divide-box{
    width: 170px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #494949;
    display: inline-block;
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
    border-radius: 5px;
    margin: 0 16px 20px;
}
.page-set .divide-moni-main .add-divide-box.divide-box5{
    width: 250px;
}
.page-set .divide-moni-main .add-divide-box:active{
    border: 1px solid #ff7977;
    background: #fff;
    color: #ff7977;
}
.page-set .moni-lbox.add-divide .moni-main i{
    margin-bottom: 10px;
}
.page-set .moni-lbox.add-divide .moni-main .tuisong-b{
    margin-bottom: 15px;
}
.page-set .moni-lbox.add-divide .moni-main .submit.blue-btn{
    width: 302px;
    height: 36px;
    line-height: 36px;
}
/*
系统设置模块 End
 */

/*上传图片插件样式开始*/
.img-box{
    display: inline-block;
}
.img-box .up-p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}
.z_photo .z_file{
    position: relative;
}
.z_file  .file{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    cursor: pointer;
}
.z_photo .up-section{
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
.up-section .close-upimg{
    position: absolute;
    top: 6px;
    right: 8px;
    display: none;
    z-index: 10;
}
.up-section .up-span{
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0,0,0,.5);
}

.up-section:hover .close-upimg{
    display: block;
}
.up-section:hover .up-span{
    visibility: visible;
}
.z_photo .up-img{
    display: block;
    width: 100%;
    height: 100%;
}
.loading{
    border: 1px solid #D1D1D1;
    background:url("../Images/loading1.gif") no-repeat center;
}
.up-opcity{
    opacity: 0;
}
.img-name-p{
    display: none;
}
.upimg-div .up-section {
    width: 100px;
    height: 100px;
}
.img-box .upimg-div .z_file {
    width: 100px;
    height: 100px;
    margin-bottom: 3px;
}
.z_file .add-img {
    width: 100px;
    height: 100px;
}
/*.z_file.fl {
    margin-top: 12px;
    margin-bottom: 12px;
}*/

/*遮罩层样式*/
.mask{
    z-index: 99999;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}
.mask .mask-content{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -80px;
    background: white;
    height: 130px;
    text-align: center;
}
.mask .mask-content .del-p{
    color: #555;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    border-bottom: 1px solid #D1D1D1;
}
.mask-content .check-p{
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.mask-content .check-p span{
    width: 49%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #d4361d;
    font-size: 16px;
}
.check-p .del-com{
    border-right: 1px solid #D1D1D1;
}

.up-section .type-upimg{
    display: none;
}
.file1{
	display: inline-block;
	width: 350px;
	height: 100px;
}
.file1 a{
	display: inline-block;
	margin: 10px 0 10px 100px;
}
.big-img-tips{
	display: inline-block;
	margin: 10px 0 10px 100px;
}
.page-set .moni-lbox .moni-main span.big-img-box{
	position: absolute;
	top: 50%;
	left: 50%;
}
span.tips{
    width: 286px;
    display: inline-block;
    margin-bottom: 10px;
}
.admin-details.moni-lbox .moni-main>a{
	display: block;
	margin-left: 110px;
	margin-top: 10px;
}
/*上传图片插件样式开始*/
  
/*银行list开始*/
.register-yh-box {
    width: 630px;
    height: auto;
    background: #fff;
    border: 1px solid #dcdcdc;
    position: absolute!important;
    top: 25px;
    left: 0px;
    z-index: 999;
    display: inline-block;
    /*overflow: auto;*/
}
.register-yh{
    background-image: url("../Images/common_icon_register_xila.png")!important;
    background-repeat: no-repeat!important;
    background-position: 285px 13px!important;
}
.yh-box-nav {
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
}
.yh-box-nav .list-name {
    display: inline-block;
    line-height: 35px!important;
    width: 95px;
    font-size: 14px;
    color: #494949;
    text-align: center;
    cursor: pointer;
}
.navadd {
    border-bottom: 2px solid #1da1f2;
    color: #1da1f2!important;
}
.ico-close {
    display: inline-block;
    background: url("../Images/icon_close2.png") no-repeat;
    width: 22px;
    height: 22px;
    position: absolute!important;
    right: 14px;
    top: 6px!important;
    cursor: pointer;
}
.yh-box-01 {
    width: 100%;
    height: 100%;
}
.yh-box-01-center {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    /*background: #000;*/
    padding-top: 22px;
    padding-left: 40px;
    /*padding-right: 12px;*/
    box-sizing: border-box;
}
.xia-logo {
    display: inline-block;
    background: url("../Images/common_icon_register_xila.png") no-repeat;
    width: 16px;
    height: 9px;
    position: absolute;
    right: 155px;
    top: 14px;
    pointer-events: none;
}
.yh-01-btn {
    display: inline-block;
    width: 152px;
    height: 38px;
    border: 1px solid #dadada;
    margin-right: 30px;
    margin-bottom: 14px;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.yh-01-btn>img {
    line-height: 38px;
    vertical-align: middle;
}
.yh-01-btn>.yh-01-text {
    vertical-align: middle;
}
.yh-box-02 {
    width: 100%;
    height: 100%;
}
.yh-box-02-center {
    width: 100%;
    height: 90%;
    /*margin: 0 auto;*/
    /*background: #000;*/
    padding-top: 20px;
    padding-left: 30px;
    /*padding-right: 12px;*/
    box-sizing: border-box;
    font-size: 14px;
    color: #494949;

}
.yh-02-center:hover{
    color: #1da1f2;
}
.yh-02-text {
    position: relative;
    margin-bottom: 12px;
}
.text-02-left {
    position: absolute!important;
    left:0;
    top:5px;
    font-size: 14px;
}
.text-big {
    margin-left: 30px;
    font-size: 14px;
    padding-right: 34px;
}
.text-big>.text-02-center {
    /*display: inline-block;*/
    margin-right: 14px;
    line-height: 29px;
    cursor: pointer;
}
.yh-01-btn:hover {
    border: 1px solid #1da1f2;
}
.text-02-center:hover {
    color:#1da1f2;
}
input:disabled{
    background:#fff;
    opacity:1;
}
/*银行list结束*/
