<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>雀搜服务商协议书</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/agency-register.css" />
    <style>
        .h3title {
            text-align: center;
            font-size: 18px;
            color: #333333;
            font-weight: 700;
            padding-top: 50px;
            padding-bottom: 30px;
        }
        .centerText {
            width: 1200px;
            margin: 0 auto;
            font-size: 12px;
            color: #666666;
            letter-spacing: 2px;
            line-height: 30px;
            padding-bottom: 80px;
        }
    </style>
</head>
<body style="min-width: 1200px;overflow-x: auto;" >
<div class="register-head">
    <!--头部开始-->
    <div class="register-head-top">
        <a class="register-head-logo" href="http://www.527so.com/Publicity/index"></a>
        <span class="register-head-login">已有雀搜账号？<em>快捷登录></em></span>
    </div>
    <!--头部结束-->
    <div class="register-center-bigbox">
        <h3 class="h3title">雀搜服务商协议书</h3>
        <div class="centerText">
            为进一步加强服务商良好的业务开展环境，建立雀搜会员对服务商的了解度和认可度。双方本着互惠互利并在遵守中国法律法规之相关规定，达成以下协议条款（简称“雀搜服务商协议书”）。 <br>

            第一条 定义及解释 <br>

            <br> 1. 1雀搜： 为广东雀鸟科技有限公司（以下简称雀鸟公司）下属服务企业的互联网应用平台，对会员的主体资质信息等认证资料等进行核实，对符合雀搜认证标准的会员提供认证信息的技术及展示服务的一方。
            <br> 1．2服务商： 经雀鸟公司认可的，服务用户向雀搜进行认证服务申请及支付费用的服务商。
            <br> 1. 3客户： 向雀搜提出认证申请，提交真实、合法的申请资料，缴纳认证费用，遵守雀搜推广政策和信誉政策，享受雀搜认证信息服务的一方。
            <br> 1．4甲方:指经过广东雀鸟科技有限公司授权开展雀搜业务的服务商。
            <br> 1．5乙方：指广东雀鸟科技有限公司。
            <br>
            <br> 第二条　协议项目

            <br> 　　甲、乙双方经过协商，根据《雀搜服务体系和管理规范》（以下简称规范）的有关规定（即雀搜服务商申请资格规范，http://www.527so.com，详见雀搜公示内容），甲方申请成为雀搜服务商，并完全接受乙方的规范，经乙方初步审核符合规范中规定的该级雀搜服务商申请资格，签署本服务商合作协议。
            <br> 　　本协议生效后，乙方授权给甲方“雀搜服务商”资格，由甲方代其直接客户（以下简称客户）在乙方处进行会员注册、认证以及乙方在本协议有效期内推出的其它业务（以上服务业务项目依据《雀搜服务商服务和产品价格》为准，http://www.527so.com服务商后台公示内容）；甲方有权限开发服务商，所开发服务直接和乙方签订协议后归属甲方管理。
            <br> 　　
            <br> 第三条　协议附件

            <br> 《雀搜服务商体系与管理规范》（http://www.527so.com，详见雀搜公示内容）作为本协议之附件，与本协议具有同等法律效应。在协议有效期内，乙方将按照本规范的各项有关规定对甲方及所有雀搜服务商实施申请、审批、业绩统计、考核、定级、奖惩等方面的统一管理。
            <br> 　　
            <br> 第四条　双方的权利和义务

            <br> 　　4．1　甲方的权利和义务
            <br> 　　4．1．1　积极宣传推广本协议第一条之业务及其增值服务，维护乙方的企业形象和服务品质，如实向客户告知所提供的服务项目及基本报价等，不得进行以次充好、削减服务项目、对免费项目收费等损害乙方和／或客户利益的行为。
            <br> 　　4．1．2　甲方办理第一条之业务时由甲方与客户签定合同，并向客户提供必要的服务和技术支持，解答客户提出的各种问题，甲方可享受乙方在规范中规定的对该级雀搜服务商提供的各项服务与支持，但应受乙方的成本控制制约。
            <br> 　　4．1．3　2018年3月31日前甲方无需缴纳服务商授权费；2018年3月31日后注册成为雀搜服务商，乙方有权收取服务商授权费。
            <br> 　　4．1．4　向乙方及时提供客户的相关资料和支付相关费用以保证业务的顺利进行。
            <br> 　　4．1．5　保证服务质量，不得损害乙方整体市场形象，也不得从事其它损害乙方利益的行为。
            <br> 　　4．1．6　甲方可以在其公司宣传材料和名片上以及广告内容中使用“雀搜授权服务商”字样和统一标识，未经正式授权，甲方不得以乙方“办事处”或“总服务”等具有垄断性、排他性和其它未经乙方授权的名义进行广告宣传及商业活动。且不得将“雀搜”与甲方作任何实质性联系，其企业名称不得出现“雀搜”等引人误解其为乙方分公司或分支机构的字样。甲方不得做出任何引人误解或引起混淆的行为，使他人误以为甲方是乙方子公司或分公司、关联公司或其他实质性关系单位。
            <br> 　　4．1．7　甲方保证其所有经营活动完全符合中国有关法律、法规、行政规章等的规定。如因甲方违反上述规定的行为给乙方带来任何损害，甲方应承担所有法律责任并赔偿给乙方造成的损失。
            <br> 　　4．1．8　与乙方正式签署服务商协议后，本协议有效期内，甲方不得和任何与乙方构成直接商业竞争关系的企业、商业机构或者组织进行相同或者类似本协议内容的合作，否则乙方有权随时取消其服务商资格并有权要求甲方赔偿损失。本协议有效期内及本协议终止或者解除后，甲方承诺不向与乙方构成商业竞争关系的企业、商业机构或者组织提供有关乙方业务、技术等一切相关信息或者资料，否则愿意承担相应的责任。
            <br> 　　4．1．9　甲方与乙方的其他服务商之间不得进行恶性竞争或者其它不正当竞争。
            <br> 　　4．1．10　本协议所称“与乙方构成商业竞争关系的企业、商业机构或者组织”是指符合下列情形之一的企业、商业机构或者组织
            <br> 　　（一）与乙方处于相同或者相近似的商业、技术领域；
            <br> 　　（二）与乙方经营范围相同或者相近似；
            <br> 　　（三）与乙方所提供的产品、服务或者所面向的客户群相同或者相近似；
            <br> 　　（四）法律、法规规定的其它情形。
            <br> 　　4．1．11　甲方应遵守并促使其用户遵守乙方的各项服务和产品的在线申请／注册条款，甲方的用户违反前述条款的行为将被视为甲方的行为，乙方将直接向甲方追究责任。
            <br> 　　4．2　乙方的权利和义务
            <br> 　　4．2．1　鉴于第一条之业务在甲、乙双方之间进行，乙方原则上不与客户发生直接经济往来。甲方服务区域内的客户通过乙方的宣传推广自行在雀搜完成业务流程并缴纳相关费用的，将视为乙方为甲方下级服务进行结算。
            <br> 　　4．2．2　乙方向甲方提供完整的售后服务，详细条款由甲、乙双方之间具体的业务合同确定（包括电子版合同形式），但乙方的售后服务只对甲方，不面向客户。
            <br> 　　4．2．3　及时将与甲方服务业务有关的价格细则和变化，市场动态指导通知甲方（一般用电子邮件方式）。
            <br> 　　4．2．4　向甲方提供业务范围内的技术支持和技术培训，帮助甲方提高技术能力，拓宽业务范围。
            <br> 　　4．2．5　对因甲方违反本协议造成客户或乙方损失的，乙方有权终止本协议并有权要求甲方赔偿损失。
            <br> 　　4．2．6　对因乙方过错造成的损失，乙方只向甲方承担责任。该责任的承担以甲、乙双方之间发生的该笔具体业务金额的总额为上限。
            <br> 　　4．2．7　对于甲方与其客户之间的纠纷、争议、损失、侵权、违约责任等，均由甲方与客户自行解决，乙方不介入甲方与客户的纠纷、争议等，也不对客户的任何损失负责。
            <br> 　　4．2．8　在本协议有效期内，乙方有权根据市场情况修订定价和服务规范；甲方保证接受乙方在本协议履行期内对《雀搜服务项目与价格体系》和《雀搜服务体系与管理规范》的修订。修订一旦作出，乙方会提前15天发送电子邮件或在http://www.527so.com服务商后台以公告形式通知甲方，修订从规定的日期起生效。
            <br> 　　
            <br> 第五条　对服务的奖惩

            <br> 　　5．1　依据规范和《雀搜服务项目与价格体系》对甲方的服务业务给予优惠。
            <br> 　　5．2　甲方成为乙方服务商后，如果不符合规范中的考核标准，或者有违反服务商信誉和宗旨的，或者违反本协议，以及给客户或者乙方造成严重损害的，乙方有权取消其服务资格，追究其法律责任，同时本协议终止。
            <br> 　　
            <br> 第六条　协议有效期
            <br>
            <br> 　　本协议有效期为授权账号当天起为期3年
            <br> 　　
            <br> 第七条　企业名称、商标、商号、品牌、域名和网站

            <br> 　　7．1　在履行本协议期间，甲方只能在本协议约定的范围内适当地使用乙方的企业名称、商标、商号、品牌、域名和网站的名义，不超越甲方授权工作范围的行为，更不得用于其它的目的和事项。甲方在使用乙方的企业名称、商标、商号、品牌、域名和网站时，应当完全为甲、乙双方在本协议中约定的内容服务，不得夹带其他业务内容或经营目的。甲方在其自身宣传材料、名片、市场宣传、网站建设以及其他任何方面使用乙方授权的名称、域名和网站，都必须事先书面通知乙方，并获得乙方的书面许可，方可进行。否则视为对乙方企业名称、商标、商号、品牌、域名和网站的侵权，应负相应的责任。
            <br> 　　7．2　甲方及其职员承诺在履行本协议期间及在本协议期满后不对乙方所有或将要拥有的商标、企业名称、域名等进行贬低或者其它任何损害，也不对乙方互联网网页或者网站进行任何贬低、抄袭、歪曲、破坏或其它损害。在协议期间甲方应努力工作以维护、提高上述商标、企业名称、域名的价值。
            <br> 　　7．3　甲方承诺，若与乙方终止、解除本协议后未经乙方书面同意，不得向他人明示或暗示与上述乙方之商标、企业名称、域名有任何实质性联系，或者以其它方式明示或暗示自己系乙方服务商。
            <br> 　　7．4　因上述6．1、6．2和6．3情形给第三人或者乙方造成损害的，甲方愿意承担一切责任。
            <br> 　　
            <br> 第八条　协议变更、终止及违约责任

            <br> 　　8．1　甲、乙双方应本着诚实信用的原则履行本协议。任何一方在履行中采用欺诈、胁迫或者暴力的手段，另一方均可以解除本协议并要求对方赔偿损失。
            <br> 　　8．2　任何一方在履行中发现或者有证据表明对方已经、正在或预期将要违约，可以终止履行本协议，但应及时通知对方。若对方对本协议继续不履行、履行不正当或者违约，该方可以解除本协议并要求对方赔偿损失。
            <br> 　　8．3　在协议执行期间，如果双方或一方认为需要终止，应提前一个月通知对方，双方在财务结算完毕、各自责任明确履行之后，方可终止协议。因一方违反本协议的约定擅自终止本协议，给对方造成损失的，应赔偿对方损失。在本协议期满时，如双方同意，可续签本协议。
            <br> 　　8．4　在8．3之情形下，对方应继续完成当月的财务结算，各自明确责任。
            <br> 　　8．5　经双方协商达成一致，可以对本协议有关条款进行变更，但应当以书面形式确认。
            <br> 　　8．6　订立本协议所依据的法律、行政法规、规章发生变化，本协议应变更相关内容；订立本协议所依据的客观情况发生重大变化，致使本协议无法履行的，经甲乙双方协商同意，可以变更或者终止协议的履行。
            <br> 　　8．7　因本协议一方经营情况发生重大困难、濒临破产进入法定整顿期或者被清算，任意一方可以解除本协议。
            <br> 　　
            <br> 第九条　争议解决

            <br> 　　在本协议执行期间如果双方发生争议，双方应友好协商解决。如果协商不成，双方同意提交签约地仲裁委员会进行仲裁，并接受其仲裁规则。该仲裁裁决是终局的，双方将无条件服从该仲裁裁决。
            <br> 　　
            <br> 第十条　不可抗力及意外事件

            <br> 　　10．1　因不可抗力或者其他意外事件使得本协议的履行不可能、不必要或者无意义的，任一方均可以解除本协议。遭受不可抗力、意外事件的一方如全部或部分不能履行本协议、解除或延迟本协议，应自不可抗力、意外事件发生之日起五日内，将事件情况以书面形式通知另一方，并于事件发生之日起二十日内，向另一方提交导致其全部或部分不能履行或延迟履行的证明。
            <br> 　　10．2　遭受不可抗力的一方应采取一切必要措施减少损失，否则应就扩大的损失承担责任。
            <br> 　　10．3　本协议所称不可抗力、意外事件是指不能见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府管制等。
            <br> 　　
            <br> 第十一条　附则

            <br> 　　11．1　本协议的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律。
            <br> 　　11．2　除法律本身有明确规定外，后继立法或法律变更对本协议不具有溯及力。双方可根据后继立法或变更后的法律，经协商一致对本协议进行修改或补充，但应采用书面形式。
            <br> 　　11．3　一方变更通知、通讯地址或其它联系方式，应自变更之日起7日内，将变更后的地址、联系方式通知另一方，否则变更方应对此造成的一切后果承担责任。
            <br> 　　11．4　本协议的理解与解释应依据协议目的和文本原义进行，本协议的标题仅是为了阅读方便而设，不应影响本协议的解释。
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11．5　任何一方对本协议的内容和对方当事人的商业机密均负有保密的义务。
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11．6  本协议为网签协议，甲方注册服务商账号后7个工作日内，乙方人员将安排双方另外签订纸质协议。

        </div>
    </div>
    <!--中间内容区结束-->
    <div class="register-center-bigbox-xian"></div>
    <div class="register-body-bottom">
        <span class="register-bottom-img1"><p class="register-body-bottom-p1">关于我们</p></span>
        <span class="register-bottom-img2"><p class="register-body-bottom-p2">客服电话：400-8088770 | 9:00-18:30</p></span>
        <span class="register-bottom-img3"><p class="register-body-bottom-p3">雀鸟微信公众号：雀搜</p></span>
    </div>
    <p class="register-body-bottom-pp">©2015-2017 527SO.COM 版权所有 粤ICP备16023140号-7 | 广东雀鸟科技有限公司</p>
</div>
<script src="../js/jquery.js"></script>
<!--<script src="../js/bankcard.js"></script>-->
<script src="../js/agency-register.js"></script>
<script src="../js/imgUp.js"></script>
</body>
</html>