<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>资金管理-培训师页面</title>
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/fund-trainer.css" />
	</head>

	<body style="min-width: 1280px;">
		<!--父容器开始-->
		<div class="outer_div">
			<div class="left_template"></div>
			<div class="right_template"></div>
			<div class="fund-platform-warp">
				<!--头部模块-->
				<div class="fund-platform-header">
					<ul>
						<li class="fund_red_bg">
							<div class="fund-platform-cell1">
								<p>可提现金额</p>
								<span>&yen;<em>2580000.00</em></span>
							</div>
						</li>
						<li class="fund_green_bg">
							<div class="fund-platform-cell1">
								<p>冻结金额</p>
								<span>&yen;<em>500.00</em></span>
							</div>
						</li>
						<li class="fund_blue_bg">
							<div class="fund-platform-cell1">
								<p>已提现金额</p>
								<span>&yen;<em>815800.00</em></span>
							</div>
						</li>
					</ul>
					<span class="tixian_btn">申请提现</span>
					<div class="fund-platform-header_border"></div>
				</div>
				<!--筛选模块-->
				<div class="saixuan_div">
					<p class="p1_text">按条件筛选：</p>
					<div class="saixuan_divAll">
						<!--左边模块-->
						<div class="saixuan_divAll_lf">
							<div class="saixuan_divAll_cell1">
								<span class="label1">代理商：</span>
								<input type="text" class="this_uname1 input_cell1" maxlength="50"/>
							</div>
							
							<div class="saixuan_divAll_cell2">
								<span class="label1">手机号码：</span>
								<input type="text" class="this_uphone1 input_cell1" maxlength="11"/>
							</div>
							
							<div class="saixuan_divAll_cell3">
								<span class="label1">日期：</span>
								<input type="datetime" id="inputStartTime" class="this_udate1 input_cell1"/><span class="tobe_str1">-</span><input type="datetime" id="inputEndTime" class="this_udate2 input_cell1"/>
							</div>
						</div>	
						<!--右边模块-->
						<div class="saixuan_divAll_rt">
							<span class="fund_searchBtn">搜索</span>
							<span class="fund_clearBtn">清空</span>
						</div>
					</div>
				</div>
				<p class="p2_text">资金来源明细：</p>
				<!--表格模块开始-->
				<div class="table-wrap">
					<div class="table-head">
						<div class="table-head-wrap">
							<table class="grid">
								<colgroup>
									<col style="width:25%">
									<col style="width:25%">
									<col style="width:25%">
									<col style="width:25%">
								</colgroup>
								<thead>
									<tr>
										<th>
											<span class="tab-link">培训代理商名称</span>
										</th>
										<th>
											<span class="tab-link">联系电话</span>
										</th>
										<th>
											<span class="tab-link">代理商直属会员数</span>
										</th>
										<th>
											<span class="tab-link">累积贡献提成</span>
										</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					<div class="table-content">
						<table class="grid">
							<colgroup>
								<col style="width:25%">
								<col style="width:25%">
								<col style="width:25%">
								<col style="width:25%">
							</colgroup>
							<tbody class="table_ctbody">
								<tr name="111">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="222">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="333">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="444">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="555">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="666">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="777"> 
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="888">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="999">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="1000">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="1001">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="1002">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
								<tr name="1003">
									<td>
										<div>陈凯文</div>
									</td>
									<td>
										<div>13268036998</div>
									</td>
									<td>
										<div>10</div>
									</td>
									<td>
										<div>580000.00</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--表格模块结束-->
				
				<!--分页器开始-->
				<div class="xiansuo_Page_Div">
					<!--<div class="xiansuo_Page_border"></div>-->
					<div class="xiansuo_Page_div">
						<div class="fl">
							<span style="margin-right: 5px;">每页显示</span>
							<select class="xiansuo_Page_Three">
								<option value="10">10</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
							<img class="first_page" title="第一页" src="../Images/icon_sanjiao_01.png" alt="" />
							<img class="prev_page" title="上一页" src="../Images/icon_sanjiao_02.png" alt="" />
						</div>
						<ul class="xiansuo_Page_list">
							<li class="active">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
						</ul>
						<img class="next_page" title="下一页" style="margin-left: 15px;" src="../Images/icon_sanjiao_03.png" alt="" />
						<img class="last_page" title="最后一页" src="../Images/icon_sanjiao_04.png" alt="" />
						<span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10" /><span style="margin-left: 5px;">页</span>
					</div>
				</div>
				<!--分页器结束-->
			</div>
		</div>
		<!--父容器结束-->
		<script>var pages = "资金管理";var index1 = 1; var index2 = 0;</script>
		<script src="../js/jquery.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/laydate.js"></script>
		<script src="../js/fund-trainer.js"></script>
	</body>
</html>