<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雀鸟-培训师首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/MyHone.css" />
    <style>
        @media screen and (max-width: 1880px){
            #main {
                height: 182px;
                top: -20px;
                left: 8%!important;
            }
        }
        #main {
            left: 8%!important;
        }
        /*培训师首页*/
    </style>
</head>
<body style="min-width: 1280px;">
<div class="outer_div">
	<div class="left_template">
		<div class="user_logo">
			<a href="#"><img src="../Images/common_logo.png" alt=""></a></div>
		<p class="company_name1">代理商管理系统</p>
		<div class="userList_bar">
			<ul class="userList_ul">
				<a href="index.html" class="userList_li active"><span class="icon-01"></span><span class="icon-text">首页</span></a>
				<div class="slider_List">
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-money-div">
						<a href="fund-platform.html">资金管理</a>
						<a href="fund-money.html">申请提现</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-data-div">
						<a href="data-daili.html">代理商数据统计</a>
						<a href="data-market.html">业务员数据统计</a>
						<a href="data-train.html">培训师数据统计</a>
						<a href="data-vip.html">注册会员数据统计</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-person-div">
						<a href="juese-admin.html">管理员管理</a>
						<a href="juese-agent.html">代理商管理</a>
						<a href="juese-check.html">审核代理商</a>
						<a href="juese-salesman.html">业务员管理</a>
						<a href="juese-trainer.html">培训师管理</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></a>
					<div class="icon-shopping-div">
						<a href="set-user.html">用户组</a>
						<a href="set-send.html">发布公告</a>
						<a href="set-history.html">历史公告</a>
						<a href="set-password.html">个人设置</a>
						<a href="set-divide.html">代理商分成设置</a>
					</div>
				</div>
			</ul>
		</div>
    </div>
    <div class="right_template"></div>
    <div class="messageCenter">
        <p class="indexTitle">本月统计</p>
        <div class="indexBigbox">
            <!--<div class="indexBox">-->
                <!--<p>本月新增代理商</p>-->
                <!--<span><i class="boxImg-1"></i><em>30</em><span>个</span></span>-->
            <!--</div>-->
            <!--<div class="indexBox Boxcenter">-->
                <!--<p>本月新增认证会员</p>-->
                <!--<span><i class="boxImg-1 boxImg-2"></i><em>300</em><span>个</span></span>-->
            <!--</div>-->
            <!--<div class="indexBox">-->
                <!--<p>本月成交金额</p>-->
                <!--<span><i class="boxImg-1 boxImg-3"></i><em>208530</em><span>元</span></span>-->
            <!--</div>-->
            <div class="indexBox2">
                <p>累积培训代理商数量</p>
                <span></i><em>2556</em><span>个</span></span>
                <div id="main"></div>
            </div>
            <div class="indexBox2 Boxcenter">
                <p>代理商业务员数量</p>
                <span></i><em>15526</em><span>个</span></span>
                <div id="main2"></div>
            </div>
            <div class="indexBox2">
                <p>代理商累积贡献提成</p>
                <span></i><em>563</em><span>元</span></span>
                <div id="main3"></div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="../js/common.js"></script>
<script src="../js/echarts.js"></script>
<script src="../js/MyHone1.js"></script>
<script>
    $(function(){
        $(window).on("load",function(){
            getHeight();//设置动态高度
        })

        $(window).resize(function(){
            var windowH = $(window).height();
            if(windowH>600){
                getHeight();//设置动态高度
                window.location.href=window.location.href;
            }
        });

        //定义获取高度方法
        function getHeight(){
            var winH = $(window).height();
            var topH = $(".right_template").height();
            $(".left_template").height(winH);
            $(".messageCenter").height(winH-topH);
        }
    })
</script>
</body>
</html>