<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>培训师管理</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/set.css">
</head>
<body style="min-width: 1280px;">
<!--父容器开始-->
<div class="outer_div">
	<div class="left_template">
		<div class="user_logo">
			<a href="#"><img src="../Images/common_logo.png" alt=""></a>
		</div>
		<p class="company_name1">代理商管理系统</p>
		<div class="userList_bar">
			<ul class="userList_ul">
				<a href="index.html" class="userList_li"><span class="icon-01"></span><span class="icon-text">首页</span></a>
				<div class="slider_List">
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-money-div">
						<a href="fund-platform.html">资金管理</a>
						<a href="fund-money.html">申请提现</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-data-div">
						<a href="data-daili.html">代理商数据统计</a>
						<a href="data-market.html">业务员数据统计</a>
						<a href="data-train.html">培训师数据统计</a>
						<a href="data-vip.html">注册会员数据统计</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping active"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-person-div show">
						<a href="juese-admin.html">管理员管理</a>
						<a href="juese-agent.html">代理商管理</a>
						<a href="juese-check.html">审核代理商</a>
						<a href="juese-salesman.html">业务员管理</a>
						<a href="juese-trainer.html" class="open">培训师管理</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></a>
					<div class="icon-shopping-div">
						<a href="set-user.html">用户组</a>
						<a href="set-send.html">发布公告</a>
						<a href="set-history.html">历史公告</a>
						<a href="set-password.html">个人设置</a>
						<a href="set-divide.html">代理商分成设置</a>
					</div>
				<div class="slider_List">
			</ul>
		</div>
	</div>
	<div class="right_template"></div>
	<div class="page-set">
		<h2>培训师设置</h2>
		<a href="javascript:;" class="addTrainer blue-btn add-btn">新增</a>
		<form class="agent-head border-top">
			<p>按条件筛选：</p>
			<div class="agent-input">
				<label>姓名：</label><input type="text" name="searchName" placeholder="">
				<label>账号：</label><input type="text" name="searchEmail" placeholder="">
				<!-- <div class="fl"> -->
					<label>状态：</label>
					<select class="searchStatus">
						<option value="全部">全部</option>
						<option value="启用">启用</option>
						<option value="禁用">禁用</option>
					</select>
				<!-- </div> -->
			</div>
			<!-- <div class="cb"></div> -->
			<input type="button" value="搜索" name="search" class="blue-btn" id="searchBtn">
			<input type="button" value="清空" name="clear" class="white-btn">
		</form>
		<!--表格模块开始-->
        <div class="table-wrap">
            <div class="table-head">
                <div class="table-head-wrap">
                    <table class="grid">
                        <colgroup>
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:15%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:10%">
                            <col style="width:20%">
                        </colgroup>
                        <thead>
							<tr>
								<th>编号</th>
								<th>培训师</th>
								<th>联系电话</th>
								<th>账号</th>
								<th>培训代理商明细</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="table-content table-content2">
                <table class="grid">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:15%">
                        <col style="width:20%">
                        <col style="width:15%">
                        <col style="width:10%">
                        <col style="width:20%">
                    </colgroup>
                    <tbody class="table_ctbody">
						<tr>
							<td>01</td>
							<td>
								<a href="javascript:;" class="trainerAgent">名称A</a>
							</td>
							<td>15612345678</td>
							<td>chenkaiwen@527so.com</td>
							<td>
								<a href="javascript:;" class="trainerDetails">查看详情</a>
							</td>
							<td>有效</td>
							<td class="tda3">
								<a href="javascript:;" class="trainerRedact fl">编辑</a>
								<a href="javascript:;" class="trainerAllot">分配</a>
								<a href="javascript:;" class="removeBtn fr">删除</a>
							</td>
						</tr>
						<tr>
							<td>02</td>
							<td>
								<a href="javascript:;" class="trainerAgent">名称A</a>
							</td>
							<td>15612345678</td>
							<td>chenkaiwen@527so.com</td>
							<td>
								<a href="javascript:;" class="trainerDetails">查看详情</a>
							</td>
							<td>无效</td>
							<td class="tda3">
								<a href="javascript:;" class="trainerRedact fl">编辑</a>
								<a href="javascript:;" class="trainerAllot">分配</a>
								<a href="javascript:;" class="removeBtn fr">删除</a>
							</td>
						</tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--表格模块结束-->
        <!--分页器开始-->
        <div class="xiansuo_Page_Div">
            <!--<div class="xiansuo_Page_border"></div>-->
            <div class="xiansuo_Page_div">
                <div class="fl">
                    <span style="margin-right: 5px;">每页显示</span>
                    <select class="xiansuo_Page_Three">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
                    <img class="first_page" title="第一页" src="../Images/icon_sanjiao_01.png" alt="" />
                    <img class="prev_page" title="上一页" src="../Images/icon_sanjiao_02.png" alt="" />
                </div>
                <ul class="xiansuo_Page_list">
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <img class="next_page" title="下一页" style="margin-left: 15px;" src="../Images/icon_sanjiao_03.png" alt="" />
                <img class="last_page" title="最后一页" src="../Images/icon_sanjiao_04.png" alt="" />
                <span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10" /><span style="margin-left: 5px;">页</span>
            </div>
        </div>
        <!--分页器结束-->
	    <!-- 虚拟弹窗开始 -->
	    <!-- 背景 -->
	    <div class="moni-box" style="display: none;"></div>
		<!-- 新增培训师 -->
		<div class="add-trainer moni-lbox" style="display: none;">
			<div class="moni-head">
				<p class="fl">新增培训师</p>
				<em class="DataCenterBox-cols cleanAll fr">&#215;</em>
			</div>
			<form class="moni-main">
				<h5>姓名</h5><i>：</i>
				<input type="text" name="name" placeholder="培训师名称"><br />
				<h5>电话</h5><i>：</i>
				<input type="text" name="phone" placeholder="培训师电话"><br />
				<h5>账号</h5><i>：</i>
				<input type="text" name="ID" placeholder="培训师账号"><br />
				<h5>密码</h5><i>：</i>
                <input type="text" placeholder="密码由6-20位字母、数字或符号组成" class="input-showPwd" />
                <input type="password" name="password" class="input-password" style="display: none"/><br />
				<!-- <input type="password" name="password" placeholder="培训师密码"><br /> -->
				<h5>启动状态</h5><i>：</i>
				<select class="addStatus">
					<option value="有效" checked="checked">有效</option>
					<option value="无效">无效</option>
				</select><br />
				<h5>银行账号</h5><i>：</i>
				<select class="bankName">
					<option value="中国银行">中国银行</option>
					<option value="建设银行">建设银行</option>
				</select><br />
				<h5>&nbsp;</h5><i>&nbsp;</i>
				<input type="text" name="bankCode" maxlength="23" placeholder="卡号"><br />
				<h5>&nbsp;</h5><i>&nbsp;</i>
				<input type="text" name="peopleName" placeholder="姓名"><br />
				<div class="btn-box">
					<input type="button" name="submit" value="确认" class="submit blue-btn" id="addTrainerSub">
					<input type="button" name="cancel" value="取消" class="cancel white-btn">
				</div>
			</form>
		</div>
		<!-- 培训师详情 -->
		<div class="trainer-details moni-lbox" style="display: none;">
			<div class="moni-head">
				<p class="fl">培训师详情</p>
				<em class="DataCenterBox-cols cleanAll fr">&#215;</em>
			</div>
			<div class="moni-main">
				<h5>姓名</h5><i>：</i>
				<span class="name">姓名A</span><br />
				<h5>账号</h5><i>：</i>
				<span class="ID">chengaiwen@527so.com</span><br />
				<h5>电话号码</h5><i>：</i>
				<span class="phone">15612345678</span><br />
				<h5>状态</h5><i>：</i>
				<span class="detailsStatus">有效</span><br />
				<h5>银行账号</h5><i>：</i>
				<span class="bankName">中国银行</span><br />
				<h5>&nbsp;</h5><i>&nbsp;</i>
				<span class="bankCode">6223458974586541235</span><br />
				<h5>&nbsp;</h5><i>&nbsp;</i>
				<span class="peopleName">XXX公司</span><br />
				<h5>创建日期</h5><i>：</i>
				<span class="addTime">2017-10-30 11：48</span><br />
				<h5>更新日期</h5><i>：</i>
				<span class="updateTime">2017-10-30 18：48</span>
			</div>
		</div>
		<!-- 培训代理商明细 -->
		<div class="trainer-agent moni-lbox" style="display: none;">
			<div class="moni-head">
				<p class="fl">培训代理商明细</p>
				<em class="DataCenterBox-cols cleanAll fr">&#215;</em>
			</div>
			<div class="moni-main">
				<table>
					<thead>
						<tr>
							<th>代理商名称</th>
							<th>联系电话</th>
							<th>代理商所在区域</th>
							<th>级别</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>广州哇哈哈哈科技有限公司</td>
							<td>135654654112</td>
							<td>广东广州天河</td>
							<td>一级代理</td>
						</tr>
						<tr>
							<td>广州哇哈哈哈科技有限公司</td>
							<td>135654654112</td>
							<td>广东广州天河</td>
							<td>二级代理</td>
						</tr>
						<tr>
							<td>广州哇哈哈哈科技有限公司</td>
							<td>135654654112</td>
							<td>广东广州天河</td>
							<td>一级代理</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 编辑培训师 -->
		<div class="trainer-redact moni-lbox" style="display: none;">
			<div class="moni-head">
				<p class="fl">编辑培训师</p>
				<em class="DataCenterBox-cols cleanAll fr">&#215;</em>
			</div>
			<form class="moni-main">
				<h5>姓名</h5><i>：</i>
				<input type="text" name="name" placeholder="姓名A"><br />
				<h5>电话</h5><i>：</i>
				<input type="text" name="phone" placeholder="15603078635"><br />
				<h5>账号</h5><i>：</i>
				<input type="text" name="ID" placeholder="chenkaiwen@527so.com"><br />
				<h5>密码</h5><i>：</i>
                <input type="text" placeholder="密码由6-20位字母、数字或符号组成" class="input-showPwd" />
                <input type="password" name="password" class="input-password" style="display: none"/><br />
				<!-- <input type="password" name="password" placeholder="123456"><br /> -->
				<h5>启动状态</h5><i>：</i>
				<select class="redactStatus">
					<option value="有效">有效</option>
					<option value="无效">无效</option>
				</select><br />
				<h5>银行账号</h5><i>：</i>
				<span class="bankName">中国银行</span><br />
				<h5>&nbsp;</h5><i>&nbsp;</i>
				<span class="bankCode">6223458974586541235</span><br />
				<h5>&nbsp;</h5><i>&nbsp;</i>
				<span class="peopleName">XXX公司</span><br />
				<h5>创建日期</h5><i>：</i>
				<span class="addTime">2017-10-30 11：48</span><br />
				<h5>更新日期</h5><i>：</i>
				<span class="updateTime">2017-10-30 18：48</span>
				<div class="btn-box">
					<input type="button" name="submit" value="确认" class="submit blue-btn" id="trainerRedactSub">
					<input type="button" name="cancel" value="取消" class="cancel white-btn">
				</div>
			</form>
		</div>
		<!-- 分配代理商 -->
		<div class="trainer-allot moni-lbox" style="display: none;">
			<div class="moni-head">
				<p class="fl">分配代理商</p>
				<em class="DataCenterBox-cols cleanAll fr">&#215;</em>
			</div>
			<div class="moni-main">
				<p>将代理商分配给培训师培训，培训后代理商所开发的认证会员，培训师都有相应的提成。</p>
				<h5>代理商</h5><i>：</i>
				<input type="text" name="allotAgent">
				<div class="btn-box">
					<input type="button" name="submit" value="确认" class="submit blue-btn" id="trainerAllotSub">
					<input type="button" name="cancel" value="取消" class="cancel white-btn">
				</div>
			</div>
		</div>
        <!-- 删除按钮 -->
        <div class="remove-box moni-lbox" style="display: none;">
            <p>确认删除？</p>
            <div class="btn-box">
                <input type="button" value="确认" name="remove" class="removeSubmit blue-btn">
                <input type="button" value="取消" name="cancel" class="cancel white-btn">
            </div>
        </div>
		<!-- 虚拟弹窗结束 -->
	</div>
</div>

<script src="../js/jquery.js"></script>
<script src="../js/common.js"></script>
<script src="../js/role.js"></script>
<script type="text/javascript">
    //后台提交
    //搜索按钮
    $(document).on("click","#searchBtn",function(){
        var searchName = $("input[name=searchName]").val(),
        searchEmail = $("input[name=searchEmail]").val(),
        status = $(".searchStatus:visible").val(),
        emailreg = /^[a-z0-9-_.]+@[\da-z][\.\w-]+\.[a-z]{2,4}$/i;
        if (searchName == "" && searchEmail == "") {
            error("搜索项不能为空");
        } else if (!emailreg.test(searchEmail) && searchEmail !== "") {
            error("请输入正确的账号（邮箱格式如：quesou@527so.com）");
        } else {
            console.log(searchName,searchEmail,status);
        }
    });
    //新增培训师
    $(document).on("click","#addTrainerSub",function(){
        var name = $("input[name=name]").val(),
        phone = $("input[name=phone]").val(),
        ID = $("input[name=ID]").val(),
        password = $("input[name=password]").val(),
        status = $(".addStatus").val(),
        bankName = $(".bankName").val(),
        bankCode = $("input[name=bankCode]").val(),
        peopleName = $("input[name=peopleName]").val();
        checkForm();//表单验证函数
        console.log(name,phone,ID,password,status,bankName,bankCode,peopleName);//ajax提交
    });

    //培训代理商明细
    

    //培训师详情
    $(function(){
        var ziliaojson;//ajax获取数据
        $(".name").text(ziliaojson);
        $(".phone").text(ziliaojson);
        $(".ID").text(ziliaojson);
        $(".detailsStatus").text(ziliaojson);
        $(".bankName").text(ziliaojson);
        $(".bankCode").text(ziliaojson);
        $(".peopleName").text(ziliaojson);
        $(".addTime").text(ziliaojson);
        $(".updateTime").text(ziliaojson);
    });

    //编辑培训师
    $(document).on("click",".trainerRedact",function(){
        //显示已有数据
        var ziliaojson;//ajax获取数据
	    $("input[name=name]:visible").val(ziliaojson);
	    $("input[name=phone]:visible").val(ziliaojson);
	    $("input[name=ID]:visible").val(ziliaojson);
	    $("input[name=password]:visible").val(ziliaojson);
	    $(".addStatus").val(ziliaojson);
        $(".bankName").text(ziliaojson);
        $(".bankCode").text(ziliaojson);
        $(".peopleName").text(ziliaojson);
        $(".addTime").text(ziliaojson);
        $(".updateTime").text(ziliaojson);
        //提交修改
        $("#trainerRedactSub").click(function(){
	        var name = $("input[name=name]:visible").val(),
	        phone = $("input[name=phone]:visible").val(),
	        ID = $("input[name=ID]:visible").val(),
	        password = $("input[name=password]:visible").val(),
	        status = $(".redactStatus").val();
	        checkForm();//表单验证函数
	        console.log(name,phone,ID,password,status);//ajax提交
	        success("操作成功");
        });
    });

    //分配代理商
    $(document).on("click","#trainerAllotSub",function(){
    	var allotAgent = $("input[name=allotAgent]").val();
    	console.log(allotAgent);
    })
    
    //删除培训师
    // 删除按钮
    $(document).on("click",".removeBtn",function(){
        $(this).parents("tr").addClass("remove");
        var trId = $(this).parents("tr").attr("name");//取得删除那一行的name值
        $(".remove-box,.moni-box").fadeIn();
        $(document).on("click",".removeSubmit",function(){
            $(".remove").remove(); 
            $(".remove-box,.moni-box").fadeOut();
            console.log(trId);//发起ajax
	        success("操作成功");
        })
    })
</script>
</body>
</html>