<div class="user_logo">
	<a href="#"><img src="../Images/common_logo.png" alt=""></a></div>
<p class="company_name1">代理商管理系统</p>
<div class="userList_bar">
	<ul class="userList_ul">
		<li class="userList_li active"><span class="icon-01"></span><span class="icon-text">首页</span></li>
		<li class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></li>
		<div class="icon-money-div">
			<p>资金管理</p>
			<p>申请提现</p>
		</div>
		<li class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></li>
		<div class="icon-data-div">
			<p>代理商数据统计</p>
			<p>业务员数据统计</p>
			<p>培训师数据统计</p>
			<p>注册会员数据统计</p>
		</div>
		<li class="userList_li icon-shopping"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></li>
		<div class="icon-person-div">
			<p>管理员管理</p>
			<p>代理商管理</p>
			<p>审核代理商</p>
			<p>业务员管理</p>
			<p>培训师管理</p>
		</div>
		<li class="userList_li icon-shopping"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></li>
		<div class="icon-shopping-div">
			<p>用户组</p>
			<p>发布公告</p>
			<p>历史公告</p>
			<p>个人设置</p>
			<p>代理商分成设置</p>
		</div>
	</ul>
</div>