<div class="user_logo">
	<a href="#"><img src="../Images/common_logo.png" alt=""></a>
</div>
<p class="company_name1">代理商管理系统</p>
<div class="userList_bar">
	<ul class="userList_ul">
		<a href="index.html" class="userList_li active"><span class="icon-01"></span><span class="icon-text">首页</span></a>
		<a href="fund-platform.html" class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></a>
		<div class="icon-money-div">
			<a href="fund-platform.html">资金管理</a>
			<a href="fund-money.html">申请提现</a>
		</div>
		<a href="data-daili.html" class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></a>
		<div class="icon-data-div">
			<a href="data-daili.html">代理商数据统计</a>
			<a href="data-market.html">业务员数据统计</a>
			<a href="data-train.html">培训师数据统计</a>
			<a href="data-vip.html">注册会员数据统计</a>
		</div>
		<a href="juese-admin.html" class="userList_li icon-shopping"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></a>
		<div class="icon-person-div">
			<a href="juese-admin.html">管理员管理</a>
			<a href="juese-agent.html">代理商管理</a>
			<a href="juese-check.html">审核代理商</a>
			<a href="juese-salesman.html">业务员管理</a>
			<a href="juese-trainer.html">培训师管理</a>
		</div>
		<a href="set-user.html" class="userList_li icon-shopping"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></a>
		<div class="icon-shopping-div">
			<a href="set-user.html">用户组</a>
			<a href="set-send.html">发布公告</a>
			<a href="set-history.html">历史公告</a>
			<a href="set-password.html">个人设置</a>
			<a href="set-divide.html">代理商分成设置</a>
		</div>
	</ul>
</div>