<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>修改密码</title>
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/set.css">
</head>
<body style="min-width: 1280px;">
	<!--父容器开始-->
	<div class="outer_div">
		<div class="left_template"></div>
		<div class="right_template"></div>
		<div class="page-set white-bg">
			<h2>个人信息</h2>		
	        <!-- 模拟弹窗开始 -->
	        <div class="set-password-box">
		        <div class="set-password moni-lbox">
		            <div class="moni-head">
		                <p class="fl">修改密码</p>
		            </div>
		            <form class="moni-main">
		                <div class="password-box">
		                	<label class="long-text">旧密码</label><i>：</i>
		                	<input type="password" name="oldPassword"><br />
		                </div>
		                <div class="password-box">
		                	<label class="long-text">新密码</label><i>：</i>
		                	<input type="password" name="newPassword"><br />
		                </div>
		                <div class="password-box">
		                	<label class="long-text">确认新密码</label><i>：</i>
		                	<input type="password" name="checkPassword"><br />
		                </div>
		                <div class="btn-box">
		                    <input type="button" name="submit" value="确认" class="submit blue-btn" id="setPasswordSub">
		                </div>
		            </form>
	            </div>
	        </div>
		    <!-- 修改成功 -->
		    <div class="moni-lbox passwordSue" style="display: none;">
		    	<p><img src="../Images/common_icon_success01_nor.png" width="32px" height="auto">修改成功！</p>
		    </div>
	    </div>
        <!-- 模拟弹窗结束 -->
	</div>
	<!--父容器结束-->
	<script>var pages = "系统设置";var index1 = 4; var index2 = 3;</script>
	<script src="../js/jquery.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/set.js"></script>
	<script>
		//提交后台
		$(document).on("click","#setPasswordSub",function(){
			var oldPassword = $("input[name=oldPassword]").val(),
			newPassword = $("input[name=newPassword]").val(),
			checkPassword = $("input[name=checkPassword]").val();
			var ajaxPassword;//ajax请求旧密码
			if (oldPassword == "" || newPassword == "" || checkPassword == "" ) {
				alert("请输入密码！");
			} else if (ajaxPassword != oldPassword){
				$("input[name=oldPassword]").after("<p class='password-p'>密码不正确！</p>");
				$("input[name=oldPassword]").css({"border":"1px solid red"});
				$("input[name=oldPassword]").val("");
			} else if (newPassword != checkPassword){
				$("input[name=oldPassword]").css({"border":"1px solid #d0d0d0"});
				$(".password-p").hide();
				$("input[name=checkPassword]").after("<p class='password-p'>两次输入不一致！</p>");
				$("input[name=checkPassword]").css({"border":"1px solid red"});
			} else {
				$(".password-p").hide();
				$("input[name=oldPassword],input[name=checkPassword]").css({"border":"1px solid #d0d0d0"});
				$(".passwordSue").fadeIn();
				setTimeout(function(){
					$(".passwordSue").hide();
					$("input[type=password]").val("");
					$(".set-password-box").fadeIn();
				},1000);
				console.log(checkPassword);//提交ajax请求
			}
		})
	</script>
</body>
</html>