<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/set.css" />
    <title>用户组设置</title>
</head>
<body style="min-width: 1280px;">
<!--父容器开始-->
<div class="outer_div">
    <div class="left_template">
    	<div class="user_logo">
			<a href="#"><img src="../Images/common_logo.png" alt=""></a>
		</div>
		<p class="company_name1">代理商管理系统</p>
		<div class="userList_bar">
			<ul class="userList_ul">
				<a href="index.html" class="userList_li"><span class="icon-01"></span><span class="icon-text">首页</span></a>
				<div class="slider_List">
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-02"></span><span class="icon-text">资金管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-money-div">
						<a href="fund-platform.html">资金管理</a>
						<a href="fund-money.html">申请提现</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-03"></span><span class="icon-text">数据管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-data-div">
						<a href="data-daili.html">代理商数据统计</a>
						<a href="data-market.html">业务员数据统计</a>
						<a href="data-train.html">培训师数据统计</a>
						<a href="data-vip.html">注册会员数据统计</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping"><span class="icon-04"></span><span class="icon-text">角色管理</span><span class="icon-shopping-1"></span></a>
					<div class="icon-person-div">
						<a href="juese-admin.html">管理员管理</a>
						<a href="juese-agent.html">代理商管理</a>
						<a href="juese-check.html">审核代理商</a>
						<a href="juese-salesman.html">业务员管理</a>
						<a href="juese-trainer.html">培训师管理</a>
					</div>
					<a href="javascript:;" class="userList_li icon-shopping active"><span class="icon-05"></span><span class="icon-text">系统设置</span><span class="icon-shopping-1"></span></a>
					<div class="icon-shopping-div show">
						<a href="set-user.html" class="open">用户组</a>
						<a href="set-send.html">发布公告</a>
						<a href="set-history.html">历史公告</a>
						<a href="set-password.html">个人设置</a>
						<a href="set-divide.html">代理商分成设置</a>
					</div>
				</div>
			</ul>
		</div>
    </div>
    <div class="right_template"></div>
    <div class=" page-set">
        <div class="user-main">
            <h2>用户组设置</h2>
            <a href="javascript:;" class="addUser fr blue-btn">新增</a>
            <!--表格模块开始-->
            <div class="table-wrap">
                <div class="table-head">
                    <div class="table-head-wrap">
                        <table class="grid">
                            <thead>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:20%">
                                    <col style="width:20%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:20%">
                                </colgroup>
                                <tr>
                                    <th>ID编号</th>
                                    <th>用户组</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th>创建人</th>
                                    <th>修改人</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="table-content table-content1">
                    <table class="grid">
                        <colgroup>
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:20%">
                        </colgroup>
                        <tbody class="table_ctbody">
                            <tr name="111">
                                <td>1</td>
                                <td>管理员</td>
                                <td>2017-10-16 10:45</td>
                                <td>2017-10-16 56:45</td>
                                <td>A</td>
                                <td>C</td>
                                <td>
                                    <a href="javascript:;" class="userRedact fl">编辑</a>
                                    <a href="javascript:;" class="removeBtn fr">删除</a>
                                </td>
                            </tr>
                            <tr name="222">
                                <td>2</td>
                                <td>代理商</td>
                                <td>2017-10-16 10:45</td>
                                <td>2017-10-16 56:45</td>
                                <td>A</td>
                                <td>C</td>
                                <td>
                                    <a href="javascript:;" class="userRedact fl">编辑</a>
                                    <a href="javascript:;" class="removeBtn fr">删除</a>
                                </td>
                            </tr>
                            <tr name="333">
                                <td>3</td>
                                <td>业务员</td>
                                <td>2017-10-16 10:45</td>
                                <td>2017-10-16 56:45</td>
                                <td>A</td>
                                <td>C</td>
                                <td>
                                    <a href="javascript:;" class="userRedact fl">编辑</a>
                                    <a href="javascript:;" class="removeBtn fr">删除</a>
                                </td>
                            </tr>
                            <tr name="444">
                                <td>4</td>
                                <td>培训师</td>
                                <td>2017-10-16 10:45</td>
                                <td>2017-10-16 56:45</td>
                                <td>A</td>
                                <td>C</td>
                                <td>
                                    <a href="javascript:;" class="userRedact fl">编辑</a>
                                    <a href="javascript:;" class="removeBtn fr">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--表格模块结束-->
            <!--分页器开始-->
            <div class="xiansuo_Page_Div">
                <!--<div class="xiansuo_Page_border"></div>-->
                <div class="xiansuo_Page_div">
                    <div class="fl">
                        <span style="margin-right: 5px;">每页显示</span>
                        <select class="xiansuo_Page_Three">
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
                        <img class="first_page" title="第一页" src="../Images/icon_sanjiao_01.png" alt="" />
                        <img class="prev_page" title="上一页" src="../Images/icon_sanjiao_02.png" alt="" />
                    </div>
                    <ul class="xiansuo_Page_list">
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <img class="next_page" title="下一页" style="margin-left: 15px;" src="../Images/icon_sanjiao_03.png" alt="" />
                    <img class="last_page" title="最后一页" src="../Images/icon_sanjiao_04.png" alt="" />
                    <span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10" /><span style="margin-left: 5px;">页</span>
                </div>
            </div>
            <!--分页器结束-->
        </div>
        <!-- 模拟弹窗开始 -->
        <!-- 背景 -->
        <div class="moni-box" style="display: none;"></div>
        <!-- 新增按钮 -->
        <div class="add-user white-bg" style="display: none;">
            <div class="moni-head">
                <a href="javascript:;" class="closeAll"></a><!-- 关闭按钮 -->
            </div>
            <h2 class="grouptitle_h2">用户组名称<input type="text" class="grouptitle_user1" placeholder="请输入用户组名称"/></h2>
            <!-- 搜索框 -->
            <!--<div class="user-search">
                <input type="text" id="search-input1" placeholder="请输入用户组名称" />
                <label for="search-input1" class="search-btn2"></label>
            </div>-->
            <!-- 列表设置 -->
            <div class="user-bbox">
				<div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser1" id="reuser1" class="input-head"><label for="reuser1">首页展示</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser11" id="reuser11"><label for="reuser11">本月新增代理商数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser12" id="reuser12"><label for="re12">累计代理商数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser13" id="reuser13"><label for="reuser13">本月新增认证会员数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser14" id="reuser14"><label for="reuser14">累计认证会员数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser15" id="reuser15"><label for="reuser15">本月新增业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser16" id="reuser16"><label for="reuser16">业务团队队员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser17" id="reuser17"><label for="reuser17">本月成交金额</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser18" id="reuser18"><label for="reuser18">累计成交金额</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser20" id="reuser20" class="input-head"><label for="reuser20">消息管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser21" id="reuser21"><label for="reuser21">消息列表</label>
                        </div>
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser22" id="reuser22"><label for="reuser22">删除消息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser23" id="reuser23"><label for="reuser23">发布公告消息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser24" id="reuser24"><label for="reuser24">删除公告消息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser25" id="reuser25"><label for="reuser25">取消公告消息发布</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser26" id="reuser26"><label for="reuser26">查看公告消息列表</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser30" id="reuser30" class="input-head"><label for="reuser30">管理员管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser31" id="reuser31"><label for="reuser31">新增管理员</label>
                        </div>
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser32" id="reuser32"><label for="reuser32">搜索管理员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser33" id="reuser33"><label for="reuser33">编辑管理员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser32" id="reuser32"><label for="reuser32">搜索管理员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser34" id="reuser34"><label for="reuser34">删除管理员</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser40" id="reuser40" class="input-head"><label for="reuser40">代理商管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser41" id="reuser41"><label for="reuser41">新增代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser42" id="reuser42"><label for="reuser42">搜索代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser43" id="reuser43"><label for="reuser43">编辑代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser44" id="reuser44"><label for="reuser44">删除代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser45" id="reuser45"><label for="reuser45">审核代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser46" id="reuser46"><label for="reuser46">查看代理商详情</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser47" id="reuser47"><label for="reuser47">搜索代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser48" id="reuser48"><label for="reuser48">通过代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser49" id="reuser49"><label for="reuser49">拒绝代理商</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser50" id="reuser50" class="input-head"><label for="reuser50">业务员管理</label></div>
                    <div class="lbox-right fr">   
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser51" id="reuser51"><label for="reuser51">新增业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser52" id="reuser52"><label for="reuser52">搜索业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser53" id="reuser53"><label for="reuser53">编辑业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser54" id="reuser54"><label for="reuser54">删除业务员</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser60" id="reuser60" class="input-head"><label for="reuser60">培训师管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser61" id="reuser61"><label for="reuser61">新增培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser62" id="reuser62"><label for="reuser62">搜索培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser63" id="reuser63"><label for="reuser63">编辑培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser64" id="reuser64"><label for="reuser64">删除培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser65" id="reuser65"><label for="reuser65">分配代理商</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser70" id="reuser70" class="input-head"><label for="reuser70">资金管理</label></div>
                    <div class="lbox-right fr">
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser71" id="reuser71"><label for="reuser71">平台累计收入</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser72" id="reuser72"><label for="reuser72">平台代理商可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser73" id="reuser73"><label for="reuser73">平台冻结金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser74" id="reuser74"><label for="reuser74">平台累计已被提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser75" id="reuser75"><label for="reuser75">资金来源明细</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser76" id="reuser76"><label for="reuser76">平台分成</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser77" id="reuser77"><label for="reuser77">培训师分成</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser78" id="reuser78"><label for="reuser78">代理商分成</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser79" id="reuser79"><label for="reuser79">代理商申请提现</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser710" id="reuser710"><label for="reuser710">代理商可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser711" id="reuser711"><label for="reuser711">代理商冻结金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser712" id="reuser712"><label for="reuser712">代理商可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser713" id="reuser713"><label for="reuser713">代理商资金来源</label>
                        </div>

						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser714" id="reuser714"><label for="reuser714">培训师申请提现</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser715" id="reuser715"><label for="reuser715">培训师可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser716" id="reuser716"><label for="reuser716">培训师冻结金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser717" id="reuser717"><label for="reuser717">培训师可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser718" id="reuser718"><label for="reuser718">培训师资金来源</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser80" id="reuser80" class="input-head"><label for="reuser80">申请提现管理人</label></div>
                    <div class="lbox-right fr">
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser81" id="reuser81"><label for="reuser81">搜索提现人</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser82" id="reuser82"><label for="reuser82">提现明细</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser83" id="reuser83"><label for="reuser83">审核提现</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser90" id="reuser90" class="input-head"><label for="reuser90">数据管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser91" id="reuser91"><label for="reuser91">代理商数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser92" id="reuser92"><label for="reuser92">查看开发代理商明细</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser93" id="reuser93"><label for="reuser93">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser94" id="reuser94"><label for="reuser94">业务员数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser95" id="reuser95"><label for="reuser95">查看认证会员明细</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser96" id="reuser96"><label for="reuser96">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser97" id="reuser97"><label for="reuser97">培训师数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser98" id="reuser98"><label for="reuser98">查看培训代理商明细</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser99" id="reuser99"><label for="reuser99">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser910" id="reuser910"><label for="reuser910">注册会员数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser911" id="reuser911"><label for="reuser911">查看会员详情</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser912" id="reuser912"><label for="reuser912">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser913" id="reuser913"><label for="reuser913">指派给代理商</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser10" id="reuser10" class="input-head"><label for="reuser10">用户组管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser101" id="reuser101"><label for="reuser101">新增用户组</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser102" id="reuser102"><label for="reuser102">设置用户组权限</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser103" id="reuser103"><label for="reuser103">编辑用户组信息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser104" id="reuser104"><label for="reuser104">删除用户组</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser110" id="reuser110" class="input-head"><label for="reuser110">账号信息管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser111" id="reuser111"><label for="reuser111">个人信息管理</label>
                        </div>
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser112" id="reuser112"><label for="reuser112">修改密码</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <input type="button" name="submit" value="确认" class="addUserSubmit blue-btn">
                <input type="button" name="cancel" value="取消" class="cancel white-btn">
            </div>
            <p id="show"></p>
        </div>

        <!-- 编辑按钮 -->
        <div class="redact-user white-bg" style="display: none;"> 
            <div class="moni-head">
                <a href="javascript:;" class="closeAll"></a><!-- 关闭按钮 -->
            </div>
            <h2 class="grouptitle_h2">用户组名称<input type="text" class="grouptitle_user2" placeholder="请输入用户组名称"/></h2>
            <!-- 搜索框 -->
            <!--<div class="user-search">
                <input type="text" id="search-input2" placeholder="请输入用户组名称" />
                <label for="search-input2" class="search-btn2"></label>
            </div>-->
            <!-- 列表设置 -->
            <div class="user-bbox">
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser1" id="reuser1" class="input-head"><label for="reuser1">首页展示</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser11" id="reuser11"><label for="reuser11">本月新增代理商数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser12" id="reuser12"><label for="re12">累计代理商数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser13" id="reuser13"><label for="reuser13">本月新增认证会员数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser14" id="reuser14"><label for="reuser14">累计认证会员数</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser15" id="reuser15"><label for="reuser15">本月新增业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser16" id="reuser16"><label for="reuser16">业务团队队员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser17" id="reuser17"><label for="reuser17">本月成交金额</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser18" id="reuser18"><label for="reuser18">累计成交金额</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser20" id="reuser20" class="input-head"><label for="reuser20">消息管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser21" id="reuser21"><label for="reuser21">消息列表</label>
                        </div>
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser22" id="reuser22"><label for="reuser22">删除消息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser23" id="reuser23"><label for="reuser23">发布公告消息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser24" id="reuser24"><label for="reuser24">删除公告消息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser25" id="reuser25"><label for="reuser25">取消公告消息发布</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser26" id="reuser26"><label for="reuser26">查看公告消息列表</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser30" id="reuser30" class="input-head"><label for="reuser30">管理员管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser31" id="reuser31"><label for="reuser31">新增管理员</label>
                        </div>
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser32" id="reuser32"><label for="reuser32">搜索管理员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser33" id="reuser33"><label for="reuser33">编辑管理员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser32" id="reuser32"><label for="reuser32">搜索管理员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser34" id="reuser34"><label for="reuser34">删除管理员</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser40" id="reuser40" class="input-head"><label for="reuser40">代理商管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser41" id="reuser41"><label for="reuser41">新增代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser42" id="reuser42"><label for="reuser42">搜索代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser43" id="reuser43"><label for="reuser43">编辑代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser44" id="reuser44"><label for="reuser44">删除代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser45" id="reuser45"><label for="reuser45">审核代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser46" id="reuser46"><label for="reuser46">查看代理商详情</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser47" id="reuser47"><label for="reuser47">搜索代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser48" id="reuser48"><label for="reuser48">通过代理商</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser49" id="reuser49"><label for="reuser49">拒绝代理商</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser50" id="reuser50" class="input-head"><label for="reuser50">业务员管理</label></div>
                    <div class="lbox-right fr">   
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser51" id="reuser51"><label for="reuser51">新增业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser52" id="reuser52"><label for="reuser52">搜索业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser53" id="reuser53"><label for="reuser53">编辑业务员</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser54" id="reuser54"><label for="reuser54">删除业务员</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser60" id="reuser60" class="input-head"><label for="reuser60">培训师管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser61" id="reuser61"><label for="reuser61">新增培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser62" id="reuser62"><label for="reuser62">搜索培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser63" id="reuser63"><label for="reuser63">编辑培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser64" id="reuser64"><label for="reuser64">删除培训师</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser65" id="reuser65"><label for="reuser65">分配代理商</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser70" id="reuser70" class="input-head"><label for="reuser70">资金管理</label></div>
                    <div class="lbox-right fr">
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser71" id="reuser71"><label for="reuser71">平台累计收入</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser72" id="reuser72"><label for="reuser72">平台代理商可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser73" id="reuser73"><label for="reuser73">平台冻结金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser74" id="reuser74"><label for="reuser74">平台累计已被提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser75" id="reuser75"><label for="reuser75">资金来源明细</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser76" id="reuser76"><label for="reuser76">平台分成</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser77" id="reuser77"><label for="reuser77">培训师分成</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser78" id="reuser78"><label for="reuser78">代理商分成</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser79" id="reuser79"><label for="reuser79">代理商申请提现</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser710" id="reuser710"><label for="reuser710">代理商可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser711" id="reuser711"><label for="reuser711">代理商冻结金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser712" id="reuser712"><label for="reuser712">代理商可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser713" id="reuser713"><label for="reuser713">代理商资金来源</label>
                        </div>

						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser714" id="reuser714"><label for="reuser714">培训师申请提现</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser715" id="reuser715"><label for="reuser715">培训师可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser716" id="reuser716"><label for="reuser716">培训师冻结金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser717" id="reuser717"><label for="reuser717">培训师可提现金额</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser718" id="reuser718"><label for="reuser718">培训师资金来源</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser80" id="reuser80" class="input-head"><label for="reuser80">申请提现管理人</label></div>
                    <div class="lbox-right fr">
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser81" id="reuser81"><label for="reuser81">搜索提现人</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser82" id="reuser82"><label for="reuser82">提现明细</label>
                        </div>
						
						<div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser83" id="reuser83"><label for="reuser83">审核提现</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser90" id="reuser90" class="input-head"><label for="reuser90">数据管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser91" id="reuser91"><label for="reuser91">代理商数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser92" id="reuser92"><label for="reuser92">查看开发代理商明细</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser93" id="reuser93"><label for="reuser93">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser94" id="reuser94"><label for="reuser94">业务员数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser95" id="reuser95"><label for="reuser95">查看认证会员明细</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser96" id="reuser96"><label for="reuser96">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser97" id="reuser97"><label for="reuser97">培训师数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser98" id="reuser98"><label for="reuser98">查看培训代理商明细</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser99" id="reuser99"><label for="reuser99">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser910" id="reuser910"><label for="reuser910">注册会员数据统计</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser911" id="reuser911"><label for="reuser911">查看会员详情</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser912" id="reuser912"><label for="reuser912">过滤代理商数据</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser913" id="reuser913"><label for="reuser913">指派给代理商</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser10" id="reuser10" class="input-head"><label for="reuser10">用户组管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser101" id="reuser101"><label for="reuser101">新增用户组</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser102" id="reuser102"><label for="reuser102">设置用户组权限</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser103" id="reuser103"><label for="reuser103">编辑用户组信息</label>
                        </div>
                        
                        <div class="lbox-right1 fl">
                        	<input type="checkbox" name="reuser104" id="reuser104"><label for="reuser104">删除用户组</label>
                        </div>
                    </div>
                </div>
                <div class="user-lbox">
                    <div class="lbox-left fl"><input type="checkbox" name="reuser110" id="reuser110" class="input-head"><label for="reuser110">账号信息管理</label></div>
                    <div class="lbox-right fr">
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser111" id="reuser111"><label for="reuser111">个人信息管理</label>
                        </div>
                        <div class="lbox-right1 fl">
                            <input type="checkbox" name="reuser112" id="reuser112"><label for="reuser112">修改密码</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <input type="button" name="submit" value="保存" class="reUserSubmit blue-btn">
                <input type="button" name="cancel" value="取消" class="cancel white-btn">
            </div>
            <p id="show"></p>
        </div>
        <!-- 删除按钮 -->
        <div class="remove-box moni-lbox" style="display: none;">
            <p>确认删除？</p>
            <div class="btn-box">
                <input type="button" value="确认" name="remove" class="removeSubmit blue-btn">
                <input type="button" value="取消" name="cancel" class="cancel white-btn">
            </div>
        </div>
        <!-- 模拟弹窗结束 -->
    </div>
</div>
<!--父容器结束-->

<script src="../js/jquery.js"></script>
<script src="../js/common.js"></script>
<script src="../js/set.js"></script>
<script>
	$(function(){
	    //编辑已有打钩项
	    var ziliaojson;//ajax获得打钩项的name值
	    var redactInput = $(".redact-user .user-lbox input");
	    // 赋予已有的打钩项
	    for (var i = 0; i < redactInput.length; i++) {
	        if(redactInput[i].name == ziliaojson){
	            $(redactInput[i]).prop("checked",true);
	        }
	    }	
			
		//提交打钩项
	    $(document).on("click",".addUserSubmit",function(){
	        var addCheck = $(".add-user .user-lbox input:checked");
	        var addName = $(".grouptitle_user1").val();
	        var str = "";
	        for (var i = 0; i < addCheck.length; i++) {
	            //console.log(addCheck[i].name);//提交打钩项的name值
	            str += addCheck[i].name+" ";
	        }
	        str = str.substr(0, str.length - 1);
	        console.log(str,addName);
	        success("操作成功！");
	    })
	    
	    //保存新的更改的打钩项
	    $(document).on("click",".reUserSubmit",function(){
	        var reCheck = $(".redact-user .user-lbox input:checked");
	        var addName = $(".grouptitle_user2").val();
	        var str = "";
	        for (var i = 0; i < reCheck.length; i++) {
	            //console.log(reCheck[i].name);//提交打钩项的name值
	            str += reCheck[i].name+" ";
	        }
	        str = str.substr(0, str.length - 1);
	        console.log(str,addName);
	        success("操作成功！");
	    })
	    
	    //删除按钮
	    $(document).on("click",".removeBtn",function(){
	    	that = $(this);
	        trId = that.parents("tr").attr("name");
	        $(".remove-box,.moni-box").fadeIn();
	        console.log(trId);
            success("操作成功");
	    })
	    
	    //确认删除
    	$(document).on("click",".removeSubmit",function(){
    		that.parents("tr").remove();
            $(".remove-box,.moni-box").fadeOut();
            console.log(trId);//发起ajax
            success("操作成功！");//ajax成功回调
        })
	})
	
</script>
</body>
</html>