@charset "UTF-8";

/*忘记密码开始*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
 	color: #ccc;	
}

.setBody{
	position: relative;
	min-width: 1400px;
}

.Setpwd-box{
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}

.logo {
    display: inline-block;
    width: 85px;
    height: 37px;
    background: url(../Images/logo1000.png) no-repeat;
    margin-top: 11px;
    margin-right: 20px;
    cursor: pointer;
}

.SetpwdTop>p {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 18px;
    color: #595757;
    padding-left: 20px;
    border-left: 1px solid #cccccc;
    vertical-align: top;
    margin-top: 15px;
}

.Setpwd_status_box{
	width: 1200px;
	position: relative;
	margin: 0 auto;
    height: 36px;
    line-height: 36px;
    margin-top: 40px;
    font-size: 15px;
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 5px;
}

.Setpwd_status{
    width: 800px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
}

.Setpwd_status ul li{
	margin-left: 25px;
}

.Setpwd_status ul li:first-child{
	margin-left: 0 !important;
}

.login_Tips{
	position: absolute;
    right: 3px;
    top: 0;
}

.login_Tips span{
	font-size: 14px;
	color: #666;
}

.login_Tips a{
	font-size: 14px;
	color: #0d6be0;
}

.span_cr1{
	width: 18px;
    height: 18px;
    line-height: 18px;
    background: #cccccc;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}

.span_tips1{
	font-size: 14px;
    color: #666;
    vertical-align: middle;
    margin-left: 5px;
}

.span_lineboder1{
    width: 100px;
    height: 2px;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.Setpwd_status ul li.active .span_cr1{
	background: #ffb908;
}

.Setpwd_status ul li.active .span_tips1{
	color: #ffb908;
}

.Setpwd_status ul li.active .span_lineboder1{
	background: #ffb908;
}

/*表单开始*/
.Setpwd_form{
	width: 1200px;
	margin: 180px auto 0;
}

.one-cell1{
    width: 350px;
    margin: 15px auto 0;
    position: relative;
    padding: 5px 0;
    border: 1px solid #ccc;
    height: 42px;
    box-sizing: border-box;
}

.one-cell1:first-child{
	margin-top: 0 !important;
}

.one-cell1.focus{
	border: 1px solid #ffb908;
}

.one-cell1.focus .line_bdr{
	background: #ffb908;
}

.one-cell1.error{
	border: 1px solid #ea1e1e;
}

.one-cell1.error .line_bdr{
	background: #ea1e1e;
}

.error_code1{
	display: none;
    border: 1px solid #ea1111;
}

.error_code1_bg{
    width: 30px;
    height: 30px;
    background: url(../Images/passage_onewrong.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.error_msg1_tips{
	display: inline-block;
    vertical-align: middle;
    color: #ea1e1e;
    font-size: 14px;
    margin-left: 27px;
}

.username_code1_bg{
	width: 30px;
    height: 30px;
    background: url(../Images/passage_onename.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.userphone_code1_bg{
	width: 30px;
    height: 30px;
    background: url(../Images/passage_phone.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.useremail_code1_bg{
    width: 30px;
    height: 30px;
    background: url(../Images/logo_icon_youjian_nor.png) no-repeat center;
    background-size: 68%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.userlock_code1_bg{
	width: 30px;
    height: 30px;
    background: url(../Images/passage_mima.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.input_cell_1{
	font-size: 14px;
    color: #666;
    box-sizing: border-box;
    border: none;
    background: none;
    vertical-align: middle;
    margin-left: 28px;
}

.line_bdr{
	position: absolute;
    width: 1px;
    height: 40px;
    background: #ccc;
    top: 0;
    left: 60px;
}

.code-cell1{
	width: 350px;
    margin: 15px auto 0;
}

.vcode_1{
	line-height: 30px;
    margin-left: 0;
    border: 1px solid #ccc;
    padding: 5px 0 5px 15px;
    width: 240px;
    vertical-align: middle;
    margin-right: 5px;
}

.vcode_1.focus{
	border: 1px solid #ffb908;
}

.vcode_1.error{
	border: 1px solid #ea1e1e;
}

.vcode_img1{
	width: 100px;
    height: 42px;
    cursor: pointer;
    vertical-align: middle;
}

.null_phone_Tips{
	width: 350px;
    margin: 10px auto 0;
}

.null_phone_Tips span:first-child{
	font-size: 14px;
    color: #0d6be0;
}

.null_phone_Tips span:last-child{
	font-size: 14px;
    color: #666;
    margin-left: 5px;
}

.Next_button,.submit_button{
	width: 350px;
    margin: 20px auto 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: #ffb908;
}

.newcode-cell1{
	width: 350px;
    margin: 15px auto 0;
}

.newcode-cell1_lf{
	width: 250px;
	position: relative;
	display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 0;
    height: 42px;
    box-sizing: border-box;
}

.newcode-cell1_lf.focus{
	border: 1px solid #ffb908;
}

.newcode-cell1_lf.focus .line_bdr{
    background: #ffb908;
}

.newcode-cell1_lf.error{
	border: 1px solid #ea1e1e;
}

.newcode-cell1_lf.error .line_bdr{
	background: #ea1e1e;
}

.newcode-cell1_rt{
	width: 90px;
	cursor: pointer;
    margin-left: 5px;
    color: #ffb908;
    font-size: 14px;
	display: inline-block;
    border: 1px solid #ffb908;
    height: 42px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    background: #fff;
}

.getvcode_1.active,.getvcode_2.active{
	cursor: default;
	font-size: 14px;
	border: 1px solid #09a972;
	color: #09a972;
	background: #fff;
	opacity: 0.5;
}

.username_code_Text{
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #666;
    text-align: center;
}

.user_pwd1,.user_pwd2{
	margin-left: 15px !important;
}

.yzm-weizhi{
	width: 100px;
    height: 42px;
    vertical-align: middle;
}
/*表单结束*/

/*选择验证方式开始*/
.select_codefun{
	width: 496px;
    height: 300px;
    margin: 150px auto 0;
}

.select_codefun .user_Tips_text1{
    font-size: 16px;
    color: #494949;
    padding-left: 10px;
    margin-bottom: 30px;
}

.select_one_cell{
    width: 494px;
    height: 92px;
    margin-top: 16px;
    border: 1px solid #dcdcdc;
    background: url(../Images/register_icon_jiantou_nor.png) no-repeat 95%;
    cursor: pointer;
}

.select_one_cell:first-child{
	margin-top: 0 !important;
}

.select_one_cell:hover{
	border: 1px solid #fdcb4d;
    background: url(../Images/register_icon_jiantou_sel.png) no-repeat 95%;
    cursor: pointer;
}

.select_phone_icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 22px;
    margin-left: 60px;
    background: url(../Images/register_icon_phone_nor.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.select_email_icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 22px;
    margin-left: 60px;
    background: url(../Images/register_icon_mail_nor.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.select_msg_dets{
    display: inline-block;
    vertical-align: middle;
    margin-top: 22px;
    margin-left: 30px;
}

.select_msg_dets .title_1{
	font-size: 16px;
    color: #494949;
    font-weight: 600;
}

.select_msg_dets .msg_2{
	font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
    margin-top: 3px;
}
/*选择验证方式结束*/

/*操作成功开始*/
.success_Tips{
	width: 350px;
    margin: 210px auto 0;
    text-align: center;
}

.success_Tips img{
	width: 70px;
	height: 70px;
}

.success_Tips p{
	font-size: 18px;
    font-weight: 600;
    color: #666;
    padding-left: 20px;
    margin-top: 10px;
}
/*操作成功结束*/

/*底部开始*/
.RegBottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-width: 1400px;
    height: 213px;
    background: #f8f8f8;
}
.RegBottom ul {
    float: left;
    width: 100%;
    text-align: center;

}
.RegBottom ul li {
    display: inline-block;
    width: 30%;
}
.RegBottom ul span {
    display: inline-block;
    margin-top: 30px;
    width: 60px;
    height: 60px;
}
.RegBottom ul .li1>span {
    background: url(../Images/command_zhuce_kefu01.png)no-repeat;
}
.RegBottom ul .li2>span {
    background: url(../Images/command_zhuce_about02.png)no-repeat;
}
.RegBottom ul .li3>span {
    background: url(../Images/command_zhuce_wechat03.png)no-repeat;
}
.RegBottom ul i {
    display: inline-block;
    margin-top: 80px;
    font-style: normal;
    font-size: 14px;
    color: #9a9a9a;
    width: 245px;
}
.RegBottom ul .li2>span {
    cursor: pointer;
}
.RegBottom ul .li1>span>i {
    margin-left: -155%;
}
.RegBottom ul .li2>span>i {
    margin-left: -155%;
}
.RegBottom ul .li3>span>i {
    margin-left: -145%;
}
/*底部结束*/
/*忘记密码结束*/