<div id="footer">
	<div class="footer-nav">
		<a href="{$MODULE[1][linkurl]}">网站首页</a>
		<!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->
		| <a href="{$MODULE[1][linkurl]}sitemap/">网站地图</a>
		| <a href="{$EXT[spread_url]}">排名推广</a>
		{if $EXT[ad_enable]}| <a href="{$EXT[ad_url]}">广告服务</a>{/if}
		{if $EXT[gift_enable]}| <a href="{$EXT[gift_url]}">积分换礼</a>{/if}
		{if $EXT[guestbook_enable]}| <a href="{$EXT[guestbook_url]}">网站留言</a>{/if}
		{if $EXT[feed_enable]}| <a href="{$EXT[feed_url]}">RSS订阅</a>{/if}
		{if $DT[icpno]}| <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if}
	</div>
	<div class="footer-con">
		<div class="container clearfix">
			<div class="fl mt10">
				<a href="{$MODULE[1][linkurl]}"><img src="{if $MODULE[$moduleid][logo]}{DT_SKIN}image/logo_{$moduleid}.gif{elseif $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.gif{/if}" alt="{$DT[sitename]}" width="211" height="68"/></a>
			</div>
			<div class="main fl ml20">
				<div class="main-top clearfix">
					<ul class="fl ml5 mr25">
						<li>客户服务热线：<em class="phone">{$DT[telephone]}</em></li>
						<li>业务咨询：<em class="phone_yewu">{$DT[telephone]}</em></li>
						<li>在线客服：<a target="blank" href="http://wpa.qq.com/msgrd?V=3&uin=906172833&Site=QQ客服&Menu=yes" rel="nofollow"><img border="0" src="http://wpa.qq.com/pa?p=1:906172833:8" style="margin-top:-2px;" alt="点击这里给我发消息"></a>&nbsp;&nbsp;
						<a target="blank" href="http://wpa.qq.com/msgrd?V=3&uin=378594712&Site=QQ客服&Menu=yes" rel="nofollow"><img border="0" src="http://wpa.qq.com/pa?p=1:378594712:8" style="margin-top:-2px;" alt="点击这里给我发消息"></a></li>
					</ul>
					<ul class="fl mr25">
						<li>委托采购：<em class="phone_buy">{$DT[telephone]}</em></li>
						<li>商城入驻咨询：<em class="phone_media">{$DT[telephone]}</em></li>
						<li>投诉/行政部：<em class="phone_tousu">{$DT[telephone]}</em></li>
					</ul>
					<ul class="fr mr5">
						<li>图文传真：<em class="phone_fax">{$DT[telephone]}</em></li>
						<li>展会/商务合作：<em class="phone_exhibit">{$DT[telephone]}</em></li>
						<li>Email：<em class="phone_email">890123456@qq.com</em></li>
					</ul>
				</div>
				<div class="main-bottom" style="margin-bottom:15px;">
					<div id="copyright" style="font-size:12px;line-height:30px;">{$DT[copyright]}</div>
					{if DT_DEBUG}<div class="px11">{debug()}</div>{/if}
					<ul class="clearfix">
						<li><a href="http://www.bj.cyberpolice.cn/index.do" target="_blank"><img src="{DT_SKIN}image/pic1.png"/></a></li>
						<li><a href="http://www.miibeian.gov.cn" target="_blank"><img src="{DT_SKIN}image/pic2.png"/></a></li>
						<li><a href="http://www.isc.org.cn/" target="_blank"><img src="{DT_SKIN}image/pic3.png"/></a></li>
						<li><a href="http://net.china.com.cn/" target="_blank"><img src="{DT_SKIN}image/pic4.png"/></a></li>
						<li><a href="http://www.cyberpolice.cn/wfjb/" target="_blank"><img src="{DT_SKIN}image/pic5.png"/></a></li>
					</ul>
				</div>
			</div>
			<div class="tm-fight fr">
			<ul class="clearfix">
				<li><a href=""><img src="{DT_SKIN}image/qrcode.png"/></a>
				<span>手机站</span></li>
			</ul>
		</div>
	</div>
</div>
</div>

<div class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
	{if $destoon_task}
	show_task('{$destoon_task}');
	{else}
	{php include DT_ROOT.'/api/task.inc.php';}
	{/if}
	{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>