<div class="header_div">
	<div class="fl">
		<a class="header_logo" href="index.html">
			<img src="../../Images/logo.png" alt="">
		</a>
		<ul class="fl left_h1">
			<li class="fl">
				<a href="index.html">首页</a>
			</li>
			<li class="fl">
				<a href="product.html">产品</a>
			</li>
			<li class="fl">
				<a href="press.html">新闻</a>
			</li>
			<li class="fl">
				<a href="contact_us.html">联系</a>
			</li>
			<li class="fl">
				<a href="about.html">关于</a>
			</li>
		</ul>
	</div>
	<!--<div class="fr">
		<img class="header_erweima" src="../../Images/erweima.png" alt="" style="width: 58px;"/>
	</div>-->
	<ul class="fr right_h1">
		<li class="fr">
			<a href="javascript:;" class="join_We">成为代理</a>
		</li>
		<!--<li class="fr">
			<a href="#" class="register">注册</a>
		</li>
		<li class="fr">
			<a href="#" class="login">登录</a>
		</li>-->
	</ul>
</div>