<div class="header_div">
	<div class="fl">
		<a class="header_logo" href="index.html">
			<img src="../../Images/home_logo.png" alt="">
		</a>
		<ul class="fl left_h1">
			<li class="fl">
				<a href="index.html">网站首页</a>
			</li>
			<li class="fl">
				<a href="product.html">产品介绍</a>
			</li>
			<li class="fl">
				<a href="press.html">新闻动态</a>
			</li>
			<!-- <li class="fl">
				<a href="contact_us.html">联系</a>
			</li> -->
			<li class="fl">
				<a href="join.html">加盟代理</a>
			</li>
			<li class="fl">
				<a href="about.html">关于雀搜</a>
			</li>
		</ul>
	</div>
	<ul class="fr right_h1">
		<!-- <li class="fr join_We_li1">
			<a href="javascript:;" class="join_We">成为代理</a>
		</li> -->
		<li class="fr">
			<a href="login.html" class="a_st2">登录</a>
		</li>
		<li class="fr">
			<a href="register.html" class="a_st1">注册</a>
		</li>
		<!--<li class="fr loginOut_li1">
			<a class="loginOut_1">退出</a>
		</li>
		<li class="fr">
			<a class="username_1">Janes</a>
		</li>-->
	</ul>
</div>