<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品介绍</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../../css/10.26.css">
	</head>
	<body style="min-width: 1200px;overflow-x: auto;" class="1 pages">
		<!--页面顶部开始-->
		<header class="header_box"></header>
		<!--页面顶部结束-->

		<!--头部背景图开始-->
		<div class="">
			<img src="../../Images/product_banner.png" alt="" width="100%">
		</div>
		<!--头部背景图结束-->

		<!--内容区域开始-->
		<main>
			<div class="index-box">
				<div class="index-textbox fr">
					<h4>雀搜一开，生意自来</h4>
					<p>采购线索-自动推送</p>
					<p>客户管理-简单有效</p>
					<p>商品销售-智慧附能</p>
				</div>
				<img src="../../Images/product_firstdscreen_leftpic.png" class="fl">
			</div>
			<div class="index-gbox">
				<div class="index-box">
					<div class="index-textbox fl">
						<h4>集商城+CRM系统一体</h4>
						<p>商品管理</p>
						<p>自动销售</p>
						<p>轻松联系采购商</p>
					</div>
					<img src="../../Images/product_secondscreen_rightpic.png" class="fr">
				</div>
			</div>
			<div class="index-box">
				<div class="index-textbox fr">
					<h4>稳抓商机，轻松获取</h4>
					<p>客户资料全网采集，自动匹配，主动推送</p>
					<p>不错过仍和一个商机</p>
				</div>
				<img src="../../Images/product_thirdscreen_leftpic.png" class="fl">
			</div>
			<div class="index-gbox">
				<div class="index-box">
					<div class="index-textbox fl">
						<h4>各类商机万策</h4>
						<h4>等你来挑</h4>
						<p>采购信息，司法拍卖，政府/医院招标</p>
						<p>第一时间获取信息</p>
					</div>
					<img src="../../Images/product_fourthscreen_rightpic.png" class="fr">
				</div>
			</div>
			<div class="index-box">
				<div class="index-textbox fr">
					<h4>推送日志，一目了然</h4>
					<p>自动营销，商品在什么时候用哪种方式推送</p>
					<p>给哪个采购商，一目了然</p>
				</div>
				<img src="../../Images/product_fifthscreen_leftpic.png" class="fl">
			</div>
		</main>
		<!--内容区域结束-->

		<!--页面底部开始-->
		<footer class="footer_box"></footer>
		<!--页面底部结束-->

		<script src="../../js/jquery.js"></script>
		<script src="../../js/common.js"></script>
	</body>

</html>