<!--底部begin-->
<div class="m">&nbsp;</div>
<div class="footer">
    <div class="footer-box">
        <div class="footer-r">
            <div class="footer-list">
                <div class="footer-head">
                    <i class="icos ico1"></i><span>新手指南</span>
                </div>
                <div class="shortcuts">
                    <a href="{$MODULE[2][linkurl]}register.php" target="_blank" rel="nofollow" alt="快速注册" title="快速注册">快速注册</a> 
					<a href="{$MODULE[2][linkurl]}login.php" target="_blank" rel="nofollow" alt="马上登录" title="马上登录">马上登录</a>
					<a href="{$MODULE[2][linkurl]}send.php" target="_blank" rel="nofollow" alt="忘记密码" title="忘记密码">忘记密码</a>
					<a href="{$MODULE[2][linkurl]}trade.php?action=order" target="_blank" rel="nofollow" alt="付款方式" title="付款方式">付款方式</a>
                    <a href="http://help.destoon.com" target="_blank" rel="nofollow" alt="帮助中心" title="帮助中心">帮助中心</a>
                </div>
            </div>
            <div class="dividing-line"></div>
            <div class="footer-list">
                <div class="footer-head">
                    <i class="icos ico2"></i><span>供应商服务</span>
                </div>
                <div class="shortcuts">
                    <a href="{$MODULE[2][linkurl]}my.php?mid=5&action=add" target="_blank" rel="nofollow" alt="发布产品"
                        title="发布产品">发布产品</a>
					<a href="{$MODULE[2][linkurl]}chat.php" target="_blank" rel="nofollow" alt="合作信息" title="合作信息">合作信息</a>
					<a href="{$MODULE[2][linkurl]}message.php" target="_blank" rel="nofollow" alt="站内邮件" title="站内邮件">站内邮件</a>
                    <a href="{$MODULE[2][linkurl]}ask.php" target="_blank" rel="nofollow" alt="会员套餐服务" title="会员套餐服务">会员套餐服务</a>
					<a href="{$MODULE[2][linkurl]}ad.php" target="_blank" rel="nofollow" alt="广告位推广服务" title="广告位推广服务">广告位推广服务</a>
                </div>
            </div>
            <div class="dividing-line">
            </div>
            <div class="footer-list">
                <div class="footer-head">
                    <i class="icos ico3"></i><span>采购商服务</span>
                </div>
                <div class="shortcuts">
                    <a href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" target="_blank" rel="nofollow" alt="发布求购"
                        title="发布求购">发布求购</a>
					<a href="{$MODULE[2][linkurl]}my.php?mid=13&action=add" target="_blank" rel="nofollow" alt="品牌代理" title="品牌代理">品牌代理</a>
					<a href="{$MODULE[2][linkurl]}my.php?mid=22" target="_blank" rel="nofollow" alt="招标信息" title="招标信息">招标信息</a>
                    <a href="{$MODULE[2][linkurl]}my.php?mid=22" target="_blank" rel="nofollow" alt="批发信息" title="批发信息">批发信息</a>
					<a href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" target="_blank" rel="nofollow" alt="委托发布求购" title="委托发布求购">委托发布求购</a>
                </div>
            </div>
            <div class="dividing-line">
            </div>
            <div class="footer-list">
                <div class="footer-head">
                    <i class="icos ico4"></i><span>综合服务</span>
                </div>
                <div class="shortcuts">
                    <a href="{$MODULE[2][linkurl]}credit.php" target="_blank" rel="nofollow" alt="积分竞价" title="积分竞价">积分竞价</a>
                    <a href="{$MODULE[2][linkurl]}ask.php" target="_blank" rel="nofollow" alt="会员服务" title="会员服务">会员服务</a>
                </div>
            </div>
            <div class="dividing-line">
            </div>
            <div class="footer-list">
                <div class="footer-head">
                    <i class="icos ico5"></i><span>关注我们</span>
                </div>
                <div class="footer-barcode-l">
                    <p>
                        官方微信
                    </p>
                    <img src="{DT_SKIN}image/top_ewm.jpg" />
                </div>
                <div class="footer-barcode-l">
                    <p>
                        手机M站
                    </p>
                    <img src="{DT_SKIN}image/top_ewm.jpg" width="78" />
                </div>
                <div class="footer-barcode-l">
                    <p>
                        东方LED网APP
                    </p>
                    <img src="{DT_SKIN}image/top_ewm.jpg" width="78" />
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-words">
                <span>按字母分类：</span>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=a" target="_blank" title="供应信息索引-A">A</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=b" target="_blank" title="供应信息索引-B">B</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=c" target="_blank" title="供应信息索引-C">C</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=d" target="_blank" title="供应信息索引-D">D</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=e" target="_blank" title="供应信息索引-E">E</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=f" target="_blank" title="供应信息索引-F">F</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=g" target="_blank" title="供应信息索引-G">G</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=h" target="_blank" title="供应信息索引-H">H</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=i" target="_blank" title="供应信息索引-I">I</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=j" target="_blank" title="供应信息索引-J">G</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=k" target="_blank" title="供应信息索引-K">K</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=l" target="_blank" title="供应信息索引-L">L</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=m" target="_blank" title="供应信息索引-M">M</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=n" target="_blank" title="供应信息索引-N">N</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=o" target="_blank" title="供应信息索引-O">O</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=p" target="_blank" title="供应信息索引-P">P</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=q" target="_blank" title="供应信息索引-Q">Q</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=r" target="_blank" title="供应信息索引-R">R</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=s" target="_blank" title="供应信息索引-S">S</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=t" target="_blank" title="供应信息索引-T">T</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=u" target="_blank" title="供应信息索引-U">U</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=v" target="_blank" title="供应信息索引-V">V</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=w" target="_blank" title="供应信息索引-W">W</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=x" target="_blank" title="供应信息索引-X">X</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=y" target="_blank" title="供应信息索引-Y">Y</a>
				<a href="{$MODULE[1][linkurl]}sitemap/index.php?mid=5&letter=z" target="_blank" title="供应信息索引-Z">Z</a>
            </p>
            <div class="footer-a">
                <a href="{$MODULE[1][linkurl]}">网站首页</a>
				<!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->
				| <a href="{$MODULE[1][linkurl]}sitemap/">网站地图</a>
				| <a href="{$EXT[spread_url]}">排名推广</a>
				{if $EXT[ad_enable]} | <a href="{$EXT[ad_url]}">广告服务</a>{/if}
				{if $EXT[gift_enable]} | <a href="{$EXT[gift_url]}">积分换礼</a>{/if}
				{if $EXT[guestbook_enable]} | <a href="{$EXT[guestbook_url]}">网站留言</a>{/if}
				{if $EXT[feed_enable]} | <a href="{$EXT[feed_url]}">RSS订阅</a>{/if}
				{if $DT[icpno]} | <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if}
            </div>
            <div class="lianxi" style="overflow: hidden; position: relative;">                
				<div class="foot-txt1">
					<div id="copyright">{$DT[copyright]}</div>
					{if DT_DEBUG}<div class="px11">{debug()}</div>{/if}
					<div id="powered"><a href="http://www.destoon.com/" target="_blank"><img src="{DT_STATIC}file/image/powered.gif" width="136" height="10" alt="Powered by DESTOON"/></a></div>
				</div>				
            </div>
        </div>
        <div class="footer-img">
			<img src="{DT_SKIN}image/id_bot1.gif" alt="网络110" title="网络110" />
			<img src="{DT_SKIN}image/id_bot2.png" alt="工信部认证" title="工信部认证" />
			<img src="{DT_SKIN}image/id_bot3.jpg" alt="不良信息举报中心" title="不良信息举报中心" />
			<img src="{DT_SKIN}image/id_bot4.gif" alt="诚信网站" title="诚信网站" />
			<img src="{DT_SKIN}image/id_bot5.png" style="height: 35px;" alt="可信网站" title="可信网站" />
        </div>
    </div>
</div>
<!--底部end-->
<div class="zhiding">
	<div class="ycfdHyfw " id="ycfdHyfw">
		<a href="{$MODULE[2][linkurl]}ask.php" target="_blank" class="ycfdHyfwbtu" >会员服务</a>
	</div>
	<div class="minichat_shouq " id="minichat_shouq">
		<input type="button" title="在线客服" />
		<p class="zaixiankf" style="background:url('{DT_SKIN}image/ico_bling2.png') 0px 0px no-repeat;"></p>
	</div>
	<a href="javascript:;" class="erwei">
		<p class="hover_t">扫我关注</p>
		<div class="mama">
			<img src="{DT_SKIN}image/top_ewm.jpg" width="110px" />
			<p class="saomiao">扫我立即推送订单</p>
		</div>
	</a>
	<a href="javascript:;" class="ztop"><p class="hover_t">返回顶部</p></a>
</div>
<script type="text/javascript">
	$(function () {

		//客服
		$('#minichat_shouq').on('click', function () {
			window.open("http://wpa.qq.com/msgrd?v=3&uin=906172833&site=qq&menu=yes");
		});
		//返回顶部===================begin============================
		$(window).bind('scroll', function () {
			if ($(document).scrollTop() > 200) {
				$(".ztop").css({ 'display': 'block' });
			} else {
				$(".ztop").hide(1);
			}
		})
		$(".ztop").click(function () {
			$('body,html').animate({ scrollTop: 0 }, 1000);
		})

		$('.ztop').hover(function () {
			$(this).children('.hover_t').show();
		}, function () {
			$(this).children('.hover_t').hide();
		});

		//返回顶部=================end==============================

		//二维码
		$('.erwei').hover(function () {
			$('.mama').show();
			$(this).children('.hover_t').show();
		}, function () {
			$('.mama').hide();
			$(this).children('.hover_t').hide();
		});


		$('#minichat_shouq').hover(function(){
			$('.zaixiankf').html('在线客服');
			$('.zaixiankf').css({'background':'#ff510c'});
		}, function () {
			$('.zaixiankf').html('');
			
			$('.zaixiankf').css({ 'background': 'url("{DT_SKIN}image/ico_bling2.png") no-repeat 0px 0px' });
				
		});


	})
</script>
    <script type="text/javascript">
        jQuery(".shuffling").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:4,interTime:80,trigger:"click"});
        jQuery(".services").slide();
        jQuery(".txtscroll").slide({ mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true, vis: 8 });
        jQuery(".picfocus").slide({ mainCell: ".bd ul", effect: "left", autoPlay: true });
        jQuery(".slidebox").slide({ mainCell: ".bd ul", autoPlay: true });
        jQuery(".adv_lun").slide({ mainCell: ".bd ul", autoPlay: true });
        jQuery(".orderCont").slide({trigger:"click"});
        $(function () {
            $('.index-head-wrapper').css({'cursor':'posinter'});
            $('.index-head-wrapper').click(function(){
            });


            indexApi.menushow();
            indexApi.changeHeight();
            indexApi.hdClick();
            indexApi.categoriesHover();
            indexApi.orderHover();
            //弹出端午抢红包
            if($.cookie('isdisplay') != null && $.cookie('isdisplay') != undefined){
                $('.DragonBoatSmall').show();
            }else{
                var date=new Date();
                date.setTime(date.getTime()+(1000*60*60*1000));
                $.cookie("isdisplay", "1",{expires:date,path:"/"});
            }
            indexApi.hzmt();
            var tab_li = $('#tabid ul li');
            tab_li.click(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = tab_li.index(this);
                $('div.tab_cont > div').eq(index).show().siblings().hide();
            });
            $('#activity').click(function () {
                $('.cont1').show();
                $('.back').show();
            });

            $('#feedback').click(function () {
                $('#feedback-box').show();
            });

            $('#feedback-close').click(function () {
                $('#feedback-box').hide();
            });

            $('#succeed').click(function () {
                layer.closeAll();
            });
            
            //登录获取头像
            

            //循环所有产品编号,获取价格信息
            var productIds = [];
            $(".hot-prod-price").each(function () {
                productIds.push($(this).attr("productid"));
            });
            if (productIds.length > 0) {
                //延迟执行
                window.setTimeout(function () {
                    //获取json结果集合
                    $.post("/api/aspx/shopping.aspx?cmd=99", { productids: productIds.join(',') }, function (dat) {
                        if (dat == null || dat.length <= 0) {
                            //没有数据时执行
                        } else {
                            //有数据时执行
                            var dats_data = dat;
                            for (var x in dats_data) {
                                var type = dats_data[x].OfferType;
                                var minmoney = 0.0;
                                var maxmoney = 0.0;
                                if (type == 2) {
                                    //按规格价
                                    var guigeshuxin = dats_data[x].Specifications;
                                    for (var y in guigeshuxin) {
                                        if (minmoney == 0 || minmoney >= guigeshuxin[y].danjia) { minmoney = guigeshuxin[y].danjia; }
                                        if (maxmoney <= guigeshuxin[y].danjia) { maxmoney = guigeshuxin[y].danjia; }
                                    }
                                } else {
                                    //按阶梯价
                                    maxmoney = dats_data[x].PriceDetail.danjia1;
                                    minmoney = dats_data[x].PriceDetail.danjia1;
                                    if (dats_data[x].PriceDetail.num3 > 0) {
                                        minmoney = dats_data[x].PriceDetail.danjia3;
                                    } else if (dats_data[x].PriceDetail.num2 > 0) {
                                        minmoney = dats_data[x].PriceDetail.danjia2;
                                    }
                                }
                                if (minmoney > 0) {
                                    $("#productid_" + dats_data[x].businessid).html("￥" + parseFloat(minmoney).toFixed(2));
                                }
                            }
                        }
                        $(".hot-prod-price").each(function () {
                            if ($(this).html() == "￥" || $(this).html() == "￥0") {
                                $(this).html("价格:电询");
                            }
                        });
                    }, 'json');
                }, 200);
            }
        });
        var indexApi = {
            //帮我找货
            seekgoods: function () {
                if ($("#neirong").val() == "") {
                    layer.open({
                        title: '提示',
                        content: "请填写您的采购需求"
                    });
                } else {
                    layer.open({
                        title: '帮我找货',
                        type: 1,
                        area: ['454px', '250px'],
                        content: $('#find-cont').html()
                    });
                }
            },
            seekgoods2: function () {
                if ($("#neirong2").val() == "") {
                    layer.open({
                        title: '提示',
                        content: "请填写您的采购需求"
                    });
                } else {
                    layer.open({
                        title: '帮我找货',
                        type: 1,
                        area: ['454px', '250px'],
                        content: $('#find-cont2').html()
                    });
                }
            },

            //立即委托
            endfun: function () {
                if($("#mobile").val()==""){
                    layer.open({
                        title: '提示',
                        content: "请填写您的联系方式"
                    });
                }else{
                    //获取json结果集合
                    $.post("/newEastledHtml/tool.aspx?cmd=277777&Text1=" + $("#yanzhen").val(), function (dat) {
                        if (dat == "1") {
                            $.post("/api/aspx/ajax.aspx?cmd=14", { neirong: $("#neirong").val(), mobile: $("#mobile").val() }, function (dat) {
                                if (dat.status == 200) {
                                    layer.closeAll();
                                    layer.open({
                                        title: '帮我找货',
                                        type: 1,
                                        area: ['454px', '215px'],
                                        content: $('#entrust-succeed').html()
                                    });
                                    $("#neirong").val("");
                                } else {
                                    layer.open({
                                        title: '提示',
                                        content: "提交失败"
                                    });
                                }
                            }, 'json');
                        } else {
                            layer.open({
                                title: '提示',
                                content: "验证码错误"
                            });
                        }
                        eastledapi.shuaxinyanzm("#img1");
                    });
                }
            },
            //立即委托
            endfun2: function () {
                if($("#mobile2").val()==""){
                    layer.open({
                        title: '提示',
                        content: "请填写您的联系方式"
                    });
                }else{
                    //获取json结果集合
                    $.post("/newEastledHtml/tool.aspx?cmd=277777&Text1=" + $("#yanzhen2").val(), function (dat) {
                        if (dat == "1") {
                            $.post("/api/aspx/ajax.aspx?cmd=14", { neirong: $("#neirong2").val(), mobile: $("#mobile2").val() }, function (dat) {
                                if (dat.status == 200) {
                                    layer.closeAll();
                                    layer.open({
                                        title: '帮我找货',
                                        type: 1,
                                        area: ['454px', '215px'],
                                        content: $('#entrust-succeed').html()
                                    });
                                    $("#neirong2").val("");
                                } else {
                                    layer.open({
                                        title: '提示',
                                        content: "提交失败"
                                    });
                                }
                            }, 'json');
                        } else {
                            layer.open({
                                title: '提示',
                                content: "验证码错误"
                            });
                        }
                        eastledapi.shuaxinyanzm("#img2");
                    }); 
                }
            },
            //鼠标移上菜单显示
            menushow: function () {
                $('.classify-lab').hover(function () {
                    $('.classify-list').hide();
                    $('.lab-item').removeClass('cur');
                    $(this).children('.classify-list').show();
                    $(this).children().children('.lab-item').addClass('cur');
                }, function () {
                    $(this).children('.classify-list').show();
                    $(this).children().children('.lab-item').addClass('cur');
                });
            },
            hzmt: function () {
                $('#hzmt a').each(function (i) {
                    $(this).hover(function () {
                        if (i == 0) {
                            $(this).attr('href', 'http://www.hangzhoulighting.com');
                        } else if (i == 1) {
                            $(this).attr('href', 'http://www.shlqcz.com/');
                        } else if (i == 2) {
                            $(this).attr('href', 'http://www.ledchina-sh.com');
                        } else if (i == 3) {
                            $(this).attr('href', 'http://www.alighting.cn/shzhanlan/index.shtml');
                        } else if (i == 4) {
                            $(this).attr('href', 'http://www.ledzhan.com/');
                        } else if (i == 5) {
                            $(this).attr('href', 'http://www.gygjzl.com/');
                        } else if (i == 6) {
                            $(this).attr('href', 'http://led.icef.com.cn/');
                        } else if (i == 7) {
                            $(this).attr('href', 'http://www.gzlightingfair.com/');
                        } else if (i == 8) {
                            $(this).attr('href', 'http://www.alighting.cn/zhanlan/index.shtml');
                        } else if (i == 9) {
                            $(this).attr('href', 'http://www.hdeexpo.com/zh-cn/sectors/expo-light');
                        } else if (i == 10) {
                            $(this).attr('href', 'http://www.apppexpo.com/');
                        } else if (i == 11) {
                            $(this).attr('href', 'http://www.west-af.com/');
                        } else if (i == 12) {
                            $(this).attr('href', 'http://www.yzqnz.com/');
                        } else if (i == 13) {
                            $(this).attr('href', 'http://www.deerzm.com/');
                        } else if (i == 14) {
                            $(this).attr('href', 'http://www.cshthz.com/');
                        } else if (i == 15) {
                            $(this).attr('href', 'http://www.sinojnjp.cn/');
                        } else if (i == 16) {
                            $(this).attr('href', 'http://www.eastlighting.cn/');
                        } else if (i == 17) {
                            $(this).attr('href', 'http://www.ywzmexpo.com/');
                        } else if (i == 18) {
                            $(this).attr('href', 'http://www.gzcyzl.com');
                        } else if (i == 19) {
                            $(this).attr('href', 'http://www.yzzm.net/');
                        }
                    }, function () {
                        $(this).attr('href', 'javascript:;')
                    })
                })
            },
            AddFavorite: function (title, url) {
                try {
                    window.external.addFavorite(url, title);
                }
                catch (e) {
                    try {
                        window.sidebar.addPanel(title, url, "");
                    }
                    catch (e) {
                        alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
                    }
                }
            },
            baojia:function(id){
                if(0>0){
                    if(0==0){
                        window.location.href="/offer/"+id+".html";
                    }else{
                        layer.open({
                            type: 1,
                            skin:'apply-supplier',
                            title:'提示',
                            area:['400px',''],
                            content:'为保障买家权益，需要申请成为供应商后才能报价！',
                            btn: ['立即申请'],
                            yes:function(index){
                                window.location.href="/revise/admin/company/qywebsites/gsjj.aspx";
                            }
                        });
                    }
                }else{
                    tanchuangdenglu.denglu();
                }
            },
            baojia2:function(id){
                if(0>0){
                    if(0==0){
                        api2.window.quote(id);
                    }else{
                        layer.open({
                            type: 1,
                            skin:'apply-supplier',
                            title:'提示',
                            area:['400px',''],
                            content:'为保障买家权益，需要申请成为供应商后才能报价！',
                            btn: ['立即申请'],
                            yes:function(index){
                                window.location.href="/revise/admin/company/qywebsites/gsjj.aspx";
                            }
                        });
                    }
                }else{
                    tanchuangdenglu.denglu();
                }
            },
            changeHeight:function(){
                $('.orderCont .bd .order2 .title a').each(function(){
                    var titleheight = $(this).height();
                    if(titleheight>45){
                        $(this).parents().next().children('.txt').css({'line-height':'18px','height':'18px'});
                        $(this).parents().next('.cont').css({'padding':'5px 0'});
                    }
                });
                $('.orderCont .bd .order1 .title a').each(function(){
                    var titleheight = $(this).height();
                    if(titleheight>45){
                        $(this).parents().next().children('.txt').css({'line-height':'20px','height':'20px'});
                        $(this).parents().next('.cont').css({'padding':'5px 0'});
                    }
                })
            },
            hdClick:function(){
                $('.orderCont .hd li').click(function(){
                    indexApi.changeHeight();
                })
            
            },
            //分类鼠标移上
            categoriesHover:function(){
                $('.categories-l a').hover(function(){
                    $(this).children('.categories-bg').stop().animate({top:"0"},"slow");
                    $(this).children('.categories-t1').stop().animate({top:"145px"},"slow");
                    $(this).children('.categories-t2').stop().animate({top:"185px"},"slow");
                },function(){
                    $(this).children('.categories-bg').stop().animate({top:"315px"},"slow");
                    $(this).children('.categories-t1').stop().animate({top:"316px"},"slow");
                    $(this).children('.categories-t2').stop().animate({top:"360px"},"slow");
                })
            
            },
            orderHover:function(){
                $('.order1 li').hover(function(){
                    $(this).children('.orderHover').show();
                },function(){
                    $(this).children('.orderHover').hide();
                })
            }
            

        }
    </script>
	<script type="text/javascript">
	{if $destoon_task}
	show_task('{$destoon_task}');
	{else}
	{php include DT_ROOT.'/api/task.inc.php';}
	{/if}
	{if $lazy}$(function(){$("img").lazyload();});{/if}
	</script>
</body>
</html>