
	  <!-- 热卖商品 -->
      <div class="bd mt15">
		<h3 class="tit2"><em><a href="{userurl($username, 'file=mall', $domain)}"></a></em>{$main_name[$HM]}</h3>
		  <div class="iclist">
			  <div class="iclistcont">
<!--{php $tags=tag("moduleid=16&condition=status>2 and username='$username'&pagesize=10&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime,price&template=null");}-->
			  {loop $tags $i $t}
			  <dl>
				  <dt>
				  <span><a  href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=mall&itemid='.$t['itemid'], $domain)}{/if}" target="_blank"><img  src="{imgurl($t[thumb], 100)}"></a></span></dt>
				  <dd><a  href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=mall&itemid='.$t['itemid'], $domain)}{/if}" target="_blank">{$t[title]}</a></dd>
			  </dl>
			  {/loop}
			 <div class="clear"></div>
			 </div>
		 </div>
	 </div>
      <!-- 热卖商品/-->