<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../../css/10.26.css">
		
	</head>
	<body style="min-width: 1200px;overflow-x: auto;" class="0 pages">
		<!--页面顶部开始-->
		<header class="header_box"></header>
		<!--页面顶部结束-->
		
		<!-- bannaer轮播开始 -->
		<div class="slider">
			<ul class="slider-main">
				<li class="slider-panel">
					<a href="javascript:;" class="join_We" target="_blank"><img alt="" title="" src="../../Images/home_banner_pcxuanchuan_001.png"></a>
				</li>
				<li class="slider-panel">
					<a href="javascript:;" class="join_We" target="_blank"><img alt="" title="" src="../../Images/home_banner_pcxuanchuan_002.png"></a>
				</li>
				<li class="slider-panel">
					<a href="javascript:;" class="join_We" target="_blank"><img alt="" title="" src="../../Images/home_banner_pcxuanchuan_003.png"></a>
				</li>
				<li class="slider-panel">
					<a href="javascript:;" class="join_We" target="_blank"><img alt="" title="" src="../../Images/home_banner_pcxuanchuan_004.png"></a>
				</li>
			</ul>
			<div class="slider-extra">
				<ul class="slider-nav">
					<li class="slider-item"></li>
					<li class="slider-item"></li>
					<li class="slider-item"></li>
					<li class="slider-item"></li>
				</ul>
				<div class="slider-page">
					<a class="slider-pre" href="javascript:;;">&lt;</a>
					<a class="slider-next" href="javascript:;;">&gt;</a>
				</div>
			</div>
		</div>
		<!-- bannaer轮播结束 -->

		<!--主题内容开始-->
		<main>
			<div class="index-box">
				<div class="index-textbox fl">
					<h4>大数据营销</h4>
					<p>上千万的采购商信息库</p>
					<p>每日采购商信息增长超10万</p>
					<p>人工确认，信息高价值、高精确度</p>
				</div>
				<img src="../../Images/home_firstscreen_rightpicture.png" alt="" class="fr">
			</div>
			<div class="index-gbox">
				<div class="index-boxanimate">
					<h3>数据匹配智能化</h3>
					<div class="rotate-box rotate-box1" style="z-index: 999">
						<div class="rotate-white"></div>
						<div class="rotate-text">
							<h5>精准推送</h5>
							<p>实时、精准给您推送相关采购商</p></div>
						<div class="rotate"></div>
					</div>
					<div class="rotate-box rotate-box2" style="z-index: 99">
						<div class="rotate-white"></div>
						<div class="rotate-text">
							<h5>供应需求</h5>
							<p>系统自动推送给全网需求方</p></div>
						<div class="rotate"></div>
					</div>
					<div class="rotate-box rotate-box3" style="z-index: 9">
						<div class="rotate-white"></div>
						<div class="rotate-text">
							<h5>全网营销</h5>
							<p>让企业全网营销效果最大化</p></div>
						<div class="rotate"></div>
					</div>
				</div>
				<div class="index-boxanimate">
					<div class="fl index-boxanimate1">
						<p>资深行业经历</p>
					</div>
					<div class="fl index-boxanimate2">
						<p>海量行业资源</p>
					</div>
					<div class="fl index-boxanimate3">
						<p>数据驱动营销</p>
					</div>
					<div class="fl index-boxanimate4">
						<p>丰厚技术积累</p>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="index-box">
				<div class="index-textbox fr">
					<h4>saasCRM</h4>
					<p>一体化的客户管理模式</p>
					<p>销售机会实时跟踪</p>
					<p>随时随地的移动销售管理，高效、方便、节省时间</p>
				</div>
				<img src="../../Images/home_thirdscreen_rightpicture.png" alt="" class="fl">
			</div>
			<div class="index-gbox">
				<div class="index-box">
					<div class="index-textbox fl">
						<h4>改变中小微企业销售管理模式</h4>
						<p>移动端、PC端相结合，彻底改变工</p>
						<p>作方式，随时随地办公，不错过任</p>
						<p>何一个商机。</p>
					</div>
					<img src="../../Images/home_fourthscreen_rightpicture.png" alt="" class="fr">
				</div>
			</div>
			<div class="index-box">
				<div class="index-textbox fr">
					<h4>一搜即现，真实可靠</h4>
					<p>提供高效便捷的信息服务</p>
					<p>数据规范化、价值化、精准化</p>
					<p>供求商机转化为一个个真实有效的订单</p>
				</div>
				<img src="../../Images/home_fifthscreen_rightpicture.png" alt="" class="fl">
			</div>
			<div class="main-footer">
				<h3>他们使用了雀搜，实现业绩腾飞</h3>
				<div class="footer-movie">
					<div class="fl">
						<img src="../../Images/1.png" vd-src="http://www.527so.com/Public/video/ad.mp4" alt="" width="270px" height="167px">
					</div>
					<div class="fl">
						<img src="../../Images/2.png" vd-src="http://www.527so.com/Public/video/visit.mp4" alt="" width="270px" height="167px">
					</div>
					<div class="fl">
						<img src="../../Images/3.png" vd-src="http://www.527so.com/Public/video/visit.mp4" alt="" width="270px" height="167px">
					</div>
					<div class="fl">
						<img src="../../Images/4.png" vd-src="http://www.527so.com/Public/video/visit.mp4" alt="" width="270px" height="167px">
					</div>
					<!-- 播放器容器 -->
					<div class="modal_video" style="display: none;">
						<div class="video-div">
							<div class="close-vx">×</div>
							<video src="" width="100%" height="100%" controls="controls"></video>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-img">
				<h5>雀搜邀您一起开拓百亿级的蓝海市场————成为代理</h5>
				<a href="javascript:;" class="join_We">成为代理</a>
			</div>
		</main>
		<!--主题内容结束-->
		
		<!--页面底部开始-->
		<footer class="footer_box">
		</footer>
		<!--页面底部结束-->
		
		<script src="../../js/jquery.js"></script>
		<script src="../../js/common.js"></script>
		<!-- 首页视频 -->
		<script>
			$(function(){
				//为关闭按钮绑定单击事件
				$(document).on("click",".close-vx",function(){
					$(".modal_video").fadeOut();
					$(".video-div video").attr("src","");
				})
				
				//为视频img绑定单击事件
				$(document).on("click",".fl img",function(){
					var vdsrc = $(this).attr("vd-src");
					$(".modal_video").fadeIn();
					$(".video-div video").attr("src",vdsrc);
					$(".video-div video")[0].play();
					//console.log(vdsrc);
				})
				
				//为兼容其他浏览器，则需要js解决，以下为封装的方法。
				function wordlimit(cname,wordlength){
				    var cname = $(".user_Text01");//需要加省略符号的元素对象
				    for(var i=0;i<cname.length;i++){　　　　　　　　　　　
				       var nowhtml=cname[i].innerHTML;//元素的内容
				        var nowlength=cname[i].innerHTML.length;//元素文本的长度
				        if(nowlength>wordlength){
				            cname[i].innerHTML=nowhtml.substr(0,wordlength)+'...';//截取元素的文本的长度并加上省略号
				            //console.log(cname[i].offsetWidth);
				        }
				    }
				}
				wordlimit("user_Text01",55);//调用方法
				
				//点击悬浮广告close显示右侧浮标
				$(".QR-close").on("click",function(){
					$(".QRcode").fadeOut(500);
					$(".AD-QR").fadeIn(500);
				})

				//鼠标悬停显示隐藏
				$(".img-03").mouseover(function(){
					$(".img-05").css({
						"display":"block"
					})
				})
				
				$(".img-03").mouseout(function(){
					$(".img-05").css({
						"display":"none"
					})
				})
				
				$(".img-04").mouseover(function(){
					$(".img-06").css({
						"display":"block"
					})
				})
				
				$(".img-04").mouseout(function(){
					$(".img-06").css({
						"display":"none"
					})
				})

			})
		</script>
		<!-- 首页轮播 -->
		<script type="text/javascript">
			$(document).ready(function() {
				var length,
					currentIndex = 0,
					interval,
					hasStarted = false, //是否已经开始轮播
					t = 6000; //轮播时间间隔
				length = $('.slider-panel').length;
				
				//将除了第一张图片隐藏
				$('.slider-panel:not(:first)').hide();
				//将第一个slider-item设为激活状态
				$('.slider-item:first').addClass('slider-item-selected');
				//隐藏向前、向后翻按钮
				$('.slider-page').hide();
				
				//鼠标上悬时显示向前、向后翻按钮,停止滑动，鼠标离开时隐藏向前、向后翻按钮，开始滑动
				$('.slider-panel, .slider-pre, .slider-next').hover(function() {
					stop();
					$('.slider-page').show();
				}, function() {
					$('.slider-page').hide();
					start();
				});
				
				$('.slider-item').hover(function(e) {
					stop();
					var preIndex = $(".slider-item").filter(".slider-item-selected").index();
					currentIndex = $(this).index();
					play(preIndex, currentIndex);
				}, function() {
					start();
				});
				
				$('.slider-pre').unbind('click');
				$('.slider-pre').bind('click', function() {
					pre();
				});
				$('.slider-next').unbind('click');
				$('.slider-next').bind('click', function() {
					next();
				});
				
				/**
				 * 向前翻页
				 */
				function pre() {
					var preIndex = currentIndex;
					currentIndex = (--currentIndex + length) % length;
					play(preIndex, currentIndex);
				}
				/**
				 * 向后翻页
				 */
				function next() {
					var preIndex = currentIndex;
					currentIndex = ++currentIndex % length;
					play(preIndex, currentIndex);
				}
				/**
				 * 从preIndex页翻到currentIndex页
				 * preIndex 整数，翻页的起始页
				 * currentIndex 整数，翻到的那页
				 */
				function play(preIndex, currentIndex) {
					$('.slider-panel').eq(preIndex).fadeOut(500)
						.parent().children().eq(currentIndex).fadeIn(1000);
					$('.slider-item').removeClass('slider-item-selected');
					$('.slider-item').eq(currentIndex).addClass('slider-item-selected');
				}
				
				/**
				 * 开始轮播
				 */
				function start() {
					if(!hasStarted) {
						hasStarted = true;
						interval = setInterval(next, t);
					}
				}
				/**
				 * 停止轮播
				 */
				function stop() {
					clearInterval(interval);
					hasStarted = false;
				}
				
				//开始轮播
				start();
			});
		</script>
		<script>
			$(function(){
				//为关闭按钮绑定单击事件
				$(document).on("click",".close-vx",function(){
					$(".modal_video").fadeOut();
					$(".video-div video").attr("src","");
				})
				
				//为视频img绑定单击事件
				$(document).on("click",".video_img_pro",function(){
					var vdsrc = $(this).attr("vd-src");
					$(".modal_video").fadeIn();
					$(".video-div video").attr("src",vdsrc);
					$(".video-div video")[0].play();
					//console.log(vdsrc);
				})
			})
		</script>
	</body>
</html>