<div class="side_2">
	<div class="box" name="1621464_14_">
	<h2><div class="hL"></div><div class="hR"></div><strong>{$main_name[$HM]}</strong></h2>
		<div class="boxCont boxImg160">
		<ul> 
		<!--{php $tags=tag("moduleid=14&condition=status>2 and username='$username'&pagesize=5&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime,hits&template=null");}-->
		{loop $tags $i $t}
		      <li>
		       <div class="pic">
		         <div class="photo160">
					<a target="" href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" >
					<img  src="{imgurl($t[thumb], 100)}" width="100%" height="100%" style="border:1px solid #C0C0C0;"></a>
		         </div>
		       </div>
		       <div class="proName"><a target="" href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" >{$t[title]}</a></div>
			   	<p>{$t[hits]}播放</p>
				<p>{timetodate($t[addtime], 3)}</p>
		     </li>
		{/loop}
         </ul>
		</div>   
	</div>
</div>