<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>反馈</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/feekback.css" />
	</head>
	<body style="min-width: 1366px;">
		<!--父容器开始-->
		<div class="outer_div">
			<!--左边导航模块-->
			<div class="left_template">
				<div class="user_logo"><a href="../publicity/index.html"><img src="../../Images/common_logo.png" alt="" /></a></div>
				<p class="company_name1">广东雀鸟科技有限公司</p>
				<!--用户导航列表-->
				<div class="userList_bar">
					<ul class="userList_ul">
						<li class="userList_li">
							<span class="icon-01"></span>
							<span class="icon-text">概览</span>
						</li>
						<li class="userList_li">
							<span class="icon-02"></span>
							<span class="icon-text">线索</span>
							<span class="xiansuo_count">10</span>
						</li>
						<li class="userList_li">
							<span class="icon-03"></span>
							<span class="icon-text">客户管理</span>
						</li>
						<li class="userList_li">
							<span class="icon-04"></span>
							<span class="icon-text">联系人</span>
						</li>
						<li class="userList_li">
							<span class="icon-05"></span>
							<span class="icon-text">公海</span>
						</li>
						<li class="userList_li icon-shopping">
							<span class="icon-06"></span>
							<span class="icon-text">商品</span>
							<span class="icon-shopping-1"></span>
						</li>
						<div class="icon-shopping-div">
							<p>商品管理</p>
							<p>发布产品</p>
						</div>
						<li class="userList_li">
							<span class="icon-07"></span>
							<span class="icon-text">咨询信息</span>
						</li>
						<li class="userList_li">
							<span class="icon-08"></span>
							<span class="icon-text">设置</span>
						</li>
						<li class="userList_li active">
							<span class="icon-09"></span>
							<span class="icon-text">反馈</span>
						</li>
					</ul>
				</div>
			</div>
			<!--右边主题内容-->
			<div class="right_template">
				<div class="left_header">
					<div class="page_state">反馈</div>
					<div class="vip-valid">会员有效日期：2017-10-30</div>
				</div>
				<div class="right_header">
					<ul>
						<li class="buy_xiansuoli1">
							<span class="buy_vip_icon1"></span>
							<a href="javascript:;">购买会员</a>
						</li>
						<li class="xiansuoli1">
							<span class="user_icon1"></span>
							<a href="javascript:;">哟哟</a>
						</li>
						<li class="xiansuoli1">
							<a href="javascript:;"><span class="login_out1"></span>退出</a>
						</li>
					</ul>
				</div>

				<!--反馈内容开始-->
				<div class="fankui_main">
					<p>提交建议</p>
					<span><i>*</i>问题描述</span>
					<form action="#">
						<textarea placeholder="至少5个字。如果有截图，请务必上传操作截图！"></textarea>
						<h3>上传附件</h3>
						<div class="fileinput">
							<input type="file" id="upfile"  >
							<span>选择文件</span>
							<i class="FileArea">未选择任何文件</i>
						</div>
					</form>
					<em class="SubmitStatus">提交</em>
				</div>
				<!--反馈内容结束-->
			</div>
		</div>
		<!--父容器结束-->

		</div>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/crm-common.js"></script>
		<script>
			$(function() {
				getHeight();
				
				$(window).resize(function() {
					getHeight();
				})
				
				//事件代理点击,获取file文件名;
				$(document).on("click", ".fileinput>span", function() {
					$(".fileinput>input").click();
					var str = "";
					$("#upfile").on("change", function() {
						var obj = document.getElementById("upfile");
						var length = obj.files.length;
						if(length == 0) {
							str += '<i class="FileArea">' + 未选择任何文件 + '</i>';
						} else {
							for(var i = 0; i < length; i++) {
								$(".FileArea").html("");
								var temp = obj.files[i].name;
								console.log(temp);
								str += '<i class="FileArea">' + temp + '</i>';
							}
						}

						$(".fileinput").append(str);
					});

				})
				
				//提交按钮
				$(document).on("click", ".SubmitStatus", function() {
					var TextValue = $(".fankui_main textarea").val();
					//判断用户输入内容不能少于5
					if(TextValue.length <= 4) {
						alert("请输入内容不少于5个字!");
					} else {
						alert("成功提交");
					}
					console.log(TextValue);
				})
			})
			
			//动态获取高度
			function getHeight() {
				var winH = $(window).height();
				$(".left_template,.right_template").height(winH);
				$(".fankui_main").height(winH-130);
			}
		</script>
	</body>
</html>