<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>客户管理</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/kehu-admin.css" />
		<style>
			h1 { margin: 0; }

			table
			{
				margin: 0;
				border-collapse: collapse;
			}

			td, th
			{
				padding: .5em 1em;
				border: 1px solid #DCDCDC;
				background: #f3f3f3;
				font-size: 16px;
			}
		</style>
	</head>
	<body style="min-width: 1366px;">
		<!--父容器开始-->
		<div class="outer_div">
			<!--左边导航模块-->
			<div class="left_template">
				<div class="user_logo"><a href="../publicity/index.html"><img src="../../Images/common_logo.png" alt="" /></a></div>
				<p class="company_name1">广东雀鸟科技有限公司</p>
				<!--用户导航列表-->
				<div class="userList_bar">
					<ul class="userList_ul">
						<li class="userList_li">
							<span class="icon-01"></span>
							<span class="icon-text">概览</span>
						</li>
						<li class="userList_li">
							<span class="icon-02"></span>
							<span class="icon-text">线索</span>
							<span class="xiansuo_count">10</span>
						</li>
						<li class="userList_li active">
							<span class="icon-03"></span>
							<span class="icon-text">客户管理</span>
						</li>
						<li class="userList_li">
							<span class="icon-04"></span>
							<span class="icon-text">联系人</span>
						</li>
						<li class="userList_li">
							<span class="icon-05"></span>
							<span class="icon-text">公海</span>
						</li>
						<li class="userList_li icon-shopping">
							<span class="icon-06"></span>
							<span class="icon-text">商品</span>
							<span class="icon-shopping-1"></span>
						</li>
						<div class="icon-shopping-div">
							<p>商品管理</p>
							<p>发布产品</p>
						</div>
						<li class="userList_li">
							<span class="icon-07"></span>
							<span class="icon-text">咨询信息</span>
						</li>
						<li class="userList_li">
							<span class="icon-08"></span>
							<span class="icon-text">设置</span>
						</li>
						<li class="userList_li">
							<span class="icon-09"></span>
							<span class="icon-text">反馈</span>
						</li>
					</ul>
				</div>
			</div>
			<!--右边主题内容-->
			<div class="right_template">
				<div class="left_header">
					<div class="page_state">概览</div>
					<div class="vip-valid">会员有效日期：2017-10-30</div>
				</div>
				<div class="right_header">
					<ul>
						<li class="buy_xiansuoli1">
							<span class="buy_vip_icon1"></span>
							<a href="javascript:;">购买会员</a>
						</li>
						<li class="xiansuoli1">
							<span class="user_icon1"></span>
							<a href="javascript:;">哟哟</a>
						</li>
						<li class="xiansuoli1">
							<a href="javascript:;"><span class="login_out1"></span>退出</a>
						</li>
					</ul>
				</div>
				<!--客户头部开始-->
				<div class="xiansuo_header">
					<!--客户头部左边-->
					<div class="xiansuo_hdleft">
						<!--第二列表-->
						<div class="xiansuo_hdleft_divlist">
							<label class="checkbox checkboxAll1" onselectstart="return false;">
                        <input id="checkall" type="checkbox" class="vam" name="checkall" onclick="selectAll();"/>
                        <i></i>
                    </label>
							<span class="saixuan_text1">全选</span>
							<div class="xiansuo_hdleft_btnlist">
								<span class="btnlist_zuofei">放弃</span>
							</div>
						</div>
					</div>
					<!--线索头部右边-->
					<div class="xiansuo_hdright">
						<div class="dingyue_cgMsgBtn dingyue_cgMsgBtn02">新增客户</div>
						<div class="search-box">
							<span class="search-icon1"></span>
							<input class="search-input" type="search" placeholder="请输入关键词搜索" />
							<span class="search-btn">搜索</span>
						</div>
					</div>
				</div>
				<!--客户头部结束-->

				<!--客户内容开始-->
				<div class="xiansuo_main">
					<!--客户列表开始-->
					<ul class="xiansuo_List xiansuo_List01">
						<li name="111">
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
                                <input type="checkbox" class="vam" name="checkedres" />
                                <i></i>
                            </label>
								<div class="xiansuo_List_title">广州乐乐物业服务管理公司</div>
							</div>
							<div class="xiansuo_List_dets">
								<div class="xiansuo_List_dets_lf">
									<div class="xiansuo_List_dets_div1">联系人：<span class="xiansuo_List_dets_span1">李先生</span></div>
									<div class="xiansuo_List_dets_div1">电&nbsp;&nbsp;&nbsp;话：<span class="xiansuo_List_dets_span1">15625075818</span></div>
									<div class="xiansuo_List_dets_div1">地&nbsp;&nbsp;&nbsp;址：<span class="xiansuo_List_dets_span1">广州市天河区体育东路115号羊城花园A栋</span></div>
								</div>
								<div class="xiansuo_List_dets_rt">
									<div class="xiansuo_List_dets_div1">客户级别：<span class="xiansuo_List_dets_span1">小客户</span></div>
									<div class="xiansuo_List_dets_div1">主营产品：<span class="xiansuo_List_dets_span1">彩妆、唇膏</span></div>
									<div class="xiansuo_List_dets_div1">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：<span class="xiansuo_List_dets_span1">10个</span></div>
								</div>
								<div class="chakan_lianxi1">
									<span class="ck-phone-val">查看详情</span>
								</div>
							</div>
							<div class="xiansuo_border"></div>
							<input type="hidden" value="13268036998" class="tel_val" />
							<input type="hidden" value="642307404@qq.com" class="email_val" />
						</li>
						<li name="222">
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
                                <input type="checkbox" class="vam" name="checkedres" />
                                <i></i>
                            </label>
								<div class="xiansuo_List_title">普宁市流沙南街道光草洋村城南西七街15号</div>
							</div>
							<div class="xiansuo_List_dets">
								<div class="xiansuo_List_dets_lf">
									<div class="xiansuo_List_dets_div1">联系电话：<span class="xiansuo_List_dets_span1">020-888888</span></div>
									<div class="xiansuo_List_dets_div1">联&nbsp;&nbsp;系&nbsp;人：<span class="xiansuo_List_dets_span1">李先生</span></div>
								</div>
								<div class="xiansuo_List_dets_rt">
									<div class="xiansuo_List_dets_div1">来&nbsp;&nbsp;&nbsp;源：<span class="xiansuo_List_dets_span1">司法拍卖</span></div>
									<div class="xiansuo_List_dets_div1">地&nbsp;&nbsp;&nbsp;址：<span class="xiansuo_List_dets_span1">广州市天河区体育东路115号羊城花园A栋</span></div>

								</div>
								<div class="chakan_lianxi1">
									<span class="ck-phone-val">查看详情</span>
								</div>
							</div>
							<div class="xiansuo_border"></div>
							<input type="hidden" value="13268036998" class="tel_val" />
							<input type="hidden" value="642307404@qq.com" class="email_val" />
						</li>
						<li name="333">
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
                                <input type="checkbox" class="vam" name="checkedres" />
                                <i></i>
                            </label>
								<div class="xiansuo_List_title">广州乐乐物业服务管理公司</div>
							</div>
							<div class="xiansuo_List_dets">
								<div class="xiansuo_List_dets_lf">
									<div class="xiansuo_List_dets_div1">联系人：<span class="xiansuo_List_dets_span1">李先生</span></div>
									<div class="xiansuo_List_dets_div1">电&nbsp;&nbsp;&nbsp;话：<span class="xiansuo_List_dets_span1">15625075818</span></div>
									<div class="xiansuo_List_dets_div1">地&nbsp;&nbsp;&nbsp;址：<span class="xiansuo_List_dets_span1">广州市天河区体育东路115号羊城花园A栋</span></div>
								</div>
								<div class="xiansuo_List_dets_rt">
									<div class="xiansuo_List_dets_div1">客户级别：<span class="xiansuo_List_dets_span1">小客户</span></div>
									<div class="xiansuo_List_dets_div1">主营产品：<span class="xiansuo_List_dets_span1">彩妆、唇膏</span></div>
									<div class="xiansuo_List_dets_div1">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：<span class="xiansuo_List_dets_span1">10个</span></div>
								</div>
								<div class="chakan_lianxi1">
									<span class="ck-phone-val">查看详情</span>
								</div>
							</div>
							<div class="xiansuo_border"></div>
							<input type="hidden" value="13268036998" class="tel_val" />
							<input type="hidden" value="642307404@qq.com" class="email_val" />
						</li>
						<li name="444">
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
                                <input type="checkbox" class="vam" name="checkedres" />
                                <i></i>
                            </label>
								<div class="xiansuo_List_title">广州乐乐物业服务管理公司</div>
							</div>
							<div class="xiansuo_List_dets">
								<div class="xiansuo_List_dets_lf">
									<div class="xiansuo_List_dets_div1">联系人：<span class="xiansuo_List_dets_span1">李先生</span></div>
									<div class="xiansuo_List_dets_div1">电&nbsp;&nbsp;&nbsp;话：<span class="xiansuo_List_dets_span1">15625075818</span></div>
									<div class="xiansuo_List_dets_div1">地&nbsp;&nbsp;&nbsp;址：<span class="xiansuo_List_dets_span1">广州市天河区体育东路115号羊城花园A栋</span></div>
								</div>
								<div class="xiansuo_List_dets_rt">
									<div class="xiansuo_List_dets_div1">客户级别：<span class="xiansuo_List_dets_span1">小客户</span></div>
									<div class="xiansuo_List_dets_div1">主营产品：<span class="xiansuo_List_dets_span1">彩妆、唇膏</span></div>
									<div class="xiansuo_List_dets_div1">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：<span class="xiansuo_List_dets_span1">10个</span></div>
								</div>
								<div class="chakan_lianxi1">
									<span class="ck-phone-val">查看详情</span>
								</div>
							</div>
							<div class="xiansuo_border"></div>
							<input type="hidden" value="13268036998" class="tel_val" />
							<input type="hidden" value="642307404@qq.com" class="email_val" />
						</li>
						<li name="555">
							<div class="xiansuo_List_no1">
								<label class="checkbox" onselectstart="return false;">
                                <input type="checkbox" class="vam" name="checkedres" />
                                <i></i>
                            </label>
								<div class="xiansuo_List_title">广州乐乐物业服务管理公司</div>
							</div>
							<div class="xiansuo_List_dets">
								<div class="xiansuo_List_dets_lf">
									<div class="xiansuo_List_dets_div1">联系人：<span class="xiansuo_List_dets_span1">李先生</span></div>
									<div class="xiansuo_List_dets_div1">电&nbsp;&nbsp;&nbsp;话：<span class="xiansuo_List_dets_span1">15625075818</span></div>
									<div class="xiansuo_List_dets_div1">地&nbsp;&nbsp;&nbsp;址：<span class="xiansuo_List_dets_span1">广州市天河区体育东路115号羊城花园A栋</span></div>
								</div>
								<div class="xiansuo_List_dets_rt">
									<div class="xiansuo_List_dets_div1">客户级别：<span class="xiansuo_List_dets_span1">小客户</span></div>
									<div class="xiansuo_List_dets_div1">主营产品：<span class="xiansuo_List_dets_span1">彩妆、唇膏</span></div>
									<div class="xiansuo_List_dets_div1">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：<span class="xiansuo_List_dets_span1">10个</span></div>
								</div>
								<div class="chakan_lianxi1">
									<span class="ck-phone-val">查看详情</span>
								</div>
							</div>
							<div class="xiansuo_border"></div>
							<input type="hidden" value="13268036998" class="tel_val" />
							<input type="hidden" value="642307404@qq.com" class="email_val" />
						</li>
					</ul>
					<!--客户列表结束-->

					<!--分页器开始-->
					<div class="xiansuo_Page_Div">
						<div class="xiansuo_Page_border"></div>
						<div class="xiansuo_Page_div">
							<div class="fl">
								<span style="margin-right: 5px;">每页显示</span>
								<select class="xiansuo_Page_Three">
									<option value="10">10</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								<span style="margin-left: 5px;">条</span><span style="margin-left: 10px;">共</span><span class="xiansuo_Sizes">1500</span><span>条/</span><span class="xiansuo_Pages">50页</span>
								<img class="first_page" src="../../Images/icon_sanjiao_01.png" alt="" />
								<img class="prev_page" src="../../Images/icon_sanjiao_02.png" alt="" />
							</div>
							<ul class="xiansuo_Page_list">
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
							</ul>
							<img class="next_page" style="margin-left: 15px;" src="../../Images/icon_sanjiao_03.png" alt="" />
							<img class="last_page" src="../../Images/icon_sanjiao_04.png" alt="" />
							<span style="margin: 0 5px;">跳转</span><input type="text" value="0" class="that_Page" maxlength="10" /><span style="margin-left: 5px;">页</span>
						</div>
					</div>

					<!--分页器结束-->
				</div>
				<!--线索内容结束-->
			</div>
			<!--打开客户模态框出现详情页-->
			<div class="modal-box" style="display: none">
				<!--客户详情页-->
				<div class="ClientDetails">
					<div class="DetailsTitle">
						<span>客户详情<a class="close-X"></a></span>
					</div>
					<div class="DatailsButton">
						<span class="bian">编辑</span>
						<span class="fangqi">放弃</span>
						<span class="xz-sj" style="display: none">新增</span>
						<span class="xz-lx" style="display: none">新增</span>
					</div>
					<div class="TabDatails TabDatailskehu">
						<!--选项卡-->
						<ul>
							<li class="activeBottom">客户信息</li>
							<li>商机</li>
							<li>联系人</li>
						</ul>
						<!--客户信息-->
						<div class="TextDatails">
							<div class="xiansuo_des_contents">
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">客户名称：</span><span class="span_rt1">广东哇哈哈智能科技有限公司</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">客户级别：</span><span class="span_rt1">大客户</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">电<span class="text_between">话</span>：</span><span class="span_rt1">020-8738888</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">邮<span class="text_between">箱</span>：</span><span class="span_rt1">123456@qq.com</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">手<span class="text_between">机</span>：</span><span class="span_rt1">13268036998</span>
								</div>

								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">网<span class="text_between">址</span>：</span><span class="span_rt1">无</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">地<span class="text_between">址</span>：</span><span class="span_rt1">广东省广州市天河区大观中路95号A栋</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">行<span class="text_between">址</span>：</span><span class="span_rt1">美妆</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">主营产品：</span><span class="span_rt1">彩妆</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">创建时间：</span><span class="span_rt1">2017-10-20 16:30</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">备<span class="text_between">注</span>：</span><span class="span_rt1">越多越好</span>
								</div>
							</div>
						</div>
						<!--商机-->
						<div class="shangji" style="display: none;">
							<ul>
								<li>
									<p>2017-09-15 &nbsp;11:24</p>
									<span>客户有计划采购大量钢筋水泥，用于新楼房</span>
									<i></i>
								</li>
								<li>
									<p>2017-09-15 &nbsp;11:24</p>
									<span>初步沟通，客户需要采购的芯片1000片，货期比较紧，3天必须到货，正在联系仓库和物流确认库存和时间</span>
									<i></i>
								</li>
							</ul>
						</div>
						<!--联系人-->
						<div class="Contact" style="display: none;">
							<!--title-->
							<ul>
								<li style="width: 128px">联系人</li>
								<li style="width: 156px">手机</li>
								<li style="width: 216px">邮件</li>
								<li style="width: 162px">职位</li>
								<li style="width: 122px">部门</li>
								<li style="width: 170px;border-right:none">操作</li>
							</ul>
							<!--内容-->
							<ul class="TextUL">
								<li style="width: 128px">哗啦啦</li>
								<li style="width: 156px">15625075814</li>
								<li style="width: 216px">888888888@qq.com</li>
								<li style="width: 162px">产品经理</li>
								<li style="width: 122px">研发部门</li>
								<li style="width: 176px"><span></span><i></i></li>
							</ul>
							<ul class="TextUL">
								<li style="width: 128px">哗啦啦</li>
								<li style="width: 156px">15625075814</li>
								<li style="width: 216px">888888888@qq.com</li>
								<li style="width: 162px">产品经理</li>
								<li style="width: 122px">研发部门</li>
								<li style="width: 176px"><span></span><i></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!--客户详情页结束-->
			</div>
			<!--打开客户模态框出现详情页结束-->
			<!--打开拍卖模态框出现详情页-->
			<div class="modal-box" style="display: none">
				<!--客户详情页-->
				<div class="ClientDetails">
					<div class="DetailsTitle">
						<span>客户详情<a class="close-X"></a></span>
					</div>
					<div class="DatailsButton">
						<span class="bian">编辑</span>
						<span class="fangqi">放弃</span>
						<span class="xz-sj" style="display: none">新增</span>
						<span class="xz-lx" style="display: none">新增</span>
					</div>
					<div class="TabDatails TabDatailspaimai">
						<!--选项卡-->
						<ul>
							<li class="activeBottom">客户信息</li>
							<li>联系人</li>
						</ul>
						<!--客户信息-->
						<div class="TextDatails">
							<div class="xiansuo_des_contents">
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">公<span class="text_between">司</span>：</span><span class="span_rt1">广东哇哈哈智能科技有限公司</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">客户级别：</span><span class="span_rt1">大客户</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">电<span class="text_between">话</span>：</span><span class="span_rt1">020-8738888</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">邮<span class="text_between">箱</span>：</span><span class="span_rt1">123456@qq.com</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">网<span class="text_between">址</span>：</span><span class="span_rt1">无</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">来<span class="text_between">源</span>：</span><span class="span_rt1"><i class="sf-paimai">司法拍卖，查看详情</i></span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">地<span class="text_between">址</span>：</span><span class="span_rt1">广东省广州市天河区大观中路95号A栋</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">行<span class="text_between">址</span>：</span><span class="span_rt1">司法拍卖</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">主营产品：</span><span class="span_rt1">彩妆</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">创建时间：</span><span class="span_rt1">2017-10-20 16:30</span>
								</div>
								<div class="xiansuo_des_contents_cell">
									<span class="span_lf1">备<span class="text_between">注</span>：</span><span class="span_rt1">越多越好</span>
								</div>
							</div>
						</div>
						<!--联系人-->
						<div class="Contact" style="display: none;">
							<!--title-->
							<ul>
								<li style="width: 128px">联系人</li>
								<li style="width: 156px">手机</li>
								<li style="width: 216px">邮件</li>
								<li style="width: 162px">职位</li>
								<li style="width: 122px">部门</li>
								<li style="width: 170px;border-right:none">操作</li>
							</ul>
							<!--内容-->
							<ul class="TextUL">
								<li style="width: 128px">哗啦啦</li>
								<li style="width: 156px">15625075814</li>
								<li style="width: 216px">888888888@qq.com</li>
								<li style="width: 162px">产品经理</li>
								<li style="width: 122px">研发部门</li>
								<li style="width: 176px"><span></span><i></i></li>
							</ul>
							<ul class="TextUL">
								<li style="width: 128px">哗啦啦</li>
								<li style="width: 156px">15625075814</li>
								<li style="width: 216px">888888888@qq.com</li>
								<li style="width: 162px">产品经理</li>
								<li style="width: 122px">研发部门</li>
								<li style="width: 176px"><span></span><i></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!--客户详情页结束-->
			</div>
			<!--打开拍卖模态框出现详情页结束-->

			<!--二重模态框开启-->
			<div class="modal-box-2" style="display: none">
				<!--新增联系人-->
				<div class="bj-kehu bj-kehu01" style="display: none">
					<div class="bj-top">
						<p>新增联系人<span class="bj-top-span">&times;</span></p>
					</div>
					<div class="bj-center">
						<div class="bj-text">
							<em>*</em>
							<span>客户名称</span>
							<input class="lxname" type="text" placeholder="请输入客户名称">
						</div>
						<div class="bj-text">
							<em>*</em>
							<span>联&ensp;系&ensp;人</span>
							<input class="lxren" type="text" placeholder="请输入联系人">
						</div>
						<div class="bj-text">
							<em>*</em>
							<span>电&ensp;&ensp;&ensp;&ensp;话</span>
							<input class="lxtel" type="text" placeholder="请输入客户电话">
						</div>
						<div class="bj-text">
							<span>邮&ensp;&ensp;&ensp;&ensp;箱</span>
							<input class="lxEmail" type="text" placeholder="请输入邮箱">
						</div>
						<div class="bj-text">
							<span>微&ensp;&ensp;&ensp;&ensp;信</span>
							<input type="text" placeholder="请输入微信">
						</div>
						<div class="bj-text">
							<span>职&ensp;&ensp;&ensp;&ensp;位</span>
							<input type="text" placeholder="请输入职位">
						</div>
						<div class="bj-text">
							<span>所在部门</span>
							<input type="text" placeholder="请输入部门">
						</div>
						<!--省市区-->
						<div class="bj-text">
							<span>生&ensp;&ensp;&ensp;&ensp;日</span>
							<input type="text" placeholder="请输入生日">
						</div>
						<!--留言-->
						<div class="bj-text">
							<span style="display: inline-block;margin-bottom: 120px">备&ensp;&ensp;&ensp;&ensp;注</span>
							<!--<input type="text" placeholder="请输入备注...">-->
							<textarea placeholder="请输入备注 . . ."></textarea>
						</div>
						<!--btn-->
						<div class="bj-btn">
							<span class="bj-btn1">取消</span>
							<span class="bj-btn2 bj-btn4">保存</span>
						</div>
					</div>
				</div>
				<!--新增联系人结束-->
				<!--编辑客户-->
				<div class="bj-kehu bj-kehu02" style="display: none">
					<div class="bj-top">
						<p>编辑客户<span class="bj-top-span">&times;</span></p>
					</div>
					<div class="bj-center">
						<div class="bj-text">
							<em>*</em>
							<span>客户名称</span>
							<input class="input1 kename" type="text" placeholder="请输入客户名称">
						</div>
						<div class="bj-text">
							<em>*</em>
							<span>电&ensp;&ensp;&ensp;&ensp;话</span>
							<input class="input2 ketel" type="text" placeholder="请输入客户电话">
						</div>
						<div class="bj-text">
							<em>*</em>
							<span>邮&ensp;&ensp;&ensp;&ensp;箱</span>
							<input class="input4 keEmail" type="text" placeholder="请输入邮箱">
						</div>
						<div class="bj-text">
							<span>网&ensp;&ensp;&ensp;&ensp;址</span>
							<input type="text" placeholder="请输入微信">
						</div>
						<div class="bj-text">
							<span>客户级别</span>
							<select class="kehu-VIP">
								<optgroup label="请选择客户级别" selected="selected">
									<option value="1">普通客户</option>
									<option value="2">小客户</option>
									<option value="3">大客户</option>
									<option value="4">VIP客户</option>
								</optgroup>

							</select>
						</div>
						<div class="bj-text">
							<span>行&ensp;&ensp;&ensp;&ensp;业</span>
							<select class="kehu-VIP">
								<optgroup label="请选择行业" selected="selected">
									<option value="1">普通客户</option>
									<option value="2">小客户</option>
									<option value="3">大客户</option>
									<option value="4">VIP客户</option>
									<option value="4">VIP客户</option>
									<option value="4">VIP客户</option>
									<option value="4">VIP客户</option>
									<option value="4">VIP客户</option>
								</optgroup>

							</select>
						</div>
						<div class="bj-text">
							<span>主营产品</span>
							<input type="text" placeholder="请输入主营产品">
						</div>
						<!--省市区-->
						<div class="bj-text">
							<span>区&ensp;&ensp;&ensp;&ensp;域</span> 省
							<select>
								<option value="1">请选择</option>
								<option value="2">22-25</option>
								<option value="3">26-29</option>
								<option value="4">30-35</option>
								<option value="5">35-40</option>
							</select>
							市
							<select>
								<option value="1">请选择</option>
								<option value="2">22-25</option>
								<option value="3">26-29</option>
								<option value="4">30-35</option>
								<option value="5">35-40</option>
							</select>
							县
							<select>
								<option value="1">请选择</option>
								<option value="2">22-25</option>
								<option value="3">26-29</option>
								<option value="4">30-35</option>
								<option value="5">35-40</option>
							</select>
						</div>
						<div class="bj-text">
							<span>详细地址</span>
							<input type="text" placeholder="请输入地址">
						</div>
						<!--留言-->
						<div class="bj-text">
							<span style="display: inline-block;margin-bottom: 120px">备&ensp;&ensp;&ensp;&ensp;注</span>
							<!--<input type="text" placeholder="请输入备注...">-->
							<textarea placeholder="请输入备注 . . ."></textarea>
						</div>
						<!--btn-->
						<div class="bj-btn">
							<span class="bj-btn1">取消</span>
							<span class="bj-btn2 bj-btn3">保存</span>
						</div>
					</div>
				</div>
				<!--编辑客户结束-->
				<!--新增商机-->
				<div class="bj-kehu bj-kehu03" style="display: none">
					<div class="bj-top">
						<p>新增商机<span class="bj-top-span">&times;</span></p>
					</div>
					<div class="bj-center">
						<div class="bj-text">
							<em>*</em>
							<span>客户名称</span>
							<input class="input1" type="text" placeholder="请输入客户名称">
						</div>
						<!--留言-->
						<div class="bj-text">
							<span style="display: inline-block;margin-bottom: 454px">备&ensp;&ensp;&ensp;&ensp;注</span>
							<!--<input type="text" placeholder="请输入备注...">-->
							<textarea placeholder="请输入备注 . . ."></textarea>
						</div>
						<!--btn-->
						<div class="bj-btn">
							<span class="bj-btn1">取消</span>
							<span class="bj-btn2 bj-btn5">保存</span>
						</div>
					</div>
				</div>
				<!--新增商机结束-->
			</div>
			<!--二重模态框结束-->
			
			<!--操作成功模态框-->
			<div class="sucuess-modal sucuess-modal-box01">
				<div class="sucuess-modal-cell">
					<img src="../../Images/common_icon_success_nor.png" alt="" />
					<p class="is_state1">操作成功!</p>
				</div>
			</div>
			
			<!--提示必填信息-->
			<div class="sucuess-modal sucuess-modal-box02">
				<div class="sucuess-modal-cell">
					<img src="../../Images/common_icon_gantan_nor.png" alt="" />
					<p class="is_state1">必填信息不能为空!</p>
				</div>
			</div>
			
			<!--确认删除模态框-->
			<div class="delete-modal">
				<div class="delete-modal-cell">
					<p>您确认删除吗？</p>
					<div class="delete_modal_btns">
						<span class="de_cancel_1">取消</span>
						<span class="de_confirm_1 de_confirm_110">确定</span>
					</div>
				</div>
			</div>
			<!--首页确认删除模态框-->

			<!--确认删除模态框2-->
			<div class="delete-modal1">
				<div class="delete-modal-cell1">
					<p>您确认放弃吗？</p>
					<div class="delete_modal_btns">
						<span class="de_cancel_11">取消</span>
						<span class="de_confirm_11">确定</span>
					</div>
				</div>
			</div>


			<!--点击司法拍卖查看详情-->
			<div class="paimai_des_content_model" style="display: none">
				<div class="paimai_des_content">
					<em class="close-paimai">&#215;</em>
					<h2 class="pai-top-text">2017年11月10日拍卖房产公告</h2>
					<p class="pai-top-text01">司法拍卖&nbsp;&nbsp;&nbsp;普宁市人民法院</p>
					<div class="table-container">
						<table>
							<tbody>
							<tr>
								<td width="36%">所在地区</td>
								<td colspan="2" width="64%">普宁市</td>
							</tr>
							<tr>
								<td>开始日期</td>

								<td colspan="2" >2017-11月10日&nbsp;10:00</td>
							</tr>
							<tr>
								<td>截止时间</td>

								<td colspan="2" >2017-11月13日&nbsp;10:00</td>
							</tr>
							</tbody>
						</table>
					</div>
					<h2 class="pai-center-text">特别提示</h2>
					<div class="pai-details-text">
						1、竞买人应当具备完全民事行为能力，法律、行政法规、司法解释对买受人资格或者条件有特殊规定的（比如商品房限购等），竞买人应当具备规定的资格或者条件。
						2、委托他人代为竞买的，竞买人应当理解委托的法律含义，办妥委托手续，并在竞价程序开始前经人民法院确认。
						3、竞买人应当仔细阅读拍卖公告、竞买须知及相关附件资料，了解标的情况、竞价规则、交款方式、法律责任。
						4、拍卖标的以现状为准，对于实物标的，竞买人可以申请看样。
						5、竞买人决定参与竞价的，视为对拍卖标的完全了解，并接受拍卖标的一切已知和未知瑕疵。
						6、竞买人取得竞价资格后，出价不得低于起拍价；拍卖以最高出价成交，优先购买权人可以在不加价的情况下行使优先权；无人报名或出价的，竞价会流标。
						7、买受人悔拍后保证金不予退还；悔拍后重新拍卖的，原买受人不得参加竞买。
					</div>
					<h2 class="pai-center-text">拍卖公告</h2>
					<div class="pai-details-text">
						<h3> 霸州市人民法院关于霸州市金康东道南侧祥泰城小区10号楼
							的六套房屋建筑物（第一次拍卖）的公告
						</h3>
						<p>霸州市金康东道南侧祥泰城小区10号楼的六套房屋建筑物</p>
						河北省霸州市人民法院定于2017年11月20日10时至2017年11月21日10时止（延时除外），依法通过人民法院诉讼资产网拍卖平台,以网络电子竞价方式公开对以下标的物按现状进行网络司法拍卖，现公告如下：

						一、标的物：

						1、霸州市金康东道南侧祥泰城小区10号楼1单元602室。建筑面积约为93.73平方米。拍卖保留价：41.57万元，竞买保证金：8万元。

						2、霸州市金康东道南侧祥泰城小区10号楼1单元1001室。建筑面积约为93.73平方米。拍卖保留价：43.63万元，竞买保证金：8万元。

						3、霸州市金康东道南侧祥泰城小区10号楼2单元401室。建筑面积约为93.73平方米。拍卖保留价：40.34万元，竞买保证金：8万元。

						4、霸州市金康东道南侧祥泰城小区10号楼2单元801室。建筑面积约为93.73平方米。拍卖保留价：42.81万元，竞买保证金：8万元。

						5、霸州市金康东道南侧祥泰城小区10号楼2单元902室。建筑面积约为93.73平方米。拍卖保留价：43.22万元，竞买保证金：8万元。

						6、霸州市金康东道南侧祥泰城小区10号楼3单元801室。建筑面积约为93.73平方米。拍卖保留价：42.81万元，竞买保证金：8万元。

						二、标的物展示时间、地点：自2017年11月1日至2017年11月2日，在标的物的现场进行展示。

						三、竞买人须在2017年11月21日10时前签订竞买须知并交纳竞买保证金，方可参与竞买。竞买保证金请交至人民法院诉讼资产网结算账户，以到账时间为准，结算账户名称：重庆联付通网络结算科技有限责任公司客户备付金。竞买保证金不计利息。

						四、特别说明：

						1、标的物在拍卖成交后，由执行法院（河北省霸州市人民法院）负责交付标的并办理相关手续。

						2、该标的无房产证，实际面积最终以房管部门确权为准,若有出入，拍卖成交价款不予调整。

						3、标的物过户、办证及移交时所涉及的相关税、费及标的物所涉及的欠费和相关风险等均由买受人承担。

						4、享有优先购买权人须经河北省霸州市人民法院确认后方可参与竞买，否则视为放弃优先购买权。

						5、对拍卖标的物权属有异议者，请于2017年11月16日前与河北省霸州市人民法院联系确认。

						6、本次拍卖的标的物以现状为准，本院不承担标的物的瑕疵担保。请竞买人在报名前详细阅读评估报告、竞买须知等材料，认真查看标的物，充分了解标的物现状和瑕疵及相关法律、法规、政策规定。竞买人完成报名手续，即视为对拍卖标的物完全了解并接受拍卖标的物的现状和一切已知及未知的瑕疵，并自愿参与竞买本标的物。

						7、竞买人须以本人名义交纳竞买保证金，他人为竞买人代交竞买保证金的将视为无效，所交款项退回原账户。多人联合竞买的竞买人，须经河北省霸州市人民法院确认后，到张家口市产权交易中心（张家口市桥西区清水河中路21号）办理竞买登记手续。

						8、本公告同时刊登在人民法院诉讼资产网、河北产权网、张家口产权交易网、《廊坊日报》。

						五、特别提醒：

						1、本次拍卖的标的物在拍卖成交后，人民法院诉讼资产网将自动生成《网络司法拍卖成交确认书》，确认书中将载明买受人的姓名及竞价账号。买受人应当在拍卖成交后5个工作日内将成交价款交至案款结算账户（竞买保证金可冲抵成交价款），以到账为准。结算账户名称：张家口中佳国有产权服务有限公司,开户行：张家口银行下东营支行,账号：074037362800015。

						拍卖未成交的，竞买人的保证金将于3日内退还原交款账户。

						2、因报名、交纳竞买保证金、办理竞买登记手续等事项需要一定时间，竞买人应预留足够办理拍卖相关手续时间。如因办理竞买手续的时间过于接近竞价截止时间而导致无法参加竞拍的，后果自负。

						联系方式：宋女士 17603133928
						霸州市人民法院：0316-7866109
						法院监督电话：0316-7866087

						霸 州 市 人 民 法 院
						2017年10月18日
					</div>
					<h2 class="pai-center-text">竞买须知</h2>
					<div class="pai-details-text">
						河北省霸州市人民法院定于2017年11月20日10时至2017年11月21日10时止（延时除外）,依法通过人民法院诉讼资产网（www.rmfysszc.gov.cn）拍卖平台,以网络电子竞价方式公开对: 霸州市金康东道南侧祥泰城小区10号楼3单元801室房屋建筑物一套（以下简称“标的物”）进行网络司法拍卖。为规范司法拍卖行为，维护拍卖秩序，保护各方当事人的合法权益，根据《中华人民共和国民事诉讼法》、《中华人民共和国合同法》、《最高人民法院关于人民法院网络司法拍卖若干问题的规定》等文件规定，特制定本《竞买须知》，望大家共同遵守。

						第一条本院按标的物的现状对其进行拍卖，本院已就标的物已知瑕疵作了说明，竞买人自愿参与竞买的视为对标的物完全了解，并接受标的物一切已知和未知的瑕疵，本院对标的物已知和未知的瑕疵不承担担保责任。

						第二条参加本次拍卖活动的竞买人必须仔细阅读并严格遵守本《竞买须知》，并对自己参与拍卖活动的行为负责。

						第三条标的物金康东道南侧祥泰城小区10号楼3单元801室房屋建筑物一套。建筑面积约为93.73方米。房屋总层数为11层，标的所在层数为8层，毛坯房未装修。标的物为东门户，2室1厅1厨1卫，地暧。带电梯，但因无电不能使用。内部配套设施不齐全，交通便利，区域较繁华，周围环境一般。该房产无规划许可、建设施工许可、商品房预售许可等，不具备办理房产证条件，今后所产生的一切风险由买受人自行承担。

						第四条 标的物过户、办证及移交时所涉及的相关税、费及标的物所涉及的欠费和相关风险等均由买受人承担。

						第五条竞买资格：竞买人应当具备完全民事行为能力，应具备法律、行政法规和司法解释对买受人规定的资格或条件。

						根据最高人民法院《关于人民法院网络司法拍卖若干问题的规定》第三十四条之规定：实施网络司法拍卖的，下列机构和人员不得竞买并不得委托他人代为竞买与其相关的拍卖标的物：1.负责执行的人民法院；2.网络服务提供者；3.承担拍卖辅助工作的社会机构或者组织；4.第1至3项规定主体的工作人员及近亲属。

						第六条竞买人应当在竞拍前以实名交纳保证金，未交纳的，不得参加竞买。申请执行人参加竞买的，可以不交保证金；但债权数额小于保证金数额的按差额部分交纳。

						竞买人应亲自参与竞买，如因故不能参与，应委托代理人代为竞买。委托他人代为竞买的，应当在竞价会开始前经河北省霸州市人民法院确认，代理人方能参与竞买。

						竞买人主张优先购买权的，应当在竞价会开始前经河北省霸州市人民法院书面确认并告知本院。

						第七条竞买人之间、竞买人与网络司法拍卖服务提供者之间不得恶意串通，损害他人利益。

						第八条竞买人须在竞价会开始前登录互联网竞价系统参与竞价，因未在规定时间内登录系统参与竞价的，后果自负。

						第九条本次竞价会采用网络电子竞价方式，即：竞买人在规定的时间里，通过竞价系统输入报价，按照价格优先、时间优先原则进行连续竞价，由系统自动确定出最高报价的方式。在规定时间里，报价可多次输入，首次报价不得低于系统显示的起拍价，其后每次报价须高于系统显示的即时最高报价（优先购买权人可按即时最高报价应价），本次竞价会于2017年11月20日10时至11月21日10时止（延时除外）。

						竞价会结束前五分钟内无人出价的，最后出价即为成交价；有出价的，竞价时间自该出价时点顺延五分钟。竞买人的出价时间以人民法院诉讼资产网竞价系统的时间为准。

						竞买人一经应价，不能撤回，当后有更高的价格出现时，报价自然失效。竞价会结束时，最高报价即为本次拍卖最终拍卖成交价，其最高报价者成为买受人。

						第十条本次拍卖的标的物在拍卖成交后，人民法院诉讼资产网将自动生成《网络司法拍卖成交确认书》，确认书中将载明买受人的名称及竞价账号。买受人应当在拍卖成交后5个工作日内将成交价款交至案款结算账户（竞买保证金可冲抵成交价款），以到账为准。结算账户名称：张家口中佳国有产权服务有限公司,开户行：张家口银行下东营支行,账号：074037362800015。

						拍卖未成交的，竞买人的竞买保证金将于3日内退还原交款账户。

						第十一条网拍辅助工作费用由被执行人承担。收取标准参照《最高人民法院关于人民法院民事执行中拍卖、变卖财产的规定》第三十二条规定拍卖佣金标准的50%执行，佣金标准：按标的物网络司法拍卖成交价分档累加计算（成交价200万元以下的部分（含200万元）收取5%、超过200万元至1000万元的部分（含1000万元）收取3%、1000万元以上至5000万元的部分（含5000万元）收取2%、5000万元以上至10000万元的部分（含10000万元）收取1%、10000万元以上的部分收取0.5%）。

						第十二条拍卖成交后买受人未在拍卖公告规定期限内交付拍卖成交款的，河北省霸州市人民法院可裁定重新拍卖。重新拍卖时，原买受人不得参加竞买。原买受人交纳的保证金不予退还，依次用于支付本次网络司法拍卖产生的费用损失、弥补重新拍卖价款低于原拍卖价款的差价、冲抵本案被执行人的债务以及与拍卖标的物相关的被执行人的债务。

						第十三条网络司法拍卖竞价程序中，有依法应当暂缓、中止执行等情形的，由河北省霸州市人民法院决定暂缓或者裁定中止拍卖；网络服务提供者发现系统故障、安全隐患等紧急情况的，可以先行暂缓拍卖，并立即向本院报告。

						第十四条特别说明：

						1、标的物在拍卖成交后，由执行法院（河北省霸州市人民法院）负责交付标的并办理相关手续。

						2、该标的无房产证，实际面积最终以房管部门确权为准,若有出入，拍卖成交价款不予调整。

						3、竞买人在报名前应仔细阅读拍卖公告、评估报告、竞买须知等材料所披露的内容，认真查看标的物，充分了解标的物现状和瑕疵及相关法律、法规、政策规定。

						4、竞买人须以自己名义并以现金以外的转账方式将保证金交入人民法院诉讼资产网结算账户。他人为竞买人代为交纳的将视为无效，所交款项将退回原账户。

						如需办理多人联合竞买的竞买人请到张家口市产权交易中心办理竞买登记手续，联系电话：17603133928，地址：张家口市桥西区清水河中路21号。

						第十五条未尽事宜，按国家相关法律法规办理。

						霸州市人民法院
						2017年10月18日




						2017年10月18日


					</div>
					<h2 class="pai-center-text">标的介绍</h2>
					<div class="pai-details-text">
						名称     霸州市金康东道南侧祥泰城小区10号楼3单元801室

						起拍价     42.81（万元）     评估值     42.81（万元）
						保证金     8（万元）     类型     房产\住宅用房

						标的物信息表

						标的物名称

						霸州市金康东道南侧祥泰城小区10号楼的六套房屋建筑物

						法院执行裁定书

						（2015）霸执字第395-2号

						权证情况

						房屋产权证   无

						证载建筑面积   建筑面积均为93.73平方米

						土地使用权证   无

						使用权面积   2820.3平方米

						土地其他情况   2006150363号

						租赁情况   不详

						抵押情况   不详

						其他情况
						上述六套房产，无规划许可、建设施工许可、商品房预售许可等，不具备办理房产证条件，今后所产生的一切风险由买受人自行承担

						标的物介绍

						1、税费负担情况：
						标的物过户、办证及移交时所涉及的相关税、费及标的物所涉及的欠费和相关风险等均由买受人承担。

					</div>
					<div class="Pai-Img">
						<img src="../../Images/IMG_3786.jpg" width="78%" alt="">
						<img src="../../Images/IMG_3786.jpg" width="78%" alt="">
						<img src="../../Images/IMG_3786.jpg" width="78%" alt="">
					</div>

				</div>
			</div>

			<!--点击司法拍卖查看结束-->

		</div>
		<!--CRM引导-->
		<div class="Guidance-box" style="display: none">
			<img class="Guidance" src="../../Images/kehuan01.jpg" alt="">
			<!--<span class="GuidanceBtn"></span>-->
			<em class="GuidanceClos"></em>
		</div>

		<!--父容器结束-->
		<script src="../../js/jquery.js"></script>
		<script src="../../js/crm-common.js"></script>
		<script src="../../js/kehu-admin.js"></script>
		<script>
			$(function(){
				var KehuModel = false
				if(KehuModel){
					$(".Guidance-box").show()
				}else {
					$(".Guidance-box").hide()
				}

			})
		</script>
	</body>
</html>