<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>设置</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/setup.css" />
	</head>
	<body style="min-width: 1366px;">
		<!--父容器开始-->
		<div class="outer_div">
			<!--左边导航模块-->
			<div class="left_template">
				<div class="user_logo"><a href="../publicity/index.html"><img src="../../Images/common_logo.png" alt="" /></a></div>
				<p class="company_name1">广东雀鸟科技有限公司</p>
				<!--用户导航列表-->
				<div class="userList_bar">
					<ul class="userList_ul">
						<li class="userList_li">
							<span class="icon-01"></span>
							<span class="icon-text">概览</span>
						</li>
						<li class="userList_li">
							<span class="icon-02"></span>
							<span class="icon-text">线索</span>
							<span class="xiansuo_count">10</span>
						</li>
						<li class="userList_li">
							<span class="icon-03"></span>
							<span class="icon-text">客户管理</span>
						</li>
						<li class="userList_li">
							<span class="icon-04"></span>
							<span class="icon-text">联系人</span>
						</li>
						<li class="userList_li">
							<span class="icon-05"></span>
							<span class="icon-text">公海</span>
						</li>
						<li class="userList_li icon-shopping">
							<span class="icon-06"></span>
							<span class="icon-text">商品</span>
							<span class="icon-shopping-1"></span>
						</li>
						<div class="icon-shopping-div">
							<p>商品管理</p>
							<p>发布产品</p>
						</div>
						<li class="userList_li">
							<span class="icon-07"></span>
							<span class="icon-text">咨询信息</span>
						</li>
						<li class="userList_li active">
							<span class="icon-08"></span>
							<span class="icon-text">设置</span>
						</li>
						<li class="userList_li">
							<span class="icon-09"></span>
							<span class="icon-text">反馈</span>
						</li>
					</ul>
				</div>
			</div>
			<!--右边主题内容-->
			<div class="right_template">
				<div class="left_header">
					<div class="page_state">反馈</div>
					<div class="vip-valid">会员有效日期：2017-10-30</div>
				</div>
				<div class="right_header">
					<ul>
						<li class="buy_xiansuoli1">
							<span class="buy_vip_icon1"></span>
							<a href="javascript:;">购买会员</a>
						</li>
						<li class="xiansuoli1">
							<span class="shopping-index"></span>
							<a href="javascript:;">商城首页</a>
						</li>
						<li class="xiansuoli1">
							<span class="cbd-center"></span>
							<a href="javascript:;">商务中心</a>
						</li>
						<li class="xiansuoli1">
							<span class="user_icon1"></span>
							<a href="javascript:;">哟哟</a>
						</li>
						<li class="xiansuoli1">
							<a href="javascript:;"><span class="login_out1"></span>退出</a>
						</li>
					</ul>
				</div>

				<!--设置内容开始-->
				<div class="SetupCenter">
					<!--头部开始-->
					<div class="SetupCenter-top">
						<form name="form0" id="form0">
							<input type="file" name="file0" id="file0" multiple="multiple" /><br>
							<div class="toppost">
								<img src="../../Images/set_portrait_nor.png" id="img0">
								<!--头像模态框-->
								<div class="modal_SetUp">
									修改头像
								</div>
								<!--头像模态框结束-->
							</div>

						</form>

						<h2>用户名：贾少华</h2>
						<p><span>用户类型：体验用户</span><i>有效期：2017-10-27</i></p>
						<!--<em><i></i>升级会员</em>
						<span>开通认证</span>-->
						<div class="SetUp-btns">
							<span>安全设置</span>
							<i class="Updata-Password">修改密码</i>
							<!--<i class="Updata-Phone">修改手机</i>-->
							<i class="Updata-message">消息管理</i>
						</div>
					</div>
					<!--中部开始-->
					<div class="SetupCenter-center">
						<p>基本信息</p>
						<!--表单部分-->
						<div class="SetupCenter-center-form">
							<div class="message">
								<span>姓&ensp;&ensp;&ensp;&ensp;名</span><input type="text" placeholder="请输入姓名">
							</div>

							<div class="message">
								<span>昵&ensp;&ensp;&ensp;&ensp;称</span><input type="text" placeholder="请输入昵称">
							</div>
							<div class="message">
								<span class="name-messge">性&ensp;&ensp;&ensp;&ensp;别</span>
								<select class="message-sex">
									<optgroup label="请选择" selected="selected">
										<option value="1">男</option>
										<option value="2">女</option>
										<option value="3">保密</option>
									</optgroup>
								</select>
							</div>
							<div class="message">
								<span>公司名称</span><input type="text" placeholder="请输入公司名称">
							</div>
							<div class="message">
								<span>手机号码</span><input class="MessPhone" type="text" placeholder="15625011111">
							</div>
							<div class="message">
								<span>邮&ensp;&ensp;&ensp;&ensp;箱</span><input class="MessEmail" type="text" placeholder="1232456@qq.com">
							</div>
							<div class="message">
								<span class="name-messge">行&ensp;&ensp;&ensp;&ensp;业</span>
								<select class="message-sex">
									<optgroup label="请选择行业" selected="selected">
										<option value="1">java开发</option>
										<option value="2">PHP开发</option>
										<option value="3">前端开发</option>
									</optgroup>
								</select>
							</div>
							<div class="message">
								<span>主营产品</span><input type="text" placeholder="请输入主营产品">
							</div>
							<div class="message">
								<span>区&ensp;&ensp;&ensp;&ensp;域</span> 省
								<select class="message-area">
									<option value="1">请选择</option>
									<option value="2">22-25</option>
									<option value="3">26-29</option>
									<option value="4">30-35</option>
									<option value="5">35-40</option>
								</select>
								市
								<select class="message-area">
									<option value="1">请选择</option>
									<option value="2">22-25</option>
									<option value="3">26-29</option>
									<option value="4">30-35</option>
									<option value="5">35-40</option>
								</select>
								县/区
								<select class="message-area">
									<option value="1">请选择</option>
									<option value="2">22-25</option>
									<option value="3">26-29</option>
									<option value="4">30-35</option>
									<option value="5">35-40</option>
								</select>
							</div>
							<div class="message">
								<span>详细地址</span><input type="text" placeholder="请输入主营产品">
							</div>
						</div>
						<!--表单部分结束-->
						<!--保存按钮-->
						<span class="Updata">保存</span>
						<!--保存结束-->
					</div>
					<!--模态框加修改操作框开始-->
					<!--模态框开始-->
					<div class="modal_Bigbox">
						<!--修改密码框-->
						<div class="UpPassword">
							<div class="UpPassword-top"><span>修改密码</span><i>&#215;</i></div>
							<div class="UpPassword-center">
								<div class="input-name">
									<em>旧密码</em>
									<input id="password-1" type="password" maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />
									<i class="password-NO">密码不正确！</i>
								</div>
								<div class="input-password">
									<em>新密码</em>
									<input id="password-2" type="password" maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />
									<i class="ShowPassword" state="off"></i>
								</div>
								<span class="password-off">取消</span>
								<span class="password-save">确认</span>
							</div>

						</div>
						<!--修改密码框结束-->
						<!--修改手机number开始-->
						<!--<div class="Updata-Phonenumber">-->
							<!--<div class="UpPhone-top"><span>修改手机</span><i>&#215;</i></div>-->
							<!--<div class="UpPhone-center">-->
								<!--<div class="input01">-->
									<!--<em>手机号码</em>-->
									<!--<input type="text" id="IphoneNumber" value="15625075813" disabled="disabled" maxlength="11" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />-->
									<!--<i class="UpPhone-send01">发送验证码</i>-->
								<!--</div>-->
								<!--<div class="input02">-->
									<!--<em>动态码</em>-->
									<!--<input type="text" placeholder="请输入动态验证码" maxlength="11" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />-->
									<!--<span class="iphoneNO1">验证码不正确！</span>-->
								<!--</div>-->
								<!--<div class="input03">-->
									<!--<em>修改手机号码</em>-->
									<!--<input id="uppass" type="text" placeholder="请输入需要修改的手机号码" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />-->
									<!--<i class="UpPhone-send02">发送验证码</i>-->

								<!--</div>-->
								<!--<div class="input04">-->
									<!--<em>动态码</em>-->
									<!--<input type="text" placeholder="请输入动态验证码" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" />-->
									<!--<span class="iphoneNO2">验证码不正确！</span>-->
								<!--</div>-->
								<!--<span class="Phone-off">取消</span>-->
								<!--<span class="Phone-save">确认</span>-->
							<!--</div>-->
						<!--</div>-->
						<!--修改手机number结束-->
						<!--消息管理开始-->
						<div class="Updata-Message">
							<div class="Updata-Message-top"><span>消息设置</span><i>&#215;</i></div>
							<div class="Updata-Message-center">
								<h3>接受推送时间</h3>
								<div class="xian"></div>
								<div class="center01">
									<span>每天统一10点接收推送信息</span><i class="back01"></i>
								</div>
								<div class="center02">
									<span>取消接收推送消息</span><i class="back02"></i>
								</div>
								<h2>接受推送方式</h2>
								<div class="xian"></div>
								<div class="center03">
									<span>微信提醒</span><i class="back03"></i>
								</div>
								<div class="center04">
									<span>邮件提醒</span><i class="back04"></i>
								</div>
								<div class="xian"></div>
								<span class="Message-off">取消</span>
								<span class="Message-no">确定</span>
							</div>
						</div>
						<!--消息管理结束-->
					</div>
					<!--模态框结束-->
					<!--模态框加修改操作框结束-->
				</div>
				<!--内容结束-->
				<!--操作成功模态框开始-->
				<div class="sucuess-modal">
					<div class="sucuess-modal-cell">
						<img src="../../Images/common_icon_success_nor.png" alt="" />
						<p class="is_state1">操作成功!</p>
					</div>
				</div>
				<!--操作成功模态框结束-->
			</div>
			<!--右边主题内容结束-->
		</div>
		<!--父容器结束-->
		<!--CRM引导-->
		<div class="Guidance-box" style="display: none">
			<img class="Guidance" src="../../Images/shezhi01.jpg" alt="">
			<em class="GuidanceClos"></em>
		</div>
		<!--绑定手机窗口-->
		<div class="My-Iphone-model">
			<div class="My-Iphone">
				<div class="My-Iphone-Top"><em>&#215;</em></div>
				<div class="My-Iphone-center">
					<p>请确保您输入的手机能正常接收验证码，手机号码才能生效。绑定后，您可以用手机号码直接登录雀搜网站。</p>
					<input class="MyIphoneInput" type="text" placeholder="请输入手机号码" maxlength="11">
					<em class="My-Iphone-logo"></em>
					<i class="My-Iphone-clos" style="display: none"></i>
					<input class="MyCodeInput" type="text" placeholder="请输入验证码" maxlength="4">
					<em class="My-Code-logo"></em>
					<span class="MyIphoneBtn">获取验证码</span>
					<span class="MyIphoneText-T"></span>
					<span class="MyIphoneAffirm">确认</span>
				</div>
			</div>
		</div>
		<!--绑定邮箱窗口-->
		<div class="My-Email-model">
			<div class="My-Email">
				<div class="My-Email-Top"><em>&#215;</em></div>
				<div class="My-Email-center">
					<p>请确保您输入的邮箱能正常接收验证码，邮箱才能生效。绑定后，您可以用邮箱直接登录雀搜网站。</p>
					<input class="MyEmailInput" type="text" placeholder="请输入邮箱">
					<em class="My-Email-logo"></em>
					<i class="My-Email-clos" style="display: none"></i>
					<input class="MyEmailCodeInput" type="text" placeholder="请输入验证码" maxlength="4">
					<em class="My-Code-logo"></em>
					<span class="MyEmailBtn">获取验证码</span>
					<span class="MyEmailText-T"></span>
					<span class="MyEmailAffirm">确认</span>
				</div>
			</div>
		</div>
		<script src="../../js/jquery.js"></script>
		<script src="../../js/crm-common.js"></script>
		<script src="../../js/setup.js"></script>
		<script>
			$(function(){
				var SetupIndex = true;
				if(SetupIndex) {
					$(".Guidance-box").show();
				}else {
					$(".Guidance-box").hide();
				}
			})
		</script>
	</body>
</html>
