<?php
isset($typeid) or $typeid = 0;
$_file = $file;
if($file == 'mall') {
	$_item = 'mall-'.$userid;
	$_name = '商品分类';
} else if($file == 'news') {
	$_item = 'news-'.$userid;
	$_name = '新闻分类';
} else {
	$_item = 'product-'.$userid;
	$_name = '产品分类';
	$_file = 'sell';
}
$_TYPE = get_type($_item);
$_TP = $_TYPE ? sort_type($_TYPE) : array();
?>
<!--产品分类-->
        <div class="blk1_br spH">
            <div class="ttl">
                <h3>{$_name}</h3>
            </div>
            <div class="cnt line">
            <ul class="cat">
			{if $_TYPE}
			<li id="type_0"><a href="{userurl($username, 'file='.$_file, $domain)}">全部分类</a></li>
			{loop $_TP[0] $v0}
			<li id="type_{$v0[typeid]}"><a href="{userurl($username, 'file='.$_file.'&typeid='.$v0['typeid'], $domain)}" title="{$v0[typename]}">{set_style($v0[typename], $v0[style])}</a></li>
			{if isset($_TP[1][$v0[typeid]])}
			{loop $_TP[1][$v0[typeid]] $v1}
			<li id="type_{$v1[typeid]}">|--<a href="{userurl($username, 'file='.$_file.'&typeid='.$v1['typeid'], $domain)}" title="{$v1[typename]}">{set_style($v1[typename], $v1[style])}</a></li>
			{/loop}
			{/if}
			{/loop}
			{else}
			<li>暂无分类</li>
			{/if}
		 </ul>
            </div>
        </div>
        <!--产品分类/-->